<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-sidebar.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}S071 request (Details) - Manage overseas entitlements and treatments - NHSBSA{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="../../search/search-by-person">Search (Person)</a>
          </li>
          <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="../../search/search-results">Search results</a>
          </li>
          <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="../s1-requests">S1/S072 requests</a>
          </li>
          <li class="nhsuk-breadcrumb__list-item">View request 1838883130 (Request details)</a>
          </li>
        </ol>
      </div>
    </div>

    <a class="nhsuk-back-link" href="../s1-requests">
      <span class="nhsuk-u-visually-hidden">Back to </span>
      S1/S072 requests
    </a>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-main-wrapper" id="maincontent">

          
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <h1 class="nhsuk-heading-l">
                S071 request<br>
                RINA reference: 1838883130<br>
                MOET reference: 11273947781
              </h1>
            </div>
          </div>
      
      
          <!-- Secondary navigation begins -->
          <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation" style="background-color:#f0f4f5;">
            <ul class="nhsuk-secondary-navigation__list">
              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" aria-current="page" href="s1-request-details">Request details</a>
              </li>

              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="s1-request-queries-and-reminders">Queries and reminders</a>
              </li>

              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="s1-request-case-history">Case history</a>
              </li>
            </ul>
          </nav>
          <hr class="gray-horizontal-line nhsuk-u-margin-top-0  nhsuk-u-margin-bottom-6">
          <!--end secondary navigation-->

          <div class="nhsuk-grid-row">   

            <!-- Beginning of left card content -->
            <div class="nhsuk-grid-column-one-half">

              <h2 class="nhsuk-heading-m"> Personal details</h2>

              <div class="nhsuk-card">
                <div class="nhsuk-card__content">
                  <dl class="nhsuk-summary-list" style="margin-bottom: 40px;">
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        First names
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        John
                      </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        First names at birth, if different
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        Not provided 
                      </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Last name
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        Doe
                      </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Last name at birth, if different
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        Not provided
                      </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Date of birth
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        1 July 1951
                      </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Sex
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        Male
                      </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Country of nationality
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        France (FR)
                      </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Citizen status
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        {% if data['s1-request-citizen-status'] %}
                          {{ data['s1-request-citizen-status'] }}
                        {% else %}
                          Pensioner
                        {% endif %}
                      </dd>
                    </div>
                  </dl>
                  

                  <h3 class="nhsuk-heading-s">Address details</h3>

                  <dl class="nhsuk-summary-list">
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Address
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        1 Washington Street<br>
                        Worcester<br>
                        WR1 1NL<br>
                        United Kingdom (UK)
                      </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Date of residency in UK (optional)
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        {% if data['date-of-residency-in-uk-day'] and data['date-of-residency-in-uk-month'] and data['date-of-residency-in-uk-year'] %}
                          {% set day = data['date-of-residency-in-uk-day'] %}
                          {% set month = data['date-of-residency-in-uk-month'] | int %}
                          {% set year = data['date-of-residency-in-uk-year'] %}
              
                          {# Define month names #}
                          {% set month_names = [
                              "January", "February", "March", "April", "May", "June",
                              "July", "August", "September", "October", "November", "December"
                          ] %}
              
                          {# Get the month name #}
                          {% set month_name = month_names[month - 1] %}
              
                          {# Display the date in the format "day month year" #}
                          {{ day | int }} {{ month_name }} {{ year }}  
                        {% else %}
                          21 August 2024
                        {% endif %}
                      </dd>
                    </div>
                  </dl>
                
                </div>
              </div>

            </div>
            <!-- End of left hand card content -->


            <!-- Beginning of right hand card content -->
            <div class="nhsuk-grid-column-one-half">
            
              <h2 class="nhsuk-heading-m">Request details</h2>

                <div class="nhsuk-card">
                  <div class="nhsuk-card__content">
                    <dl class="nhsuk-summary-list">
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Request status
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          <strong class="nhsuk-tag nhsuk-tag--yellow">Sent to MS</strong>
                        </dd>
                      </div>
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Issuing country
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          {% if data['s1-request-issuing-country'] %}
                            {{ data['s1-request-issuing-country'] }}
                          {% else %}
                            France (FR)
                          {% endif %}
                        </dd>
                      </div>
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Personal identification number (PIN)
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          {% if data['s1-request-pin'] %}
                            {{ data['s1-request-pin'] }}
                          {% else %}
                            Not provided
                          {% endif %}
                        </dd>
                      </div>
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Start date
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          {% if data['s1-request-entitlement-start-date-day'] and data['s1-request-entitlement-start-date-month'] and data['s1-request-entitlement-start-date-year'] %}
                            {% set day = data['s1-request-entitlement-start-date-day'] %}
                            {% set month = data['s1-request-entitlement-start-date-month'] | int %}
                            {% set year = data['s1-request-entitlement-start-date-year'] %}
                
                            {# Define month names #}
                            {% set month_names = [
                                "January", "February", "March", "April", "May", "June",
                                "July", "August", "September", "October", "November", "December"
                            ] %}
                
                            {# Get the month name #}
                            {% set month_name = month_names[month - 1] %}
                
                            {# Display the date in the format "day month year" #}
                            {{ day | int }} {{ month_name }} {{ year }}  
                          {% else %}
                            1 January 2026
                          {% endif %}
                        </dd>
                      </div>
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          End date (optional)
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          {% if data['s1-request-entitlement-end-date-day'] and data['s1-request-entitlement-end-date-month'] and data['s1-request-entitlement-end-date-year'] %}
                            {% set day = data['s1-request-entitlement-end-date-day'] %}
                            {% set month = data['s1-request-entitlement-end-date-month'] | int %}
                            {% set year = data['s1-request-entitlement-end-date-year'] %}
                
                            {# Define month names #}
                            {% set month_names = [
                                "January", "February", "March", "April", "May", "June",
                                "July", "August", "September", "October", "November", "December"
                            ] %}
                
                            {# Get the month name #}
                            {% set month_name = month_names[month - 1] %}
                
                            {# Display the date in the format "day month year" #}
                            {{ day | int }} {{ month_name }} {{ year }}  
                          {% else %}
                            Open-ended
                          {% endif %}
                        </dd>
                      </div>
                    </dl>
                      
                    <dl class="nhsuk-summary-list">
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Institution ID
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          0305300000
                        </dd>
                      </div>
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Institution name
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          Caisse Regionale des Professions Liberales D'ile de France
                        </dd>
                      </div>
                    </dl>
                  </div>
                </div>
                <!-- End of right card content -->
              </div>

            
          </div>
            

        </div>
      </div>
    </div>


    <!-- Left-hand navigation -->
    <div class="nhsBSA-sidebar-nav">
      <div class="side-nav">
        <h3>
          John Doe<span class="nhsuk-caption-m nhsuk-caption--bottom">
          <span class="nhsuk-u-visually-hidden"> - </span>123456</span>
        </h3>
        <ul id="options" class="options">
          <li><a href="../personal-details">Personal details</a></li>
          <li><a href="../entitlements-and-treatments">Entitlements and treatments</a></li>
          <li><a class="active" href="../s1-requests">S1/S072 requests</a></li>
          <li><a href="../system-generated-documents">Documents</a></li>
          <li><a href="../case-history-person">Case history</a></li>
          <li><a href="../notes">Notes</a></li>
        </ul>
      </div>
    </div>
    <!-- End of navigation -->

  </div>
</div>
<!-- End of main content -->
{% endblock %}
