<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-sidebar.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}S071 request (Case history) - Manage overseas entitlements and treatments - NHSBSA{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="../../search/search-by-person">Search (Person)</a>
          </li>
          <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="../../search/search-results">Search results</a>
          </li>
          <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="../s1-requests">S1/S072 requests</a>
          </li>
          <li class="nhsuk-breadcrumb__list-item">View request 1838883130 (Case history)</a>
          </li>
        </ol>
      </div>
    </div>

    <a class="nhsuk-back-link" href="../s1-requests">
      <span class="nhsuk-u-visually-hidden">Back to </span>
      S1/S072 requests
    </a>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-main-wrapper" id="maincontent">

          
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <h1 class="nhsuk-heading-l">
                S071 request<br>
                RINA reference: 1838883130<br>
                MOET reference: 11273947781
              </h1>
            </div>
          </div>
      
      
          <!-- Secondary navigation begins -->
          <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation" style="background-color:#f0f4f5;">
            <ul class="nhsuk-secondary-navigation__list">
              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="s1-request-details">Request details</a>
              </li>

              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="s1-request-queries-and-reminders">Queries and reminders</a>
              </li>

              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" aria-current="page" href="s1-request-case-history">Case history</a>
              </li>
            </ul>
          </nav>
          <hr class="gray-horizontal-line nhsuk-u-margin-top-0  nhsuk-u-margin-bottom-6">
          <!--end secondary navigation-->

          <div class="nhsuk-grid-row">   

            <!-- Beginning of left card content -->
            <div class="nhsuk-grid-column-full">

              <table role="claimSummaryTable" class="nhsuk-table-responsive">
                <thead role="rowgroup" class="nhsuk-table__head">
                    <tr role="row">
                        <th role="columnheader" class="" scope="col">
                            Date and time
                        </th>
                        <th role="columnheader" class="" scope="col">
                            Action
                        </th>
                        <th role="columnheader" class="" scope="col">
                            Details
                        </th>
                        <th role="columnheader" class="" scope="col">
                            Updated by
                        </th>
                    </tr>
                </thead>
                
                <tbody class="nhsuk-table__body">
                    <tr role="row" class="nhsuk-table__row">
                      <td role="cell" class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Date and time</span>
                          22/04/2026,<br> 
                          11:27am
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Action</span>
                          X007 received from member state
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Details</span>
                          Case forwarded to XXXXX institution
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Updated by</span>
                          System
                      </td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                      <td role="cell" class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Date and time</span>
                          17/04/2026,<br>
                          13:52pm
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Action</span>
                          X009 sent to member state
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Details</span>
                          RINA reference: 1838883130
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Updated by</span>
                          nina.evans@nhsbsa.nhs.uk
                      </td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                      <td role="cell" class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Date and time</span>
                          06/03/2026,<br>
                          09:07am
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Action</span>
                          S071 sent to member state
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Details</span>
                          Date S071 sent to the member state on RINA: 
                          {% if data['date-s071-sent-to-ms-day'] and data['date-s071-sent-to-ms-month'] and data['date-s071-sent-to-ms-year'] %}
                          
                            {% set day = data['date-s071-sent-to-ms-day'] | int %}
                            {% set month = data['date-s071-sent-to-ms-month'] | int %}
                            {% set year = data['date-s071-sent-to-ms-year'] %}
                          
                            {# Pad day #}
                            {% if day < 10 %}
                              {% set day_str = '0' ~ day %}
                            {% else %}
                              {% set day_str = day|string %}
                            {% endif %}
                          
                            {# Pad month #}
                            {% if month < 10 %}
                              {% set month_str = '0' ~ month %}
                            {% else %}
                              {% set month_str = month|string %}
                            {% endif %}
                          
                            {{ day_str }}/{{ month_str }}/{{ year }}
                          
                          {% else %}
                            06/03/2026
                          {% endif %}
                          <br>
                          RINA reference: 1838883130
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Updated by</span>
                          joe.bloggs@nhsbsa.nhs.uk
                      </td>
                    </tr>
                </tbody>
              </table>

            
            </div>
            

          </div>

        </div>
      </div>
    </div>


    <!-- Left-hand navigation -->
    <div class="nhsBSA-sidebar-nav">
      <div class="side-nav">
        <h3>
          John Doe<span class="nhsuk-caption-m nhsuk-caption--bottom">
          <span class="nhsuk-u-visually-hidden"> - </span>123456</span>
        </h3>
        <ul id="options" class="options">
          <li><a href="../personal-details">Personal details</a></li>
          <li><a href="../entitlements-and-treatments">Entitlements and treatments</a></li>
          <li><a class="active" href="../s1-requests">S1/S072 requests</a></li>
          <li><a href="../system-generated-documents">Documents</a></li>
          <li><a href="../case-history-person">Case history</a></li>
          <li><a href="../notes">Notes</a></li>
        </ul>
      </div>
    </div>
    <!-- End of navigation -->

  </div>
</div>
<!-- End of main content -->
{% endblock %}
