<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Manage cost recovery
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
      
          <ol class="nhsuk-breadcrumb__list">
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="search">Search</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="search-results">Search results</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="entitlements-dependant-s1">Rose Curran (Entitlements and treatments)</a></li>
              
      <li class="nhsuk-breadcrumb__item">S1 (Documents)</li>
              
          </ol>

        </div>
      </div>
  
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="search-results">Back to search results</a></p>

    </div>
</nav>

  <div class="nhsBSA-sidebar-container">

    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">

        <div class="nhsuk-width-container-fluid">

          <div class="nhsuk-main-wrapper" id="maincontent">

            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-two-thirds">
                <h1 class="nhsuk-heading-xl">
                 S1 for dependant Rose Curran
                </h1>
              </div>  
             
          </div>
          
            <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation" style="background-color:#f0f4f5;">
              <ul class="nhsuk-secondary-navigation__list">
                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link"  href="s1-entitlement-details-dependant">S1 details</a>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="s1-main">Main</a>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" aria-current="page" href="s1-documents-dependant">Documents</a>
                </li>


              </ul>
            </nav>
                  
                <hr style="border-bottom:1px solid #ccc; margin:0">
    <br><br>

        
            <div class="nhsuk-scrollable-pane">
  

                          <div class="nhsuk-grid-row">
                            <div class="nhsuk-grid-column-two-thirds">
                            

                              <p><b>There are no documents for Rose Curran</b></p>

                          </div>
                          </div>
                            

   
                      </div>
            
                </div>

    

      </div>
    </div>

  </div>

{% endblock %}