<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Create new resub
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
      
          <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="search">Search (Person)</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="uk-claims">UK claims (Search)</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="claim-list">Search results</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="claim-resubs">Claim ID - 9543 (Resubs)</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="resubs-contested-treatments">Resub number - 0001 (Claim ID - 9543)</a></li>
            <li class="nhsuk-breadcrumb__item">View details</li>
          </ol>
        </div>
      </div>
  
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="claim-treatment-forms-1">Back to Claim ID - 9658 (Treatment forms)</a></p>

    </div>
</nav>

  <div class="nhsBSA-sidebar-container">

    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">

        <div class="nhsuk-width-container-fluid">

          <div class="nhsuk-main-wrapper" id="maincontent">

            {# <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">

                        <div class="panel panel-border-wide alert-default">
                            <h2 class="nhsuk-heading-s nhsuk-u-padding-top-3 nhsuk-u-margin-bottom-3">English is their second language. May require an interpreter.</h2>
                        </div>

                    </div>
                </div> #}

                <div class="nhsuk-grid-row">
                  <div class="nhsuk-grid-column-full">
                    <h1 class="nhsuk-heading-xl" style="display:inline-block; margin-right:20px;">
                      Resub - 0002 (Claim ID - 9543 )
                    </h1>
                    <p style="display:inline-block">
                      <a href="#">View patient record</a>
                    </a></p>
    
                  </div>
                </div>

                <div class="nhsuk-grid-row">
                  <div class="nhsuk-grid-column-two-thirds">

                <dl class="nhsuk-summary-list">
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                       Treatment ID
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      62999
                    </dd>
                 </div>
                   <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                         First name
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        Laura
                      </dd>
                   </div>
                   <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                         Last name
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        Peteers
                      </dd>
                   </div>
                   <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                         Entitlement
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                         EHIC
                      </dd>
                   </div>
                   <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                       Treatment start date
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                       13/04/2019
                    </dd>
                 </div>
                 <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                     Treatment end date
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                     13/05/2019
                  </dd>
               </div>
                   <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                       Cost
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                       £75,000.00
                    </dd>
                 </div>
          
                </dl>
                </div>
                </div>

                <div class="nhsuk-grid-row">
                  <div class="nhsuk-grid-column-one-half">

                <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="example">
                    Reason
                  </label>

                  <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
                </div>

                <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="member-state-reference">
                    Evidence
                  </label>
                  <div class="nhsuk-hint">
                    The selected file must be a PDF, BMP, PNG, JPG or JPEG.
                  </div>
            
                  <input class="file-upload" id="file-upload" name="file-upload" type="file" aria-describedby="file-upload">
                </div>

        
              <br>

              <a href="resub-view-details"><button  class="nhsuk-button" type="submit" style=" margin-right:20px;">
                Save<span class="nhsuk-u-visually-hidden">for claim ID 9543</span>
              </button></a>
              <a href="withdrawn-treatments-confirmation"><button  class="nhsuk-button nhsuk-button--secondary" type="submit" style=" margin-right:20px;">
                Withdraw<span class="nhsuk-u-visually-hidden">for claim ID 9543</span>
              </button></a>

                    </div> 
                    </div>
                    </div>

              
      </div>
    </div>

  </div>

</div>
      

  </div>

{% endblock %}


