<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-sidebar.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Person details page {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <ol class="nhsuk-breadcrumb__list">
                    <li class="nhsuk-breadcrumb__item">
                        <a class="nhsuk-breadcrumb__link" href="">Search (Person)</a>
                    </li>
                    <li class="nhsuk-breadcrumb__item">
                        <a class="nhsuk-breadcrumb__link" href="">Search results (Person)</a>
                    </li>
                    <li class="nhsuk-breadcrumb__item">Laura Peteers (Person details)</li>
                </ol>
            </div>
        </div>

        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="">Back to search results</a>
        </p>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">

                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <div class="nhsuk-grid-column-three-quarters">
                                <h1 class="nhsuk-heading-xl">Person details</h1>
                            </div>
                            <div class="nhsuk-grid-column-one-quarter" style="text-align:right;">
                                <a href="edit-person-details-2"><button class="nhsuk-button" type="submit">
                                    Edit person details
                                </button></a>
                            </div>
                          
                        </div>
                    </div>
                    <hr style="border-bottom: 4px solid #005eb8; margin: 0" />


                        <br />
                        <div class="nhsuk-grid-row">
                            <div class="nhsuk-grid-column-two-thirds">


                                <dl class="nhsuk-summary-list">

                                    <div class="nhsuk-summary-list__row">
                                      <dt class="nhsuk-summary-list__key">
                                        First names (Given names/Forenames)
                                      </dt>
                                      <dd class="nhsuk-summary-list__value">
                                        Laura
                                      </dd>
                                  
                                    </div>
                                  
                                    <div class="nhsuk-summary-list__row">
                                      <dt class="nhsuk-summary-list__key">
                                        Last name (Name/Surname)
                                      </dt>
                                      <dd class="nhsuk-summary-list__value">
                                        Peteers
                                      </dd>
                                  
                                    </div>
                                  
                                    <div class="nhsuk-summary-list__row">
                                      <dt class="nhsuk-summary-list__key">
                                        Date of birth
                                      </dt>
                                      <dd class="nhsuk-summary-list__value">
                                        22/02/1984
                                      </dd>
                                  
                                    </div>
                                  
                                    <div class="nhsuk-summary-list__row">
                                      <dt class="nhsuk-summary-list__key">
                                       Current address
                                      </dt>
                                      <dd class="nhsuk-summary-list__value">
                                        <p>28 Place de la Madeleine<br>Paris</p>
                                        
                                      </dd>
        
                                    </div>

                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                         Entitlement country
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                          <p>France</p>
                                          
                                        </dd>
          
                                      </div>
                                  
                                  </dl>



                            </div>
                        </div>

                        <div></div>
        
                </div>
            </div>
        </div>

        <!--start left navigation-->
        <div class="nhsBSA-sidebar-nav">
            <div class="side-nav">
                <h3>
                    Laura Peteers<span class="nhsuk-caption-m nhsuk-caption--bottom">
                        <span class="nhsuk-u-visually-hidden"> - </span>3432234</span>
                </h3>
                <ul>
                    <div id="options" class="options">
                        <li>
                            <a class="active" href="">Person details</a>
                        </li>
                        <li></li>
                        <li>
                            <a href="">Entitlements and treatments along with linked Claim ID</a>
                        </li>
                        <li>
                            <a href="">Resubs</a>
                        </li>
                        <li>
                            <a href="">Case history</a>
                        </li>

                    </div>
                </ul>
            </div>
        </div>
        <!--end left navigation-->
    </div>
</div>

{% endblock %}