<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Check your answers
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
     <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container-fluid">
           <div class="nhsuk-main-wrapper" id="maincontent">
              <div class="nhsuk-grid-row">
                 <div class="nhsuk-grid-column-full">
                  <div class="nhsuk-back-link">
                     <a class="nhsuk-back-link__link" href="javascript:history.back()">
                       <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                         <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                       </svg>
                       Go back</a>
                   </div> 
                    <h1 class="nhsuk-heading-xl">
                     Check these details before submitting
                    </h1>
                 </div>
             
              </div>
              <hr style="border-bottom:4px solid #005eb8; margin:0">
              <div class="nhsuk-scrollable-pane">
                 <br>
                 <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                      <h2 class="nhsuk-heading-m">
                        Main person details
                       </h2>

                      <dl class="nhsuk-summary-list">

                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Entitlement
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            S1
                          </dd>
                      
                          <dd class="nhsuk-summary-list__actions">
                      
                            <a href="create-person-entitlement">
                              Change<span class="nhsuk-u-visually-hidden"> Entitlement</span>
                            </a>
                      
                          </dd>
                      
                        </div>

                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Status
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            Dependant of EU insured person (E109)
                          </dd>
                      
                          <dd class="nhsuk-summary-list__actions">
                      
                            <a href="s1-status">
                              Change<span class="nhsuk-u-visually-hidden"> Status</span>
                            </a>
                      
                          </dd>
                      
                        </div>

                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Personal Identification Number
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            280000000293
                          </dd>
                      
                          <dd class="nhsuk-summary-list__actions">
                      
                            <a href="create-person-e109">
                              Change<span class="nhsuk-u-visually-hidden">Personal identification number</span>
                            </a>
                      
                          </dd>
                      
                        </div>
                      
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            First name
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            Andrew
                          </dd>
                      
                          <dd class="nhsuk-summary-list__actions">
                      
                            <a href="create-person-e109">
                              Change<span class="nhsuk-u-visually-hidden"> First name</span>
                            </a>
                      
                          </dd>
                      
                        </div>
                      
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Last name
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            Curran
                          </dd>
                      
                          <dd class="nhsuk-summary-list__actions">
                      
                            <a href="create-person-e109">
                              Change<span class="nhsuk-u-visually-hidden">Last name</span>
                            </a>
                      
                          </dd>
                      
                        </div>
                      
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Date of birth
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                           13/03/1947
                          </dd>
                      
                          <dd class="nhsuk-summary-list__actions">
                      
                            <a href="create-person-e109">
                              Change<span class="nhsuk-u-visually-hidden">Date of birth</span>
                            </a>
                      
                          </dd>
                      
                        </div>

                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            EU address
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            3A Calle de las Huertas<br>
                            28005 Madrid<br>
                            Spain
                          </dd>
                      
                          <dd class="nhsuk-summary-list__actions">
                      
                            <a href="uk-address">
                              Change<span class="nhsuk-u-visually-hidden">uk address</span>
                            </a>
                      
                          </dd>
                      
                        </div>

                        </dl>

                        <h2 class="nhsuk-heading-m">
                          Dependant details
                         </h2>


                      <dl class="nhsuk-summary-list">
  
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              First name
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              Rosie
                            </dd>
                        
                            <dd class="nhsuk-summary-list__actions">
                        
                              <a href="dependant-details-e109">
                                Change<span class="nhsuk-u-visually-hidden"> First name</span>
                              </a>
                        
                            </dd>
                        
                          </div>
                        
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Last name
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              Curran
                            </dd>
                        
                            <dd class="nhsuk-summary-list__actions">
                        
                              <a href="dependant-details-e109">
                                Change<span class="nhsuk-u-visually-hidden">Last name</span>
                              </a>
                        
                            </dd>
                        
                          </div>
                        
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Date of birth
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                             13/03/1947
                            </dd>
                        
                            <dd class="nhsuk-summary-list__actions">
                        
                              <a href="dependant-details-e109">
                                Change<span class="nhsuk-u-visually-hidden">Date of birth</span>
                              </a>
                        
                            </dd>
                        
                          </div>
  
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              UK address
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              4, Roseberry court,<br>
                              Darlington DL36RS<br>
                              United Kingdom
                            </dd>
                        
                            <dd class="nhsuk-summary-list__actions">
                        
                              <a href="uk-address">
                                Change<span class="nhsuk-u-visually-hidden">uk address</span>
                              </a>
                        
                            </dd>
                        
                          </div>
  
                          </dl>
                          

                      <h2 class="nhsuk-heading-m">
                        E109 details
                       </h2>
                       
                     <dl class="nhsuk-summary-list">


                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Uploaded copy of E109
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          E109.pdf
                        </dd>
                    
                        <dd class="nhsuk-summary-list__actions">
                    
                          <a href="upload-e106">
                            Change<span class="nhsuk-u-visually-hidden"> E109 file</span>
                          </a>
                    
                        </dd>
                    
                      </div>
                      
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Issuing member state
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            Spain
                          </dd>
                      
                          <dd class="nhsuk-summary-list__actions">
                      
                            <a href="e109-details">
                              Change<span class="nhsuk-u-visually-hidden"> Issuing member state</span>
                            </a>
                      
                          </dd>
                      
                        </div>
                      
                      
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            E109 issue date
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                           28/10/2020
                          </dd>
                      
                          <dd class="nhsuk-summary-list__actions">
                      
                            <a href="e109-details">
                              Change<span class="nhsuk-u-visually-hidden">  E109 issue date</span>
                            </a>
                      
                          </dd>
                      
                        </div>

                        <div class="nhsuk-summary-list__row">
                           <dt class="nhsuk-summary-list__key">
                             E109 start date
                           </dt>
                           <dd class="nhsuk-summary-list__value">
                              01/11/2020
                           </dd>
                       
                           <dd class="nhsuk-summary-list__actions">
                       
                             <a href="e109-details">
                               Change<span class="nhsuk-u-visually-hidden"> E109 start date</span>
                             </a>
                       
                           </dd>
                       
                         </div>

                         <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            E109 end date
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            01/11/2022
                          </dd>
                      
                          <dd class="nhsuk-summary-list__actions">
                      
                            <a href="e109-details">
                              Change<span class="nhsuk-u-visually-hidden"> E109 end date</span>
                            </a>
                      
                          </dd>
                      
                        </div>


                         <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            E109 registration status
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            Registered
                          </dd>
                      
                          <dd class="nhsuk-summary-list__actions">
                      
                            <a href="e109-details">
                              Change<span class="nhsuk-u-visually-hidden"> registration status</span>
                            </a>
                      
                          </dd>
                      
                        </div>


                         <div class="nhsuk-summary-list__row">
                           <dt class="nhsuk-summary-list__key">
                             Institution ID
                           </dt>
                           <dd class="nhsuk-summary-list__value">
                              2800
                           </dd>
                       
                           <dd class="nhsuk-summary-list__actions">
                       
                             <a href="e109-institution-search">
                               Change<span class="nhsuk-u-visually-hidden"> Institution ID</span>
                             </a>
                       
                           </dd>
                       
                         </div>

                         <div class="nhsuk-summary-list__row">
                           <dt class="nhsuk-summary-list__key">
                             Institution name
                           </dt>
                           <dd class="nhsuk-summary-list__value">
                              National Institute of Social Security, Provincial Head Office of Madrid
                           </dd>
                       
                           <dd class="nhsuk-summary-list__actions">
                       
                             <a href="e109-institution-search">
                               Change<span class="nhsuk-u-visually-hidden"> Institution name</span>
                             </a>
                       
                           </dd>
                       
                         </div>

                         <div class="nhsuk-summary-list__row">
                           <dt class="nhsuk-summary-list__key">
                             Institution address
                           </dt>
                           <dd class="nhsuk-summary-list__value">
                             <p>	Plaza de los Astros 5-7<br>
                              Madrid 28007</p>
                           </dd>
                       
                           <dd class="nhsuk-summary-list__actions">
                       
                             <a href="e109-institution-search">
                               Change<span class="nhsuk-u-visually-hidden"> Institution address</span>
                             </a>
                       
                           </dd>
                       
                         </div>
                       

                      </dl>

                      <div class="action-buttons">
                        <a class="nhsuk-button nhsuk-button--primary" href="confirmation-e109">Submit</a>
                     </div>
                     <p><a href="cancel-entitlement">Cancel</a></p>
                   </div>
                      
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>

{% endblock %}




