<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
UK claim ID 100005 - Select reasons to partially maintain months
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<!--start breadcrumb-->
<!--end breadcrumb-->
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container-fluid">
          <div class="nhsuk-main-wrapper" id="maincontent">

            {{ backLink({
              "href": "javascript:history.go(-1)",
              "text": "Go back"
            }) }}
    
            <form action="reasons-to-partially-maintain-months" method="post">

            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-two-thirds">

              <div class="nhsuk-form-group">
            
                <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
                    <h1 class="nhsuk-fieldset__heading">
                      Reasons to partially maintain the months claimed
                    </h1>
                  </legend>
            
                  <div class="nhsuk-radios nhsuk-radios--conditional" data-module="nhsuk-radios">
            
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="contestation-received-after-deadline" name="reasons-to-partially-maintain-months" type="radio" value="Contestation after deadline. [03]" data-aria-controls="conditional-contestation-received-after-deadline" aria-controls="conditional-partially-maintain-reason-1" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-radios__label" for="contestation-received-after-deadline">
                        Contestation after deadline. [03]
                      </label>
                    </div>
                    <!-- Date entry begins -->
                    <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-partially-maintain-reason-1">
                      <fieldset class="nhsuk-fieldset" role="group" aria-describedby="date-contestation-received-after-deadline-partially-maintain-hint">
                        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                          <h2 class="nhsuk-fieldset__heading">
                            Enter the date the contestation was received
                          </h2>
                        </legend>
                        <div class="nhsuk-hint" id="date-contestation-received-after-deadline-partially-maintain-hint">
                          For example, 15 3 2025
                        </div>
                    
                        <div class="nhsuk-date-input" id="date-contestation-received-after-deadline-partially-maintain">
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label nhsuk-date-input__label" for="date-contestation-received-after-deadline-day-partially-maintain">Day</label>
                              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="date-contestation-received-after-deadline-day-partially-maintain" name="date-contestation-received-after-deadline-day-partially-maintain" type="text" inputmode="numeric">
                            </div>
                          </div>
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label nhsuk-date-input__label" for="date-contestation-received-after-deadline-month-partially-maintain">Month</label>
                              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="date-contestation-received-after-deadline-month-partially-maintain" name="date-contestation-received-after-deadline-month-partially-maintain" type="text" inputmode="numeric">
                            </div>
                          </div>
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label nhsuk-date-input__label" for="date-contestation-received-after-deadline-year-partially-maintain">Year</label>
                              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="date-contestation-received-after-deadline-year-partially-maintain" name="date-contestation-received-after-deadline-year-partially-maintain" type="text" inputmode="numeric">
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="information-requested-updated" name="reasons-to-partially-maintain-months" type="radio" value="Information requested updated. [04]" aria-controls="conditional-partially-maintain-reason-2" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-radios__label" for="information-requested-updated">
                        Information requested updated. [04]
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="after-checking-no-double-invoice-found" name="reasons-to-partially-maintain-months" type="radio" value="After checking, no double invoice found. [05]" aria-controls="conditional-partially-maintain-reason-3" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-radios__label" for="after-checking-no-double-invoice-found">
                        After checking, no double invoice found. [05]
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="costs-not-to-be-settled-by-actual-costs" name="reasons-to-partially-maintain-months" type="radio" value="The costs are not to be settled by actual costs" aria-controls="conditional-partially-maintain-reason-4" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-radios__label" for="costs-not-to-be-settled-by-actual-costs">
                        The costs are not to be settled by actual costs. [10]
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="family-member-now-registered-on-entitlement-document" name="reasons-to-partially-maintain-months" type="radio" value="The family member is now registered on the entitlement document. [11]" aria-controls="conditional-partially-maintain-reason-5" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-radios__label" for="family-member-now-registered-on-entitlement-document">
                        The family member is now registered on the entitlement document. [11]
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="according-with-attached-docs-invoice-must-be-paid" name="reasons-to-partially-maintain-months" type="radio" value="According to the attached documents, the invoice has to be paid. [12]" aria-controls="conditional-partially-maintain-reason-11" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-radios__label" for="according-with-attached-docs-invoice-must-be-paid">
                        According to the attached documents, the invoice has to be paid. [12]
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="entitlement-documents-enclosed" name="reasons-to-partially-maintain-months" type="radio" value="Enclosed you find the entitlement documents. [13]" aria-controls="conditional-partially-maintain-reason-12" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-radios__label" for="entitlement-documents-enclosed">
                        Enclosed you find the entitlement documents. [13]
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="requested-documents-enclosed" name="reasons-to-partially-maintain-months" type="radio" value="Enclosed you find the requested documents. [14]" aria-controls="conditional-partially-maintain-reason-13" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-radios__label" for="requested-documents-enclosed">
                        Enclosed you find the requested documents [14]
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="other" name="reasons-to-partially-maintain-months" type="radio" value="Other. [99]" aria-controls="conditional-partially-maintain-reason-14" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-radios__label" for="other">
                        Other - add reason in text box. [99]
                      </label>
                    </div>
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-u-visually-hidden" for="otherPartiallyMaintainReasonComments">Other reason in detail</label>
                      
                      <textarea class="nhsuk-textarea" id="otherPartiallyMaintainReasonComments" rows="5" name="other-partial-maintain-reason-comments"></textarea>
                   </div>
                    
                    
            
                  </div>
                </fieldset>
            
              </div>
            

              <button class="nhsuk-button nhsuk-button--primary" style="margin-top: 20px;" type="submit" id="continue-button">Continue</button>

              <p><a href="invoice-details">Cancel</a></p>
            </div>




          </div>
        </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}