<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-sidebar.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}View personal details - Manage overseas entitlements and treatments - NHSBSA{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item">
            <a class="nhsuk-breadcrumb__link" href="../search/search-by-person">Search (Person)</a>
          </li>
          <li class="nhsuk-breadcrumb__item">
            <a class="nhsuk-breadcrumb__link" href="../search/search-results-none">Search results</a>
          </li>
          <li class="nhsuk-breadcrumb__item">Personal details</a>
          </li>
        </ol>
      </div>
    </div>

    <p class="nhsuk-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink" href="">Back to search results</a>
    </p>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-main-wrapper" id="maincontent">

          
      
          {% if data['change-basic-personal-details'] == 'yes' %}
          <div>
                        
            <div tabindex="-1" id="notificationHeader" class="govuk-notification-banner govuk-notification-banner--success" role="alert" data-module="govuk-notification-banner">
               <div class="govuk-notification-banner__header">
                  <span class="govuk-notification-banner__title" id="govuk-notification-banner-title">Personal details updated</span>
               </div>
               <div class="govuk-notification-banner__content">
                  <span class="govuk-notification-banner__heading big-text-wrap" id="govuk-notification-banner-content">{% if data['first-name'] %}{{ data['first-name'] }}{% else %}John{% endif %} {% if data['last-name'] %}{{ data['last-name'] }}{% else %}Doe{% endif %}’s personal details have been changed across all entitlements, claims, and resubmissions. All claim documents have been regenerated to reflect these changes.</span>
               </div>
            </div>
         
          </div>
          {% endif %}

          {% if data['change-additional-personal-details'] == 'yes' %}
          <div>
                        
            <div tabindex="-1" id="notificationHeader" class="govuk-notification-banner govuk-notification-banner--success" role="alert" data-module="govuk-notification-banner">
               <div class="govuk-notification-banner__header">
                  <span class="govuk-notification-banner__title" id="govuk-notification-banner-title">Personal details updated</span>
               </div>
               <div class="govuk-notification-banner__content">
                  <span class="govuk-notification-banner__heading big-text-wrap" id="govuk-notification-banner-content">{% if data['first-name'] %}{{ data['first-name'] }}{% else %}John{% endif %} {% if data['last-name'] %}{{ data['last-name'] }}{% else %}Doe{% endif %}’s personal details have been changed.</span>
               </div>
            </div>
         
          </div>
          {% endif %}
          
          {% if data['change-address'] == 'yes' or data['change-date-of-residency-uk'] == 'yes' %}
          <div>
                        
            <div tabindex="-1" id="notificationHeader" class="govuk-notification-banner govuk-notification-banner--success" role="alert" data-module="govuk-notification-banner">
               <div class="govuk-notification-banner__header">
                  <span class="govuk-notification-banner__title" id="govuk-notification-banner-title">Personal details updated</span>
               </div>
               <div class="govuk-notification-banner__content">
                  <span class="govuk-notification-banner__heading big-text-wrap" id="govuk-notification-banner-content">{% if data['first-name'] %}{{ data['first-name'] }}{% else %}John{% endif %} {% if data['last-name'] %}{{ data['last-name'] }}{% else %}Doe{% endif %}’s address details have been changed.</span>
               </div>
            </div>
         
          </div>
          {% endif %}
      
          <h1 class="nhsuk-heading-xl">Personal details</h1>
      
          <!-- Tabs -->
          <div class="nhsuk-tabs" data-module="nhsuk-tabs">
            <h2 class="nhsuk-tabs__title">Personal details content</h2>

            <ul class="nhsuk-tabs__list">
              <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
                <a class="nhsuk-tabs__tab" href="#personal-details">Personal details</a>
              </li>
              <li class="nhsuk-tabs__list-item">
                <a class="nhsuk-tabs__tab" href="#address">Address</a>
              </li>
            </ul>

            <!-- Tab content -->
            <div class="nhsuk-tabs__panel" id="personal-details">
              <!-- Personal details tab content starts -->
                <dl class="nhsuk-summary-list">
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Person record ID
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        123456
                      </dd>
                      <dd class="nhsuk-summary-list__actions">
                        
                      </dd>
                    </div>
                </dl>
                  

                <dl class="nhsuk-summary-list">
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        First names
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        {% if data['change-basic-personal-details'] == 'yes' %}
                          {% if data['first-name'] %}
                            {{ data['first-name'] }}
                          {% endif %}
                        {% else %}
                          John
                        {% endif %}
                      </dd>
                      <dd class="nhsuk-summary-list__actions">
                        
                      </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        First names at birth, if different
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        {% if data['change-basic-personal-details'] == 'yes' %}
                          {% if data['birth-first-name'] %}
                            {{ data['birth-first-name'] }}
                          {% endif %}
                        {% else %}
                          <span class="nhsuk-u-visually-hidden">Not provided</span>
                        {% endif %} 
                      </dd>
                      <dd class="nhsuk-summary-list__actions">
                        
                      </dd>
                    </div>
                  
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Last name
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        {% if data['change-basic-personal-details'] == 'yes' %}
                          {% if data['last-name'] %}
                            {{ data['last-name'] }}
                          {% endif %}
                        {% else %}
                          Doe
                        {% endif %}
                      </dd>
                      <dd class="nhsuk-summary-list__actions">
                        
                      </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Last name at birth, if different
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        {% if data['change-basic-personal-details'] == 'yes' %}
                          {% if data['birth-last-name'] %}
                            {{ data['birth-last-name'] }}
                            {% endif %}
                          {% else %}
                            <span class="nhsuk-u-visually-hidden">Not provided</span>
                        {% endif %}
                      </dd>
                      <dd class="nhsuk-summary-list__actions">
                        
                      </dd>
                    </div>
              
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Date of birth
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        {% if data['change-basic-personal-details'] == 'yes' %}
                          {% if data['dob-day'] and data['dob-month'] and data['dob-year'] %}
                            {% set day = data['dob-day'] %}
                            {% set month = data['dob-month'] | int %}
                            {% set year = data['dob-year'] %}
                
                            {# Define month names #}
                            {% set month_names = [
                                "January", "February", "March", "April", "May", "June",
                                "July", "August", "September", "October", "November", "December"
                            ] %}
                
                            {# Get the month name #}
                            {% set month_name = month_names[month - 1] %}
                
                            {# Display the date in the format "day month year" #}
                            {{ day | int }} {{ month_name }} {{ year }}
                          {% endif %}
                        {% else %}
                          1 July 1951
                        {% endif %}
                      </dd>
                      <dd class="nhsuk-summary-list__actions">
                        
                      </dd>
                    </div>
                </dl>

                <p><a href="change-basic-personal-details">Change</a></p>
                <br>


                <h2 class="nhsuk-heading-m">Additional details</h2>
                <dl class="nhsuk-summary-list">
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Sex
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        {% if data['change-additional-personal-details'] == 'yes' %}
                          {% if data['sex'] %}
                            {{ data['sex'] }}
                          {% endif %}
                        {% else %}
                          <span class="nhsuk-u-visually-hidden">Not provided</span>
                        {% endif %}
                      </dd>
                      <dd class="nhsuk-summary-list__actions">
                        
                      </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Country of nationality
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        {% if data['change-additional-personal-details'] == 'yes' %}
                          {% if data['nationality'] %}
                            {{ data['nationality'] }}
                          {% endif %}
                        {% else %}
                          <span class="nhsuk-u-visually-hidden">Not provided</span>
                        {% endif %}
                      </dd>
                      <dd class="nhsuk-summary-list__actions">
                        
                      </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        UK National Insurance Number (NINO)
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        {% if data['change-additional-personal-details'] == 'yes' %}
                          {% if data['UK-national-insurance-number'] %}
                            {{ data['UK-national-insurance-number'] }}
                          {% endif %}
                        {% else %}
                          <span class="nhsuk-u-visually-hidden">Not provided</span>
                        {% endif %}
                      </dd>
                      <dd class="nhsuk-summary-list__actions">
                        
                      </dd>
                    </div>

                  
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Email address
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      {% if data['change-additional-personal-details'] == 'yes' %}
                        {% if data['email-address'] %}
                          {{ data['email-address'] }}
                        {% endif %}
                      {% else %}
                        <span class="nhsuk-u-visually-hidden">Not provided</span>
                      {% endif %}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                        
                    </dd>
                  </div>


                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Contact number
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      {% if data['change-additional-personal-details'] == 'yes' %}
                        {% if data['contact-number'] %}
                          {{ data['contact-number'] }}
                        {% endif %}
                      {% else %}
                        <span class="nhsuk-u-visually-hidden">Not provided</span>
                      {% endif %}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                        
                    </dd>
                  </div>
                </dl>

                {% if data['change-additional-personal-details'] == 'yes' %}
                <p><a href="change-additional-personal-details">Change additional details</a></p>
                {% else %}
                <p><a href="change-additional-personal-details">Add additional details</a></p>
                {% endif %}
                </div>
                <!-- Personal details tabs content ends -->


                <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="address">
                  <!-- Addresses tab content starts -->
                  
                  <dl class="nhsuk-summary-list">
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                          Current address
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                          {% if data['change-address'] == 'yes' %}
                              {# Check if any of the address fields have been updated, otherwise fallback to default #}
                              {% if data['change-address-line-1'] or data['change-address-line-2'] or data['change-address-line-3'] or data['change-address-town'] or data['change-address-region'] or data['change-address-postcode'] or data['change-address-country'] %}
                                  {{ data['change-address-line-1'] }}<br>
                                  
                                  {% if data['change-address-line-2'] %}
                                      {{ data['change-address-line-2'] }}<br>
                                  {% endif %}
                                  
                                  {% if data['change-address-line-3'] %}
                                      {{ data['change-address-line-3'] }}<br>
                                  {% endif %}
                                  
                                  {{ data['change-address-town'] }}<br>
                                  
                                  {% if data['change-address-region'] %}
                                      {{ data['change-address-region'] }}<br>
                                  {% endif %}
                                  
                                  {{ data['change-address-postcode'] }}<br>
                                  {{ data['change-address-country'] }}
                              {% endif %}
                          {% else %}
                              1 Washington Street<br>
                              Worcester<br>
                              WR1 1NL<br>
                              United Kingdom (UK)
                          {% endif %}
                      </dd>
                      <dd class="nhsuk-summary-list__actions">
                          <a href="change-current-address">
                              Change<span class="nhsuk-u-visually-hidden"> current address</span>
                          </a>
                      </dd>
                  </div>
                  
                
              
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Date of residency in UK
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        {% set month_names = {
                          '1': 'January',
                          '2': 'February',
                          '3': 'March',
                          '4': 'April',
                          '5': 'May',
                          '6': 'June',
                          '7': 'July',
                          '8': 'August',
                          '9': 'September',
                          '10': 'October',
                          '11': 'November',
                          '12': 'December'
                        } %}
                    
                        {% if data['change-date-of-residency-uk'] == 'yes' %}
                          {% if data['change-residency-day'] and data['change-residency-month'] and data['change-residency-year'] %}
                            {{ data['change-residency-day'] | int }} {{ month_names[data['change-residency-month'] | int] }} {{ data['change-residency-year'] }}
                          {% elseif data['residency-day'] and data['residency-month'] and data['residency-year'] %}
                            {{ data['residency-day'] | int }} {{ month_names[data['residency-month'] | int] }} {{ data['residency-year'] }}
                          {% else %}
                            <span class="nhsuk-u-visually-hidden">Not provided</span>
                          {% endif %}
                        {% else %}
                          <span class="nhsuk-u-visually-hidden">Not provided</span>
                        {% endif %}
                      </dd>
                      <dd class="nhsuk-summary-list__actions">
                        <a href="change-date-of-residency-uk">
                          Change<span class="nhsuk-u-visually-hidden"> date of residency in UK</span>
                        </a>
                      </dd>
                    </div>                    
                  </dl>
              
                  
              </div>
              <!-- Addresses tab content ends -->
              
              

              <!--div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="documents">
                

                {% if data['upload-new-document'] == 'yes' %}
                <table role="table" id="documentsTable" class="nhsuk-table-responsive">
                  <h3 class="nhsuk-heading-l">Documents<span id="ariaLiveMessage" class="nhsuk-u-visually-hidden"> - contains 1 result</span></h3>
                
                  <thead role="rowgroup" class="nhsuk-table__head">
                    <tr role="row">
                      <th role="columnheader" class="" scope="col">
                        Document title
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Date uploaded
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Uploaded by
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Current status
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Document type
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Actions
                      </th>
                    </tr>
                  </thead>
                
                  <tbody class="nhsuk-table__body">
                    <tr role="row" class="nhsuk-table__row">
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Document title</span>
                        <span>john-doe-FAS1Q.pdf</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Date uploaded</span>
                        <span>15/08/2024</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Uploaded by</span>
                        <span>Dave Smith</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Current status</span>
                        <span>Received</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Document type</span>
                        <span>FAS1Q</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Actions</span>
                        <a href="">View</a> or 
                        <a href="/version-40/s1/account/remove-personal-details-document">remove</span></a>
                      </td>
                    </tr>   
                  </tbody>
                </table>
                <br>
                {% else %}  
                <h3 class="nhsuk-heading-l">Documents</h3>
                
                <p>No documents have been uploaded.</p>
                {% endif %}

                     
                {% if data['add-new-document'] == 'yes' %}
                <a href="upload-personal-details-document">
                  <button class="nhsuk-button nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2" type="submit">
                    Upload a new document
                  </button>
                </a>
                {% else %}
                <a href="upload-personal-details-document">
                  <button class="nhsuk-button nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2" type="submit">
                    Upload a document
                  </button>
                </a>
                {% endif %}
              </div-->
              <!-- Documents tab content ends -->


              <!--div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="notes">
                
                <h3 class="nhsuk-heading-l">Notes</h3>

                {% if data['new-personal-details-note'] == 'yes' %}
              <div class="nhsuk-form-group" id="filterNotes-group">
                <label class="nhsuk-label" for="filter-notes">
                Filter notes
                </label>
                <div id="filterNotes-container"></div>
                <input class="nhsuk-input" id="example" name="filter-notes" type="text" value="">
              </div>

              <a href="#">
                <button class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-right-4" data-module="nhsuk-button" type="submit" value="Search" id="searchButton">Apply filter </button>
              <a class="nhsuk-button" style="float: right;" href="/version-40/s1/account/personal-details-note" data-module="nhsuk-button" type="submit" id="addNote-button">Add a new note</a>
              <p><a href="/version-40/s1/account/personal-details#tab-Notes" id="clearButton">Reset filter</a></p>

              <hr>
              {% else %}
              <p>No notes have been added to this person's record.</p>
              <a class="nhsuk-button" href="/version-40/s1/account/personal-details-note" data-module="nhsuk-button" type="submit" id="addNote-button">Add a new note</a>
              {% endif %}


              {% if data['new-personal-details-note'] == 'yes' %}
              <h3>New note title</h3>
              <p>Added by <b>Joe Bloggs</b><br>
              <span id="currentDate1"></span></p>
              <p>{% if data['note'] %}
                {{ data['note'] }}
                {% else %}
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                {% endif %}
              </p>
              <hr>
              {% endif %}
              
             </div-->
              <!-- Notes tab content ends -->

            </div>
            <!-- End of Tabs -->


        </div>
      </div>
    </div>

    <!-- Left-hand navigation -->
    <div class="nhsBSA-sidebar-nav">
      <div class="side-nav">
        <h3>
          John Doe<span class="nhsuk-caption-m nhsuk-caption--bottom">
          <span class="nhsuk-u-visually-hidden"> - </span>123456</span>
        </h3>
        <ul id="options" class="options">
          <li><a class="active" href="personal-details">Personal details</a></li>
          <li><a href="entitlements-and-treatments">Entitlements and treatments</a></li>
          <li><a href="case-history-person">Case history</a></li>
          <!--li><a href="documents">Documents</a></li-->
          <li><a href="notes">Notes</a></li>
        </ul>
      </div>
    </div>
    <!-- End of navigation -->

  </div>
</div>
<!-- End of main content -->
{% endblock %}
      
{% block pageScripts %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tabs = document.querySelectorAll(".nhsuk-tabs__tab");
    const panels = document.querySelectorAll(".nhsuk-tabs__panel");

    function hideAllPanels() {
      panels.forEach(panel => panel.classList.add("nhsuk-tabs__panel--hidden"));
      tabs.forEach(tab => tab.parentElement.classList.remove("nhsuk-tabs__list-item--selected"));
    }

    function showPanel(panelId) {
      const panel = document.querySelector(panelId);
      if (panel) {
        panel.classList.remove("nhsuk-tabs__panel--hidden");
      }
    }

    tabs.forEach(tab => {
      tab.addEventListener("click", function (event) {
        event.preventDefault();
        hideAllPanels();
        tab.parentElement.classList.add("nhsuk-tabs__list-item--selected");
        showPanel(tab.getAttribute("href"));
      });
    });

    // Initially show the Personal details tab
    hideAllPanels();
    showPanel("#personal-details");
    document.querySelector('a[href="#personal-details"]').parentElement.classList.add("nhsuk-tabs__list-item--selected");
  });
</script>

<!-- Copy button -->
<style>
.app-link--copy, .app-link--copy:link, .app-link--copy:active, .app-link--copy:visited, .app-link--copy:hover {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  border-bottom-color: #007f3b;
  box-shadow: 0 2px 0 #007f3b;
  margin-bottom: 16px;
  text-transform: none;
  background-color: #fff;
  border: 1px solid #007f3b;
  color: #007f3b;
  font-size: 16px;
  font-weight: 400;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
}
.app-link--copy:hover {
  background-color: #f0f4f5;
}
.app-link--copy:focus {
  background-color: #ffeb3b;
  box-shadow: 0 -2px #ffeb3b, 0 4px #212b32;
  color: #212b32;
  outline: 4px solid rgba(0, 0, 0, 0);
  text-decoration: none;
  border-color: #ffeb3b;
}
</style>

<script>
var lastClickedButton = null;

function copyValue(element) {
    var valueElement = element.closest('.nhsuk-summary-list__row').querySelector('.nhsuk-summary-list__value');
    var valueToCopy = valueElement.textContent.trim();

    // Create a temporary textarea to copy the value to the clipboard
    var tempTextarea = document.createElement('textarea');
    tempTextarea.value = valueToCopy;
    document.body.appendChild(tempTextarea);
    tempTextarea.select();
    document.execCommand('copy');
    document.body.removeChild(tempTextarea);

    // Reset the text of the previously clicked button
    if (lastClickedButton) {
      lastClickedButton.textContent = 'Copy';
    }

    element.textContent = 'Copied';
    element.focus();
    lastClickedButton = element;
}
</script>

<script>
// Current Date and Time

document.addEventListener("DOMContentLoaded", function () {
  var currentDateElement = document.getElementById("currentDate1");

  if (currentDateElement) {
    // Get the current date
    var currentDate = new Date();

    // Format the date as desired
    var dateOptions = { day: 'numeric', month: 'long', year: 'numeric' };
    var formattedDate = currentDate.toLocaleDateString(undefined, dateOptions);

    // Format the time as desired
    var timeOptions = { hour: 'numeric', minute: 'numeric', hour12: true }; // Fixed hour24 to hour12
    var formattedTime = currentDate.toLocaleTimeString(undefined, timeOptions);

    // Combine date and time
    var formattedDateTime = formattedDate + ' at ' + formattedTime;

    // Set the formatted date and time as the content of the element
    currentDateElement.textContent = formattedDateTime;
  }
});
</script>

<script>
// Date format function
function formatDate(day, month, year) {
    let newMonth = parseInt(month);
    let newYear = parseInt(year);

    // Check if the new month exceeds 12 (December)
    if (newMonth > 12) {
        newMonth = 1; // Reset to January
        newYear += 1; // Increment the year
    }

    const months = [
        "January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"
    ];

    const monthName = months[newMonth - 1]; // Get the new month name
    return `${parseInt(day)} ${monthName} ${newYear}`;
}
</script>

{% endblock %}