<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-sidebar.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Patient details - Manage overseas entitlements and treatments
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<div class="app-phase-banner">
  <div class="nhsuk-width-container app-phase-banner__container">
    <p class="app-phase-banner__content">
      <strong class="nhsuk-tag app-phase-banner__tag"> Beta </strong>
      <span class="app-phase-banner__text">
        This is a new service - your
        <a href="#" target="_blank" id="feedback-form-beta" rel="noopener noreferrer" for="feedback-form">
            feedback
            <span class="nhsuk-u-visually-hidden"> (opens in a new tab)</span>
        </a>
        will help us improve it.
      </span>
    </p>
  </div>
</div>
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsuk-width-container">
  <div class="nhsuk-main-wrapper">
            
    {{ backLink({
      "href": "javascript:history.go(-1)",
      "text": "Go back",
      "classes": "nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-4"
    }) }}
 
    <span class="nhsuk-caption-l">Non-EU Reciprocal Healthcare (Quota) agreement details</span>
      <h1 class="nhsuk-heading-l">What are the patient's details?</h1>

          <form action="patient-details" method="post" novalidate>

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
              
              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="country">Issuing country</label>
                <input class="nhsuk-input nhsuk-input--width-20" id="country" type="text" autocomplete="off" value="British Virgin Islands (VG)" disabled="disabled">
             </div>

             <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="name">Name</label>
              <div class="nhsuk-hint">This is the patient’s last name (family name or surname). For example, Smith</div>
              <input class="nhsuk-input nhsuk-input--width-20" id="last-name" type="text" name="last-name" value="">
             </div>

             <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="givenName">Given names</label>
              <div class="nhsuk-hint">These are the patient’s first names. For example, Phillip John.</div>
              <input class="nhsuk-input nhsuk-input--width-20" id="first-names" type="text" name="first-names" value="">
             </div>

             <div class="nhsuk-form-group">
              <fieldset class="nhsuk-fieldset" aria-describedby="date-of-bith">
                 <legend class="nhsuk-fieldset__legend">
                    <span class="nhsuk-label">Date of birth</span>
                 </legend>
                 <div id="date-of-birth-hint" class="nhsuk-hint">
                  For example, 31 3 2023
                </div>
                <div id="date-of-birth" class="nhsuk-date-input">
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label" for="date-of-birth-day">
                        Day
                      </label>
                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="date-of-birth-day" name="dateOfBirth[day]" type="text" inputmode="numeric">
                    </div>
                  </div>
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label" for="date-of-birth-month">
                        Month
                      </label>
                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="date-of-birth-month" name="dateOfBirth[month]" type="text" inputmode="numeric">
                    </div>
                  </div>
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label" for="date-of-birth-year">
                        Year
                      </label>
                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="date-of-birth-year" name="dateOfBirth[year]" type="text" inputmode="numeric">
                    </div>
                  </div>
                </div>
              </fieldset>
             </div>


              <button class="nhsuk-button nhsuk-u-margin-top-4" type="submit">
                Continue
              </button>

           
              <p class="nhsuk-u-margin-bottom-7"><a href="../non-eu-reciprocal-healthcare/home">Cancel</a></p>

            </div>
          </div>

          </form>
   
  </div>
</div>
{% endblock %}

