<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Reason for editing - Update person details - Manage overseas entitlements and treatments - NHSBSA
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">
                    <div class="nhsuk-back-link">
                        <a class="nhsuk-back-link__link" href="javascript:history.back()">
                            <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24" aria-hidden="true">
                                <path
                                    d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
                                </path>
                            </svg>
                            Go back</a>
                    </div>

                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <!-- <form action="../person-details-edit" method="post" class="form"> -->
                              <form action="update-details" method="post" class="form">

                                

                                
                              <div class="nhsuk-form-group">

                                <fieldset class="nhsuk-fieldset">
                                  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                                    <h1 class="nhsuk-fieldset__heading">
                                      Reason for editing
                                    </h1>
                                  </legend>
                                  <hr style="border-bottom:4px solid #005eb8; margin:0;"><br />
                                 
                                  <div class="nhsuk-hint" id="edit-reason-hint">
                                    Select one option.
                                  </div>


                                  <div class="nhsuk-radios">

                                    <div class="nhsuk-radios__item">
                                      <input class="nhsuk-radios__input" id="edit-reason-error" name="editReason" type="radio" value="Data input error" aria-describedby="example-hints-1-item-hint">
                                      <label class="nhsuk-label nhsuk-radios__label" for="edit-reason-error">
                                        Data input error (name, date of birth, address)
                                      </label>
                                      <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                                        Changes will be made across all entitlements, treatments, claims and resubmissions.
                                      </div>
                                    </div>
                              
                                    <div class="nhsuk-radios__item">
                                      <input class="nhsuk-radios__input" id="edit-reason-official" name="editReason" type="radio" value="Legal name change" aria-describedby="example-hints-2-item-hint">
                                      <label class="nhsuk-label nhsuk-radios__label" for="edit-reason-official">
                                        Legal name change
                                      </label>
                                      <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-2-item-hint">
                                        Changes will be made to selected treatments and related claims and resubmissions.
                                      </div>
                                    </div>

                                    <div class="nhsuk-radios__item">
                                      <input class="nhsuk-radios__input" id="edit-reason-address-change" name="editReason" type="radio" value="Change of address" aria-describedby="example-hints-2-item-hint">
                                      <label class="nhsuk-label nhsuk-radios__label" for="edit-reason-address-change">
                                        Change of address
                                      </label>
                                      <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-2-item-hint">
                                        Changes will be made on person details page.
                                      </div>
                                    </div>
                              
                                  </div>

                                </fieldset>
                              
                              </div>

                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label" for="edit-notes">
                                  Additional notes
                                </label>
                                <div class="nhsuk-hint" id="edit-notes-hint">
                                  You can add any additional information here, such as where the change request came from.
                                </div>

                                <textarea class="nhsuk-textarea nhsuk-u-width-one-half" id="edit-notes" name="edit-notes" rows="5" aria-describedby="edit-notes-hint"></textarea>
                              </div>

                                <button class="nhsuk-button nhsuk-button--primary" type="submit">
                                    Continue
                                </button>

                            </form>
                            <p><a href="person-details">Cancel</a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}