<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Create new resub
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
      
          <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="search">Search (Person)</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="resubs">Resubs</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="claim-resubs-1">Claim ID 9543 (Resubs)</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="resubs-contested-treatments">Resub number 0002</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="person-record-resubs">Tony Smith (Resubs)</a></li>
            <li class="nhsuk-breadcrumb__item">Request for PRC</li>
          </ol>
        </div>
      </div>
  
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="person-record-resubs">Back to Tony Smith (Resubs)</a></p>
nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="claim-treatment-forms-1">Back to Claim ID 9658 (Treatment forms)</a></p>

    </div>
</nav>

  <div class="nhsBSA-sidebar-container">

    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">

        <div class="nhsuk-width-container-fluid">

          <div class="nhsuk-main-wrapper" id="maincontent">

            {# <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">

                        <div class="panel panel-border-wide alert-default">
                            <h2 class="nhsuk-heading-s nhsuk-u-padding-top-3 nhsuk-u-margin-bottom-3">English is their second language. May require an interpreter.</h2>
                        </div>

                    </div>
                </div> #}

            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-one-half">
                <h1 class="nhsuk-heading-xl" style="display:inline-block; margin-right:20px;">
                  Resub 0002: Claim ID 9543
                </h1>
              </div>

                <div class="nhsuk-grid-column-one-half">
                  <a href="withdrawn-treatments-confirmation"><button  class="nhsuk-button nhsuk-button--secondary" type="submit" style="float: right;">
                  Withdraw<span class="nhsuk-u-visually-hidden">for claim ID 9543</span>
                  </button></a>
                  <a href="maintained-treatments-confirmation"><button  class="nhsuk-button" type="submit" style="float: right;  margin-right: 20px;">
                  Maintain<span class="nhsuk-u-visually-hidden">for claim ID 9543</span>
                  </button></a>
                  <p style="float: right;  margin-right: 20px; margin-top: 15px;"><a href="ehic-validity-period">Partially maintain / withdraw</a></p>
            
                </div>
            </div>

            <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation" style="background-color:#f0f4f5;">
              <ul class="nhsuk-secondary-navigation__list">
                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link"   href="resub-view-details">Treatment details</a>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="reasons-for-contestation">Reasons for contestation</a>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link"  href="ovm-contact-details">OVM contact details</a>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link"   href="contacted-the-ovm">Contact the OVM</a>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" aria-current="page" href="request-for-prc">Request for a PRC</a>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link"  href="resub-treatment-actions">Actions</a>
                </li>
              

    
              </ul>
            </nav>
                  
                <hr style="border-bottom:1px solid #ccc; margin:0">


    <div class="nhsuk-inset-text">
      <span class="nhsuk-u-visually-hidden">Information: </span>
      <p>You can print the S044 XML for RINA under the actions tab and then fill in the RINA reference number.</p>
    </div>
                
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">
    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
           New treatment start date
        </dt>
        <dd class="nhsuk-summary-list__value">
          14/05/2019
        </dd>
     </div>
       <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
             New treatment end date
          </dt>
          <dd class="nhsuk-summary-list__value">
            18/05/2019
          </dd>
       </div>
       <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
           Type
        </dt>
        <dd class="nhsuk-summary-list__value">
          RINA
        </dd>
     </div>
  
    </dl>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="1">
            RINA reference number
          </label>
          <input class="nhsuk-input nhsuk-u-width-one-third" id="1" name="1" type="text" disabled>
        </div>

        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
             <label class="nhsuk-label" for="example">
                PRC requested date
              </label>
            <div class="nhsuk-date-input" id="example">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                    Day
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day" name="example-day" type="number" pattern="[0-9]*" value="27" disabled>
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                    Month
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month" name="example-month" type="number" pattern="[0-9]*" value="07" disabled>
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                    Year
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-year" name="example-year" type="number" pattern="[0-9]*" value="2021" disabled>
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
             <label class="nhsuk-label" for="example">
                PRC request chase date
              </label>
            <div class="nhsuk-date-input" id="example">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                    Day
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day" name="example-day" type="number" pattern="[0-9]*" value="11">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                    Month
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month" name="example-month" type="number" pattern="[0-9]*" value="09">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                    Year
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-year" name="example-year" type="number" pattern="[0-9]*" value="2021">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

       
              <br>

              <a href="prc-requested"><button  class="nhsuk-button nhsuk-button--primary" type="submit">
                Submit
              </button></a>
        

                    </div>
                    </div>
            </div>
            </div>

              
      </div>
    </div>

  </div>

</div>
      

  </div>

{% endblock %}


