<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
UK claim ID 123456: Resub ID 0000001 - Upload additional evidence
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-main-wrapper" id="maincontent">
        
          {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
          }) }}
  

        <div class="nhsuk-grid-row">
           <div class="nhsuk-grid-column-full">
              <h1 class="nhsuk-heading-xl">Check these details before submitting</h1>
           </div>
        </div>
        
        <hr class="blue-horizontal-line">
        
        <div class="nhsuk-grid-row nhsuk-u-margin-top-4">
           <div class="nhsuk-grid-column-two-thirds">

              <form action="check-uploaded-invoice-evidence" method="post">
                 
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">

                      
                      <h2 class="nhsuk-heading-m">
                        Files added
                      </h2>
                       
                      {% if (data['evidenceRow1'] != 'Removed' or data['evidenceRow2'] != 'Removed') %}
                      <!-- Evidence table only shows when there's evidence -->
                      <div id="evidenceContainer">
                        <table id="evidenceTable" class="nhsuk-table">
                          <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Uploaded evidence</caption>
                          <thead role="rowgroup" class="nhsuk-table__head">
                            <tr role="row">
                              <th role="columnheader" class="nhsuk-u-visually-hidden" scope="col">File</th>
                              <th role="columnheader" class="nhsuk-u-visually-hidden" scope="col">Action</th>
                            </tr>
                          </thead>
                          <tbody class="nhsuk-table__body">
                            {% if data['more-evidence'] == 'yes' or data['upload-evidence-separately'] == 'yes' and data['evidenceRow1'] != 'Removed' %}
                            <tr role="row" class="nhsuk-table__row" id="evidenceRow2">
                              <td class="nhsuk-table__cell">
                                <b>example-evidence-2.pdf</b>
                              </td>
                              <td class="nhsuk-table__cell">
                                <a href="#" class="changeEvidence" data-row="evidenceRow2">Change</a>
                              </td>
                            </tr>
                            {% endif %}

                            {% if data['evidenceRow2'] != 'Removed' %}
                            <tr role="row" class="nhsuk-table__row" id="evidenceRow1">
                              <td class="nhsuk-table__cell">
                                <b>example-evidence-1.pdf</b>
                              </td>
                              <td class="nhsuk-table__cell">
                                <a href="#" class="changeEvidence" data-row="evidenceRow1">Change</a>
                              </td>
                            </tr>
                            {% endif %}
                          </tbody>
                        </table>
                      </div>
                      {% endif %}

                      <button class="nhsuk-button nhsuk-button--primary" type="submit" value="submit" id="upload-button">Upload</button>

                    </div>
                 </div>

              </form>
           </div>
        </div>

        <div class="nhsuk-back-link">
           <a href="invoice-evidence" id="upload-evidence-cancel-link" aria-label="Cancel uploading evidence">Cancel</a>
        </div>

        </div>
     </div>
    </div>
  </div>
</div>
{% endblock %}