<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
   In /views/layout.html you can:
      - change the header and footer 
      - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Confirmation-s1
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsBSA-sidebar-container">
   <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
         <div class="nhsuk-width-container-fluid">
            <div class="nhsuk-main-wrapper" id="maincontent">
               <div class="nhsuk-grid-row">
                  <div class="nhsuk-grid-column-one-half">
                     <div class="nhsuk-panel nhsuk-panel--confirmation nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">
                     <h1 style="font-size:40px;" class="nhsuk-panel__title">
                           FAS1 details added for Douglas Caven
                     </h1>
                     <div class="nhsuk-panel__body">
                        <strong>Patient ID: 1234567</strong>
                     </div>
                  </div> 
               </div>
                        <br>
               
                  <div class="nhsuk-grid-column-two-thirds">
                     <h2 class="nhsuk-heading-s" style="margin-bottom:0">
                        Next steps:
                     </h2>
                    
                     <p>You now need to request the S1 entitlement document from the member state.</p>
                     <p>To do this, either print an S071 form and post it to the member state, or capture the RINA number and send S071 form via email.</p>
                     <br>
                           <a href="s1-has-S071-been-posted" style="margin-right: 20px;"><button class="nhsuk-button nhsuk-button--primary">Print S071</button></a>
                           <a href="s1-enter-rina-number" style="margin-right: 20px;"><button class="nhsuk-button nhsuk-button--secondary">Send FAS1 via RINA</button></a>
                  </div>
            </div>
         </div>
      </div>
   </div>
</div>

{% endblock %}




