<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
S1
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
   <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
         <div class="nhsuk-grid-column-full">
         <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="s1-search">S1</a></li>
            <li class="nhsuk-breadcrumb__list-item">Select a task</li> 
         </ol>
         </div>
      </div>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="search-results">Back to search results</a></p>
   </div>
</nav>

<div class="nhsBSA-sidebar-container">
   <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
         <div class="nhsuk-width-container-fluid">
            <div class="nhsuk-main-wrapper" id="maincontent">

               <div class="nhsuk-back-link">
                  <a class="nhsuk-back-link__link" href="javascript:history.back()">
                      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 24 24" aria-hidden="true">
                          <path
                              d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
                          </path>
                      </svg>
                      Go back</a>
                </div>      

               <div class="nhsuk-grid-row">
                  <div class="nhsuk-grid-column-two-thirds">
                     <span class="nhsuk-caption-l">
                        S1 administration
                      </span>
                     <h1 class="nhsuk-heading-xl">
                        Select a task
                     </h1>
                  </div>
                  <div class="nhsuk-grid-column-one-third">
                  </div>
               </div>

             
               <div class="nhsuk-scrollable-pane">
                  <div class="nhsuk-grid-row">
                     <div class="nhsuk-grid-column-two-thirds">
                        <div class="nhsuk-form-group">
                           <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
                              <form action="select-action" method="post">
                                 <div class="nhsuk-radios">                                   
                                    <div class="nhsuk-radios__item">
                                       <input class="nhsuk-radios__input" id="s1r" name="entitlement" type="radio" value="s1" aria-controls="conditional-contact-1" aria-expanded="false">
                                       <label class="nhsuk-label nhsuk-radios__label" for="s1r">
                                       Registration
                                       </label>
                                    </div>
                                    <div class="nhsuk-radios__item">
                                       <input class="nhsuk-radios__input" id="s1c" name="entitlement" type="radio" value="s2" aria-controls="conditional-contact-1" aria-expanded="false">
                                       <label class="nhsuk-label nhsuk-radios__label" for="s1c">
                                       Cancellation
                                       </label>
                                    </div>
                                    <div class="nhsuk-radios__item">
                                       <input class="nhsuk-radios__input" id="s1ad" name="entitlement" type="radio" value="s3" aria-controls="conditional-contact-1" aria-expanded="false">
                                       <label class="nhsuk-label nhsuk-radios__label" for="s1ad">
                                       Add dependant details
                                       </label>
                                    </div>
                                    <div class="nhsuk-radios__item">
                                       <input class="nhsuk-radios__input" id="s1am" name="entitlement" type="radio" value="s4" aria-controls="conditional-contact-1" aria-expanded="false">
                                       <label class="nhsuk-label nhsuk-radios__label" for="s1am">
                                       Amend dependant details
                                       </label>
                                    </div>
      
                                    <br>
                                    <br>

                                    <button class="nhsuk-button nhsuk-button--primary" type="submit">Continue</button>
                                    
                                 </div>
                           
                              </form>
                           </fieldset>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

{% endblock %}




