<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-sidebar.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}Claim case history - Laura Peteers{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <ol class="nhsuk-breadcrumb__list">
                    <li class="nhsuk-breadcrumb__list-item">
                        <a class="nhsuk-breadcrumb__link" href="search">Search (Person)</a>
                    </li>
                    <li class="nhsuk-breadcrumb__list-item">
                        <a class="nhsuk-breadcrumb__link" href="search-results">Search results (Person)</a>
                    </li>
                    <li class="nhsuk-breadcrumb__list-item">Laura Peteers (Claim case history)</li>
                </ol>
            </div>
        </div>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="search-results">Back to search results</a>
        </p>
    </div>
</nav>
{% endblock %}

<!--page content-->>
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">

        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">

                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <h1 class="nhsuk-heading-xl">Case history</h1>
                        </div>
                    </div>

                    <!--start of secondary navigation-->
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <nav class="nhsuk-secondary-navigation nav-tabs-bg" aria-label="Secondary navigation"
                                style="background-color:#f0f4f5;">
                                <ul class="nhsuk-secondary-navigation__list">
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link" href="person">Person history</a>
                                    </li>
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link" href="treatment-8">Treatment
                                            history</a>
                                    </li>
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link" href="resub-2">Resub history</a>
                                    </li>
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link" aria-current="page"
                                            href="claim">Claim history</a>
                                    </li>
                                </ul>
                            </nav>
                            <hr style="border-bottom:1px solid #ccc; margin:0 0 60px 0">
                        </div>
                    </div>
                    <!--end of secondary navigation-->

                    <!--start of claim case history details-->


                    <!--start of claim 1-->
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-two-thirds">
                            <div class="nhsuk-card">
                                <div class="nhsuk-card__content">
                                    <!--start summary list-->
                                    <dl class="nhsuk-summary-list ">

                                        <div class="nhsuk-summary-list__row">
                                            <dt class="nhsuk-summary-list__key">
                                                Claim ID
                                            </dt>
                                            <dd class="nhsuk-summary-list__value">
                                                <a href="">7859348</a>
                                            </dd>
                                        </div>

                                        <div class="nhsuk-summary-list__row">
                                            <dt class="nhsuk-summary-list__key">
                                                Current status
                                            </dt>
                                            <dd class="nhsuk-summary-list__value">
                                                In progress
                                            </dd>
                                        </div>

                                        <div class="nhsuk-summary-list__row">
                                            <dt class="nhsuk-summary-list__key">
                                                Claim year
                                            </dt>
                                            <dd class="nhsuk-summary-list__value">
                                                April 2022
                                            </dd>
                                        </div>

                                    </dl>
                                    <!--end summary list-->

                                    <h4 class="nhsuk-heading-xs">Actions</h4>

                                    <!--start expand 1-->
                                    <details class="nhsuk-details-1">
                                        <summary class="nhsuk-details__summary-1">
                                            <span class="nhsuk-details__summary-text-1">
                                                26/04/2022 16:47 | Claim created
                                            </span>
                                        </summary>
                                        <div class="nhsuk-details__text">
                                            <dl class="nhsuk-summary-list">
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Details
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        Claim has been created with 12 treatments for France, Article 62
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Claim status
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        In progress
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Updated by
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        tracey.jaylen@nhs.net
                                                    </dd>
                                                </div>
                                            </dl>
                                        </div>
                                    </details>
                                    <!-- end expand 1 -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end of claim 1-->

                    <!--start of claim 2-->
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-two-thirds">
                            <div class="nhsuk-card">
                                <div class="nhsuk-card__content">
                                    <!--start summary list-->
                                    <dl class="nhsuk-summary-list ">

                                        <div class="nhsuk-summary-list__row">
                                            <dt class="nhsuk-summary-list__key">
                                                Claim ID
                                            </dt>
                                            <dd class="nhsuk-summary-list__value">
                                                <a href="">4875893</a>
                                            </dd>
                                        </div>

                                        <div class="nhsuk-summary-list__row">
                                            <dt class="nhsuk-summary-list__key">
                                                Current status
                                            </dt>
                                            <dd class="nhsuk-summary-list__value">
                                                Claimed
                                            </dd>
                                        </div>

                                        <div class="nhsuk-summary-list__row">
                                            <dt class="nhsuk-summary-list__key">
                                                Claim year
                                            </dt>
                                            <dd class="nhsuk-summary-list__value">
                                                October 2021
                                            </dd>
                                        </div>

                                    </dl>
                                    <!--end summary list-->

                                    <h4 class="nhsuk-heading-xs">Actions</h4>

                                    <!--start expand 1-->
                                    <details class="nhsuk-details-1">
                                        <summary class="nhsuk-details__summary-1">
                                            <span class="nhsuk-details__summary-text-1">
                                                20/09/2021 10:38 | Sent for printing
                                            </span>
                                        </summary>
                                        <div class="nhsuk-details__text">
                                            <dl class="nhsuk-summary-list">
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Details
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        Claim has been sent for printing
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Claim status
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        Claimed
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Updated by
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        evie.columbine@nhs.net
                                                    </dd>
                                                </div>
                                            </dl>
                                        </div>
                                    </details>
                                    <!-- end expand 1 -->

                                    <!--start expand 2-->
                                    <details class="nhsuk-details-1">
                                        <summary class="nhsuk-details__summary-1">
                                            <span class="nhsuk-details__summary-text-1">
                                                19/09/2021 15:55 | Ready for printing
                                            </span>
                                        </summary>
                                        <div class="nhsuk-details__text">
                                            <dl class="nhsuk-summary-list">
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Details
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        Agreement type set and claim is ready to print
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Claim status
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        Ready to print
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Updated by
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        tessa.elwin@nhs.net
                                                    </dd>
                                                </div>
                                            </dl>
                                        </div>
                                    </details>
                                    <!-- end expand 2 -->

                                    <!--start expand 3-->
                                    <details class="nhsuk-details-1">
                                        <summary class="nhsuk-details__summary-1">
                                            <span class="nhsuk-details__summary-text-1">
                                                12/09/2021 10:38 | Claim created
                                            </span>
                                        </summary>
                                        <div class="nhsuk-details__text">
                                            <dl class="nhsuk-summary-list">
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Details
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        Claim has been created with 12 treatments for France, Article 62
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Claim status
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        In progress
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Updated by
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        tracey.jaylen@nhs.net
                                                    </dd>
                                                </div>
                                            </dl>
                                        </div>
                                    </details>
                                    <!-- end expand 3 -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end of claim 2-->

                    <!--end of claim case history details-->

                </div>
            </div>
        </div>
        
        <!--start of left hand navigation-->
        <div class="nhsBSA-sidebar-nav">
            <div class="side-nav">
                <h3>
                    Laura Peteers<span class="nhsuk-caption-m nhsuk-caption--bottom"><span
                            class="nhsuk-u-visually-hidden"> - </span>3432234</span>
                </h3>
                <div id="options" class="options">
                    <ul>
                        <li>
                            <a href="person-details">Person details</a>
                        </li>
                        <li>
                            <a href="">Entitlements and treatments along with linked Claim ID</a>
                        </li>
                        <li>
                            <a href="">Resubs</a>
                        </li>
                        <li>
                            <a class="active" href="index">Case history</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end of left hand navigation-->

    </div>
</div>

{% endblock %}