<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-sidebar.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}Case history page{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <ol class="nhsuk-breadcrumb__list">
                    <li class="nhsuk-breadcrumb__list-item">
                        <a class="nhsuk-breadcrumb__link" href="search">Search (Person)</a>
                    </li>
                    <li class="nhsuk-breadcrumb__list-item">
                        <a class="nhsuk-breadcrumb__link" href="search-results">Search results (Person)</a>
                    </li>
                    <li class="nhsuk-breadcrumb__list-item">Laura Peteers (Case history)</li>
                </ol>
            </div>
        </div>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="search-results">Back to search results</a>
        </p>
    </div>
</nav>
{% endblock %}

<!--page content-->>
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">

        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">

                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <h1 class="nhsuk-heading-xl">Case history</h1>
                        </div>
                    </div> 

                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <nav class="nhsuk-secondary-navigation nav-tabs-bg" aria-label="Secondary navigation"
                                style="background-color:#f0f4f5;">
                                <ul class="nhsuk-secondary-navigation__list">
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link" aria-current="page"
                                            href="index">Person history</a>
                                    </li>
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link" href="treatment-8">Treatment
                                            history</a>
                                    </li>
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link" href="resub">Resub history</a>
                                    </li>
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link" href="claim">Claim history</a>
                                    </li>
                                </ul>
                            </nav>
                            <hr style="border-bottom:1px solid #ccc; margin:0 0 60px 0">
                        </div>
                    </div>

                    <!--start of expanders-->
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">

                            <!-- start country -->
                            <div class="nhsuk-grid-row">
                                <div class="nhsuk-grid-column-two-thirds">

                                    <h2 class="nhsuk-heading-m">Country</h2>
                                    <!--start expanders-->
                                    <p>There is currently no data for this section</p>
                                    <!--end expanders-->
                                    <hr />
                                </div>
                            </div>
                            <!--end country  -->

                            <!-- start date of birth -->
                            <div class="nhsuk-grid-row">
                                <div class="nhsuk-grid-column-two-thirds">

                                    <h2 class="nhsuk-heading-m">Date of birth</h2>
                                    <!--start expanders-->
                                    <p>There is currently no data for this section</p>
                                    <!--end expanders-->
                                    <hr />
                                </div>
                            </div>
                            <!--end date of birth  -->

                            <!-- start date of death -->
                            <div class="nhsuk-grid-row">
                                <div class="nhsuk-grid-column-two-thirds">

                                    <h2 class="nhsuk-heading-m">Date of death</h2>
                                    <!--start expanders-->
                                    <p>There is currently no data for this section</p>
                                    <!--end expanders-->
                                    <hr />
                                </div>
                            </div>
                            <!--end date of death  -->

                            <!-- start email/phone number -->
                            <div class="nhsuk-grid-row">
                                <div class="nhsuk-grid-column-two-thirds">

                                    <h2 class="nhsuk-heading-m">Email/phone number</h2>
                                    <!--start expanders-->
                                    <div class="nhsuk-expander-group">

                                        <!--start expand 1-->
                                        <div class="nhsuk-card">
                                            <div class="nhsuk-card__content">
                                                <details class="nhsuk-details-1">
                                                    <summary class="nhsuk-details__summary-1">
                                                        <span class="nhsuk-details__summary-text-1">
                                                            10/04/2022 09:26
                                                        </span>
                                                    </summary>
                                                    <div class="nhsuk-details__text">
                                                        <dl class="nhsuk-summary-list">
                                                            <div class="nhsuk-summary-list__row">
                                                                <dt class="nhsuk-summary-list__key">
                                                                    To
                                                                </dt>
                                                                <dd class="nhsuk-summary-list__value">
                                                                    07954 783927
                                                                </dd>
                                                            </div>
                                                            <div class="nhsuk-summary-list__row">
                                                                <dt class="nhsuk-summary-list__key">
                                                                    From
                                                                </dt>
                                                                <dd class="nhsuk-summary-list__value">
                                                                    01782 785690
                                                                </dd>
                                                            </div>
                                                            <div class="nhsuk-summary-list__row">
                                                                <dt class="nhsuk-summary-list__key">
                                                                    Updated by
                                                                </dt>
                                                                <dd class="nhsuk-summary-list__value">
                                                                    danni.cox@nhs.net
                                                                </dd>
                                                            </div>
                                                        </dl>
                                                    </div>
                                                </details>
                                            </div>
                                          </div>

                                        <!--end expand 1-->

                                        <!--start expand 2-->
                                        <div class="nhsuk-card">
                                            <div class="nhsuk-card__content">
                                                <details class="nhsuk-details-1">
                                                    <summary class="nhsuk-details__summary-1">
                                                        <span class="nhsuk-details__summary-text-1">
                                                            19/08/2021 15:39
                                                        </span>
                                                    </summary>
                                                    <div class="nhsuk-details__text">
                                                        <dl class="nhsuk-summary-list">
                                                            <div class="nhsuk-summary-list__row">
                                                                <dt class="nhsuk-summary-list__key">
                                                                    To
                                                                </dt>
                                                                <dd class="nhsuk-summary-list__value">
                                                                    01782 785690
                                                                </dd>
                                                            </div>
                                                            <div class="nhsuk-summary-list__row">
                                                                <dt class="nhsuk-summary-list__key">
                                                                    From
                                                                </dt>
                                                                <dd class="nhsuk-summary-list__value">
                                                                    01772 783693
                                                                </dd>
                                                            </div>
                                                            <div class="nhsuk-summary-list__row">
                                                                <dt class="nhsuk-summary-list__key">
                                                                    Updated by
                                                                </dt>
                                                                <dd class="nhsuk-summary-list__value">
                                                                    lucy.meyers@nhs.net
                                                                </dd>
                                                            </div>
                                                        </dl>
                                                    </div>
                                                </details>
                                            </div>
                                          </div>

                                        <!--end expand 2-->
                                    </div>
                                    <!--end expanders-->
                                    <hr />
                                </div>
                            </div>
                            <!--end email/phone number -->

                            <!-- start ID numbers -->
                            <div class="nhsuk-grid-row">
                                <div class="nhsuk-grid-column-two-thirds">

                                    <h2 class="nhsuk-heading-m">ID numbers</h2>
                                    <!--start expanders-->
                                    <p>There is currently no data for this section</p>
                                    <!--end expanders-->
                                    <hr />
                                </div>
                            </div>
                            <!--end ID numbers  -->

                            <!-- start letters sent -->
                            <div class="nhsuk-grid-row">
                                <div class="nhsuk-grid-column-two-thirds">

                                    <h2 class="nhsuk-heading-m">Letters sent</h2>
                                    <!--start expanders-->
                                    <p>There is currently no data for this section</p>
                                    <!--end expanders-->
                                    <hr />
                                </div>
                            </div>
                            <!--end leteters sent  -->

                            <!-- start name -->
                            <div class="nhsuk-grid-row">
                                <div class="nhsuk-grid-column-two-thirds">

                                    <h2 class="nhsuk-heading-m">Name</h2>
                                    <!--start expanders-->
                                    <div class="nhsuk-expander-group">

                                        <!--start expand 1-->
                                        <div class="nhsuk-card">
                                            <div class="nhsuk-card__content">
                                                <details class="nhsuk-details-1">
                                                    <summary class="nhsuk-details__summary-1">
                                                        <span class="nhsuk-details__summary-text-1">
                                                            12/12/2021 08:47
                                                        </span>
                                                    </summary>
                                                    <div class="nhsuk-details__text">
                                                        <dl class="nhsuk-summary-list">
                                                            <div class="nhsuk-summary-list__row">
                                                                <dt class="nhsuk-summary-list__key">
                                                                    To
                                                                </dt>
                                                                <dd class="nhsuk-summary-list__value">
                                                                    Jane Marie Jones
                                                                </dd>
                                                            </div>
                                                            <div class="nhsuk-summary-list__row">
                                                                <dt class="nhsuk-summary-list__key">
                                                                    From
                                                                </dt>
                                                                <dd class="nhsuk-summary-list__value">
                                                                    Jane Marie Smith
                                                                </dd>
                                                            </div>
                                                            <div class="nhsuk-summary-list__row">
                                                                <dt class="nhsuk-summary-list__key">
                                                                    Updated by
                                                                </dt>
                                                                <dd class="nhsuk-summary-list__value">
                                                                    salma.owen@nhs.net
                                                                </dd>
                                                            </div>
                                                        </dl>
                                                    </div>
                                                </details>
                                            </div>
                                          </div>

                                        <!--end expand 1-->

                                    </div>
                                    <!--end expanders-->
                                    <hr />
                                </div>
                            </div>
                            <!--end name  -->

                            <!-- start residential address -->
                            <div class="nhsuk-grid-row">
                                <div class="nhsuk-grid-column-two-thirds">

                                    <h2 class="nhsuk-heading-m">Residential address</h2>
                                    <!--start expanders-->
                                    <div class="nhsuk-expander-group">

                                        <!--start expand 1-->
                                        <div class="nhsuk-card">
                                            <div class="nhsuk-card__content">
                                                <details class="nhsuk-details-1">
                                                    <summary class="nhsuk-details__summary-1">
                                                        <span class="nhsuk-details__summary-text-1">
                                                            01/01/2022 17:02
                                                        </span>
                                                    </summary>
                                                    <div class="nhsuk-details__text">
                                                        <dl class="nhsuk-summary-list">
                                                            <div class="nhsuk-summary-list__row">
                                                                <dt class="nhsuk-summary-list__key">
                                                                    To
                                                                </dt>
                                                                <dd class="nhsuk-summary-list__value">
                                                                    1 Queen Street, Romform, RM56 7VB
                                                                </dd>
                                                            </div>
                                                            <div class="nhsuk-summary-list__row">
                                                                <dt class="nhsuk-summary-list__key">
                                                                    From
                                                                </dt>
                                                                <dd class="nhsuk-summary-list__value">
                                                                    415 Standley Road, Chester, CH44 7RK
                                                                </dd>
                                                            </div>
                                                            <div class="nhsuk-summary-list__row">
                                                                <dt class="nhsuk-summary-list__key">
                                                                    Updated by
                                                                </dt>
                                                                <dd class="nhsuk-summary-list__value">
                                                                    lucy.meyers@nhs.net
                                                                </dd>
                                                            </div>
                                                        </dl>
                                                    </div>
                                                </details>
                                            </div>
                                          </div>

                                        <!--end expand 1-->

                                        <!--start expand 2-->
                                        <div class="nhsuk-card">
                                            <div class="nhsuk-card__content">
                                                <details class="nhsuk-details-1">
                                                    <summary class="nhsuk-details__summary-1">
                                                        <span class="nhsuk-details__summary-text-1">
                                                            18/09/2021 14:48
                                                        </span>
                                                    </summary>
                                                    <div class="nhsuk-details__text">
                                                        <dl class="nhsuk-summary-list">
                                                            <div class="nhsuk-summary-list__row">
                                                                <dt class="nhsuk-summary-list__key">
                                                                    To
                                                                </dt>
                                                                <dd class="nhsuk-summary-list__value">
                                                                    415 Standley Road, Chester, CH44 7RK
                                                                </dd>
                                                            </div>
                                                            <div class="nhsuk-summary-list__row">
                                                                <dt class="nhsuk-summary-list__key">
                                                                    From
                                                                </dt>
                                                                <dd class="nhsuk-summary-list__value">
                                                                    19 South Street, Guildford, GU43 0OH
                                                                </dd>
                                                            </div>
                                                            <div class="nhsuk-summary-list__row">
                                                                <dt class="nhsuk-summary-list__key">
                                                                    Updated by
                                                                </dt>
                                                                <dd class="nhsuk-summary-list__value">
                                                                    lucy.meyers@nhs.net
                                                                </dd>
                                                            </div>
                                                        </dl>
                                                    </div>
                                                </details>
                                            </div>
                                          </div>

                                        <!--end expand 2-->

                                    </div>
                                    <!--end expanders-->
                                    <hr />
                                </div>
                            </div>
                            <!--end residential address -->

                        </div>
                    </div>
                    <!--end of expanders-->


                </div>
            </div>
        </div>

        <div class="nhsBSA-sidebar-nav">
            <div class="side-nav">
                <h3>
                    Laura Peteers<span class="nhsuk-caption-m nhsuk-caption--bottom"><span
                            class="nhsuk-u-visually-hidden"> - </span>3432234</span>
                </h3>
                <div id="options" class="options">
                    <ul>
                        <li>
                            <a href="person-details">Person details</a>
                        </li>
                        <li>
                            <a href="">Entitlements and treatments along with linked Claim ID</a>
                        </li>
                        <li>
                            <a href="">Resubs</a>
                        </li>
                        <li>
                            <a class="active" href="index">Case history</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}