<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
S1 registration check your answers - S1 administration - Manage overseas entitlements and treatments - NHSBSA
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
     <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container-fluid">
           <div class="nhsuk-main-wrapper" id="maincontent">
              <div class="nhsuk-grid-row">
                 <div class="nhsuk-grid-column-full">
                  <div class="nhsuk-back-link">
                     <a class="nhsuk-back-link__link" href="javascript:history.back()">
                       <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                         <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                       </svg>
                       Go back</a>
                   </div> 
                   <span class="nhsuk-caption-l">
                    S1 registration
                  </span>
                    <h1 class="nhsuk-heading-xl">
                     Check these details before continuing
                    </h1>
                 </div>             
              </div>

              <div class="nhsuk-scrollable-pane">

                 <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                      <h2 class="nhsuk-heading-m">
                        Holder’s personal details
                       </h2>

                      <dl class="nhsuk-summary-list">
                                    
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Persons ID number in member state
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            123456
                          </dd>
                      
                          <dd class="nhsuk-summary-list__actions">
                      
                            <a href="#">
                              Change<span class="nhsuk-u-visually-hidden"> First name</span>
                            </a>
                      
                          </dd>
                      
                        </div>
                      
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Forenames
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            Juan
                          </dd>
                      
                          <dd class="nhsuk-summary-list__actions">
                      
                            <a href="#">
                              Change<span class="nhsuk-u-visually-hidden"> First name</span>
                            </a>
                      
                          </dd>
                      
                        </div>
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Surname
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            Sanchez
                          </dd>
                      
                          <dd class="nhsuk-summary-list__actions">
                      
                            <a href="#">
                              Change<span class="nhsuk-u-visually-hidden">Last name</span>
                            </a>
                      
                          </dd>
                      
                        </div>
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Surname at birth (if different)
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                             
                          </dd>
                      
                          <dd class="nhsuk-summary-list__actions">
                      
                            <a href="#">
                              Change<span class="nhsuk-u-visually-hidden">Last name</span>
                            </a>
                      
                          </dd>
                      
                        </div>
                      
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Date of birth
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                           1 January 1980
                          </dd>
                      
                          <dd class="nhsuk-summary-list__actions">
                      
                            <a href="#">
                              Change<span class="nhsuk-u-visually-hidden">Date of birth</span>
                            </a>
                      
                          </dd>
                      
                        </div>

                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Address in the state of residence
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            Comandante Izarduy 57<br>
                             Vilanova Del Camí<br>
                             Barcelona
                          </dd>           
                          <dd class="nhsuk-summary-list__actions">                 
                            <a href="#">
                              Change<span class="nhsuk-u-visually-hidden"> uk address</span>
                            </a>     
                          </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Country
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            Spain
                          </dd>           
                          <dd class="nhsuk-summary-list__actions">                 
                            <a href="#">
                              Change<span class="nhsuk-u-visually-hidden"> uk address</span>
                            </a>     
                          </dd>
                        </div>
               
                      </dl>

                      
                    </div>
                      
                  </div>
                  
           

                  <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                      <h2 class="nhsuk-heading-m">
                        Entitlement details
                       </h2>

                      <dl class="nhsuk-summary-list">
                      <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Start date
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            05 June 2020
                          </dd>           
                          <dd class="nhsuk-summary-list__actions">                 
                            <a href="#">
                              Change<span class="nhsuk-u-visually-hidden"> uk address</span>
                            </a>     
                          </dd>
                        </div>
                   
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              End date
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              04 June 2023
                            </dd>           
                            <dd class="nhsuk-summary-list__actions">                 
                              <a href="#">
                                Change<span class="nhsuk-u-visually-hidden"> uk address</span>
                              </a>     
                            </dd>
                          </div>
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Status
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              Insured person
                            </dd>           
                            <dd class="nhsuk-summary-list__actions">                 
                              <a href="#">
                                Change<span class="nhsuk-u-visually-hidden"> uk address</span>
                              </a>     
                            </dd>
                          </div>
                        </dl>
                    </div>        
                  </div>

                  <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                      <h2 class="nhsuk-heading-m">
                        Institution details
                       </h2>

                      <dl class="nhsuk-summary-list">
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Institution ID 
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            123
                          </dd>           
                          <dd class="nhsuk-summary-list__actions">                 
                            <a href="#">
                              Change<span class="nhsuk-u-visually-hidden"> uk address</span>
                            </a>     
                          </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                             Name
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            Hospital Clínico de Barcelona
                          </dd>           
                          <dd class="nhsuk-summary-list__actions">                 
                            <a href="#">
                              Change<span class="nhsuk-u-visually-hidden"> uk address</span>
                            </a>     
                          </dd>
                        </div>
                      <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                             Address 
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            C. de Villarroel,<br> L'Eixample,<br> 08036<br> Barcelona
                          </dd>           
                          <dd class="nhsuk-summary-list__actions">                 
                            <a href="#">
                              Change<span class="nhsuk-u-visually-hidden"> uk address</span>
                            </a>     
                          </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Phone number
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            +34 932 27 54 00
                          </dd>           
                          <dd class="nhsuk-summary-list__actions">                 
                            <a href="#">
                              Change<span class="nhsuk-u-visually-hidden"> uk address</span>
                            </a>     
                          </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Email
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            marvives@clinic.cat
                          </dd>           
                          <dd class="nhsuk-summary-list__actions">                 
                            <a href="#">
                              Change<span class="nhsuk-u-visually-hidden"> uk address</span>
                            </a>     
                          </dd>
                        </div>
                 
                        </dl>

                      <div class="action-buttons">
                        <a class="nhsuk-button nhsuk-button--primary" href="s1-s072-confirmation">Continue</a>
                      </div>
                   
                    </div>
                      
                  </div>


                </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}




