{% extends '../s1/_form.html' %} 
{% set title %}When was the S073 sent to the member state?{% endset %} 
{% set caption = "Register S1" %} 
{% set hidecaption = true %} 
{% block form %}

<div class="nhsuk-grid-column-two-thirds">
  <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
    <form action="s1-entitlement-updated" method="post">
  

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Date S073 sent to member state</dt>
          <dd class="nhsuk-summary-list__value">5 July 2024</dd>

          <dd class="nhsuk-summary-list__actions">
            <a href="#"> Change<span class="nhsuk-u-visually-hidden"> First name</span> </a>
          </dd>
        </div>
      </dl>

    </form>
  </fieldset>
</div>
{% endblock %}
