{% extends '../s1/_form.html' %} 
{% set title %}Which entitlement would you like to create?{% endset %} 
{% set caption = "Register S1" %} 
{% set hidecaption = true %} 
{% block form %}

<div class="nhsuk-grid-column-two-thirds">
  <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
    <div class="nhsuk-hint" id="contact-hint">Select one option</div>
    <form action="s1-personal-details" method="post">
      <div class="nhsuk-form-group">
        <div class="nhsuk-radios">
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="ehic" name="entitlement" type="radio" value="ehic" aria-controls="conditional-contact-2" aria-expanded="false" />
            <label class="nhsuk-label nhsuk-radios__label" for="ehic"> EHIC </label>
          </div>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="s1" name="entitlement" type="radio" value="s1" aria-controls="conditional-contact-1" aria-expanded="false" />
            <label class="nhsuk-label nhsuk-radios__label" for="s1"> S1 registration </label>
          </div>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="s1" name="entitlement" type="radio" value="s1" aria-controls="conditional-contact-1" aria-expanded="false" />
            <label class="nhsuk-label nhsuk-radios__label" for="s1"> S1 FAS1 enquiry </label>
          </div>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="s1" name="entitlement" type="radio" value="s2" aria-controls="conditional-contact-1" aria-expanded="false" />
            <label class="nhsuk-label nhsuk-radios__label" for="s1"> S2/E112 </label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="prc" name="entitlement" type="radio" value="prc" aria-controls="conditional-contact-3" aria-expanded="false" />
            <label class="nhsuk-label nhsuk-radios__label" for="prc"> PRC </label>
          </div>
        </div>
      </div>
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">Continue</button>
    </form>
  </fieldset>
</div>
{% endblock %}
