{% extends '../s1/_form.html' %} 
{% set title %}Enter address manually{% endset %}
 {% set caption = "Register S1" %} 
 
 {% block form %}

<div class="nhsuk-grid-column-two-thirds">
  <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
    <form action="s1-entitlement-details" method="post">
      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-label--s" for="address-town"> Address line 1 </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="address-town" name="address-town" type="text" />
      </div>
      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-label--s" for="address-town"> Address line 2 (optional) </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="address-town" name="address-town" type="text" />
      </div>
      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-label--s" for="address-town"> Address line 3 (optional) </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="address-town" name="address-town" type="text" />
      </div>
      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-label--s" for="address-town"> Town or city </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="address-town" name="address-town" type="text" />
      </div>
      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-label--s" for="address-town"> Postcode </label>
        <input class="nhsuk-input nhsuk-input--width-10" id="address-town" name="address-town" type="text" />
      </div>
      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-label--s" for="address-town">Country </label>
        <div class="nhsuk-hint" id="example-hint">For example, France</div>
        <input class="nhsuk-input nhsuk-input--width-20" id="address-town" name="address-town" type="text" />
      </div>

      <button class="nhsuk-button" type="submit">Continue</button>

      <p><a href="s1-address-lookup">Look up an address</a></p>
      <p><a href="#">Cancel</a></p>
    </form>
  </fieldset>
</div>

{% endblock %}
