{% extends '../s1/_form.html' %} 
{% set title %}Confirm address{% endset %}
 {% set caption = "Register S1" %} 
 
 {% block form %}

<div class="nhsuk-grid-column-two-thirds">
  <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
    <form action="s1-entitlement-details" method="post">
      <div class="nhsuk-inset-text" style="margin-top: auto;">

        <p>1 Washington Street<br> Worcester<br> WR1 1NL</p>
      </div>

      <button class="nhsuk-button" type="submit">Use this address</button>

      <p><a href="s1-address-lookup">Use a different address</a></p>
      <p><a href="s1-address-manual">Enter address manually</a></p>
      <p><a href="#">Cancel</a></p>
    </form>
  </fieldset>
</div>

{% endblock %}
