{% extends '../s1/_form.html' %} 
{% set title %}Entitlement details{% endset %} 
{% set caption = "Register S1" %} 
{% block form %}


<div class="nhsuk-grid-column-two-thirds">
  <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
    <form action="s1-institute-details" method="post">
      <h3 class="nhsuk-heading-m">Cover dates</h3>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-label--s" for="example-start-date-day">Start date</label>
        <div class="nhsuk-hint" id="example-start-date-hint">For example, 15 3 2024</div>
        <div class="nhsuk-date-input" id="example-start-date">
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="example-start-date-day">Day</label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-start-date-day" name="example-start-date-day" type="number" pattern="[0-9]*" value="" />
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="example-start-date-month">Month</label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-start-date-month" name="example-start-date-month" type="number" pattern="[0-9]*" value="" />
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="example-start-date-year">Year</label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-start-date-year" name="example-start-date-year" type="number" pattern="[0-9]*" value="" />
            </div>
          </div>
        </div>
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-labe nhsuk-label--s" for="example-end-date-day">End date (optional)</label>
        <div class="nhsuk-hint" id="example-end-date-hint">For example, 15 3 2024</div>
        <div class="nhsuk-date-input" id="example-end-date">
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="example-end-date-day">Day</label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-end-date-day" name="example-end-date-day" type="number" pattern="[0-9]*" value="" />
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="example-end-date-month">Month</label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-end-date-month" name="example-end-date-month" type="number" pattern="[0-9]*" value="" />
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="example-end-date-year">Year</label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-end-date-year" name="example-end-date-year" type="number" pattern="[0-9]*" value="" />
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="example-issue-date-day">Issue date</label>
        <div class="nhsuk-hint" id="example-issue-date-hint">For example, 15 3 1924</div>
        <div class="nhsuk-date-input" id="example-issue-date">
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="example-issue-date-day">Day</label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-issue-date-day" name="example-issue-date-day" type="number" pattern="[0-9]*" value="" />
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="example-issue-date-month">Month</label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-issue-date-month" name="example-issue-date-month" type="number" pattern="[0-9]*" value="" />
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="example-issue-date-year">Year</label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-issue-date-year" name="example-issue-date-year" type="number" pattern="[0-9]*" value="" />
            </div>
          </div>
        </div>
      </div> -->

      <button class="nhsuk-button" type="submit">Continue</button>
      <p><a href="cancel-entitlement">Cancel</a></p>
    </form>
  </fieldset>
</div>

{% endblock %}
