<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Remove dependant - Manage overseas entitlements and treatments - NHSBSA
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">
                    
                  <div class="nhsuk-grid-column-two-thirds">
                    
                    {{ backLink({
                      "href": "javascript:history.go(-1)",
                      "text": "Go back"
                    }) }}

                    <h1 class="app-page-heading">
                        <span class="nhsuk-caption-l">
                          Dependant details
                          <span class="nhsuk-u-visually-hidden"> - </span>
                        </span>
                        Are you sure you want to remove this dependant?
                    </h1>
   
                    <form action="remove-dependant">
                    
                      {% if data['dependant-id'] == '1' %}
                        <dl class="nhsuk-summary-list">

                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Personal identification number (PIN)</dt>
                            <dd class="nhsuk-summary-list__value">
                              {% if data['dependant-s1-entitlement-pin'] %}
                                {{ data['dependant-s1-entitlement-pin'] }}
                              {% else %}
                                1234567890
                              {% endif %}
                            </dd>
                          </div>

                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Relationship to Main</dt>
                            <dd class="nhsuk-summary-list__value">
                              {% if data['relationship-to-main'] %}
                                {{ data['relationship-to-main'] }}
                              {% else %}
                                Wife
                              {% endif %}
                            </dd>
                          </div>


                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">First names</dt>
                            <dd class="nhsuk-summary-list__value">
                              {% if data['dependant-first-name'] %}
                                {{ data['dependant-first-name'] }}
                              {% else %}
                                Jane
                              {% endif %}
                            </dd>
                          </div>


                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Last name</dt>
                            <dd class="nhsuk-summary-list__value">
                              {% if data['dependant-last-name'] %}
                                {{ data['dependant-last-name'] }}
                              {% else %}
                                Doe
                              {% endif %}
                            </dd>
                          </div>


                          <!--div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">First name at birth</dt>
                            <dd class="nhsuk-summary-list__value">
                              {% if data['dependant-birth-first-name'] %}
                                {{ data['dependant-birth-first-name'] }}
                              {% else %}
                                Not provided
                              {% endif %}
                            </dd>
                          </div-->


                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Last name at birth</dt>
                            <dd class="nhsuk-summary-list__value">
                              {% if data['dependant-birth-last-name'] %}
                                {{ data['dependant-birth-last-name'] }}
                              {% else %}
                                Not provided
                              {% endif %}
                            </dd>
                          </div>


                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Date of birth</dt>
                            <dd class="nhsuk-summary-list__value">
                                {% if data['dependant-dob-day'] and data['dependant-dob-month'] and data['dependant-dob-year'] %}
                                      {% set day = data['dependant-dob-day'] %}
                                      {% set month = data['dependant-dob-month'] | int %}
                                      {% set year = data['dependant-dob-year'] %}
                          
                                      {# Define month names #}
                                      {% set month_names = [
                                          "January", "February", "March", "April", "May", "June",
                                          "July", "August", "September", "October", "November", "December"
                                      ] %}
                          
                                      {# Get the month name #}
                                      {% set month_name = month_names[month - 1] %}
                          
                                      {# Display the date in the format "day month year" #}
                                      {{ day | int }} {{ month_name }} {{ year }}
                                  {% else %}
                                      29 December 1975
                                  {% endif %}
                            </dd>
                          </div>


                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Country of nationality</dt>
                            <dd class="nhsuk-summary-list__value">
                              {% if data['s1-entitlement-dependant-nationality'] %}
                                {{ data['s1-entitlement-dependant-nationality'] }}
                              {% else %}
                                France
                              {% endif %}
                            </dd>
                          </div>


                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Sex</dt>
                            <dd class="nhsuk-summary-list__value">
                              {% if data['dependant-s1-entitlement-sex-selection'] %}
                                {{ data['dependant-s1-entitlement-sex-selection'] }}
                              {% else %}
                                Female
                              {% endif %}
                            </dd>
                          </div>

                        </dl>

                        <h2 class="nhsuk-heading-m">Address details</h2>

                        <dl class="nhsuk-summary-list">

                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Same home address as Main</dt>
                            <dd class="nhsuk-summary-list__value">
                              {% if data['same-address-as-Main'] %}
                                {{ data['same-address-as-Main'] }}
                              {% else %}
                                Yes
                              {% endif %}
                            </dd>
                          </div>


                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Home address</dt>
                            <dd class="nhsuk-summary-list__value">
                              {% if data['same-address-as-Main'] == 'yes' %}
                                1 Washington Street, United Kingdom
                                {% else %}
                                  {% if data['dependant-address-line-1'] or data['dependant-address-country'] %}
                                    {{ data['dependant-address-line-1'] }},
                                    {{ data['dependant-address-country'] }}
                                  {% else %}
                                  27 York Place, United Kingdom
                                {% endif %}
                              {% endif %}
                              <details class="nhsuk-details" style="background-color: #f0f4f5; padding: 0px 0px 0px">
                                  <summary class="nhsuk-details__summary">
                                      <span class="nhsuk-details__summary-text">
                                          View full address
                                      </span>
                                  </summary>
                                  <div class="nhsuk-details__text">
                                  {% if data['same-address-as-Main'] == 'yes' %}
                                    1 Washington Street<br>
                                    Worcester<br>
                                    WR1 1NL<br>
                                    United Kingdom
                                  {% else %}
                                    {% if data['dependant-address-line-1'] or data['dependant-address-line-2'] or data['dependant-address-town'] or data['dependant-address-region'] or data['dependant-address-postcode'] or data['dependant-address-country'] %}
                                      {% if data['dependant-address-line-1'] %}
                                        {{ data['dependant-address-line-1'] }}<br>
                                      {% endif %}
                                      {% if data['dependant-address-line-2'] %}
                                        {{ data['dependant-address-line-2'] }}<br>
                                      {% endif %}
                                      {% if data['dependant-address-town'] %}
                                        {{ data['dependant-address-town'] }}<br>
                                      {% endif %}
                                      {% if data['dependant-address-region'] %}
                                        {{ data['dependant-address-region'] }}<br>
                                      {% endif %}
                                      {% if data['dependant-address-postcode'] %}
                                        {{ data['dependant-address-postcode'] }}<br>
                                      {% endif %}
                                      {% if data['dependant-address-country'] %}
                                        {{ data['dependant-address-country'] }}
                                      {% endif %}
                                    {% else %}
                                      27 York Place<br>
                                      Worcester<br>
                                      WR1 3DR<br>
                                      United Kingdom
                                    {% endif %}
                                  {% endif %}
                                </div>
                              </details>
                            </dd>
                          </div>
                          
                          </dl>
                          

                          {% else %}
                          <dl class="nhsuk-summary-list">

                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">Personal identification number (PIN)</dt>
                              <dd class="nhsuk-summary-list__value">
                                {% if data['dependant-s1-entitlement-pin'] %}
                                  {{ data['dependant-s1-entitlement-pin'] }}
                                {% else %}
                                  0987654321
                                {% endif %}
                              </dd>
                            </div>


                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">Relationship to Main</dt>
                              <dd class="nhsuk-summary-list__value">
                                {% if data['relationship-to-main'] %}
                                  {{ data['relationship-to-main'] }}
                                {% else %}
                                  Son
                                {% endif %}
                              </dd>
                            </div>
  
  
                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">First names</dt>
                              <dd class="nhsuk-summary-list__value">
                                {% if data['dependant-first-name'] %}
                                  {{ data['dependant-first-name'] }}
                                {% else %}
                                  Joe
                                {% endif %}
                              </dd>
                            </div>
  
  
                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">Last name</dt>
                              <dd class="nhsuk-summary-list__value">
                                {% if data['dependant-last-name'] %}
                                  {{ data['dependant-last-name'] }}
                                {% else %}
                                  Bloggs
                                {% endif %}
                              </dd>
                            </div>
  
  
                            <!--div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">First name at birth</dt>
                              <dd class="nhsuk-summary-list__value">
                                {% if data['dependant-birth-first-name'] %}
                                  {{ data['dependant-birth-first-name'] }}
                                {% else %}
                                  Not provided
                                {% endif %}
                              </dd>
                            </div-->
  
  
                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">Last name at birth</dt>
                              <dd class="nhsuk-summary-list__value">
                                {% if data['dependant-birth-last-name'] %}
                                  {{ data['dependant-birth-last-name'] }}
                                {% else %}
                                  Not provided
                                {% endif %}
                              </dd>
                            </div>
  
  
                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">Date of birth</dt>
                              <dd class="nhsuk-summary-list__value">
                                  {% if data['dependant-dob-day'] and data['dependant-dob-month'] and data['dependant-dob-year'] %}
                                        {% set day = data['dependant-dob-day'] %}
                                        {% set month = data['dependant-dob-month'] | int %}
                                        {% set year = data['dependant-dob-year'] %}
                            
                                        {# Define month names #}
                                        {% set month_names = [
                                            "January", "February", "March", "April", "May", "June",
                                            "July", "August", "September", "October", "November", "December"
                                        ] %}
                            
                                        {# Get the month name #}
                                        {% set month_name = month_names[month - 1] %}
                            
                                        {# Display the date in the format "day month year" #}
                                        {{ day | int }} {{ month_name }} {{ year }}
                                    {% else %}
                                        14 September 1999
                                    {% endif %}
                              </dd>
                            </div>


                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">Country of nationality</dt>
                              <dd class="nhsuk-summary-list__value">
                                {% if data['s1-entitlement-dependant-nationality'] %}
                                  {{ data['s1-entitlement-dependant-nationality'] }}
                                {% else %}
                                  France
                                {% endif %}
                              </dd>
                            </div>
  
  
                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">Sex</dt>
                              <dd class="nhsuk-summary-list__value">
                                {% if data['dependant-s1-entitlement-sex-selection'] %}
                                  {{ data['dependant-s1-entitlement-sex-selection'] }}
                                {% else %}
                                  Male
                                {% endif %}
                              </dd>
                            </div>
  
                          </dl>
  
                          <h2 class="nhsuk-heading-m">Address details</h2>
  
                          <dl class="nhsuk-summary-list">
  
                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">Same home address as Main</dt>
                              <dd class="nhsuk-summary-list__value">
                                {% if data['same-address-as-Main'] %}
                                  {{ data['same-address-as-Main'] }}
                                {% else %}
                                  Yes
                                {% endif %}
                              </dd>
                            </div>
  
  
                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">Home address</dt>
                              <dd class="nhsuk-summary-list__value">
                                {% if data['same-address-as-Main'] == 'yes' %}
                                  1 Washington Street, United Kingdom
                                  {% else %}
                                    {% if data['dependant-address-line-1'] or data['dependant-address-country'] %}
                                      {{ data['dependant-address-line-1'] }},
                                      {{ data['dependant-address-country'] }}
                                    {% else %}
                                    27 York Place, United Kingdom
                                  {% endif %}
                                {% endif %}
                                <details class="nhsuk-details" style="background-color: #f0f4f5; padding: 0px 0px 0px">
                                    <summary class="nhsuk-details__summary">
                                        <span class="nhsuk-details__summary-text">
                                            View full address
                                        </span>
                                    </summary>
                                    <div class="nhsuk-details__text">
                                    {% if data['same-address-as-Main'] == 'yes' %}
                                      1 Washington Street<br>
                                      Worcester<br>
                                      WR1 1NL<br>
                                      United Kingdom
                                    {% else %}
                                      {% if data['dependant-address-line-1'] or data['dependant-address-line-2'] or data['dependant-address-town'] or data['dependant-address-region'] or data['dependant-address-postcode'] or data['dependant-address-country'] %}
                                        {% if data['dependant-address-line-1'] %}
                                          {{ data['dependant-address-line-1'] }}<br>
                                        {% endif %}
                                        {% if data['dependant-address-line-2'] %}
                                          {{ data['dependant-address-line-2'] }}<br>
                                        {% endif %}
                                        {% if data['dependant-address-town'] %}
                                          {{ data['dependant-address-town'] }}<br>
                                        {% endif %}
                                        {% if data['dependant-address-region'] %}
                                          {{ data['dependant-address-region'] }}<br>
                                        {% endif %}
                                        {% if data['dependant-address-postcode'] %}
                                          {{ data['dependant-address-postcode'] }}<br>
                                        {% endif %}
                                        {% if data['dependant-address-country'] %}
                                          {{ data['dependant-address-country'] }}
                                        {% endif %}
                                      {% else %}
                                        27 York Place<br>
                                        Worcester<br>
                                        WR1 3DR<br>
                                        United Kingdom
                                      {% endif %}
                                    {% endif %}
                                  </div>
                                </details>
                              </dd>
                            
                            </div>
                          </dl>
                          {% endif %}

                          
                          <div class="nhsuk-inset-text">
                            <span class="nhsuk-u-visually-hidden">Information: </span>
                            <p>By removing this dependant, you will be removing all of their details.</p>
                          </div>


                          <div class="nhsuk-form-group">
                            <div class="nhsuk-radios">

                              <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="remove-dependant-yes" name="remove-dependant" type="radio" value="yes">
                                <label class="nhsuk-label nhsuk-radios__label" for="remove-dependant-yes">
                                  Yes
                                </label>
                              </div>
                        
                              <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="remove-dependant-no" name="remove-dependant" type="radio" value="no">
                                <label class="nhsuk-label nhsuk-radios__label" for="remove-dependant-no">
                                  No
                                </label>
                              </div>
                        
                            </div>
                          </div>


                            
                          <button class="nhsuk-button" type="submit">
                            Save and continue
                          </button>

                        </form>

                        <p><a href="../account/entitlement-details">Cancel</a></p>


                </div>

              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<!-- Date format -->
<script>
  function formatDate(day, month, year) {
    // Add one month to the current month
    let newMonth = parseInt(month) + 1;
    let newYear = parseInt(year);

    // Check if the new month exceeds 12 (December)
    if (newMonth > 12) {
        newMonth = 1; // Reset to January
        newYear += 1; // Increment the year
    }

    const months = [
        "January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"
    ];

    const monthName = months[newMonth - 1]; // Get the new month name
    return `${parseInt(day)} ${monthName} ${newYear}`;
}
</script>
{% endblock %}