{% extends 'layouts/_form.html' %} 
{% set title %}Look up home address{% endset %}
 {% set caption = "S1/S072 registration" %}
 
 {% block form %}

<div class="nhsuk-grid-column-two-thirds">
  <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
    <form action="address-confirm" method="post">
   
    
      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-label--s" for="1"> Postcode  </label>
        <div class="nhsuk-hint" id="example-hint">For example, AA3 1AB.</div>
        <input class="nhsuk-input nhsuk-input--width-20" id="1" name="1" type="text" value="" />
      </div>
      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-label--s" for="1"> Building number or name</label>
        <div class="nhsuk-hint" id="example-hint">For example, 15 or Prospect Cottage.</div>
        <input class="nhsuk-input nhsuk-input--width-20" id="1" name="1" type="text" value="" />
      </div>
      
    
     
    


        <button class="nhsuk-button" type="submit">Find address</button> 

    
      <p><a href="address-manual">Enter address manually</a></p>
      <p><a href="#">Cancel</a></p>

      </div>

    


      </form>
  </fieldset>
</div>
  
{% endblock %}
