{% extends 'layouts/_form.html' %} 
{% set title %}Check your answers{% endset %} 
{% set caption = "S1/S072 registration" %} 

{% block form %}

<div class="nhsuk-grid-column-two-thirds">
  <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
    <form action="confirmation" method="post">
      <h2 class="nhsuk-heading-m">Personal details</h2>

      <dl class="nhsuk-summary-list">


        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">First name</dt>
          <dd class="nhsuk-summary-list__value">Juan</dd>

          <dd class="nhsuk-summary-list__actions">
            <a href="#"> Change<span class="nhsuk-u-visually-hidden"> First name</span> </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Last name</dt>
          <dd class="nhsuk-summary-list__value">Sanchez</dd>

          <dd class="nhsuk-summary-list__actions">
            <a href="#"> Change<span class="nhsuk-u-visually-hidden">Last name</span> </a>
          </dd>
        </div>
        <!-- <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">First name at birth (if different)</dt>
          <dd class="nhsuk-summary-list__value"></dd>

          <dd class="nhsuk-summary-list__actions">
            <a href="#"> Change<span class="nhsuk-u-visually-hidden">Last name</span> </a>
          </dd>
        </div> -->
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Last name at birth (if different)</dt>
          <dd class="nhsuk-summary-list__value"></dd>

          <dd class="nhsuk-summary-list__actions">
            <a href="#"> Change<span class="nhsuk-u-visually-hidden">Last name</span> </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Date of birth</dt>
          <dd class="nhsuk-summary-list__value">1 January 1980</dd>

          <dd class="nhsuk-summary-list__actions">
            <a href="#"> Change<span class="nhsuk-u-visually-hidden">Date of birth</span> </a>
          </dd>
        </div>
        <!-- <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Sex</dt>
          <dd class="nhsuk-summary-list__value">Male</dd>

          <dd class="nhsuk-summary-list__actions">
            <a href="#"> Change<span class="nhsuk-u-visually-hidden">Date of birth</span> </a>
          </dd>
        </div> -->

              </dl>

      <h2 class="nhsuk-heading-m">Address details</h2>

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Address</dt>
          <dd class="nhsuk-summary-list__value">
            1 Washington Street<br>
            Worcester<br>
            WR1 1NL<br>
            United Kingdom
         
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="#"> Change<span class="nhsuk-u-visually-hidden"> uk address</span> </a>
          </dd>
        </div>

    
      </dl>
      <h2 class="nhsuk-heading-m">Entitlement details</h2>

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Persons ID number in member state</dt>
          <dd class="nhsuk-summary-list__value">123456</dd>

          <dd class="nhsuk-summary-list__actions">
            <a href="#"> Change<span class="nhsuk-u-visually-hidden"> First name</span> </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Start date</dt>
          <dd class="nhsuk-summary-list__value">5 June 2024</dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="#"> Change<span class="nhsuk-u-visually-hidden"> uk address</span> </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">End date (optional)</dt>
          <dd class="nhsuk-summary-list__value"></dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="#"> Change<span class="nhsuk-u-visually-hidden"> uk address</span> </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Issued date</dt>
          <dd class="nhsuk-summary-list__value"></dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="#"> Change<span class="nhsuk-u-visually-hidden"> uk address</span> </a>
          </dd>
        </div>  
         <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Status</dt>
          <dd class="nhsuk-summary-list__value">Insured person</dd>

          <dd class="nhsuk-summary-list__actions">
            <a href="#"> Change<span class="nhsuk-u-visually-hidden">Date of birth</span> </a>
          </dd>
        </div> 
      </dl>

      <h2 class="nhsuk-heading-m">Institution details</h2>

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Institution ID</dt>
          <dd class="nhsuk-summary-list__value">104940005</dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="#"> Change<span class="nhsuk-u-visually-hidden"> uk address</span> </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Institution name</dt>
          <dd class="nhsuk-summary-list__value">Hospital Clínico de Barcelona</dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="#"> Change<span class="nhsuk-u-visually-hidden"> uk address</span> </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Institution address</dt>
          <dd class="nhsuk-summary-list__value">
            C. de Villarroel,<br />
            L'Eixample,<br />
            08036<br />
            Barcelona
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="#"> Change<span class="nhsuk-u-visually-hidden"> uk address</span> </a>
          </dd>
        </div>
      </dl>

      <button class="nhsuk-button nhsuk-u-margin-top-3" data-module="nhsuk-button" type="submit">Continue</button>
    </form>
  </fieldset>
</div>

{% endblock %}
