{% extends 'layouts/_form.html' %} 
{% set title %}S1 registration complete for Juan Sanchez{% endset %} 
{% set hidecaption = true %} 
{% set hideTitle = true %} 
{% set showCard = true %} 
{% set cardTitle %}S1/SO72 details registered{% endset %}


{% block form %}

<div class="nhsuk-grid-column-two-thirds">
   <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
     <form method="post">
      <h3 class="nhsuk-heading-m">Next steps</h3>
      
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>
          Send S073 registration confirmation to member state.
        </li>
        <li>
          Print and send the DL1609 to Juan Sanchez.
        </li>

      </ul>
      <a href="#" class="nhsuk-button nhsuk-button--secondary" >Print DL1609</a>

      <br>
      <button class="nhsuk-button" type="submit">S1 entitlement overview</button>

   </form>
 </fieldset>
 </div>     

{% endblock %}
