{% extends 'layouts/_form.html' %} 
{% set title %}Confirm address{% endset %}
{% set hidecaption = true %} 
 
 {% block form %}

<div class="nhsuk-grid-column-two-thirds">
  <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
    <form method="post">
      <div class="nhsuk-inset-text" style="margin-top: auto;">

        <p>9 Grove Road<br>
          Southall<br>
          UB76 7WZ<br>
          United Kingdom
          </p>
      </div>

      <button class="nhsuk-button " type="submit">Use this address</button>

      <p><a href="dependant-address">Use a different address</a></p>
      <p><a href="#">Enter address manually</a></p>
      <p><a href="#">Cancel</a></p>
    </form>
  </fieldset>
</div>

{% endblock %}
