{% extends 'layouts/_form.html' %} 
{% set title %}What was the source of your enquiry?{% endset %} 
{% set caption = "S1/S072 registration" %} 
{% block form %}

<div class="nhsuk-grid-column-two-thirds">
  <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
    <div class="nhsuk-hint" id="contact-hint">Select one option</div>
    <form method="post">
      <div class="nhsuk-form-group">
        <div class="nhsuk-radios">
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="memeberState" name="memeberState" type="radio" value="ehic" aria-controls="conditional-contact-2" aria-expanded="false" />
            <label class="nhsuk-label nhsuk-radios__label" for="memeberState"> Member state </label>
          </div>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="individual" name="individual" type="radio" value="individual" aria-controls="conditional-contact-1" aria-expanded="false" />
            <label class="nhsuk-label nhsuk-radios__label" for="individual"> S1/S072 registration </label>
          </div>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="dwp" name="dwp" type="radio" value="dwp" aria-controls="conditional-contact-1" aria-expanded="false" />
            <label class="nhsuk-label nhsuk-radios__label" for="dwp"> Department for Work and Pensions (DWP)</label>
          </div>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="ovm" name="entitlement" type="radio" value="ovm" aria-controls="conditional-contact-1" aria-expanded="false" />
            <label class="nhsuk-label nhsuk-radios__label" for="ovm"> Overseas visitor manager (OVM)</label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="gp" name="gp" type="radio" value="gp" aria-controls="conditional-contact-3" aria-expanded="false" />
            <label class="nhsuk-label nhsuk-radios__label" for="gp"> GP </label>
          </div>
        </div>
      </div>
      <button class="nhsuk-button nhsuk-u-margin-top-3" data-module="nhsuk-button" type="submit">Continue</button>
    </form>
  </fieldset>
</div>
{% endblock %}
