{% extends 'layouts/_form.html' %} 
{% set title %}S1 registration complete for Juan Sanchez{% endset %} 
{% set hidecaption = true %} 
{% set hideTitle = true %} 
{% set showCard = true %} 
{% set showCard = true %} 
{% set cardTitle %}Dl1609 details registered{% endset %}


{% block form %}

<div class="nhsuk-grid-column-two-thirds">
   <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
     <form method="post">
      <p></p>
      <button class="nhsuk-button" type="submit">S1 entitlement overview</button>

   </form>
 </fieldset>
 </div>     

{% endblock %}
