{% extends 'layouts/_form.html' %} 
{% set title %} Print and resend DL1609 form to applicant{% endset %} 
{% set hidecaption = true %} 

{% block form %}
<div class="nhsuk-grid-column-two-thirds">
    <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
      <form method="post">
        <input type="hidden" id="custId" name="dl1609" value="complete">
    
   
        <table role="table" class="nhsuk-table-responsive">
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Type
              </th>
              <th role="columnheader" class="" scope="col">
                Date added
              </th>
              <th role="columnheader" class="" scope="col">
                Action
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">

            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                DL1609
              </td>
              <td role="cell" class="nhsuk-table__cell">
                5 June 2024
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <a href="#">Print DL1609 form</a>
              </td>
            </tr>      
          </tbody>
        </table>
      
       
      <br><br>
      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-label--s" for="example"> Additional information (optional) </label>
        <div class="nhsuk-hint" id="example-hint">This will be added to the entitlement notes.</div>
        <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
      </div>
  
          <button class="nhsuk-button" type="submit">Save and continue</button> 
  
      
       
  
  
      
  
  
        </form>
    </fieldset>
  </div>   
{% endblock %}
