<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Select the treatments to be updated - Update person details - Legal name change - Manage overseas entitlements and
treatments - NHSBSA
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-main-wrapper" id="maincontent">


          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <form action="" method="post" class="form">
                <div class="nhsuk-form-group">

                  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                      <h1 class="nhsuk-heading-l">
                        No treatments found
                      </h1>
                    </legend>
                    <hr style="border-bottom:4px solid #005eb8; margin:0;">
                    <br />

                    <p>There are no treatments linked to any claim hence user cannot proceed further in the journey.</p>
                    <p>Data entered within this journey will not be saved.</p>
                    
                        <button class="nhsuk-button nhsuk-button--primary" type="submit" >
                            Return to person details
                        </button>
                    </a>

                  </fieldset>

                </div>


              </form>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}