<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-sidebar.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}S1/S072 Entitlement details ID 10000001 - Manage overseas entitlements and treatments - NHSBSA{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item">
            <a class="nhsuk-breadcrumb__link" href="../../search/search-by-person">Search (Person)</a>
          </li>
          <li class="nhsuk-breadcrumb__item">
            <a class="nhsuk-breadcrumb__link" href="../../search/search-results">Search results</a>
          </li>
          <li class="nhsuk-breadcrumb__item">
            <a class="nhsuk-breadcrumb__link" href="../entitlements-and-treatments">Entitlements and treatments</a>
          </li>
          <li class="nhsuk-breadcrumb__item">Entitlement details (S1/S072)</a>
          </li>
        </ol>
      </div>
    </div>

    <p class="nhsuk-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink" href="">Back to search results</a>
    </p>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-main-wrapper" id="maincontent">

          
      
          
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <h1 class="nhsuk-heading-xl">
                S1/S072 details
                <br>
                <span style="display: block; font-size: 2rem; font-weight: normal;">
                  Entitlement ID: 100001
                </span>
              </h1>
            </div>
          </div>
      
      
          <!-- Tabs -->
          <div class="nhsuk-tabs" data-module="nhsuk-tabs">
            <h2 class="nhsuk-tabs__title">S1/S072 details</h2>

            <ul class="nhsuk-tabs__list">
              <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
                <a class="nhsuk-tabs__tab" href="#entitlement-details">Entitlement details</a>
              </li>
              <li class="nhsuk-tabs__list-item">
                <a class="nhsuk-tabs__tab" href="#dependants">Dependants</a>
              </li>
            </ul>


            <!-- Tab content -->
            <div class="nhsuk-tabs__panel" id="entitlement-details">
              <!-- Entitlement details tab content starts -->
                
                <dl class="nhsuk-summary-list">

                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        First names
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        John
                      </dd>
                      <dd class="nhsuk-summary-list__actions">
                        
                      </dd>
                    </div>

                    
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Last name
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        Doe
                      </dd>
                      <dd class="nhsuk-summary-list__actions">
                        
                      </dd>
                    </div>


                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        S1 registration type
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        S1/S072
                      </dd>
                      <dd class="nhsuk-summary-list__actions">
                        
                      </dd>
                    </div>


                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Entitlement for
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        Main
                      </dd>
                      <dd class="nhsuk-summary-list__actions">
                        
                      </dd>
                    </div>


                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Entitlement status
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        {% if data['cancel-s1-entitlement'] == 'yes' %}
                        <strong class="nhsuk-tag nhsuk-tag--red">
                          Cancelled
                        </strong>
                        {% else %}
                        <strong class="nhsuk-tag nhsuk-tag--green">
                          Registered
                        </strong>
                        {% endif %}
                      </dd>
                      <dd class="nhsuk-summary-list__actions">
                        <!-- Optional actions can go here if needed -->
                      </dd>
                    </div>
                    


                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Personal identification number (PIN)
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        {% if data['update-s1-entitlement-details'] == 'yes' %}
                          {% if data['updated-s1-entitlement-pin'] %}
                            {{ data['updated-s1-entitlement-pin'] }}
                          {% else %}
                            1234567890
                          {% endif %}
                        {% else %}
                          {% if data['s1-entitlement-pin'] %}
                            {{ data['s1-entitlement-pin'] }}
                          {% else %}
                            1234567890
                          {% endif %}
                        {% endif %}
                      </dd>
                      <dd class="nhsuk-summary-list__actions">
                        <a href="change-s1-entitlement-details">
                          Change<span class="nhsuk-u-visually-hidden">personal identification number</span>
                        </a>
                      </dd>
                    </div>


                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Issue country
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        {% if data['update-s1-entitlement-details'] == 'yes' %}
                          {% if data['updated-s1-entitlement-country-of-issue'] %}
                            {{ data['updated-s1-entitlement-country-of-issue'] }}
                          {% else %}
                            France (FR)
                          {% endif %}
                        {% else %}
                          {% if data['s1-entitlement-country-of-issue'] %}
                            {{ data['s1-entitlement-country-of-issue'] }}
                          {% else %}
                            France (FR)
                          {% endif %}
                        {% endif %}
                      </dd>
                      <dd class="nhsuk-summary-list__actions">
                        
                      </dd>
                    </div>

                  
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Issue date
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        {% if data['update-s1-entitlement-details'] == 'yes' %}
                          {% if data['updated-s1-entitlement-issue-date-day'] and data['updated-s1-entitlement-issue-date-month'] and data['updated-s1-entitlement-issue-date-year'] %}
                              {% set day = data['updated-s1-entitlement-issue-date-day'] %}
                              {% set month = data['updated-s1-entitlement-issue-date-month'] | int %}
                              {% set year = data['updated-s1-entitlement-issue-date-year'] %}
                  
                              {# Define month names #}
                              {% set month_names = [
                                  "January", "February", "March", "April", "May", "June",
                                  "July", "August", "September", "October", "November", "December"
                              ] %}
                  
                              {# Get the month name #}
                              {% set month_name = month_names[month - 1] %}
                  
                              {# Display the date in the format "day month year" #}
                              {{ day | int }} {{ month_name }} {{ year }}
                            {% else %}
                              30 August 2024
                            {% endif %}
                        {% else %}
                          {% if data['s1-entitlement-issue-date-day'] and data['s1-entitlement-issue-date-month'] and data['s1-entitlement-issue-date-year'] %}
                            {% set day = data['s1-entitlement-issue-date-day'] %}
                            {% set month = data['s1-entitlement-issue-date-month'] | int %}
                            {% set year = data['s1-entitlement-issue-date-year'] %}
                
                            {# Define month names #}
                            {% set month_names = [
                                "January", "February", "March", "April", "May", "June",
                                "July", "August", "September", "October", "November", "December"
                            ] %}
                
                            {# Get the month name #}
                            {% set month_name = month_names[month - 1] %}
                
                            {# Display the date in the format "day month year" #}
                            {{ day | int }} {{ month_name }} {{ year }}
                          {% else %}
                            30 August 2024
                          {% endif %}
                        {% endif %}
                      </dd>
                      <dd class="nhsuk-summary-list__actions">
                        
                      </dd>
                    </div>


                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">Citizen status</dt>
                      <dd class="nhsuk-summary-list__value">
                        {% if data['s1-entitlement-citizen-status'] %}
                          {{ data['s1-entitlement-citizen-status'] }}
                        {% else %}
                          Insured person
                        {% endif %}
                      </dd>
                      <dd class="nhsuk-summary-list__actions">
                        <!-- Add any actions here if needed for interaction -->
                      </dd>
                    </div>


                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Start date
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        {% if data['update-s1-entitlement-details'] == 'yes' %}
                          {% if data['updated-s1-entitlement-start-date-day'] and data['updated-s1-entitlement-start-date-month'] and data['updated-s1-entitlement-start-date-year'] %}
                          {% set day = data['updated-s1-entitlement-start-date-day'] %}
                          {% set month = data['updated-s1-entitlement-start-date-month'] | int %}
                          {% set year = data['updated-s1-entitlement-start-date-year'] %}
              
                          {# Define month names #}
                          {% set month_names = [
                              "January", "February", "March", "April", "May", "June",
                              "July", "August", "September", "October", "November", "December"
                          ] %}
              
                          {# Get the month name #}
                          {% set month_name = month_names[month - 1] %}
              
                          {# Display the date in the format "day month year" #}
                          {{ day | int }} {{ month_name }} {{ year }}
                        {% else %}
                          5 September 2024
                      {% endif %}
                        {% else %}
                          {% if data['s1-entitlement-start-date-day'] and data['s1-entitlement-start-date-month'] and data['s1-entitlement-start-date-year'] %}
                            {% set day = data['s1-entitlement-start-date-day'] %}
                            {% set month = data['s1-entitlement-start-date-month'] | int %}
                            {% set year = data['s1-entitlement-start-date-year'] %}
                
                            {# Define month names #}
                            {% set month_names = [
                                "January", "February", "March", "April", "May", "June",
                                "July", "August", "September", "October", "November", "December"
                            ] %}
                
                            {# Get the month name #}
                            {% set month_name = month_names[month - 1] %}
                
                            {# Display the date in the format "day month year" #}
                            {{ day | int }} {{ month_name }} {{ year }}
                          {% else %}
                            5 September 2024
                          {% endif %}
                        {% endif %}
                      </dd>
                      <dd class="nhsuk-summary-list__actions">
                        
                      </dd>
                    </div>


                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        End date (optional)
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        {% if data['cancel-s1-entitlement'] == 'yes' %}
                          {# Check if cancellation date is provided #}
                          {% if data['entitlement-end-date-day'] and data['entitlement-end-date-month'] and data['entitlement-end-date-year'] %}
                            {% set day = data['entitlement-end-date-day'] %}
                            {% set month = data['entitlement-end-date-month'] | int %}
                            {% set year = data['entitlement-end-date-year'] %}
                            
                            {# Define month names #}
                            {% set month_names = [
                                "January", "February", "March", "April", "May", "June",
                                "July", "August", "September", "October", "November", "December"
                            ] %}
                            
                            {# Get the month name #}
                            {% set month_name = month_names[month - 1] %}
                            
                            {# Display the cancellation date in the format "day month year" #}
                            {{ day | int }} {{ month_name }} {{ year }}
                          {% else %}
                            {# Display fallback date if no cancellation date is entered #}
                            13 January 2024
                          {% endif %}
                        {% elif data['update-s1-entitlement-details'] == 'yes' %}
                          {# Check if update date is provided #}
                          {% if data['updated-s1-entitlement-end-date-day'] and data['updated-s1-entitlement-end-date-month'] and data['updated-s1-entitlement-end-date-year'] %}
                            {% set day = data['updated-s1-entitlement-end-date-day'] %}
                            {% set month = data['updated-s1-entitlement-end-date-month'] | int %}
                            {% set year = data['updated-s1-entitlement-end-date-year'] %}
                            
                            {# Define month names #}
                            {% set month_names = [
                                "January", "February", "March", "April", "May", "June",
                                "July", "August", "September", "October", "November", "December"
                            ] %}
                            
                            {# Get the month name #}
                            {% set month_name = month_names[month - 1] %}
                            
                            {# Display the update date in the format "day month year" #}
                            {{ day | int }} {{ month_name }} {{ year }}
                          {% else %}
                            {# Display fallback date if no update date is entered #}
                            <span class="nhsuk-u-visually-hidden">Not provided</span>
                          {% endif %}
                        {% else %}
                          {# Default case when there is no cancellation or update #}
                          {% if data['s1-entitlement-end-date-day'] and data['s1-entitlement-end-date-month'] and data['s1-entitlement-end-date-year'] %}
                            {% set day = data['s1-entitlement-end-date-day'] %}
                            {% set month = data['s1-entitlement-end-date-month'] | int %}
                            {% set year = data['s1-entitlement-end-date-year'] %}
                            
                            {# Define month names #}
                            {% set month_names = [
                                "January", "February", "March", "April", "May", "June",
                                "July", "August", "September", "October", "November", "December"
                            ] %}
                            
                            {# Get the month name #}
                            {% set month_name = month_names[month - 1] %}
                            
                            {# Display the entitlement end date in the format "day month year" #}
                            {{ day | int }} {{ month_name }} {{ year }}
                          {% else %}
                            <span class="nhsuk-u-visually-hidden">Not provided</span>
                          {% endif %}
                        {% endif %}
                      </dd>
                      <dd class="nhsuk-summary-list__actions">
                        <a href="#">
                          Change<span class="nhsuk-u-visually-hidden">entitlement end date</span>
                        </a>
                      </dd>
                    </div>
                </dl>


                <h2 class="nhsuk-heading-m">Institution details</h2>

                <dl class="nhsuk-summary-list">
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Institution ID
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      {% if data['change-s1-entitlement-institution-details'] == 'yes' and data['updated-s1-entitlement-institution-ID'] %}
                        {{ data['updated-s1-entitlement-institution-ID'] }}
                      {% else %}
                        0305300000
                      {% endif %}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                      <!-- Optional actions can go here if needed -->
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Institution name
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      {% if data['change-s1-entitlement-institution-details'] == 'yes' and data['updated-s1-entitlement-institution-name'] %}
                        {{ data['updated-s1-entitlement-institution-name'] }}
                      {% else %}
                        Caisse Regionale des Professions Liberales D'ile de France
                      {% endif %}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                      <!-- Optional actions can go here if needed -->
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Institution address
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      {% if data['change-s1-entitlement-institution-details'] == 'yes' 
                            and data['updated-s1-entitlement-institution-address-line-1'] 
                            and data['updated-s1-entitlement-institution-address-town'] 
                            and data['updated-s1-entitlement-institution-address-postcode'] 
                            and data['updated-s1-entitlement-institution-address-country'] %}
                        {{ data['updated-s1-entitlement-institution-address-line-1'] }}<br>
                        {% if data['updated-s1-entitlement-institution-address-line-2'] %}
                          {{ data['updated-s1-entitlement-institution-address-line-2'] }}<br>
                        {% endif %}
                        {{ data['updated-s1-entitlement-institution-address-town'] }}<br>
                        {% if data['updated-s1-entitlement-institution-address-region'] %}
                          {{ data['updated-s1-entitlement-institution-address-region'] }}<br>
                        {% endif %}
                        {{ data['updated-s1-entitlement-institution-address-postcode'] }}<br>
                        {{ data['updated-s1-entitlement-institution-address-country'] }}
                      {% else %}
                        22 Rue Violet<br>
                        Paris<br>
                        75015<br>
                        France (FR)
                      {% endif %}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                      <!-- Optional actions can go here if needed -->
                    </dd>
                  </div>                  
                </dl>
                
              </div>
              <!-- Entitlement details tab content ends -->


            <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="dependants">
              <!-- Dependants tab content starts -->
              
                <h3 class="nhsuk-heading-l">Dependants<span id="ariaLiveMessage" class="nhsuk-u-visually-hidden"> - contains 1 result</span></h3>
                {% if data['add-dependant'] == 'yes' or data['dr-add-main'] == 'yes' %}
                <table role="table" id="treatmentsTable" class="nhsuk-table-responsive">
                  <thead role="rowgroup" class="nhsuk-table__head">
                    <tr role="row">
                      <th role="columnheader" class="" scope="col">
                        Entitlement ID
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Record ID
                      </th>
                      <th role="columnheader" class="" scope="col">
                        First name
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Last name
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Date of birth
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Action
                      </th>
                    </tr>
                  </thead>
                
                  <tbody class="nhsuk-table__body">
                    <tr role="row" class="nhsuk-table__row">
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Entitlement ID</span>
                        <span>100002</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Record ID</span>
                        <span>654321</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">First name</span>
                        <span>Jane</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Last name</span>
                        <span>Doe</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Date of birth</span>
                        <span>29/12/1975</span>
                      </td>                     
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Action</span>
                        <a href="../dependant/personal-details">View<span class="nhsuk-u-visually-hidden">person record</span></a>
                      </td>
                    </tr>   
                  </tbody>
                </table>

                

                <a href="person-search?search-for=Dependant" class="nhsuk-button" style="margin-top: 40px;" role="button" onclick="setType('dependant')">
                  Link another dependant
                </a>
                {% else %}
                <p>There are no dependants linked to this entitlement.</p>
                <a href="person-search?search-for=Dependant" class="nhsuk-button" role="button" onclick="setType('dependant')">
                  Link a dependant
                </a>
                {% endif %}
                     
              </div>
            <!-- Dependants tab content ends -->


              

          </div>
          <!-- End of Tabs -->



       

        </div>
      </div>
    </div>

    <!-- Left-hand navigation -->
    <div class="nhsBSA-sidebar-nav">
      <div class="side-nav">
        <h3>
          John Doe<span class="nhsuk-caption-m nhsuk-caption--bottom">
          <span class="nhsuk-u-visually-hidden"> - </span>123456</span>
        </h3>
        <ul id="options" class="options">
          <li><a href="../personal-details">Personal details</a></li>
          <li><a class="active" href="../entitlements-and-treatments?add-s1-entitlement=yes">Entitlements and treatments</a></li>
          <li><a href="../case-history-person">Case history</a></li>
          <!--li><a href="../document">Documents</a></li-->
          <li><a href="../notes">Notes</a></li>
        </ul>
      </div>
    </div>
    <!-- End of navigation -->

  </div>
</div>
<!-- End of main content -->
      

<script>
  // Tabs
document.addEventListener("DOMContentLoaded", function () {
  const tabs = document.querySelectorAll(".nhsuk-tabs__tab");
  const panels = document.querySelectorAll(".nhsuk-tabs__panel");

  function hideAllPanels() {
    panels.forEach(panel => panel.classList.add("nhsuk-tabs__panel--hidden"));
    tabs.forEach(tab => tab.parentElement.classList.remove("nhsuk-tabs__list-item--selected"));
  }

  function showPanel(panelId) {
    const panel = document.querySelector(panelId);
    if (panel) {
      panel.classList.remove("nhsuk-tabs__panel--hidden");
    }
  }

  tabs.forEach(tab => {
    tab.addEventListener("click", function (event) {
      event.preventDefault();
      hideAllPanels();
      tab.parentElement.classList.add("nhsuk-tabs__list-item--selected");
      showPanel(tab.getAttribute("href"));
    });
  });

  // Initially show the Entitlement details tab
  hideAllPanels();
  showPanel("#entitlement-details");
  document.querySelector('a[href="#entitlement-details"]').parentElement.classList.add("nhsuk-tabs__list-item--selected");
});
</script>



<script>
// autocomplete js //
  accessibleAutocomplete.enhanceSelectElement({
    defaultValue : '',
    autoselect : true,  
    selectElement : document.querySelector('#NoteType-Drop')
  })
</script>


<script>
  // Function to set the current date and time
  function setCurrentDateTime(elementId) {
  var dateElement = document.getElementById(elementId);

  if (dateElement) {
    var currentDate = new Date();

    // Format the date as DD/MM/YYYY
    var day = String(currentDate.getDate()).padStart(2, '0');
    var month = String(currentDate.getMonth() + 1).padStart(2, '0'); // Months are zero-based
    var year = currentDate.getFullYear();

    var formattedDate = day + '/' + month + '/' + year;

    dateElement.textContent = formattedDate;
  }
}
  
  // Set the date for each task
  document.addEventListener("DOMContentLoaded", function () {
    setCurrentDateTime("currentDateS073");
    setCurrentDateTime("currentDateDL1609");
  });
  </script>  
{% endblock %}
