<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Select source of information - Manage overseas entitlements and treatments - NHSBSA
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">
                    
                  <div class="nhsuk-grid-column-two-thirds">
                    
                    {{ backLink({
                      "href": "javascript:history.go(-1)",
                      "text": "Go back"
                    }) }}

                    
                        
                    <form action="which-source" method="post">

                      <h1 class="app-page-heading">
                        <span class="nhsuk-caption-l">
                          S1/S072 entitlement
                            <span class="nhsuk-u-visually-hidden"> - </span>
                        </span>
                        Which source provided the information?
                      </h1>

                    
                    <div class="nhsuk-form-group">
                      <div class="nhsuk-radios">
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="member-state" name="source-of-information" type="radio" value="Member State" aria-controls="conditional-contact-1" aria-expanded="false" />
                          <label class="nhsuk-label nhsuk-radios__label" for="member-state">Member State (MS)</label>
                        </div>
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="individual" name="source-of-information" type="radio" value="Individual" aria-controls="conditional-contact-2" aria-expanded="false" />
                          <label class="nhsuk-label nhsuk-radios__label" for="individual">Individual</label>
                        </div>
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="GP" name="source-of-information" type="radio" value="General Practitioner (GP)" aria-controls="conditional-contact-3" aria-expanded="false" />
                          <label class="nhsuk-label nhsuk-radios__label" for="GP">General Practitioner (GP)</label>
                        </div>
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="other" name="source-of-information" type="radio" value="Other" aria-controls="conditional-contact-4" aria-expanded="false" />
                          <label class="nhsuk-label nhsuk-radios__label" for="other">Other</label>
                        </div>
                        
                        <div class="nhsuk-radios__conditional" id="conditional-contact-4" style="display: none;">
                          <div class="nhsuk-form-group">
                            <div class="nhsuk-hint" id="contact-hint" for="other-source-of-information-label">
                              Enter the source. If it is a third party, enter their name.<br> 
                              For example, The DWP.
                            </div>
                            <input class="nhsuk-input nhsuk-u-width-two-thirds" id="other-source-of-information-name" type="text" value="">
                          </div>
                        </div>
                      </div>
                    </div>
                    
                      


                      <button class="nhsuk-button nhsuk-u-margin-top-3" data-module="nhsuk-button" type="submit">Continue</button>

                      <p><a href="../account/entitlements-and-treatments">Cancel</a></p>

                    </form>

                  </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script>
  // Get the radio buttons and the conditional field
  const radios = document.querySelectorAll('input[name="source-of-information"]');
  const otherField = document.getElementById('conditional-contact-4');

  // Add change event listener to the radio buttons
  radios.forEach(radio => {
    radio.addEventListener('change', function() {
      if (this.value === 'Other') {
        otherField.style.display = 'block'; // Show "Other" field if "Other" is selected
      } else {
        otherField.style.display = 'none';  // Hide the "Other" field if another option is selected
      }
    });
  });
</script>
{% endblock %}
