<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-sidebar.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}Case history page{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <ol class="nhsuk-breadcrumb__list">
                    <li class="nhsuk-breadcrumb__item">
                        <a class="nhsuk-breadcrumb__link" href="search">Search (Person)</a>
                    </li>
                    <li class="nhsuk-breadcrumb__item">
                        <a class="nhsuk-breadcrumb__link" href="search-results">Search results (Person)</a>
                    </li>
                    <li class="nhsuk-breadcrumb__item">Laura Peteers (Case history)</li>
                </ol>
            </div>
        </div>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="search-results">Back to search results</a>
        </p>
    </div>
</nav>
{% endblock %}

<!--page content-->>
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">

        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">

                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <h1 class="nhsuk-heading-xl">Case history</h1>
                        </div>
                    </div>

                    <!--start of secondary navigation-->
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <nav class="nhsuk-secondary-navigation nav-tabs-bg" aria-label="Secondary navigation"
                                style="background-color:#f0f4f5;">
                                <ul class="nhsuk-secondary-navigation__list">
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link" aria-current="page"
                                            href="person">Person history</a>
                                    </li>
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link" href="treatment-8">Treatment
                                            history</a>
                                    </li>
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link" href="resub-2">Resub history</a>
                                    </li>
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link" href="claim-2">Claim history</a>
                                    </li>
                                </ul>
                            </nav>
                            <hr style="border-bottom:1px solid #ccc; margin:0 0 60px 0">
                        </div>
                    </div>
                    <!--end of secondary navigation-->

                    <!--start filter-->
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">

                            <details class="nhsuk-details-1">
                                <summary class="nhsuk-details__summary-1">
                                    <span class="nhsuk-details__summary-text-1">
                                        Filter
                                    </span>
                                </summary>
                                <div class="nhsuk-details__text">

                                    <form>

                                        <div class="nhsuk-form-group">

                                            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                                                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                                                    <h2 class="nhsuk-heading-s">
                                                        Filter changes by action type
                                                        </h1>
                                                </legend>

                                                <div class="nhsuk-hint" id="example-hint">
                                                    Select all options you would like to filter by.
                                                </div>

                                                <div class="nhsuk-checkboxes">

                                                    <div class="nhsuk-checkboxes__item">
                                                        <input class="nhsuk-checkboxes__input" id="example-1"
                                                            name="example" type="checkbox" value="email">
                                                        <label class="nhsuk-label nhsuk-checkboxes__label"
                                                            for="example-1">
                                                            Address
                                                        </label>
                                                    </div>

                                                    <div class="nhsuk-checkboxes__item">
                                                        <input class="nhsuk-checkboxes__input" id="example-2"
                                                            name="example" type="checkbox" value="phone">
                                                        <label class="nhsuk-label nhsuk-checkboxes__label"
                                                            for="example-2">
                                                            Email address
                                                        </label>
                                                    </div>

                                                    <div class="nhsuk-checkboxes__item">
                                                        <input class="nhsuk-checkboxes__input" id="example-3"
                                                            name="example" type="checkbox" value="text message">
                                                        <label class="nhsuk-label nhsuk-checkboxes__label"
                                                            for="example-3">
                                                            Phone number </label>
                                                    </div>

                                                </div>
                                            </fieldset>

                                        </div>

                                    </form>


                                </div>
                            </details>
                        </div>
                    </div>
                    <!--end filter-->



                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <div class="nhsuk-card">
                                <div class="nhsuk-card__content">

                                    <table role="table" class="nhsuk-table-responsive">

                                        <thead role="rowgroup" class="nhsuk-table__head">
                                            <tr role="row">
                                                <th role="columnheader" class="" scope="col">
                                                    Date/Time
                                                </th>

                                                <th role="columnheader" class="" scope="col">
                                                    Details
                                                </th>
                                                <th role="columnheader" class="" scope="col">
                                                    Action type
                                                </th>
                                                <th role="columnheader" class="" scope="col">
                                                    Updated by
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="nhsuk-table__body">
                                            <tr role="row" class="nhsuk-table__row">
                                                <td role="cell" class="nhsuk-table__cell">
                                                    <span class="nhsuk-table-responsive__heading">Date/Time
                                                    </span>12/03/2022, 10:26
                                                </td>

                                                <td role="cell" class="nhsuk-table__cell">
                                                    <span class="nhsuk-table-responsive__heading">Details
                                                    </span>Mobile number changed to <span
                                                        class="nhsuk-u-font-weight-bold">08944 789366</span>
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                    <span class="nhsuk-table-responsive__heading">Action
                                                    </span>Phone number
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                    <span class="nhsuk-table-responsive__heading">Updated by
                                                    </span>maude.ralf@nhs.net
                                                </td>
                                            </tr>
                                            <tr role="row" class="nhsuk-table__row">
                                                <td role="cell" class="nhsuk-table__cell">
                                                    <span class="nhsuk-table-responsive__heading">Date/Time
                                                    </span>03/02/2022, 10:18
                                                </td>

                                                <td role="cell" class="nhsuk-table__cell">
                                                    <span class="nhsuk-table-responsive__heading">Details
                                                    </span>Address line 3 changed to <span
                                                        class="nhsuk-u-font-weight-bold">LS26 0DP</span>
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                    <span class="nhsuk-table-responsive__heading">Action
                                                    </span>Address
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                    <span class="nhsuk-table-responsive__heading">Updated by
                                                    </span>malcolm.norris@nhs.net
                                                </td>
                                            </tr>
                                            <tr role="row" class="nhsuk-table__row">
                                                <td role="cell" class="nhsuk-table__cell">
                                                    <span class="nhsuk-table-responsive__heading">Date/Time
                                                    </span>03/02/2022, 10:18
                                                </td>

                                                <td role="cell" class="nhsuk-table__cell">
                                                    <span class="nhsuk-table-responsive__heading">Details
                                                    </span>Address line 2 changed to <span
                                                        class="nhsuk-u-font-weight-bold">Rothwell</span>
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                    <span class="nhsuk-table-responsive__heading">Action
                                                    </span>Address
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                    <span class="nhsuk-table-responsive__heading">Updated by
                                                    </span>malcolm.norris@nhs.net
                                                </td>
                                            </tr>
                                            <tr role="row" class="nhsuk-table__row">
                                                <td role="cell" class="nhsuk-table__cell">
                                                    <span class="nhsuk-table-responsive__heading">Date/Time
                                                    </span>03/02/2022, 10:17
                                                </td>

                                                <td role="cell" class="nhsuk-table__cell">
                                                    <span class="nhsuk-table-responsive__heading">Details
                                                    </span>Address line 1 changed to <span
                                                        class="nhsuk-u-font-weight-bold">22 Windmill
                                                        Green</span>
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                    <span class="nhsuk-table-responsive__heading">Action
                                                    </span>Address
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                    <span class="nhsuk-table-responsive__heading">Updated by
                                                    </span>malcolm.norris@nhs.net
                                                </td>
                                            </tr>
                                            <tr role="row" class="nhsuk-table__row">
                                                <td role="cell" class="nhsuk-table__cell">
                                                    <span class="nhsuk-table-responsive__heading">Date/Time
                                                    </span>19/01/2022, 13:49
                                                </td>

                                                <td role="cell" class="nhsuk-table__cell">
                                                    <span class="nhsuk-table-responsive__heading">Details
                                                    </span>Address changed to <span class="nhsuk-u-font-weight-bold">22
                                                        Windmill Green,
                                                        Rothwell, LS26 0DP</span>
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                    <span class="nhsuk-table-responsive__heading">Action
                                                    </span>Address
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                    <span class="nhsuk-table-responsive__heading">Updated by
                                                    </span>alicia.reene@nhs.net
                                                </td>
                                            </tr>

                                            <tr role="row" class="nhsuk-table__row">
                                                <td role="cell" class="nhsuk-table__cell">
                                                    <span class="nhsuk-table-responsive__heading">Date/Time
                                                    </span>28/11/2021, 15:58
                                                </td>

                                                <td role="cell" class="nhsuk-table__cell">
                                                    <span class="nhsuk-table-responsive__heading">Details
                                                    </span>Telephone number changed to <span
                                                        class="nhsuk-u-font-weight-bold">01225 789447</span>
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                    <span class="nhsuk-table-responsive__heading">Action
                                                    </span>Phone number
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                    <span class="nhsuk-table-responsive__heading">Updated by
                                                    </span>lucy.meyers@nhs.net
                                                </td>
                                            </tr>
                                            <tr role="row" class="nhsuk-table__row">
                                                <td role="cell" class="nhsuk-table__cell">
                                                    <span class="nhsuk-table-responsive__heading">Date/Time
                                                    </span>14/09/1999, 09:13
                                                </td>

                                                <td role="cell" class="nhsuk-table__cell">
                                                    <span class="nhsuk-table-responsive__heading">Details
                                                    </span>Email address changed to <span
                                                        class="nhsuk-u-font-weight-bold">hello@laurapeteers.co.uk</span>
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                    <span class="nhsuk-table-responsive__heading">Action
                                                    </span>Email address
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                    <span class="nhsuk-table-responsive__heading">Updated by
                                                    </span>ricki.hailee@nhs.net
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
                                        <ul class="nhsuk-list nhsuk-pagination__list">

                                            <li class="nhsuk-pagination-item--next">
                                                <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="#">
                                                    <span class="nhsuk-pagination__title">Next</span>
                                                    <span class="nhsuk-u-visually-hidden">:</span>
                                                    <span class="nhsuk-pagination__page">Page 2 of 2</span>
                                                    <svg class="nhsuk-icon nhsuk-icon__arrow-right"
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                        aria-hidden="true" width="34" height="34">
                                                        <path
                                                            d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
                                                        </path>
                                                    </svg>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>

                                    <!--end pagination-->

                                </div>
                            </div>
                            <!--start pagination-->


                        </div>
                    </div>


                </div>
            </div>
        </div>

        <!--start of left hand navigation -->
        <div class="nhsBSA-sidebar-nav">
            <div class="side-nav">
                <h3>
                    Laura Peteers<span class="nhsuk-caption-m nhsuk-caption--bottom"><span
                            class="nhsuk-u-visually-hidden"> - </span>3432234</span>
                </h3>
                <div id="options" class="options">
                    <ul>
                        <li>
                            <a href="person-details">Person details</a>
                        </li>
                        <li>
                            <a href="">Entitlements and treatments along with linked Claim ID</a>
                        </li>
                        <li>
                            <a href="">Resubs</a>
                        </li>
                        <li>
                            <a class="active" href="index">Case history</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end of left hand navigation -->

    </div>
</div>

{% endblock %}