<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-sidebar.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}Resub case history - Laura Peteers{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <ol class="nhsuk-breadcrumb__list">
                    <li class="nhsuk-breadcrumb__list-item">
                        <a class="nhsuk-breadcrumb__link" href="search">Search (Person)</a>
                    </li>
                    <li class="nhsuk-breadcrumb__list-item">
                        <a class="nhsuk-breadcrumb__link" href="search-results">Search results (Person)</a>
                    </li>
                    <li class="nhsuk-breadcrumb__list-item">Laura Peteers (Resub case history)</li>
                </ol>
            </div>
        </div>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="search-results">Back to search results</a>
        </p>
    </div>
</nav>
{% endblock %}

<!--page content-->>
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">

        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">

                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <h1 class="nhsuk-heading-xl">Case history</h1>
                        </div>
                    </div>

                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <nav class="nhsuk-secondary-navigation nav-tabs-bg" aria-label="Secondary navigation"
                                style="background-color:#f0f4f5;">
                                <ul class="nhsuk-secondary-navigation__list">
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link" href="person">Person history</a>
                                    </li>
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link" href="treatment-8">Treatment
                                            history</a>
                                    </li>
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link" aria-current="page"
                                            href="resub">Resub history</a>
                                    </li>
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link" href="claim">Claim history</a>
                                    </li>
                                </ul>
                            </nav>
                            <hr style="border-bottom:1px solid #ccc; margin:0 0 60px 0">
                        </div>
                    </div>

                    <!-- start resub case history details -->
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-two-thirds">

                            <!--start of resub 1-->
                            <div class="nhsuk-card">
                                <div class="nhsuk-card__content">
                                    <!--start summary list-->
                                    <dl class="nhsuk-summary-list ">

                                        <div class="nhsuk-summary-list__row">
                                            <dt class="nhsuk-summary-list__key">
                                                Resubmission ID
                                            </dt>
                                            <dd class="nhsuk-summary-list__value">
                                                <a href="">4859348</a>
                                            </dd>
                                        </div>

                                        <div class="nhsuk-summary-list__row">
                                            <dt class="nhsuk-summary-list__key">
                                                Current status
                                            </dt>
                                            <dd class="nhsuk-summary-list__value">
                                                In progress
                                            </dd>
                                        </div>

                                        <div class="nhsuk-summary-list__row">
                                            <dt class="nhsuk-summary-list__key">
                                                Deadline to reply
                                            </dt>
                                            <dd class="nhsuk-summary-list__value">
                                                01 Oct 2022
                                            </dd>
                                        </div>

                                    </dl>
                                    <!--end summary list-->

                                    <h4 class="nhsuk-heading-xs">Actions</h4>

                                    <!--start expand 1-->
                                    <details class="nhsuk-details-1">
                                        <summary class="nhsuk-details__summary-1">
                                            <span class="nhsuk-details__summary-text-1">
                                                26/03/2022 16:47 | Treatments added
                                            </span>
                                        </summary>
                                        <div class="nhsuk-details__text">
                                            <dl class="nhsuk-summary-list">
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Details
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        12 treatments added
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Resub status
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        In progress
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Updated by
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        tracey.jaylen@nhs.net
                                                    </dd>
                                                </div>
                                            </dl>
                                        </div>
                                    </details>
                                    <!-- end expand 1 -->

                                    <!--start expand 2-->
                                    <details class="nhsuk-details-1">
                                        <summary class="nhsuk-details__summary-1">
                                            <span class="nhsuk-details__summary-text-1">
                                                26/03/2022 09:03 | Resubmission created
                                            </span>
                                        </summary>
                                        <div class="nhsuk-details__text">
                                            <dl class="nhsuk-summary-list">
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Details
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        Resub created for UK claim ID 39933 recieved from
                                                        France
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Resub status
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        Actioned
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Updated by
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        tracey.jaylen@nhs.net
                                                    </dd>
                                                </div>
                                            </dl>
                                        </div>
                                    </details>
                                    <!--end expand 2-->

                                </div>
                            </div>
                            <!-- end of resub 1-->

                            <!--start of resub 2-->
                            <div class="nhsuk-card">
                                <div class="nhsuk-card__content">
                                    <!--start summary list-->
                                    <dl class="nhsuk-summary-list ">

                                        <div class="nhsuk-summary-list__row">
                                            <dt class="nhsuk-summary-list__key">
                                                Resubmission ID
                                            </dt>
                                            <dd class="nhsuk-summary-list__value">
                                                <a href="">3894899</a>
                                            </dd>
                                        </div>

                                        <div class="nhsuk-summary-list__row">
                                            <dt class="nhsuk-summary-list__key">
                                                Current status
                                            </dt>
                                            <dd class="nhsuk-summary-list__value">
                                                Complete
                                            </dd>
                                        </div>

                                        <div class="nhsuk-summary-list__row">
                                            <dt class="nhsuk-summary-list__key">
                                                Deadline to reply
                                            </dt>
                                            <dd class="nhsuk-summary-list__value">
                                                12 Dec 2021
                                            </dd>
                                        </div>

                                    </dl>
                                    <!--end summary list-->

                                    <h4 class="nhsuk-heading-xs">Actions</h4>

                                    <!--start expand 1-->
                                    <details class="nhsuk-details-1">
                                        <summary class="nhsuk-details__summary-1">
                                            <span class="nhsuk-details__summary-text-1">
                                                10/04/2021 10:28 | Sent to DH
                                            </span>
                                        </summary>
                                        <div class="nhsuk-details__text">
                                            <dl class="nhsuk-summary-list">
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Details
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        Reusbmission uploaded to DH exchange
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Resub status
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        Complete
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Updated by
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        evie.columbine@nhs.net
                                                    </dd>
                                                </div>
                                            </dl>
                                        </div>
                                    </details>
                                    <!-- end expand 1 -->

                                    <!--start expand 2-->
                                    <details class="nhsuk-details-1">
                                        <summary class="nhsuk-details__summary-1">
                                            <span class="nhsuk-details__summary-text-1">
                                                08/04/2021 15:48 | Ready to send to DH
                                            </span>
                                        </summary>
                                        <div class="nhsuk-details__text">
                                            <dl class="nhsuk-summary-list">
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Details
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        Documents have been sucessfully printed
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Resub status
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        Send to DH
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Updated by
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        tessa.elwin@nhs.net
                                                    </dd>
                                                </div>
                                            </dl>
                                        </div>
                                    </details>
                                    <!-- end expand 2 -->

                                    <!--start expand 3-->
                                    <details class="nhsuk-details-1">
                                        <summary class="nhsuk-details__summary-1">
                                            <span class="nhsuk-details__summary-text-1">
                                                06/04/2021 10:39 | Printing failed
                                            </span>
                                        </summary>
                                        <div class="nhsuk-details__text">
                                            <dl class="nhsuk-summary-list">
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Details
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        Document printing has failed. Sent for reprint.
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Resub status
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        Printing failed
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Updated by
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        tessa.elwin@nhs.net
                                                    </dd>
                                                </div>
                                            </dl>
                                        </div>
                                    </details>
                                    <!-- end expand 3 -->

                                    <!--start expand 4-->
                                    <details class="nhsuk-details-1">
                                        <summary class="nhsuk-details__summary-1">
                                            <span class="nhsuk-details__summary-text-1">
                                                04/04/2021 16:57 | Peer review complete
                                            </span>
                                        </summary>
                                        <div class="nhsuk-details__text">
                                            <dl class="nhsuk-summary-list">
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Details
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        Peer review has been completed by
                                                        tessa.elwin@nhs.net
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Details
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        Ready to print
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Updated by
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        tessa.elwin@nhs.net
                                                    </dd>
                                                </div>
                                            </dl>
                                        </div>
                                    </details>
                                    <!-- end expand 4 -->

                                    <!--start expand 5-->
                                    <details class="nhsuk-details-1">
                                        <summary class="nhsuk-details__summary-1">
                                            <span class="nhsuk-details__summary-text-1">
                                                04/04/2021 09:13 | Assigned for peer review
                                            </span>
                                        </summary>
                                        <div class="nhsuk-details__text">
                                            <dl class="nhsuk-summary-list">
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Details
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        Resub has been assigned to tessa.elwin@nhs.net for
                                                        peer
                                                        review
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Resub status
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        Under review
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Updated by
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        tracey.jaylen@nhs.net
                                                    </dd>
                                                </div>
                                            </dl>
                                        </div>
                                    </details>
                                    <!-- end expand 5 -->

                                    <!--start expand 6-->
                                    <details class="nhsuk-details-1">
                                        <summary class="nhsuk-details__summary-1">
                                            <span class="nhsuk-details__summary-text-1">
                                                20/03/2021 16:33 | Treatments added
                                            </span>
                                        </summary>
                                        <div class="nhsuk-details__text">
                                            <dl class="nhsuk-summary-list">
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Details
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        12 treatments added
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Resub status
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        In progress
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Updated by
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        tracey.jaylen@nhs.net
                                                    </dd>
                                                </div>
                                            </dl>
                                        </div>
                                    </details>
                                    <!-- end expand 6 -->

                                    <!--start expand 7-->
                                    <details class="nhsuk-details-1">
                                        <summary class="nhsuk-details__summary-1">
                                            <span class="nhsuk-details__summary-text-1">
                                                20/03/2021 10:00 | Resubmission created
                                            </span>
                                        </summary>
                                        <div class="nhsuk-details__text">
                                            <dl class="nhsuk-summary-list">
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Details
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        Resub created for UK claim ID 39933 recieved from
                                                        France
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Resub status
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        Actioned
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Updated by
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        tracey.jaylen@nhs.net
                                                    </dd>
                                                </div>
                                            </dl>
                                        </div>
                                    </details>
                                    <!-- end expand 7 -->


                                </div>
                            </div>
                            <!-- end of resub 2-->

                        </div>
                    </div>
                    <!--end resub case history details -->


                </div>
            </div>
        </div>

        <!--start of left hand navigation-->
        <div class="nhsBSA-sidebar-nav">
            <div class="side-nav">
                <h3>
                    Laura Peteers<span class="nhsuk-caption-m nhsuk-caption--bottom"><span
                            class="nhsuk-u-visually-hidden"> - </span>3432234</span>
                </h3>
                <div id="options" class="options">
                    <ul>
                        <li>
                            <a href="person-details">Person details</a>
                        </li>
                        <li>
                            <a href="">Entitlements and treatments along with linked Claim ID</a>
                        </li>
                        <li>
                            <a href="">Resubs</a>
                        </li>
                        <li>
                            <a class="active" href="index">Case history</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end of left hand navigation-->

    </div>
</div>

{% endblock %}