<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-sidebar.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}Treatment case history - Laura Peteers{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <ol class="nhsuk-breadcrumb__list">
                    <li class="nhsuk-breadcrumb__list-item">
                        <a class="nhsuk-breadcrumb__link" href="search">Search (Person)</a>
                    </li>
                    <li class="nhsuk-breadcrumb__list-item">
                        <a class="nhsuk-breadcrumb__link" href="search-results">Search results (Person)</a>
                    </li>
                    <li class="nhsuk-breadcrumb__list-item">Laura Peteers (Treatment case history)</li>
                </ol>
            </div>
        </div>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="search-results">Back to search results</a>
        </p>
    </div>
</nav>
{% endblock %}

<!--page content-->>
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">

        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">

                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <h1 class="nhsuk-heading-xl">Case history</h1>
                        </div>
                    </div>

                    <!--start of secondary navigation-->
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <nav class="nhsuk-secondary-navigation nav-tabs-bg" aria-label="Secondary navigation"
                                style="background-color:#f0f4f5;">
                                <ul class="nhsuk-secondary-navigation__list">
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link" href="index">Person history</a>
                                    </li>
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link" aria-current="page"
                                            href="treatment-2">Treatment history</a>
                                    </li>
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link" href="resub">Resub history</a>
                                    </li>
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link" href="claim">Claim history</a>
                                    </li>
                                </ul>
                            </nav>
                            <hr style="border-bottom:1px solid #ccc; margin:0 0 60px 0">
                        </div>
                    </div>
                    <!--end of secondary navigation-->

                    <!-- start EHIC -->
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-two-thirds">

                            <h2 class="nhsuk-heading-l">EHIC</h2>
                            <!--start of treatment 1-->
                            <div class="nhsuk-card">
                                <div class="nhsuk-card__content">

                                    <dl class="nhsuk-summary-list ">

                                        <div class="nhsuk-summary-list__row">
                                            <dt class="nhsuk-summary-list__key">
                                                Treatment ID
                                            </dt>
                                            <dd class="nhsuk-summary-list__value">
                                                <a href="">17492747</a>
                                            </dd>
                                        </div>

                                        <div class="nhsuk-summary-list__row">
                                            <dt class="nhsuk-summary-list__key">
                                                Start date
                                            </dt>
                                            <dd class="nhsuk-summary-list__value">
                                                01 Sep 2021
                                            </dd>
                                        </div>

                                        <div class="nhsuk-summary-list__row">
                                            <dt class="nhsuk-summary-list__key">
                                                End date
                                            </dt>
                                            <dd class="nhsuk-summary-list__value">
                                                15 Sep 2021
                                            </dd>
                                        </div>
                                        
                                        <div class="nhsuk-summary-list__row">
                                            <dt class="nhsuk-summary-list__key">
                                                Cost
                                            </dt>
                                            <dd class="nhsuk-summary-list__value">
                                                £350.00
                                            </dd>
                                        </div>

                                    </dl>

                                    <h4 class="nhsuk-heading-xs">Actions</h4>

                                    <!--start expand 1-->
                                    <details class="nhsuk-details-1">
                                        <summary class="nhsuk-details__summary-1">
                                            <span class="nhsuk-details__summary-text-1">
                                                20/01/2022 13:08 | Start date updated
                                            </span>
                                        </summary>
                                        <div class="nhsuk-details__text">
                                            <dl class="nhsuk-summary-list">
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        To
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        01/09/2021
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        From
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        03/09/2021
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Details
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        Contacted OVM who confirmed start date details
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Updated by
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        maude.ralf@nhs.net
                                                    </dd>
                                                </div>
                                            </dl>


                                        </div>
                                    </details>
                                    <!-- end expand 1 -->

                                    <!--start expand 2-->
                                    <details class="nhsuk-details-1">
                                        <summary class="nhsuk-details__summary-1">
                                            <span class="nhsuk-details__summary-text-1">
                                                20/01/2022 12:52 | Cost updated
                                            </span>
                                        </summary>
                                        <div class="nhsuk-details__text">
                                            <dl class="nhsuk-summary-list">
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        To
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        £350.00
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        From
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        £500.00
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Details
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">

                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Updated by
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        ricki.hailee@nhs.net
                                                    </dd>
                                                </div>
                                            </dl>
                                        </div>
                                    </details>
                                    <!--end expand 2-->

                                    <!--start expand 3-->
                                    <details class="nhsuk-details-1">
                                        <summary class="nhsuk-details__summary-1">
                                            <span class="nhsuk-details__summary-text-1">
                                                20/01/2022 12:47 | End date updated
                                            </span>
                                        </summary>
                                        <div class="nhsuk-details__text">
                                            <dl class="nhsuk-summary-list">
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        To
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        15/09/2021
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        From
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        14/09/2021
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Details
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">

                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Updated by
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        ricki.hailee@nhs.net
                                                    </dd>
                                                </div>
                                            </dl>
                                        </div>
                                    </details>
                                    <!--end expand 3-->

                                    <!--start expand 4-->
                                    <details class="nhsuk-details-1">
                                        <summary class="nhsuk-details__summary-1">
                                            <span class="nhsuk-details__summary-text-1">
                                                10/01/2022 10:00 | Status changed
                                            </span>
                                        </summary>
                                        <div class="nhsuk-details__text">
                                            <dl class="nhsuk-summary-list">
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        To
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        Contested
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        From
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        Flagged
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Details
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">

                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Updated by
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        alicia.reene@nhs.net
                                                    </dd>
                                                </div>
                                            </dl>
                                        </div>
                                    </details>
                                    <!--end expand 4-->

                                    <!--start expand 5-->
                                    <details class="nhsuk-details-1">
                                        <summary class="nhsuk-details__summary-1">
                                            <span class="nhsuk-details__summary-text-1">
                                                05/01/2022 14:12 | Status changed
                                            </span>
                                        </summary>
                                        <div class="nhsuk-details__text">
                                            <dl class="nhsuk-summary-list">
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        To
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        Flagged
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        From
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        Processed
                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Details
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">

                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Updated by
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        noah.graysen@nhs.net
                                                    </dd>
                                                </div>
                                            </dl>
                                        </div>
                                    </details>
                                    <!--end expand 5-->
                                </div>
                            </div>
                            <!-- end of treatment 1-->

                            <!--start of treatment 2-->
                            <div class="nhsuk-card">
                                <div class="nhsuk-card__content">

                                    <dl class="nhsuk-summary-list ">

                                        <div class="nhsuk-summary-list__row">
                                            <dt class="nhsuk-summary-list__key">
                                                Treatment ID
                                            </dt>
                                            <dd class="nhsuk-summary-list__value">
                                                <a href="">33945572</a>
                                            </dd>
                                        </div>

                                        <div class="nhsuk-summary-list__row">
                                            <dt class="nhsuk-summary-list__key">
                                                Start date
                                            </dt>
                                            <dd class="nhsuk-summary-list__value">
                                                19 May 1999
                                            </dd>
                                        </div>

                                        <div class="nhsuk-summary-list__row">
                                            <dt class="nhsuk-summary-list__key">
                                                End date
                                            </dt>
                                            <dd class="nhsuk-summary-list__value">
                                                20 May 1999
                                            </dd>
                                        </div>

                                        <div class="nhsuk-summary-list__row">
                                            <dt class="nhsuk-summary-list__key">
                                                Cost
                                            </dt>
                                            <dd class="nhsuk-summary-list__value">
                                                £1595.00
                                            </dd>
                                        </div>

                                    </dl>
                                    <h4 class="nhsuk-heading-xs">Actions</h4>
                                    <!--start expand 1-->
                                    <details class="nhsuk-details-1">
                                        <summary class="nhsuk-details__summary-1">
                                            <span class="nhsuk-details__summary-text-1">
                                                05/12/1999 09:16 | PRC received
                                            </span>
                                        </summary>
                                        <div class="nhsuk-details__text">
                                            <dl class="nhsuk-summary-list">
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        To
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">

                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        From
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">

                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Details
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">

                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Updated by
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        noah.graysen@nhs.net
                                                    </dd>
                                                </div>
                                            </dl>
                                        </div>
                                    </details>
                                    <!--end expand 1-->

                                    <!--start expand 2-->
                                    <details class="nhsuk-details-1">
                                        <summary class="nhsuk-details__summary-1">
                                            <span class="nhsuk-details__summary-text-1">
                                                09/11/1999 14:39 | PRC requested
                                            </span>
                                        </summary>
                                        <div class="nhsuk-details__text">
                                            <dl class="nhsuk-summary-list">
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        From
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">

                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        To
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">

                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Details
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">

                                                    </dd>
                                                </div>
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Updated by
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        noah.graysen@nhs.net
                                                    </dd>
                                                </div>
                                            </dl>
                                        </div>
                                    </details>
                                    <!--end expand 2-->


                                </div>
                            </div>
                            <!-- end of treatment 2-->

                        </div>
                    </div>
                    <!--end EHIC -->

                    <hr />

                    <!-- start PRC -->
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-two-thirds">

                            <h2 class="nhsuk-heading-l">PRC</h2>
                            <!--start expanders-->
                            <div class="nhsuk-expander-group">

                                <p>There are currently no treatments for this entitlement type</p>

                            </div>
                            <!--end expanders-->
                        </div>
                    </div>
                    <br />
                    <!--end PRC -->

                    <hr />

                    <!-- start s2 -->
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-two-thirds">

                            <h2 class="nhsuk-heading-l">S2</h2>
                            <!--start expanders-->
                            <div class="nhsuk-expander-group">

                                <p>There are currently no treatments for this entitlement type</p>

                            </div>
                            <!--end expanders-->
                        </div>
                    </div>
                    <!--end S2 -->

                </div>
            </div>
        </div>

        <!--start of left hand navigation-->
        <div class="nhsBSA-sidebar-nav">
            <div class="side-nav">
                <h3>
                    Laura Peteers<span class="nhsuk-caption-m nhsuk-caption--bottom"><span
                            class="nhsuk-u-visually-hidden"> - </span>3432234</span>
                </h3>
                <div id="options" class="options">
                    <ul>
                        <li>
                            <a href="person-details">Person details</a>
                        </li>
                        <li>
                            <a href="">Entitlements and treatments along with linked Claim ID</a>
                        </li>
                        <li>
                            <a href="">Resubs</a>
                        </li>
                        <li>
                            <a class="active" href="index">Case history</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end of left hand navigation-->

    </div>
</div>

{% endblock %}