<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
UK claim ID 123456 - Create S113 reply to contestation of global claim for fixed amounts - Manage overseas entitlements and treatments
{% endblock %}



<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container-fluid">
          <div class="nhsuk-main-wrapper" id="maincontent">

            {{ backLink({
              "href": "javascript:history.go(-1)",
              "text": "Go back",
              "classes": "nhsuk-u-margin-bottom-4"
            }) }}

            <form action="a019-create-s113-reply" method="post">

        
              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">
              
                    <h1 class="nhsuk-heading-xl">
                      Create S113 reply to contestation of global claim for fixed amounts
                    </h1>
            
                    <dl class="nhsuk-summary-list">
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Global IMO reference creditor liaison body
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          123456A019
                        </dd>
                      </div>

                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Global CLA_IMO reference creditor liaison body
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          123456A019RPY
                        </dd>
                      </div>

                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Global COC_CLA_IMO reference debtor liaison body
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          {% if data['a019-global-coc-cla-imo-reference-debtor-liason-body'] %}
                            {{ data['a019-global-coc-cla-imo-reference-debtor-liason-body'] }}
                          {% else %}
                            S112.OUT.I.V.2026/22
                          {% endif %}
                        </dd>
                      </div>
                    </dl>
  
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label" for="global-rpy-coc-cla-imo-reference-creditor-liason-body-label">
                        <b>Global RPY_COC_CLA_IMO reference creditor liaison body</b>
                      </label>
                      <input class="nhsuk-input nhsuk-input--width-10" id="a019-global-rpy-coc-cla-imo-reference-creditor-liason-body" name="a019-global-rpy-coc-cla-imo-reference-creditor-liason-body" type="text" inputmode="numeric">
                    </div>

                    <button class="nhsuk-button nhsuk-button--primary" style="margin-top: 20px;" type="submit" id="save-and-continue-button">Continue</button>


                </div>
              </div>


              </form>


        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}