<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
You cannot add the listed invoices to this resubmission
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<!--start breadcrumb-->

<!--end breadcrumb-->
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container-fluid">
          <div class="nhsuk-main-wrapper" id="maincontent">

            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-two-thirds">
                  <h1 class="nhsuk-heading-xl">
                    You cannot add the listed invoices to this resubmission
                  </h1>

                  <p>These invoices are part of active resubmissions and cannot currently be added to another resubmission.</p>

                  <p>This table lists the invoices and the active resubmissions that they are contained in.</p>

                  <!-- TABLE START -->
                  <table role="table" class="nhsuk-table-responsive" id="resubmissionsTable">
                    <thead class="nhsuk-table__head">
                      <tr class="nhsuk-table__row">
                        <th scope="col" class="nhsuk-table__header">Invoice ID</th>
                        <th scope="col" class="nhsuk-table__header">Resubmission ID</th>
                      </tr>
                    </thead>

                    <tbody class="nhsuk-table__body">
                      <tr class="nhsuk-table__row">
                        <td class="nhsuk-table__cell" data-label="Invoice ID">12344</td>
                        <td class="nhsuk-table__cell" data-label="Deadline to reply">77902</td>
                      </tr>
                      <tr class="nhsuk-table__row">
                        <td class="nhsuk-table__cell" data-label="Invoice ID">45555</td>
                        <td class="nhsuk-table__cell" data-label="Deadline to reply">77902</td>
                      </tr>
                      <tr class="nhsuk-table__row">
                        <td class="nhsuk-table__cell" data-label="Invoice ID">17183</td>
                        <td class="nhsuk-table__cell" data-label="Deadline to reply">77010</td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- TABLE END -->

                  <button class="nhsuk-button nhsuk-button--primary" style="margin-top: 50px;" type="submit" id="continue-button">View all resubmissions for this claim</button>
                  
                  
                </div>
              </div>


        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}