<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
UK claim ID 123456 - Resubmissions
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<!--start breadcrumb-->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="../uk-claims-search-actual-cost">UK claims (Search)</a>
          </li>
          <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="../uk-claims-search-results-found">Search results</a>
          </li>
          <li class="nhsuk-breadcrumb__list-item">View Claim ID (Reimbursement of claim)</li>
        </ol>
      </div>
    </div>

    <a class="nhsuk-back-link" href="uk-claims-search-results">
      <span class="nhsuk-u-visually-hidden">Back to </span>
      Search results
    </a>

  </div>
</nav>
<!--end breadcrumb-->
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container-fluid">
          <div class="nhsuk-main-wrapper" id="maincontent">

            {% set convertedAgeBrackets = data['converted-age-brackets'] or [] %}

            
            {% if data['resubStatus'] == 'invoices-added-to-resub' %}
            <div class="nhsuk-notification-banner nhsuk-notification-banner--success" role="alert" aria-labelledby="nhsuk-notification-banner-title" data-module="nhsuk-notification-banner">
              <div class="nhsuk-notification-banner__header">
                <h2 class="nhsuk-notification-banner__title" id="nhsuk-notification-banner-title">
                  Success
                </h2>
              </div>
              <div class="nhsuk-notification-banner__content">
                <h3 class="nhsuk-notification-banner__heading">
                  Selected invoices added to resub 0000001
                </h3>
                <p>Invoices linked to the resub are set to contested status.</p>
              </div>
            </div>
            {% endif %}



            
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-full">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                  <h1 class="nhsuk-heading-l" style="margin-bottom: 25px;">
                    Claim ID 123456 - Reimbursement of claim for<br>
                    S1/S072 Article 63, 2.b - Mixed ages
                  </h1>
                  {% if convertedAgeBrackets.length < 3 %}
                  <a href="select-age-bracket-for-conversion" class="nhsuk-button" type="submit">
                      Convert claim into GBP
                  </a>
                  {% endif %}
                </div>
              </div>
            </div>
            
            <form action="reimbursement-of-claim" method="post">
            
            <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation" style="background-color:#f0f4f5;">
              <ul class="nhsuk-secondary-navigation__list">
                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="claim-summary">Claim summary</a>
                  <span class="nhsuk-u-visually-hidden">View the overall summary for claim 100005</span>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="claim-invoices">Invoices</a>
                  <span class="nhsuk-u-visually-hidden">Search for an invoice</span>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="claim-age-group-breakdown">Age brackets</a>
                  <span class="nhsuk-u-visually-hidden">View the age brackets for claim 123456</span>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="claim-documents">Claim documents</a>
                  <span class="nhsuk-u-visually-hidden">Complete any outstanding actions</span>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="claim-resubmissions">Resubmissions</a>
                  <span class="nhsuk-u-visually-hidden">Complete any outstanding actions</span>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" aria-current="page" href="reimbursement-of-claim">Reimbursement of claim</a>
                  <span class="nhsuk-u-visually-hidden">View the global claim for reimbursement of fixed amounts for claim 123456</span>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="claim-history">Claim history</a>
                  <span class="nhsuk-u-visually-hidden">View case history for claim 100005</span>
                </li>
              </ul>
            </nav>

            <hr style="border-bottom:1px solid #ccc; margin:0">
            <!--end secondary navigation-->

            <br><br>

            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-two-thirds">
                
                {% if convertedAgeBrackets.length > 0 %}

                <h2 class="nhsuk-heading-m">S110 claims for reimbursement of fixed amounts</h2>
                
                  <dl class="nhsuk-summary-list">
                
                    {% if '0 to 19 years' in convertedAgeBrackets %}
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          0 to 19 years
                        </dt>
                        <dd class="nhsuk-summary-list__actions">
                          <a class="nhsuk-link" href="#">
                            View<span class="nhsuk-u-visually-hidden">
                              S110 global note for 0 to 19 years
                            </span>
                          </a>
                        </dd>
                      </div>
                    {% endif %}
                
                    {% if '20 to 64 years' in convertedAgeBrackets %}
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          20 to 64 years
                        </dt>
                        <dd class="nhsuk-summary-list__actions">
                          <a class="nhsuk-link" href="#">
                            View<span class="nhsuk-u-visually-hidden">
                              S110 global note for ages 20 to 64 years
                            </span>
                          </a>
                        </dd>
                      </div>
                    {% endif %}
                
                    {% if '65 years and over' in convertedAgeBrackets %}
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          65 years and over
                        </dt>
                        <dd class="nhsuk-summary-list__actions">
                          <a class="nhsuk-link" href="#">
                            View<span class="nhsuk-u-visually-hidden">
                              S110 global note for 65 years and over
                            </span>
                          </a>
                        </dd>
                      </div>
                    {% endif %}
            
                  </dl>
            
                  {% else %}
                    <p><b>This claim has not been converted into GBP.</b></p>
                  {% endif %}

              </div>
            </div>
            
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}