<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-sidebar.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Person case history page {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <ol class="nhsuk-breadcrumb__list">
                    <li class="nhsuk-breadcrumb__list-item">
                        <a class="nhsuk-breadcrumb__link" href="search">Search (Person)</a>
                    </li>
                    <li class="nhsuk-breadcrumb__list-item">
                        <a class="nhsuk-breadcrumb__link" href="person-details">Search results (Person)</a>
                    </li>
                    <li class="nhsuk-breadcrumb__list-item">Laura Peteers (Case history - Person)</li>
                </ol>
            </div>
        </div>

        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="search-results">Back to search results</a>
        </p>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">

        <!--start central content-->
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">

                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <h1 class="nhsuk-heading-xl">Case history - person</h1>
                          
                        </div>
                    </div>

                    <!--start of secondary navigation-->
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <nav class="nhsuk-secondary-navigation nav-tabs-bg" aria-label="Secondary navigation"
                                style="background-color:#f0f4f5;">
                                <ul class="nhsuk-secondary-navigation__list">
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link" aria-current="page"
                                            href="case-history-person">Person history</a>
                                    </li>
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link"
                                            href="case-history-treatment">Treatment
                                            history</a>
                                    </li>
                                </ul>
                            </nav>
                            <hr style="border-bottom:1px solid #ccc; margin:0 0 60px 0">
                        </div>
                    </div>
                    <!--end of secondary navigation-->

                    <!-- start of address-->
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <div class="nhsuk-card">
                                <div class="nhsuk-card__content">
                                    <h2 class="nhsuk-card__heading nhsuk-heading-m">
                                        Current address
                                    </h2>
                                    <hr class="nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-6" />
                                    <details class="nhsuk-details-1">
                                        <summary class="nhsuk-details__summary-1">
                                            <span class="nhsuk-details__summary-text-1">
                                                View case history <span class="nhsuk-u-visually-hidden">for current
                                                    address</span>
                                            </span>
                                        </summary>
                                        <div class="nhsuk-details__text">

                                            <table role="table" class="nhsuk-table-responsive">

                                                <thead role="rowgroup" class="nhsuk-table__head">
                                                    <tr role="row">
                                                        <th role="columnheader" class="" scope="col" style="width:15%">
                                                            Date and time
                                                        </th>
                                                        <th role="columnheader" class="" scope="col" style="width:15%">
                                                            Action
                                                        </th>
                                                        <th role="columnheader" class="" scope="col" style="width:50%">
                                                            Details
                                                        </th>
                                                        <th role="columnheader" class="" scope="col" style="width:20%">
                                                            Updated by
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody class="nhsuk-table__body">
                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date and time
                                                            </span>03/02/2022, 10:18
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Action
                                                            </span>Updated
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>28 Place de la Madeleine, Paris
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>malcolm.norris@nhs.net
                                                        </td>
                                                    </tr>
                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date and time
                                                            </span>03/02/2022, 10:17
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Action
                                                            </span>Updated
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>2 Place de la Madeleine, Paris
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>malcolm.norris@nhs.net
                                                        </td>
                                                    </tr>
                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date and time
                                                            </span>14/18/1999, 14:36
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Action
                                                            </span>Created
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>44 Chemin Challet, Lille
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>phyllis.saunders@nhs.net
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>


                                        </div>
                                    </details>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- end of  address -->

                    <!-- start of date of birth-->
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <div class="nhsuk-card">
                                <div class="nhsuk-card__content">
                                    <h2 class="nhsuk-card__heading nhsuk-heading-m">
                                        Date of birth
                                    </h2>
                                    <hr class="nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-6" />
                                    <details class="nhsuk-details-1">
                                        <summary class="nhsuk-details__summary-1">
                                            <span class="nhsuk-details__summary-text-1">
                                                View case history <span class="nhsuk-u-visually-hidden">for date of
                                                    birth</span>
                                            </span>
                                        </summary>
                                        <div class="nhsuk-details__text">

                                            <table role="table" class="nhsuk-table-responsive">

                                                <thead role="rowgroup" class="nhsuk-table__head">
                                                    <tr role="row">
                                                        <th role="columnheader" class="" scope="col" style="width:15%">
                                                            Date and time
                                                        </th>
                                                        <th role="columnheader" class="" scope="col" style="width:15%">
                                                            Action
                                                        </th>
                                                        <th role="columnheader" class="" scope="col" style="width:50%">
                                                            Details
                                                        </th>
                                                        <th role="columnheader" class="" scope="col" style="width:20%">
                                                            Updated by
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody class="nhsuk-table__body">
                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date and time
                                                            </span>14/08/1999, 11:01
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Action
                                                            </span>Updated
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>17/02/1982
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>phyllis.saunders@nhs.net
                                                        </td>
                                                    </tr>
                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date and time
                                                            </span>14/08/1999, 10:18
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Action
                                                            </span>Created
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>17/12/1982
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>phyllis.saunders@nhs.net
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>


                                        </div>
                                    </details>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Date of birth -->

                    <!-- start name-->
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <div class="nhsuk-card">
                                <div class="nhsuk-card__content">
                                    <h2 class="nhsuk-card__heading nhsuk-heading-m">
                                        Name </h2>
                                    <hr class="nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-6" />
                                    <details class="nhsuk-details-1">
                                        <summary class="nhsuk-details__summary-1">
                                            <span class="nhsuk-details__summary-text-1">
                                                View case history <span class="nhsuk-u-visually-hidden">for name</span>
                                            </span>
                                        </summary>
                                        <div class="nhsuk-details__text">

                                            <table role="table" class="nhsuk-table-responsive">

                                                <thead role="rowgroup" class="nhsuk-table__head">
                                                    <tr role="row">
                                                        <th role="columnheader" class="" scope="col" style="width:15%">
                                                            Date and time
                                                        </th>
                                                        <th role="columnheader" class="" scope="col" style="width:15%">
                                                            Action
                                                        </th>
                                                        <th role="columnheader" class="" scope="col" style="width:50%">
                                                            Details
                                                        </th>
                                                        <th role="columnheader" class="" scope="col" style="width:20%">
                                                            Updated by
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody class="nhsuk-table__body">
                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date and time
                                                            </span>12/01/2022, 15:55
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Action
                                                            </span>Updated
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>Laura Peteers
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>alicia.reene@nhs.net
                                                        </td>
                                                    </tr>
                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date and time
                                                            </span>14/08/1999, 10:18
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Action
                                                            </span>Created
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>Laura Smith
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>phyllis.saunders@nhs.net
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </details>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- end name -->


                </div>
            </div>
        </div>
        <!--end central content-->

        <!--start left navigation-->
        <div class="nhsBSA-sidebar-nav">
            <div class="side-nav">
                <h3>
                    Laura Peteers<span class="nhsuk-caption-m nhsuk-caption--bottom">
                        <span class="nhsuk-u-visually-hidden"> - </span>3432234</span>
                </h3>
                <ul>
                    <div id="options" class="options">
                        <li>
                            <a href="person-details">Person details</a>
                        </li>
                        <li></li>
                        <li>
                            <a href="person-entitlements-treatments">Entitlements and treatments along with linked Claim ID</a>
                        </li>
                        <li>
                            <a href="person-details-resubs">Resubs</a>
                        </li>
                        <li>
                            <a class="active" href="case-history-person">Case history</a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
        <!--end left navigation-->

    </div>
</div>

{% endblock %}