<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-sidebar.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Case history resub details page {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<!--start breadcrumb-->
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <ol class="nhsuk-breadcrumb__list">
                    <li class="nhsuk-breadcrumb__item">
                        <a class="nhsuk-breadcrumb__link" href="search">Search (Person)</a>
                    </li>
                    <li class="nhsuk-breadcrumb__item">
                        <a class="nhsuk-breadcrumb__link" href="person-details">Search results (Person)</a>
                    </li>
                    <li class="nhsuk-breadcrumb__item">Laura Peteers (Case history - Resubs)</li>
                </ol>
            </div>
        </div>

        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="search-results">Back to search results</a>
        </p>
    </div>
</nav>
<!--end breadcrumb-->
{% endblock %}

{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">

        <!--start central content-->
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">

                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <h1 class="nhsuk-heading-xl">Case history</h1>

                        </div>
                    </div>

                    <!--start of secondary navigation-->
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <nav class="nhsuk-secondary-navigation nav-tabs-bg" aria-label="Secondary navigation"
                                style="background-color:#f0f4f5;">
                                <ul class="nhsuk-secondary-navigation__list">
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link" href="case-history-person">Person
                                            history</a>
                                    </li>
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link"
                                            href="case-history-treatment">Treatment
                                            history</a>
                                    </li>
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link" href="case-history-claim">Claim
                                            history</a>
                                    </li>
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link" aria-current="page"
                                            href="case-history-resub">Resub
                                            history</a>
                                    </li>
                                </ul>
                            </nav>
                            <hr style="border-bottom:1px solid #ccc; margin:0 0 60px 0">
                        </div>
                    </div>
                    <!--end of secondary navigation-->

                    <!-- start pending -->

                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <h2 class="nhsuk-heading-l">Pending</h2>


                            <!--start resub-->
                            <div class="nhsuk-grid-row">
                                <div class="nhsuk-grid-column-full">

                                    <div class="nhsuk-card">
                                        <div class="nhsuk-card__content">

                                            <div class="nhsuk-grid-column-one-quarter">
                                                <h3 class="nhsuk-heading-xs" style="margin-bottom:0">Deadline to reply
                                                </h3>
                                                <p>01/06/2022</p>
                                            </div>

                                            <div class="nhsuk-grid-column-one-quarter">
                                                <h3 class="nhsuk-heading-xs" style="margin-bottom:0">Resubmission ID
                                                </h3>
                                                <p>78493834</p>
                                            </div>

                                            <div class="nhsuk-grid-column-one-quarter">
                                                <h3 class="nhsuk-heading-xs" style="margin-bottom:0">Current status</h3>
                                                <p>Printing failed</p>
                                            </div>

                                            <div class="nhsuk-grid-column-one-quarter">
                                                <h3 class="nhsuk-heading-xs" style="margin-bottom:0">Member state</h3>
                                                <p>France (FR)</p>
                                            </div>

                                            <br />
                                            <br />
                                            <hr class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5" />


                                            <!--start expander-->
                                            <details class="nhsuk-details-1">
                                                <summary class="nhsuk-details__summary-1">
                                                    <span class="nhsuk-details__summary-text-1">
                                                        View case history <span class="nhsuk-u-visually-hidden">for
                                                            resubmissions ID 78493834</span>
                                                    </span>
                                                </summary>
                                                <div class="nhsuk-details__text">
                                                    <table role="table" class="nhsuk-table-responsive">

                                                        <thead role="rowgroup" class="nhsuk-table__head">
                                                            <tr role="row">
                                                                <th role="columnheader" class="" scope="col">
                                                                    Date/Time
                                                                </th>
                                                                <th role="columnheader" class="" scope="col">
                                                                    Action
                                                                </th>
                                                                <th role="columnheader" class="" scope="col">
                                                                    Details
                                                                </th>
                                                                <th role="columnheader" class="" scope="col">
                                                                    Updated by
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="nhsuk-table__body">


                                                            <tr role="row" class="nhsuk-table__row">
                                                                <td role="cell" class="nhsuk-table__cell">
                                                                    <span
                                                                        class="nhsuk-table-responsive__heading">Date/Time
                                                                    </span>18/04/2022, 14:33
                                                                </td>
                                                                <td role="cell" class="nhsuk-table__cell">
                                                                    <span class="nhsuk-table-responsive__heading">Action
                                                                    </span>Printing failed
                                                                </td>
                                                                <td role="cell" class="nhsuk-table__cell">
                                                                    <span
                                                                        class="nhsuk-table-responsive__heading">Details
                                                                    </span>Printing has failed and status changed to
                                                                    Printing Failed
                                                                </td>
                                                                <td role="cell" class="nhsuk-table__cell">
                                                                    <span
                                                                        class="nhsuk-table-responsive__heading">Updated
                                                                        by
                                                                    </span>malcolm.norris@nhs.net
                                                                </td>
                                                            </tr>

                                                            <tr role="row" class="nhsuk-table__row">
                                                                <td role="cell" class="nhsuk-table__cell">
                                                                    <span
                                                                        class="nhsuk-table-responsive__heading">Date/Time
                                                                    </span>17/04/2022, 16:55
                                                                </td>
                                                                <td role="cell" class="nhsuk-table__cell">
                                                                    <span class="nhsuk-table-responsive__heading">Action
                                                                    </span>Ready to print
                                                                </td>
                                                                <td role="cell" class="nhsuk-table__cell">
                                                                    <span
                                                                        class="nhsuk-table-responsive__heading">Details
                                                                    </span>Resub is set as peer reviewed and status
                                                                    changed to Ready to print
                                                                </td>
                                                                <td role="cell" class="nhsuk-table__cell">
                                                                    <span
                                                                        class="nhsuk-table-responsive__heading">Updated
                                                                        by
                                                                    </span>malcolm.norris@nhs.net
                                                                </td>
                                                            </tr>

                                                            <tr role="row" class="nhsuk-table__row">
                                                                <td role="cell" class="nhsuk-table__cell">
                                                                    <span
                                                                        class="nhsuk-table-responsive__heading">Date/Time
                                                                    </span>12/04/2022, 09:36
                                                                </td>
                                                                <td role="cell" class="nhsuk-table__cell">
                                                                    <span class="nhsuk-table-responsive__heading">Action
                                                                    </span>Under review
                                                                </td>
                                                                <td role="cell" class="nhsuk-table__cell">
                                                                    <span
                                                                        class="nhsuk-table-responsive__heading">Details
                                                                    </span>Resub assigned to malcom.norris@nhs.net for
                                                                    review and status changed to Under review
                                                                </td>
                                                                <td role="cell" class="nhsuk-table__cell">
                                                                    <span
                                                                        class="nhsuk-table-responsive__heading">Updated
                                                                        by
                                                                    </span>malcolm.norris@nhs.net
                                                                </td>
                                                            </tr>

                                                            <tr role="row" class="nhsuk-table__row">
                                                                <td role="cell" class="nhsuk-table__cell">
                                                                    <span
                                                                        class="nhsuk-table-responsive__heading">Date/Time
                                                                    </span>19/03/2022, 16:32
                                                                </td>
                                                                <td role="cell" class="nhsuk-table__cell">
                                                                    <span class="nhsuk-table-responsive__heading">Action
                                                                    </span>To review
                                                                </td>
                                                                <td role="cell" class="nhsuk-table__cell">
                                                                    <span
                                                                        class="nhsuk-table-responsive__heading">Details
                                                                    </span>Sent for peer review and status changed to To
                                                                    review
                                                                </td>
                                                                <td role="cell" class="nhsuk-table__cell">
                                                                    <span
                                                                        class="nhsuk-table-responsive__heading">Updated
                                                                        by
                                                                    </span>alicia.reene@nhs.net
                                                                </td>
                                                            </tr>

                                                            <tr role="row" class="nhsuk-table__row">
                                                                <td role="cell" class="nhsuk-table__cell">
                                                                    <span
                                                                        class="nhsuk-table-responsive__heading">Date/Time
                                                                    </span>03/03/2022, 14:55
                                                                </td>
                                                                <td role="cell" class="nhsuk-table__cell">
                                                                    <span class="nhsuk-table-responsive__heading">Action
                                                                    </span>Treatments added
                                                                </td>
                                                                <td role="cell" class="nhsuk-table__cell">
                                                                    <span
                                                                        class="nhsuk-table-responsive__heading">Details
                                                                    </span>5 no of treatments added to resub and status
                                                                    changed to In progress
                                                                </td>
                                                                <td role="cell" class="nhsuk-table__cell">
                                                                    <span
                                                                        class="nhsuk-table-responsive__heading">Updated
                                                                        by
                                                                    </span>alicia.reene@nhs.net
                                                                </td>
                                                            </tr>

                                                            <tr role="row" class="nhsuk-table__row">
                                                                <td role="cell" class="nhsuk-table__cell">
                                                                    <span
                                                                        class="nhsuk-table-responsive__heading">Date/Time
                                                                    </span>20/02/2022, 09:30
                                                                </td>
                                                                <td role="cell" class="nhsuk-table__cell">
                                                                    <span class="nhsuk-table-responsive__heading">Action
                                                                    </span>Created
                                                                </td>
                                                                <td role="cell" class="nhsuk-table__cell">
                                                                    <span
                                                                        class="nhsuk-table-responsive__heading">Details
                                                                    </span>Resub created for UK claim id 8756 received
                                                                    from France and status is To action
                                                                </td>
                                                                <td role="cell" class="nhsuk-table__cell">
                                                                    <span
                                                                        class="nhsuk-table-responsive__heading">Updated
                                                                        by
                                                                    </span>alicia.reene@nhs.net
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </details>
                                            <!-- end expander -->

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--end resub-->

                            <hr class="nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-9" />
                        </div>
                    </div>

                    <!-- end pending -->

                    <!-- start complete -->

                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <h2 class="nhsuk-heading-l">Complete</h2>

                            <p>There are currently no complete resubmissions</p>

                        </div>
                    </div>

                    <!-- end complete-->



                </div>
            </div>
        </div>
        <!--end central content-->

        <!--start left navigation-->
        <div class="nhsBSA-sidebar-nav">
            <div class="side-nav">
                <h3>
                    Laura Peteers<span class="nhsuk-caption-m nhsuk-caption--bottom">
                        <span class="nhsuk-u-visually-hidden"> - </span>3432234</span>
                </h3>
                <ul>
                    <div id="options" class="options">
                        <li>
                            <a href="person-details">Person details</a>
                        </li>
                        <li></li>
                        <li>
                            <a href="#">Entitlements and treatments along with linked Claim ID</a>
                        </li>
                        <li>
                            <a href="person-details-resubs">Resubs</a>
                        </li>
                        <li>
                            <a class="active" href="case-history-person">Case history</a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
        <!--end left navigation-->

    </div>
</div>

{% endblock %}