<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Claim actions page
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
      
          <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="uk-claims-search">UK claims (Search by claim ID)</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="claim-list-1">Search results</a></li>
      <li class="nhsuk-breadcrumb__item">View Claim ID (Actions)</li>
          </ol>
        </div>
      </div>
  
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="search-results">Back to UK claims (Create a new claim)</a></p>

    </div>
</nav>

  <div class="nhsBSA-sidebar-container">

    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">

        <div class="nhsuk-width-container-fluid">

          <div class="nhsuk-main-wrapper" id="maincontent">

            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-one-third">
                <h1 class="nhsuk-heading-xl">
                 Claim ID 9543
                </h1>
              </div>  

          </div>
          
            <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation" style="background-color:#f0f4f5;">
              <ul class="nhsuk-secondary-navigation__list">
                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link"  href="claim-treatment-forms-1">Treatment forms</a>
                  <span class="nhsuk-u-visually-hidden">Search for a treatment record</span>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link"  href="claim-summary-1">Claim summary</a>
                  <span class="nhsuk-u-visually-hidden">View the overall summary for claim 9543</span>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" aria-current="page" href="claim-print">Actions</a>
                  <span class="nhsuk-u-visually-hidden">Complete any outstanding actions</span>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link"  href="claim-resubs-3">Resubmissions</a>
                  <span class="nhsuk-u-visually-hidden">Add treatments to resubmission</span>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" 
                      href="claim-case-history">Claim history</a>
                  <span class="nhsuk-u-visually-hidden">View case history for claim 9543</span>
              </li>

              </ul>
            </nav>
                  
                <hr style="border-bottom:1px solid #ccc; margin:0">
    <br><br>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <div class="nhsuk-inset-text nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-4" id="sent-for-printing-notification">Documents will be available in AWS S3 Console for printing the day after they have been sent.</div>
        <h1 class="nhsuk-heading-s">Withdrawal agreement (WA)</h1>

        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
             <dt class="nhsuk-summary-list__key" id="wa-schedule-label">Schedule</dt>
             <dd class="nhsuk-summary-list__actions">
                <a href="" id="waSchedulePrint">
                   <span id="wa_schedule_print_text">Print</span>
                   <span class="nhsuk-u-visually-hidden">&nbsp;</span>
                   <span class="nhsuk-u-visually-hidden">a copy of the WA schedule</span>
                </a>
             </dd>
             <dd class="nhsuk-summary-list__actions">
                <a href="" id="waScheduleDownload">
                   <span id="wa_schedule_download_text">Download</span>
                   <span class="nhsuk-u-visually-hidden">&nbsp;</span>
                   <span class="nhsuk-u-visually-hidden">full claim record for WA claim 333398</span>
                </a>
             </dd>
          </div>
          <div class="nhsuk-summary-list__row">
             <dt class="nhsuk-summary-list__key" id="wa-s080-global-note-label">S080 global note</dt>
             <dd class="nhsuk-summary-list__actions">
                <a href="" id="waSO80Print">
                   <span id="wa_so80_print_text">Print</span>
                   <span class="nhsuk-u-visually-hidden">&nbsp;</span>
                   <span class="nhsuk-u-visually-hidden">a copy of the WA SO80 global note</span>
                </a>
             </dd>
             <dd class="nhsuk-summary-list__value"></dd>
          </div>
          <div class="nhsuk-summary-list__row">
             <dt class="nhsuk-summary-list__key" id="wa-treatment-forms-label">Treatment forms</dt>
             <dd class="nhsuk-summary-list__actions">
                <a href="" id="waTreatmentPrint">
                   <span id="wa_treatment_print_text">Print</span>
                   <span class="nhsuk-u-visually-hidden">&nbsp;</span>
                   <span class="nhsuk-u-visually-hidden">a copy of the WA treatment forms</span>
                </a>
             </dd>
             <dd class="nhsuk-summary-list__value"></dd>
          </div>
          <div class="nhsuk-summary-list__row">
             <dt class="nhsuk-summary-list__key" id="wa-rina-claim-file">Claim file for RINA</dt>
             <dd class="nhsuk-summary-list__actions">
                <a href="" id="waRinaPrint">
                   <span id="wa_rina_print_text">Print</span>
                   <span class="nhsuk-u-visually-hidden">&nbsp;</span>
                   <span class="nhsuk-u-visually-hidden">a copy of the WA XML claim file</span>
                </a>
             </dd>
             <dd class="nhsuk-summary-list__value"></dd>
          </div>
       </dl>


        <h1 class="nhsuk-heading-s">Trade and corporation agreement (TCA)</h1>

        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
             <dt class="nhsuk-summary-list__key" id="tca-schedule-label">Schedule</dt>
             <dd class="nhsuk-summary-list__actions">
                <a href="" id="tcaSchedulePrint">
                   <span id="tca_schedule_print_text">Print</span>
                   <span class="nhsuk-u-visually-hidden">&nbsp;</span>
                   <span class="nhsuk-u-visually-hidden">a copy of the TCA schedule</span>
                </a>
             </dd>
             <dd class="nhsuk-summary-list__actions">
                <a href="" id="tcaScheduleDownload">
                   <span id="tca_schedule_download_text">Download</span>
                   <span class="nhsuk-u-visually-hidden">&nbsp;</span>
                   <span class="nhsuk-u-visually-hidden">full claim record for TCA claim 333398</span>
                </a>
             </dd>
          </div>
          <div class="nhsuk-summary-list__row">
             <dt class="nhsuk-summary-list__key" id="tca-s080-global-note-label">S080 global note</dt>
             <dd class="nhsuk-summary-list__actions">
                <a href="" id="tcaSO80Print">
                   <span id="tca_so80_print_text">Print</span>
                   <span class="nhsuk-u-visually-hidden">&nbsp;</span>
                   <span class="nhsuk-u-visually-hidden">a copy of the TCA SO80 global note</span>
                </a>
             </dd>
             <dd class="nhsuk-summary-list__value"></dd>
          </div>
          <div class="nhsuk-summary-list__row">
             <dt class="nhsuk-summary-list__key" id="tca-treatment-forms-label">Treatment forms</dt>
             <dd class="nhsuk-summary-list__actions">
                <a href="" id="tcaTreatmentPrint">
                   <span id="tca_treatment_print_text">Print</span>
                   <span class="nhsuk-u-visually-hidden">&nbsp;</span>
                   <span class="nhsuk-u-visually-hidden">a copy of the TCA treatment forms</span>
                </a>
             </dd>
             <dd class="nhsuk-summary-list__value"></dd>
          </div>
          <div class="nhsuk-summary-list__row">
             <dt class="nhsuk-summary-list__key" id="tca-rina-claim-file">Claim file for RINA</dt>
             <dd class="nhsuk-summary-list__actions">
                <a href="" id="tcaRinaPrint">
                   <span id="tca_rina_print_text">Print</span>
                   <span class="nhsuk-u-visually-hidden">&nbsp;</span>
                   <span class="nhsuk-u-visually-hidden">a copy of the TCA XML claim file</span>
                </a>
             </dd>
             <dd class="nhsuk-summary-list__value"></dd>
          </div>
       </dl>


    </div>
    </div>

      
    </div>

  </div>

</div>
      

  </div>

{% endblock %}


