<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Manage cost recovery
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsBSA-sidebar-container">

    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">

        <div class="nhsuk-width-container-fluid">

          <div class="nhsuk-main-wrapper" id="maincontent">

            <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation" style="background-color:#f0f4f5;">
              <ul class="nhsuk-secondary-navigation__list">
                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link"  href="home">Claims</a>
                </li>
    
                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" aria-current="page" href="home-ovm">OVM</a>
                </li>
    
            </nav>
                  
                <hr style="border-bottom:1px solid #ccc; margin:0">
    <br><br>


            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-two-thirds">
                <h1 class="nhsuk-heading-l">
                  Summary for September 2021
                </h1>
              </div> 
            </div>

            <div class="nhsuk-grid-row nhsuk-card-group">
              <div class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
                <div class="nhsuk-card">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-s">EHIC</h2>
                    <p class="nhsuk-card__description data-item-large">20</p>
                      <p>claims</p>
                       <p class="nhsuk-card__description data-item-medium">£20,292.11</p>
                      <p> total cost</p>
      ​
                  </div>
                </div>
              </div>
        
              <div class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
                <div class="nhsuk-card">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-s">PRC</h2>
                    <p class="nhsuk-card__description data-item-large">20</p>
                      <p>claims</p>
                       <p class="nhsuk-card__description data-item-medium">£202,322.01</p>
                      <p> total cost</p>
      ​
                  </div>
                </div>
              </div>
      
                <div class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
                <div class="nhsuk-card">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-s">S2</h2>
                    <p class="nhsuk-card__description data-item-large">20</p>
                      <p>claims</p>
                       <p class="nhsuk-card__description data-item-medium">£8,345.11</p>
                      <p> total cost</p>
      ​
                  </div>
                </div>
              </div>
      
              <div class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
                <div class="nhsuk-card">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-s">Malta quota</h2>
                    <p class="nhsuk-card__description data-item-large">10</p>
                      <p>claims</p>
                       <p class="nhsuk-card__description data-item-medium">£6,235.11</p>
                      <p> total cost</p>
      ​
                  </div>
                </div>
              </div>
             </div>

                  <hr style="margin-top: 0px;">
                  <div class="nhsuk-grid-row" id="results">
                  <div class="nhsuk-grid-column-one-half">
                  <h2 class="nhsuk-heading-l">
                    Recent activity
                  </h2>
                </div>
                <div class="nhsuk-grid-column-one-half">
                  
                  <a href="home-ovm#results"><button class="nhsuk-button nhsuk-button--secondary" type="submit" style="float:right; margin-left:20px;">
  Remove trust filter
</button></a>
             <a href="trusts-2"><button  class="nhsuk-button" type="submit" style="float:right">
  Select a different trust
</button></a>
                  
                
</div>
               
      </div>
              <table id="sortable" class="nhsuk-table  nhsuk-table-u-margin-0 nhsuk-table-clickable main-table sortable">

                <h2 class="nhsuk-heading-s">Showing results for <span class="nhsuk-tag nhsuk-tag--green" style="color: #354550; margin-right:20px; margin-left:5px;">Airedale NHS Foundation Trust</span></h2>
                <!-- TABLE START -->
                <thead class="nhsuk-table__head">
                  <tr class="nhsuk-table__row">


                    <th class="nhsuk-table__header" scope="col">
                     OVM name

                     </th>
       
                    <th class="nhsuk-table__header" scope="col">
                     Email address

                    </th>

                    <th class="nhsuk-table__header" scope="col">
                    Actioned date

                    </th>

                  </tr>
                </thead>

                <tbody class="nhsuk-table__body ">

                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">Herman Pierpoint</td>
                    <td class="nhsuk-table__cell">herman.pierpoint@nhs.net</td>
                    <td class="nhsuk-table__cell">10/09/2021</td>
                    </tr>

                    <tr class="nhsuk-table__row">
                      <td class="nhsuk-table__cell">Madge Fowler</td>
                      <td class="nhsuk-table__cell">madge.fowler@nhs.net</td>
                      <td class="nhsuk-table__cell">09/09/2021</td>
                      </tr>

                      <tr class="nhsuk-table__row">
                        <td class="nhsuk-table__cell">Elaine Barnes</td>
                        <td class="nhsuk-table__cell">elaine.barnes@nhs.net</td>
                        <td class="nhsuk-table__cell">09/09/2021</td>
                        </tr>
    
                        <tr class="nhsuk-table__row">
                          <td class="nhsuk-table__cell">Damian Stephens</td>
                          <td class="nhsuk-table__cell">damian.stephens@nhs.net</td>
                          <td class="nhsuk-table__cell">08/09/2021</td>
                          </tr>

                          <tr class="nhsuk-table__row">
                            <td class="nhsuk-table__cell">Paisley Nash</td>
                            <td class="nhsuk-table__cell">paisley.nash@nhs.net</td>
                            <td class="nhsuk-table__cell">09/09/2021</td>
                            </tr>
        
                            <tr class="nhsuk-table__row">
                              <td class="nhsuk-table__cell">Ronald Carter</td>
                              <td class="nhsuk-table__cell">ronald.carter@nhs.net</td>
                              <td class="nhsuk-table__cell">08/09/2021</td>
                              </tr>

                              <tr class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Ferdinand Dean</td>
                                <td class="nhsuk-table__cell">ferdinand.dean@nhs.net</td>
                                <td class="nhsuk-table__cell">07/09/2021</td>
                                </tr>
            
                                <tr class="nhsuk-table__row">
                                  <td class="nhsuk-table__cell">Travis Beck</td>
                                  <td class="nhsuk-table__cell">Travis.beck@nhs.net</td>
                                  <td class="nhsuk-table__cell">05/09/2021</td>
                                  </tr>

                          
                </tbody>
              </table>


        

  
   
      </div>
        </div>
        </div>

       <div class="nhsBSA-sidebar-nav">

        <div class="side-nav">
  
              <ul>
            <div id="options" class="options">
              <h3 class="nhsuk-heading-xs">Browse</h3>
                <li>
                <a href="search" >Search</a>
              </li>
                
                
                   <h3 class="nhsuk-heading-xs">Actions</h3>
                
                <li>
                <a href="account-requests">Account requests<span class="notification-badge" style="background-color: #005eb8">2 </span></a>
                <a href="flagged-records">Review treatments<span class="notification-badge" style="background-color: #005eb8">4 </span></a>
                <a href="pending-entitlements">Pending entitlements</a>
                <!--<a href="actionable-s1">Actionable S1</a>-->
                <a href="uk-claims">UK claims</a>
                <a href="resubs" >Resubmissions</a>
                <!--<a href="action-log" >Action Log</a>-->
                    
              </li>
               
              
            </div>
          </ul>

          <!-- <div class="action-buttons">
                <button class="nhsuk-button nhsuk-button--secondary" type="submit">Add note</button>
            </div> -->
                  
        </div>
    </div>

  </div>

{% endblock %}