<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
View person record - Manage overseas entitlements and treatments - NHSBSA
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item">
            <a class="nhsuk-breadcrumb__link" href="../../../search/search-by-person">Search (Person)</a>
          </li>
          <li class="nhsuk-breadcrumb__item">
            <a class="nhsuk-breadcrumb__link" href="../../../search/search-results">Search results</a>
          </li>
          <li class="nhsuk-breadcrumb__item">
            <a class="nhsuk-breadcrumb__link" href="../entitlements-and-treatments">Entitlements and treatments</a>
          </li>
          <li class="nhsuk-breadcrumb__item">
            <a class="nhsuk-breadcrumb__link" href="s1-entitlement-details">Entitlement details (Main insured)</a>
          </li>
          <li class="nhsuk-breadcrumb__item">
            <a class="nhsuk-breadcrumb__link" href="person-search-results">Search (Main insured)</a>
          </li>
          <li class="nhsuk-breadcrumb__item">
            Person record (John Doe)
          </li>
        </ol>
      </div>
    </div>

    <p class="nhsuk-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink" href="">Back to search results</a>
    </p>
  </div>
</nav>
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">
                    
                  
                    
                    {{ backLink({
                      "href": "javascript:history.go(-1)",
                      "text": "Go back"
                    }) }}

                    
                    <div class="nhsuk-grid-row">
                      <div class="nhsuk-grid-column-full">  
                        <h1 class="app-page-heading">
                          Person record - John Doe
                        </h1>
                      </div>
                    </div>

                    <form action="dependant-personal-details" method="post">
   
                        <h2 class="nhsuk-heading-m">Personal details</h2>
                       
                        <dl class="nhsuk-summary-list">
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">First names</dt>
                            <dd class="nhsuk-summary-list__value">
                              John
                            </dd>
                          </div>

                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">First names at birth, if different</dt>
                            <dd class="nhsuk-summary-list__value">
                              Not provided
                            </dd>
                          </div>

                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Last name</dt>
                            <dd class="nhsuk-summary-list__value">
                              Doe
                            </dd>
                          </div>

                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Last name at birth, if different</dt>
                            <dd class="nhsuk-summary-list__value">
                              Not provided
                            </dd>
                          </div>

                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Date of birth</dt>
                            <dd class="nhsuk-summary-list__value">
                              4 January 1973
                            </dd>
                          </div>
                        </dl>


                        <h2 class="nhsuk-heading-m">Additional details</h2>

                        <dl class="nhsuk-summary-list">
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Sex</dt>
                            <dd class="nhsuk-summary-list__value">
                                Male
                            </dd>
                          </div>

                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Country of nationality</dt>
                            <dd class="nhsuk-summary-list__value">
                                France (FR)
                            </dd>
                          </div>

                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">UK National Insurance Number (NINO)</dt>
                            <dd class="nhsuk-summary-list__value">
                                Not provided
                            </dd>
                          </div>
                        </dl>


                        <h2 class="nhsuk-heading-m">Address details</h2>

                        <dl class="nhsuk-summary-list">
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Current address</dt>
                            <dd class="nhsuk-summary-list__value">
                                1 Washington Street<br>
                                Worcester<br>
                                WR1 1NL<br>
                                United Kingdom
                            </dd>
                          </div>

                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Date of UK residency</dt>
                            <dd class="nhsuk-summary-list__value">
                                30 July 2024
                            </dd>
                          </div>   
                        </dl>

                        <br>
    
                        <h2 class="nhsuk-heading-m">S1/S072 entitlements</h2>

                        <div class="nhsuk-hint">Select and link to the main insured person's S1/S072 entitlement.</div>


                        <!--details class="nhsuk-details" style="background-color: #f0f4f5; padding: 0px 0px 0px">
                          <summary class="nhsuk-details__summary">
                            <span class="nhsuk-details__summary-text">
                              If the main insured person does not have a valid S1/S072
                            </span>
                          </summary>
                          <div class="nhsuk-details__text">
                            <p>This may be because their entitlement has not been created. If so, search for the main insured's person record and create their S1/S072. From the main insured's entitlement you can link to the dependant's entitlement.</p>
                          </div>
                        </details-->

                        <table role="table" id="entitlementsTable" class="nhsuk-table-responsive">
                          <!-- TABLE START -->
                          <thead class="nhsuk-table__head">
                              <tr class="nhsuk-table__row">
                                  <th class="nhsuk-table__header" aria-sort="none" scope="col">Entitlement ID</th>
                                  <th class="nhsuk-table__header" aria-sort="none" scope="col">Main or dependant</th>
                                  <th class="nhsuk-table__header" aria-sort="none" scope="col">Start date</th>
                                  <th class="nhsuk-table__header" aria-sort="none" scope="col">End date</th>
                                  <th class="nhsuk-table__header" aria-sort="none" scope="col">Entitlement country</th>
                                  <th class="nhsuk-table__header" aria-sort="none" scope="col">Action</th>
                              </tr>
                          </thead>
                          <tbody class="nhsuk-table__body nhsuk-body-">
                              <tr class="nhsuk-table__row">
                                <td role="cell" class="nhsuk-table__cell">
                                  <span class="nhsuk-table-responsive__heading">Entitlement type</span>
                                  <span>100001</span>
                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                  <span class="nhsuk-table-responsive__heading">Main or dependant</span>
                                  <span>Main</span>
                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                  <span class="nhsuk-table-responsive__heading">Start date</span>
                                  <span>05/10/2024</span>
                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                  <span class="nhsuk-table-responsive__heading">End date</span>
                                  <span>-</span>
                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                  <span class="nhsuk-table-responsive__heading">Entitlement country</span>
                                  <span>France (FR)</span>
                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                  <span class="nhsuk-table-responsive__heading">Action</span>
                                  <a href="dr-link-to-entitlement-cya">Select</a><span class="nhsuk-u-visually-hidden">S1/S072 entitlement</span>
                                </td>
                              </tr>
                          </tbody>

                          <!-- Cancelled S1/S072 entitlement -->
                          <tbody class="nhsuk-table__body nhsuk-body-">
                            <tr class="nhsuk-table__row">
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Entitlement ID:</span>
                                <span>100003</span>
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Main or dependant</span>
                                <span>Main</span>
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Start date</span>
                                <span>06/01/2020</span>
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">End date</span>
                                <span>17/03/2020</span>
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Entitlement country</span>
                                <span>France (FR)</span>
                              </td>
                              <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Action</span>
                                <a href="dr-link-to-cancelled-entitlement">Select</a><span class="nhsuk-u-visually-hidden">S1/S072 entitlement</span>
                              </td>
                            </tr>
                        </tbody>
                        </table>

                        
    
                        <p>
                          <a href="person-search?search-for=Main" style="display: inline-block; margin-top: 40px;">Cancel</a>
                        </p>
    
                        </form>
    

                </div>
            </div>
          </div>
      
        <!-- Left-hand navigation -->
        <div class="nhsBSA-sidebar-nav">
        <div class="side-nav">
            <h3>
            Jane Doe<span class="nhsuk-caption-m nhsuk-caption--bottom">
            <span class="nhsuk-u-visually-hidden"> - </span>654321</span>
            </h3>
            <ul id="options" class="options">
            <li><a href="../personal-details">Personal details</a></li>
            <li><a class="active" href="../entitlements-and-treatments">Entitlements and treatments</a></li>
            <li><a href="../case-history-person">Case history</a></li>
            <!--li><a href="../document">Documents</a></li-->
            <li><a href="../notes">Notes</a></li>
            </ul>
        </div>
        </div>
        <!-- End of navigation -->
            
    </div>
</div>
<!-- End of main content -->
{% endblock %}

{% block pageScripts %}
<!-- autocomplete js -->
<script type="text/javascript">
  accessibleAutocomplete.enhanceSelectElement({
    defaultValue : '',
    autoselect : true,  
    selectElement : document.querySelector('#dependant-nationality-drop')
  })
</script>
{% endblock %}
