<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Check your answers
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<!--start breadcrumb-->
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item">
            <a class="nhsuk-breadcrumb__link" href="uk-claims-search-actual-cost">UK claims (Search)</a>
          </li>
          <li class="nhsuk-breadcrumb__item">
            <a class="nhsuk-breadcrumb__link" href="uk-claims-search-results-found">Search results</a>
          </li>
          <li class="nhsuk-breadcrumb__item">
            <a class="nhsuk-breadcrumb__link" href="create-new-uk-claim">Create new claim</a>
          </li>
          <li class="nhsuk-breadcrumb__item">Check claim details (S1/S072 - Article 65)</li>
        </ol>
      </div>
    </div>

    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="uk-claims-search-results">Back to search results</a></p>

  </div>
</nav>
<!--end breadcrumb-->
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container-fluid">
          <div class="nhsuk-main-wrapper" id="maincontent">

            

            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-two-thirds">

                <form action="duplicate-claim-warning" method="post">

                  <div class="nhsuk-form-group">
          
                      <fieldset class="nhsuk-fieldset">
                        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
                          <h1 class="nhsuk-fieldset__heading">
                            This is a duplicate claim
                          </h1>
                        </legend>
          
                        <div class="nhsuk-warning-callout">
                          <h3 class="nhsuk-warning-callout__label">
                            <span role="text">
                              <span class="nhsuk-u-visually-hidden">Important: </span>
                              Claim details
                            </span>
                          </h3>
                          <dl class="nhsuk-summary-list">
                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">
                                Claim ID
                              </dt>
                              <dd class="nhsuk-summary-list__value">
                                100004
                              </dd>
                            </div>
                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">
                                Year claim generated
                              </dt>
                              <dd class="nhsuk-summary-list__value">
                                2025
                              </dd>
                            </div>
                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">
                                Year of claim
                              </dt>
                              <dd class="nhsuk-summary-list__value">
                                2019
                              </dd>
                            </div>
                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">
                                Entitlement - Article type
                              </dt>
                              <dd class="nhsuk-summary-list__value">
                                S1/S072 - Article 63, 2.b
                              </dd>
                            </div>
                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">
                                Claim type
                              </dt>
                              <dd class="nhsuk-summary-list__value">
                                Retroactive
                              </dd>
                            </div>
                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">
                                Claim age bracket
                              </dt>
                              <dd class="nhsuk-summary-list__value">
                                0 to 19 years
                              </dd>
                            </div>
                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">
                                Country
                              </dt>
                              <dd class="nhsuk-summary-list__value">
                                France (FR)
                              </dd>
                            </div>
                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">
                                Status
                              </dt>
                              <dd class="nhsuk-summary-list__value">
                                <strong id="claim-status-tag" strong="" style="color: #354550" ;="" class="nhsuk-tag no-caps nhsuk-tag--purple">Ready to send</strong>
                              </dd>
                            </div>
                          </dl>
                          <p>View the <a href="/version-36/uk-claims/s1-claim-summary?year-of-claim=2019&entitlement-article-type=S1/S072%20-%20Article%2063,%202.b&claim-type=Retroactive&claim-age-bracket=0%20to%2019%20years" target="_blank" rel="noopener noreferrer">previously created claim (opens in a new tab)</a>.</p>
                        </div>
          
                        <h2 class="nhsuk-heading-m">
                          Do you still want to create this claim?
                        </h2>
          
                        <div class="nhsuk-hint">Placeholder text if needed to warn user what impact of creating a duplicate claim may have, 
                          alongside hint text that tells user what page they will go to if they select No. For example, 'Select No to return to Search for a UK Claim'.</div>
          
                        <div class="nhsuk-radios">
                          <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="continue-with-duplicate-claim" name="continue-with-duplicate-claim" type="radio" value="Yes">
                            <label class="nhsuk-label nhsuk-radios__label" for="continue-with-duplicate-claim">
                              Yes, I want to create a duplicate claim
                            </label>
                          </div>
                          <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="continue-with-duplicate-claim" name="continue-with-duplicate-claim" type="radio" value="No">
                            <label class="nhsuk-label nhsuk-radios__label" for="continue-with-duplicate-claim">
                              No, I do not want to create a duplicate claim
                            </label>
                          </div>
                        </div>
                      </fieldset>
          
                    </div>

                    
            <button class="nhsuk-button" type="submit" id="create-new-claim-button">Submit</button>

          </form>

        </div>
      </div>




          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<!-- autocomplete js -->
<script type="text/javascript">
  accessibleAutocomplete.enhanceSelectElement({
    defaultValue : '',
    autoselect : true,  
    selectElement : document.querySelector('#entitlement-country-drop')
  })
</script>

{% endblock %}