<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Check the OVM's details before submitting - Manage overseas entitlements and treatments
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<!--start breadcrumb-->
<!--end breadcrumb-->
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container-fluid">
          <div class="nhsuk-main-wrapper" id="maincontent">

            {{ backLink({
              "href": "javascript:history.go(-1)",
              "text": "Go back",
              "classes": "nhsuk-u-margin-bottom-4"
            }) }}
    
  
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <h1 class="nhsuk-heading-xl">Check OVM details before submitting</h1>
             </div>
          </div>

          <form action="check-new-ovm-details" method="post">

          
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-two-thirds">
  
                <dl class="nhsuk-summary-list">
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      OVM name
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      {% if data['ovm-name'] %}
                        {{ data['ovm-name'] }}
                      {% else %}
                        Grace Harrison
                      {% endif %}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                      <a href="enter-new-ovm-name">Change<span class="nhsuk-u-visually-hidden">OVM's name</span></a>
                    </dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      OVM email address
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      grace.harrison@royalfreelondon.nhs.net
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                      
                    </dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      OVM telephone number
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      07712345678
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                      
                  </div>
                </dl>
  
              </div>
            </div>


              <button class="nhsuk-button nhsuk-button--primary" type="submit" id="submit-button">Submit</button>

              <p><a href="cancel-updating-ovms-details?from=/version-46/uk-claims/actual-costs/check-new-ovm-details">Cancel</a></p>

            </div>
          </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}