<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Check maintained and withdrawn cost details
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<!--start breadcrumb-->
<!--end breadcrumb-->
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container-fluid">
          <div class="nhsuk-main-wrapper" id="maincontent">

            {{ backLink({
              "href": "javascript:history.go(-1)",
              "text": "Go back",
              "classes": "nhsuk-u-margin-bottom-4"
            }) }}
    
  
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <h1 class="nhsuk-heading-xl">Check these details before submitting</h1>
             </div>
          </div>

          <form action="cya-partially-maintain-and-withdraw-treatment-cost" method="post">

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">

              <h2 class="nhsuk-heading-s">Contested treatment details</h2>

              <dl class="nhsuk-summary-list">
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Treatment start date
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    01/02/2023
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Treatment start date
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    01/02/2023
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Initial cost (£)
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    300.00
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Current cost (£)
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    300.00
                  </dd>
                </div>
              </dl>


              <h2 class="nhsuk-heading-s">Maintained treatment details</h2>

              <dl class="nhsuk-summary-list">
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key" id="start-date-of-revised-maintained-treatment-label">Maintained start date</dt>
                  <dd class="nhsuk-summary-list__value" id="start-date-of-revised-maintained-treatment-value">
                    {% if data['start-date-maintained-treatment-day'] and data['start-date-maintained-treatment-month'] and data['start-date-maintained-treatment-year'] %}
                      {% set day = data['start-date-maintained-treatment-day'] | int %}
                      {% set month = data['start-date-maintained-treatment-month'] | int %}
                      {% set year = data['start-date-maintained-treatment-year'] %}
          
                      {% if day < 10 %}
                          {% set day = "0" ~ day %}
                      {% endif %}
                      
                      {% if month < 10 %}
                          {% set month = "0" ~ month %}
                      {% endif %}

                      {{ day }}/{{ month }}/{{ year }}
                    {% else %}
                      01/02/2023
                    {% endif %}
                  </dd>
                  <dd class="nhsuk-summary-list__actions"><a href="enter-maintained-treatment-dates#start-date-maintained-treatment-day">Change<span class="nhsuk-u-visually-hidden">maintained start date</span></a></dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key" id="end-date-of-revised-maintained-treatment-label">Maintained end date</dt>
                  <dd class="nhsuk-summary-list__value" id="end-date-of-revised-maintained-treatment-value">
                    {% if data['end-date-maintained-treatment-day'] and data['end-date-maintained-treatment-month'] and data['end-date-maintained-treatment-year'] %}
                      {% set day = data['end-date-maintained-treatment-day'] | int %}
                      {% set month = data['end-date-maintained-treatment-month'] | int %}
                      {% set year = data['end-date-maintained-treatment-year'] %}
          
                      {% if day < 10 %}
                          {% set day = "0" ~ day %}
                      {% endif %}
                      
                      {% if month < 10 %}
                          {% set month = "0" ~ month %}
                      {% endif %}

                      {{ day }}/{{ month }}/{{ year }}
                    {% else %}
                      01/02/2023
                    {% endif %}
                  </dd>
                  <dd class="nhsuk-summary-list__actions"><a href="enter-maintained-treatment-dates#end-date-maintained-treatment-day">Change<span class="nhsuk-u-visually-hidden">maintained end date</span></a></dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key" id="end-date-of-revised-maintained-treatment-label">Maintained cost (£)</dt>
                  <dd class="nhsuk-summary-list__value" id="end-date-of-revised-maintained-treatment-value">
                    {% if data['partial-maintained-treatment-cost'] %}
                     {{ data['partial-maintained-treatment-cost'] }}
                    {% else %}
                      200.00
                    {% endif %}
                  </dd>
                  <dd class="nhsuk-summary-list__actions"><a href="confirm-maintained-and-withdrawn-costs#partial-maintained-treatment-cost">Change<span class="nhsuk-u-visually-hidden">maintained cost</span></a></dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Reasons to maintain treatment
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {% set partialMaintainReasons = data['reasons-to-partially-maintain-treatment-cost'] %}

                    {% if partialMaintainReasons %}
                      <ol class="nhsuk-list nhsuk-list--number">
                        {% if partialMaintainReasons is string %}
                          <li>{{ partialMaintainReasons }}</li>
                        {% else %}
                          {% for partialMaintainReason in partialMaintainReasons %}
                            <li>{{ partialMaintainReason }}</li>
                          {% endfor %}
                        {% endif %}
                      </ol>
                    {% else %}
                      1. Copy of entitlement enclosed
                    {% endif %}
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="reasons-to-partially-maintain-treatment-cost">Change<span class="nhsuk-u-visually-hidden">reasons to maintain treatment</span></a>
                  </dd>
                </div>
              </dl>


              <h2 class="nhsuk-heading-s">Withdrawn treatment details</h2>

              <dl class="nhsuk-summary-list">
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key" id="start-date-of-revised-maintained-treatment-label">Withdrawn start date</dt>
                  <dd class="nhsuk-summary-list__value" id="start-date-of-revised-maintained-treatment-value">
                    01/02/2023
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    
                  </dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key" id="end-date-of-maintained-treatment-label">Withdrawn end date</dt>
                  <dd class="nhsuk-summary-list__value" id="end-date-of-maintained-treatment-value">
                    01/02/2023
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    
                  </dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key" id="end-date-of-withdrawn-treatment-label">Withdrawn cost (£)</dt>
                  <dd class="nhsuk-summary-list__value" id="end-date-of-withdrawn-treatment-value">
                    {% if data['partial-withdrawn-treatment-cost'] %}
                     {{ data['partial-withdrawn-treatment-cost'] }}
                    {% else %}
                      100.00
                    {% endif %}
                  </dd>
                  <dd class="nhsuk-summary-list__actions"><a href="confirm-maintained-and-withdrawn-costs#partial-maintained-treatment-cost">Change<span class="nhsuk-u-visually-hidden">maintained cost</span></a></dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key" id="end-date-withdrawn-treatment-label">Source of withdrawal request</dt>
                  <dd class="nhsuk-summary-list__value" id="end-date-withdrawn-treatment-value">
                    {% if data['treatment-partial-withdrawal-source'] %}
                     {{ data['treatment-partial-withdrawal-source'] }}
                    {% else %}
                      Member State
                    {% endif %}
                  </dd>
                  <dd class="nhsuk-summary-list__actions"><a href="source-of-partial-treatment-withdrawal">Change<span class="nhsuk-u-visually-hidden">source of withdrawal request</span></a></dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Reasons to withdraw treatment
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {% set partialWithdrawnReasons = data['reasons-to-partially-withdraw-treatment-cost'] %}

                    {% if partialWithdrawnReasons %}
                      <ol class="nhsuk-list nhsuk-list--number">
                        {% if partialWithdrawnReasons is string %}
                          <li>{{ partialWithdrawnReasons }}</li>
                        {% else %}
                          {% for partialWithdrawnReason in partialWithdrawnReasons %}
                            <li>{{ partialWithdrawnReason }}</li>
                          {% endfor %}
                        {% endif %}
                      </ol>
                    {% else %}
                      1. Duplicate cost
                    {% endif %}
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="reasons-to-partially-withdraw-treatment-cost">Change<span class="nhsuk-u-visually-hidden">reasons to withdraw treatment</span></a>
                  </dd>
                </div>
              </dl>

            </div>
          </div>

          

              <button class="nhsuk-button nhsuk-button--primary" type="submit" id="submit-button">Submit</button>

              <p><a href="treatment-details">Cancel</a></p>
            

          </form>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}