<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Check your answers before changing additional details - Manage overseas entitlements and treatments - NHSBSA
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">
                    
                  <div class="nhsuk-grid-column-two-thirds">
                    
                    {{ backLink({
                      "href": "javascript:history.go(-1)",
                      "text": "Go back"
                    }) }}
                
                    
                    <form action="cya-change-additional-personal-details" method="post">
          
                      <p class="nhsuk-u-font-size-22" style="color: grey;">John Doe<br>Person record ID - 123456</p>
                  
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label" for="additional-personal-details-cya-header-label">
                                <h1 class="nhsuk-heading-xl">Check your answers before changing additional details</h1>
                            </label>
                          </div>

                          <dl class="nhsuk-summary-list">
                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">
                                Sex
                              </dt>
                              <dd class="nhsuk-summary-list__value">
                                {% if data['updated-sex'] %}
                                  {{ data['updated-sex'] }}
                                {% else %}
                                  Not provided
                                {% endif %}
                              </dd>
                              <dd class="nhsuk-summary-list__actions">
                                <a href="change-additional-personal-details#updated-sex">
                                  Change<span class="nhsuk-u-visually-hidden">sex</span>
                                </a>
                              </dd>
                            </div>
                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">
                                Country of nationality
                              </dt>
                              <dd class="nhsuk-summary-list__value">
                                {% if data['updated-nationality'] %}
                                  {{ data['updated-nationality'] }}
                                {% else %}
                                  Not provided
                                {% endif %}
                              </dd>
                              <dd class="nhsuk-summary-list__actions">
                                <a href="change-additional-personal-details#updated-nationality">
                                  Change<span class="nhsuk-u-visually-hidden">country of nationality</span>
                                </a>
                              </dd>
                            </div>
                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">
                                UK National Insurance Number (NINO)
                              </dt>
                              <dd class="nhsuk-summary-list__value">
                                {% if data['updated-UK-national-insurance-number'] %}
                                  {{ data['updated-UK-national-insurance-number'] }}
                                {% else %}
                                  Not provided
                                {% endif %}
                              </dd>
                              <dd class="nhsuk-summary-list__actions">
                                <a href="change-additional-personal-details#updated-UK-national-insurance-number">
                                  Change<span class="nhsuk-u-visually-hidden">UK national insurance number</span>
                                </a>
                              </dd>
                            </div>
                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">
                                Email address
                              </dt>
                              <dd class="nhsuk-summary-list__value">
                                {% if data['updated-email-address'] %}
                                  {{ data['updated-email-address'] }}
                                {% else %}
                                  Not provided
                                {% endif %}
                              </dd>
                              <dd class="nhsuk-summary-list__actions">
                                <a href="change-additional-personal-details#updated-email-address">
                                  Change<span class="nhsuk-u-visually-hidden">email address</span>
                                </a>
                              </dd>
                            </div>
                            <div class="nhsuk-summary-list__row">
                              <dt class="nhsuk-summary-list__key">
                                Contact number
                              </dt>
                              <dd class="nhsuk-summary-list__value">
                                {% if data['updated-contact-number'] %}
                                  {{ data['updated-contact-number'] }}
                                {% else %}
                                  Not provided
                                {% endif %}
                              </dd>
                              <dd class="nhsuk-summary-list__actions">
                                <a href="change-additional-personal-details#updated-contact-number">
                                  Change<span class="nhsuk-u-visually-hidden">contact number</span>
                                </a>
                              </dd>
                            </div>
                          </dl>

                          
                                            
                    <button class="nhsuk-button" style="margin-top: 20px;" type="submit">
                        Save and continue
                    </button>

                    <p style="margin-bottom: 60px;"><a href="../account/personal-details">Cancel</a></p>

                    </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block pageScripts %}

<!-- DOB format -->
<script>
  function updateFormattedDate() {
    const day = document.getElementById("residency-day").value;
    const month = document.getElementById("residency-month").value;
    const year = document.getElementById("residency-year").value;

    if (day && month && year) {
        document.getElementById("formatted-date").textContent = formatDate(day, month, year);
    } else {
        document.getElementById("formatted-date").textContent = "2 July 2024";
    }
}

document.addEventListener('DOMContentLoaded', updateFormattedDate);
</script>
{% endblock %}