{% extends 'layouts/_form.html' %} 
{% set title = "Add dependant details" %} 
{% set caption = "S1/S072 registration" %} 
{% block form %}

<div class="nhsuk-grid-column-two-thirds">
  <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
    <form method="post">
      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-label--s" for="1"> Personal identification number in the competent member state </label>
        <div class="nhsuk-hint" id="example-hint"></div>

        <input class="nhsuk-input nhsuk-input--width-10" id="dependantPin" name="dependantPin" type="text" value="" />
      </div>
 
      <hr>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-label--s" for="1"> First name (Given names or forenames) </label>
        <div class="nhsuk-hint" id="example-hint">For example, ph or Phillip</div>
        <input class="nhsuk-input nhsuk-input--width-20" id="dependantFirstName" name="dependantFirstName" type="text" value="" />
      </div>
      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-label--s" for="1"> Last name (Name or surname) </label>
        <div class="nhsuk-hint" id="example-hint">For example, sm or Smith</div>
        <input class="nhsuk-input nhsuk-input--width-20" id="dependantLastName" name="dependantLastName" type="text" value="" />
      </div>
      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-label--s" for="1"> Last name at birth (optional) </label>
        <div class="nhsuk-hint" id="example-hint">if different</div>
        <input class="nhsuk-input nhsuk-input--width-20" id="dependantNameBirth" name="dependantNameBirth" type="text" value="" />
      </div>
      <hr>
      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-label--s" for="example"> Date of birth </label>
        <div class="nhsuk-hint" id="example-hint">For example, 15 3 1984</div>
        <div class="nhsuk-date-input" id="example">
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="example-day"> Day </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dependantDay" name="dependantDay" type="number" pattern="[0-9]*" value="" />
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="example-month"> Month </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dependantMonth" name="dependantMonth" type="number" pattern="[0-9]*" value="" />
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="example-year"> Year </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="dependantYear" name="dependantYear" type="number" pattern="[0-9]*" value="" />
            </div>
          </div>
        </div>
      </div>
      <button class="nhsuk-button nhsuk-u-margin-top-3" data-module="nhsuk-button" type="submit">Continue</button>
    </form>
  </fieldset>
</div>
{% endblock %}
