<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Reason for editing - Update person details - Manage overseas entitlements and treatments - NHSBSA
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">
                    
                  <div class="nhsuk-grid-column-two-thirds">
                    
                    {{ backLink({
                      "href": "javascript:history.go(-1)",
                      "text": "Go back"
                    }) }}

                    
                        
                    <form action="new-s1-s072-entitlement-cya" method="post">

                      <h1 class="app-page-heading">
                        <span class="nhsuk-caption-l">
                            S1/S072 entitlement
                            <span class="nhsuk-u-visually-hidden"> - </span>
                        </span>
                        Check your answers
                    </h1>

                    <h2 class="nhsuk-heading-m">Entitlement details</h2>

                    <dl class="nhsuk-summary-list">
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">Entitlement type</dt>
                        <dd class="nhsuk-summary-list__value">
                          {% if data['entitlement'] %}
                            {{ data['entitlement'] }}
                          {% else %}
                            S1/S072
                          {% endif %}
                        </dd>
                      </div>

                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">Source of information</dt>
                        <dd class="nhsuk-summary-list__value">
                          {% if data['entitlement'] %}
                            {{ data['entitlement'] }}
                          {% else %}
                            Member State (MS)
                          {% endif %}
                        </dd>

                        <dd class="nhsuk-summary-list__actions">
                          <a href="which-source"> Change<span class="nhsuk-u-visually-hidden">source of information</span> </a>
                        </dd>
                      </div>

                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">Personal identification number (PIN)</dt>
                        <dd class="nhsuk-summary-list__value">
                          {% if data['entitlement-pin'] %}
                            {{ data['entitlement-pin'] }}
                          {% else %}
                            1234567890
                          {% endif %}
                        </dd>

                        <dd class="nhsuk-summary-list__actions">
                          <a href="entitlement-details"> Change<span class="nhsuk-u-visually-hidden">personal identification number</span> </a>
                        </dd>
                      </div>

                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">Country of issue</dt>
                        <dd class="nhsuk-summary-list__value">
                          {% if data['country-of-issue'] %}
                            {{ data['country-of-issue'] }}
                          {% else %}
                            France
                          {% endif %}
                        </dd>

                        <dd class="nhsuk-summary-list__actions">
                          <a href="entitlement-details"> Change<span class="nhsuk-u-visually-hidden">country of issue</span> </a>
                        </dd>
                      </div>

                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">Issue date</dt>
                        <dd class="nhsuk-summary-list__value">
                          {% if data['s1-entitlement-issue-date-day'] and data['s1-entitlement-issue-date--month'] and data['s1-entitlement-issue-date--year'] %}
                            {{ data['s1-entitlement-issue-date--day'] }} {{ data['s1-entitlement-issue-date--month'] }} {{ data['s1-entitlement-issue-date--year'] }}
                          {% else %}
                            5 August 2024
                          {% endif %}
                        </dd>

                        <dd class="nhsuk-summary-list__actions">
                          <a href="entitlement-details"> Change<span class="nhsuk-u-visually-hidden">issue date</span> </a>
                        </dd>
                      </div>

                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">Start date</dt>
                        <dd class="nhsuk-summary-list__value">
                          {% if data['s1-entitlement-start-date-day'] and data['s1-entitlement-start-date--month'] and data['s1-entitlement-start-date--year'] %}
                            {{ data['s1-entitlement-start-date--day'] }} {{ data['s1-entitlement-start-date--month'] }} {{ data['s1-entitlement-start-date--year'] }}
                          {% else %}
                            16 August 2024
                          {% endif %}
                        </dd>

                        <dd class="nhsuk-summary-list__actions">
                          <a href="entitlement-details"> Change<span class="nhsuk-u-visually-hidden">start date</span> </a>
                        </dd>
                      </div>

                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">End date</dt>
                        <dd class="nhsuk-summary-list__value">
                          {% if data['s1-entitlement-end-date-day'] and data['s1-entitlement-end-date--month'] and data['s1-entitlement-end-date--year'] %}
                            {{ data['s1-entitlement-end-date--day'] }} {{ data['s1-entitlement-end-date--month'] }} {{ data['s1-entitlement-end-date--year'] }}
                          {% else %}
                            Not provided
                          {% endif %}
                        </dd>

                        <dd class="nhsuk-summary-list__actions">
                          <a href="entitlement-details"> Change<span class="nhsuk-u-visually-hidden">end date</span> </a>
                        </dd>
                      </div>

                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">Citizen status</dt>
                        <dd class="nhsuk-summary-list__value">
                          {% if data['s1-entitlement-citizen-status'] %}
                            {{ data['s1-entitlement-citizen-status'] }}
                          {% else %}
                            Insured person
                          {% endif %}
                        </dd>

                        <dd class="nhsuk-summary-list__actions">
                          <a href="entitlement-details"> Change<span class="nhsuk-u-visually-hidden">citizen status</span> </a>
                        </dd>
                      </div>

                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">Receiving long term benefits in cash</dt>
                        <dd class="nhsuk-summary-list__value">
                          {% if data['receive-long-term-benefits'] %}
                            {{ data['receive-long-term-benefits'] }}
                          {% else %}
                            No
                          {% endif %}
                        </dd>

                        <dd class="nhsuk-summary-list__actions">
                          <a href="entitlement-details"> Change<span class="nhsuk-u-visually-hidden">if receiving long term benefits in cash</span> </a>
                        </dd>
                      </div>
                    </dl>



                    <h2 class="nhsuk-heading-m">Institution details</h2>

                    <dl class="nhsuk-summary-list">
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">Instituion ID</dt>
                        <dd class="nhsuk-summary-list__value">
                            104940005
                        </dd>
                      
                      <dd class="nhsuk-summary-list__actions">
                        <a href="institute-details">Change<span class="nhsuk-u-visually-hidden">instituion ID</span> </a>
                      </dd>
                    </div>

                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">Instituion name</dt>
                        <dd class="nhsuk-summary-list__value">
                          Centre Hospitalier Aunay-Bayeux
                        </dd>

                        <dd class="nhsuk-summary-list__actions">
                          <a href="institute-details">Change<span class="nhsuk-u-visually-hidden">institution name</span> </a>
                        </dd>
                      </div>

                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">Address</dt>
                        <dd class="nhsuk-summary-list__value">
                          13 Rue de Nesmond<br>
                          14400 Bayeux<br>
                          France
                        </dd>

                        <dd class="nhsuk-summary-list__actions">
                          <a href="institute-details">Change<span class="nhsuk-u-visually-hidden">institution address</span> </a>
                        </dd>
                      </div>
                    </dl>



              <button class="nhsuk-button nhsuk-u-margin-top-3" data-module="nhsuk-button" type="submit">Save and continue</button>

              <p><a href="../account/entitlement-details">Cancel</a></p>

            </form>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
