.nhsuk-card.confirmation {
  background: $color_nhsuk-blue;
  color: $color_nhsuk-white;
  text-align:center;
}
.nhsuk-card.confirmation .nhsuk-caption-l {
  color: $color_nhsuk-white;

}

.nhsuk-card__content, .nhsuk-card__content.confirm {
  padding: 24px;
  position: relative;
  background: $color_nhsuk-blue;
}