
  /* ==========================================================================
   TABS
  ========================================================================== */
  .nhsuk-tabs {
    margin-top: 4px;
    margin-bottom: 32px;
  }
  @media (min-width: 40.0625em) {
    .nhsuk-tabs {
      margin-top: 4px;
    }
  }
  @media (min-width: 40.0625em) {
    .nhsuk-tabs {
      margin-bottom: 40px;
    }
  }
  
  .nhsuk-tabs__title {
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    color: #212b32;
    margin-bottom: 8px;
  }
  @media (min-width: 40.0625em) {
    .nhsuk-tabs__title {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.47368;
    }
  }
  @media print {
    .nhsuk-tabs__title {
      font-size: 14pt;
      line-height: 1.15;
    }
  }
  
  .nhsuk-tabs__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
  }
  @media (min-width: 40.0625em) {
    .nhsuk-tabs__list {
      margin-bottom: 40px;
    }
  }
  
  .nhsuk-tabs__list-item {
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    margin-left: 32px;
  }
  @media (min-width: 40.0625em) {
    .nhsuk-tabs__list-item {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.47368;
    }
  }
  @media print {
    .nhsuk-tabs__list-item {
      font-size: 14pt;
      line-height: 1.15;
    }
  }
  .nhsuk-tabs__list-item:before {
    color: #212b32;
    content: "—";
    margin-left: -32px;
    padding-right: 4px;
  }
  
  .nhsuk-tabs__tab {
    color: #005eb8;
    display: inline-block;
    margin-bottom: 8px;
  }
  .nhsuk-tabs__tab:visited {
    color: #330072;
  }
  .nhsuk-tabs__tab:hover {
    color: #7C2855;
    text-decoration: none;
  }
  .nhsuk-tabs__tab:focus {
    background-color: #ffeb3b;
    box-shadow: 0 -2px #ffeb3b, 0 4px #212b32;
    color: #212b32;
    outline: 4px solid transparent;
    text-decoration: none;
  }
  .nhsuk-tabs__tab:focus:hover {
    text-decoration: none;
  }
  .nhsuk-tabs__tab:focus:visited {
    color: #212b32;
  }
  .nhsuk-tabs__tab:focus .nhsuk-icon {
    fill: #212b32;
  }
  .nhsuk-tabs__tab:active {
    color: #002f5c;
  }
  
  .nhsuk-tabs__panel {
    margin-bottom: 48px;
  }
  @media (min-width: 40.0625em) {
    .nhsuk-tabs__panel {
      margin-bottom: 56px;
    }
  }
  
  @media (min-width: 40.0625em) {
    .js-enabled .nhsuk-tabs__list {
      border-bottom: 1px solid #d8dde0;
      margin-bottom: 0;
    }
    .js-enabled .nhsuk-tabs__list:after {
      clear: both;
      content: "";
      display: block;
    }
    .js-enabled .nhsuk-tabs__title {
      display: none;
    }
    .js-enabled .nhsuk-tabs__list-item {
      background-color: #d8dde0;
      float: left;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 4px;
      padding: 8px 24px;
      position: relative;
      text-align: center;
    }
    .js-enabled .nhsuk-tabs__list-item:before {
      content: none;
    }
    .js-enabled .nhsuk-tabs__list-item--selected {
      background-color: #ffffff;
      border: 1px solid #d8dde0;
      border-bottom: 0;
      margin-bottom: -1px;
      margin-top: -4px;
      padding-bottom: 13px;
      padding-left: 23px;
      padding-right: 23px;
      padding-top: 11px;
      position: relative;
    }
    .js-enabled .nhsuk-tabs__list-item--selected .nhsuk-tabs__tab {
      text-decoration: none;
    }
    .js-enabled .nhsuk-tabs__tab {
      margin-bottom: 0;
    }
    .js-enabled .nhsuk-tabs__tab:after {
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
    .js-enabled .nhsuk-tabs__panel {
      margin-bottom: 0;
      background-color: #ffffff;
      border: 1px solid #d8dde0;
      border-top: 0;
      padding: 40px 24px;
    }
  }
  @media (min-width: 40.0625em) and (min-width: 40.0625em) {
    .js-enabled .nhsuk-tabs__panel {
      margin-bottom: 0;
    }
  }
  @media (min-width: 40.0625em) {
    .js-enabled .nhsuk-tabs__panel > :last-child {
      margin-bottom: 0;
    }
    .js-enabled .nhsuk-tabs__panel--hidden {
      display: none;
    }
  }
  