<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Print SO71
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
   <div class="nhsuk-width-container-fluid">
     <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
      
         <ol class="nhsuk-breadcrumb__list">
           <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="search">Search (Person)</a></li>
           <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="uk-claims">UK claims (Search)</a></li>
           <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="claim-list">Search results</a></li>
           <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="claim-treatment-forms-1">Claim ID 9658 (Treatment forms)</a></li>
     <li class="nhsuk-breadcrumb__item">Resub created</li>
         </ol>
       </div>
     </div>
 
     <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="search-results">Back to search results</a></p>

   </div>
</nav>
 
<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
     <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container-fluid">
           <div class="nhsuk-main-wrapper" id="maincontent">
              <div class="nhsuk-grid-row">
                 <div class="nhsuk-grid-column-two-thirds">
                 
                    <h1 class="nhsuk-heading-xl">
                       Resubmission created
                    </h1>
                 </div>
                 <div class="nhsuk-grid-column-one-third">
                 </div>
              </div>
              <hr style="border-bottom:4px solid #005eb8; margin:0">
              <div class="nhsuk-scrollable-pane">
                 <br>
                 <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-two-thirds">
                    <p>The resubmission has been created successfully with the resub ID 0002.</p>
                    <br>
                    <a href="#"><button class="nhsuk-button nhsuk-button--primary" type="submit">Download resubmission summary</button></a>
                    <a href="resubs"><button class="nhsuk-button nhsuk-button--secondary" type="submit" style="margin-left: 20px;">Go to resubmissions</button></a>

                            
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>

{% endblock %}




