<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Create new resub
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
      
          <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="search">Search (Person)</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="uk-claims">UK claims (Search)</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="claim-list">Search results</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="claim-treatment-forms-1">Claim ID 9658 (Treatment forms)</a></li>
      <li class="nhsuk-breadcrumb__item">Create new resub</li>
          </ol>
        </div>
      </div>
  
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="claim-treatment-forms-1">Back to Claim ID 9658 (Treatment forms)</a></p>

    </div>
</nav>

  <div class="nhsBSA-sidebar-container">

    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">

        <div class="nhsuk-width-container-fluid">

          <div class="nhsuk-main-wrapper" id="maincontent">

            {# <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">

                        <div class="panel panel-border-wide alert-default">
                            <h2 class="nhsuk-heading-s nhsuk-u-padding-top-3 nhsuk-u-margin-bottom-3">English is their second language. May require an interpreter.</h2>
                        </div>

                    </div>
                </div> #}

            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-full">
                <h1 class="nhsuk-heading-xl">
                  Resubmission details
                </h1>

                
                <div class="nhsuk-grid-row">
                  <div class="nhsuk-grid-column-one-half">
                   
                   <div style="border: 3px; border-style: solid; border-color:lightgray; background-color:rgb(252, 252, 252); padding:20px 20px 8px 20px;">

                <div class="nhsuk-grid-row">
                  <div class="nhsuk-grid-column-three-quarters">
                <dl class="nhsuk-summary-list">
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                       Member state
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      France
                    </dd>
                 </div>
                   <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                         Claim ID
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        9543
                      </dd>
                   </div>
                   <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                       Article type
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      S2 - Article 20.2
                    </dd>
                 </div>
                   <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                         Accounting year
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        2020
                      </dd>
                   </div>
                   <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                         Date claim created
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        05/02/2020
                      </dd>
                   </div>
                   <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                       Original claim amount
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      Total - £291,192.33<br>
                      WA - £100,324.66<br>
                      TCA - £190,867.67
                    </dd>
                 </div>
              
                </dl>

                <div class="nhsuk-form-group">
                  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                <label class="nhsuk-label" for="example">
                  Resubmission received on
                  </label>
                  <div class="nhsuk-hint" id="example-hint">
                    For example, 15 3 2020
                  </div>
                <div class="nhsuk-date-input" id="example">
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                        Day
                      </label>
                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day" name="example-day" type="number" pattern="[0-9]*" value="">
                    </div>
                  </div>
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                        Month
                      </label>
                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month" name="example-month" type="number" pattern="[0-9]*" value="">
                    </div>
                  </div>
                  <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                        Year
                      </label>
                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-year" name="example-year" type="number" pattern="[0-9]*" value="">
                    </div>
                  </div>
                </div>
              </fieldset>
              </div>

              <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                   <label class="nhsuk-label" for="example">
                    Deadline for reply
                    </label>
                  <div class="nhsuk-date-input" id="example">
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                          Day
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day" name="example-day" type="number" pattern="[0-9]*" value="">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                          Month
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month" name="example-month" type="number" pattern="[0-9]*" value="">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                          Year
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-year" name="example-year" type="number" pattern="[0-9]*" value="">
                      </div>
                    </div>
                  </div>
                </fieldset>
                </div>

                </div>
                </div>
                </div>

              </div>


                <div class="nhsuk-grid-column-one-half">
                 
                 <div style="border: 3px; border-style: solid; border-color:lightgray; background-color:rgb(252, 252, 252); padding:20px 20px 0px 20px;">

          
              <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
          
              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="article-type">
                 Number of contested treatments
                </label>
                <input class="nhsuk-input nhsuk-u-width-one-third" id="article-type" name="article-type" type="text">
              </div>

              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="article-type">
                 Value contested
                </label>
                <input class="nhsuk-input nhsuk-u-width-one-third" id="article-type" name="article-type" type="text" value="£">
              </div>

              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="article-type">
                 Withdrawn amount
                </label>
                <input class="nhsuk-input nhsuk-u-width-one-third" id="article-type" name="article-type" type="text" value="£">
              </div>

              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="article-type">
                 Accepted amount
                </label>
                <input class="nhsuk-input nhsuk-u-width-one-third" id="article-type" name="article-type" type="text" value="£">
              </div>

              <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                   <label class="nhsuk-label" for="example">
                    Date on which the member state has sent the resubmission letter
                    </label>
                    <div class="nhsuk-hint" id="example-hint">
                      For example, 15 3 2020
                    </div>
                  <div class="nhsuk-date-input" id="example">
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                          Day
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day" name="example-day" type="number" pattern="[0-9]*" value="">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                          Month
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month" name="example-month" type="number" pattern="[0-9]*" value="">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                          Year
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-year" name="example-year" type="number" pattern="[0-9]*" value="">
                      </div>
                    </div>
                  </div>
                </fieldset>
                </div>
        
                <br>
                    <div class="action-buttons">
                       <a class="nhsuk-button nhsuk-button--primary" href="resub-created-confirmation">Create new resubmission</a>
                    </div>


                    </div>
                    </div>
                    </div>

              
      </div>
    </div>

  </div>

</div>
      

  </div>

{% endblock %}


