<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-sidebar.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}S071 request (Main insured) - Manage overseas entitlements and treatments - NHSBSA{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="../../search/search-by-person">Search (Person)</a>
          </li>
          <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="../../search/search-results">Search results</a>
          </li>
          <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="../s1-requests">S1/S071 requests</a>
          </li>
          <li class="nhsuk-breadcrumb__list-item">View request 1912292991 (Main insured)</a>
          </li>
        </ol>
      </div>
    </div>

    <a class="nhsuk-back-link" href="../s1-requests">
      <span class="nhsuk-u-visually-hidden">Back to </span>
      S1/S071 requests
    </a>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-main-wrapper" id="maincontent">

          
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <h1 class="nhsuk-heading-l">
                S071 request<br>
                RINA reference: 1912292991<br>
                MOET reference: 11273947781
              </h1>
            </div>
          </div>
      
      
          <!-- Secondary navigation begins -->
          <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation" style="background-color:#f0f4f5;">
            <ul class="nhsuk-secondary-navigation__list">
              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="s1-request-details">Request details</a>
              </li>

              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" aria-current="page" href="s1-main-insured">Main insured</a>
              </li>

              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="s1-request-history">Request history</a>
              </li>
            </ul>
          </nav>
          <hr class="gray-horizontal-line nhsuk-u-margin-top-0  nhsuk-u-margin-bottom-6">
          <!--end secondary navigation-->

          <div class="nhsuk-grid-row">   

            <div class="nhsuk-grid-column-full">

              <h2 class="nhsuk-heading-m">Main insured</h2>

              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <div style="background-color: white; padding: 20px; border: 1px solid #ddd;">
                            
                            <table id="sortable" class="nhsuk-table nhsuk-table-u-margin-0 nhsuk-table-clickable main-table">
                            <!-- TABLE START -->
                            <thead class="nhsuk-table__head">
                                <tr class="nhsuk-table__row">
                                    <th class="nhsuk-table__header" aria-sort="none" scope="col">Request ID</th>
                                    <th class="nhsuk-table__header" aria-sort="none" scope="col">Record ID</th>
                                    <th class="nhsuk-table__header" aria-sort="none" scope="col">First name</th>
                                    <th class="nhsuk-table__header" aria-sort="none" scope="col">Last name</th>
                                    <th class="nhsuk-table__header" aria-sort="none" scope="col">Date of birth</th>
                                    <th class="nhsuk-table__header" aria-sort="none" scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody class="nhsuk-table__body nhsuk-body-">
                                <tr class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">11273947781</td>
                                    <td class="nhsuk-table__cell">123456</td>
                                    <td class="nhsuk-table__cell">John</td>
                                    <td class="nhsuk-table__cell">Doe</td>
                                    <td class="nhsuk-table__cell">01 July 1951</td>
                                    <td class="nhsuk-table__cell">
                                        <a href="/version-45/s1/account/personal-details">View<span class="nhsuk-u-visually-hidden">person record</span></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                  
    
            </div>

          </div>
            

        </div>
      </div>
    </div>


    <!-- Left-hand navigation -->
    <div class="nhsBSA-sidebar-nav">
      <div class="side-nav">
        <h3>
          Jane Doe<span class="nhsuk-caption-m nhsuk-caption--bottom">
          <span class="nhsuk-u-visually-hidden"> - </span>654321</span>
        </h3>
        <ul id="options" class="options">
          <li><a href="../personal-details">Personal details</a></li>
          <li><a href="../entitlements-and-treatments">Entitlements and treatments</a></li>
          <li><a class="active" href="../s1-requests">S1/S071 requests</a></li>
          <li><a href="../system-generated-documents">Documents</a></li>
          <li><a href="../case-history-person">Case history</a></li>
          <li><a href="../notes">Notes</a></li>
        </ul>
      </div>
    </div>
    <!-- End of navigation -->

  </div>
</div>
<!-- End of main content -->
{% endblock %}
