<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Search for UK claims by ID 
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<!--start breadcrumb-->
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
      
          <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="search">Search (Person)</a></li>
                <li class="nhsuk-breadcrumb__item">UK claims (Search by claim ID)</li>
          </ol>
        </div>
      </div>
  
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="uk-claims-search">Back to search</a></p>

    </div>
</nav>
<!--end breadcrumb-->
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container-fluid">
          <div class="nhsuk-main-wrapper" id="maincontent">

            <form action="uk-claims-search-by-id" method="post">

            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-full">
                <h1 class="nhsuk-heading-xl">
                  Search for UK claims by claim ID 
                </h1>
              </div>
            </div>

               <!-- <div class="nhsuk-grid-column-two-thirds">
              
<div class="nhsuk-form-group" style="float:right; margin-left:20px;">
  <label class="nhsuk-label" for="select-1">
    Reason for flagging
  </label>
  <select class="nhsuk-select" id="select-1" name="select-1">
    <option value="1">All reasons</option>
    <option value="2" selected>Cost above £10,000</option>
    <option value="3">Additional costs</option>
    <option value="4">Treatment dates beyond 6 months</option>
    <option value="4">Ordinary residence</option>
    <option value="4">Institution details to be approved</option>
  </select>
</div>
          
<div class="nhsuk-form-group" style="float:right">
  <label class="nhsuk-label" for="select-1">
    Entitlement
  </label>
  <select class="nhsuk-select" id="select-1" name="select-1">
    <option value="1">All entitlements</option>
    <option value="2" selected>EHIC</option>
    <option value="3">PRC</option>
    <option value="4">S2</option>
  </select>
</div>
                
</div> -->
                

            <!--start secondary navigation-->
            <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation" style="background-color:#f0f4f5;">
              <ul class="nhsuk-secondary-navigation__list">
                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="uk-claims-search-actual-cost">Actual cost</a>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="uk-claims-search-average-cost">Average cost</a>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" aria-current="page" href="uk-claims-search-by-id">Claim ID</a>
                </li>
              </ul>
            </nav>
            <!--end of secondary navigation-->
                  
            <hr style="border-bottom:1px solid #ccc; margin:0">
            <br>

            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-one-third">
                  <div class="nhsuk-form-group">
                    
                  <label class="nhsuk-label" for="claim ID">
                    Claim ID
                  </label>
                  <div class="nhsuk-hint">
                    For example, 344666
                  </div>
                  <input class="nhsuk-input nhsuk-u-width-full" id="search-claim-id" name="Claim ID" type="text" value="">
                </div>
              </div>
            </div>
            
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-full">
                <button class="nhsuk-button nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2" type="submit">
                  Search
                </button>
              </div>
            </div>
              
          </form>
         
          </div>
        </div>
      </div>
      
<!-- Side nav -->
    <div class="nhsBSA-sidebar-nav">
      <div class="side-nav">
        <ul>
          <div id="options" class="options">
            <h3 class="nhsuk-heading-xs">Browse</h3>
              <li>
                <a href="../s1/search/search-by-person">Search</a>
              </li>
            
            <h3 class="nhsuk-heading-xs">Actions</h3>      
              <li>
                <a href="account-requests">Account requests<span class="notification-badge" style="background-color: #005eb8">2</span></a>
                <a href="review-treatments">Review treatments<span class="notification-badge" style="background-color: #005eb8">4</span></a>
                <a href="pending-entitlements">Pending entitlements<span class="notification-badge" style="background-color: #005eb8">3 </span></a>
                <a href="uk-claims-search-actual-cost" class="active">UK claims</a>
                <a href="resubmissions">Resubmissions<span class="notification-badge" style="background-color: #005eb8">4</span></a>
                <a href="non-eu-reciprocal-healthcare-quota">Non-EU Reciprocal Healthcare (Quota)</a>
              </li>
          </div>
        </ul>
      </div>
    </div>

</div>
{% endblock %}