<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-sidebar.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}View Case history - Person history - Manage overseas entitlements and treatments - NHSBSA{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item">
            <a class="nhsuk-breadcrumb__link" href="../../search/search-by-person">Search (Person)</a>
          </li>
          <li class="nhsuk-breadcrumb__item">
            <a class="nhsuk-breadcrumb__link" href="../../search/search-results-none">Search results</a>
          </li>
          <li class="nhsuk-breadcrumb__item">Case history - Entitlement history</a>
          </li>
        </ol>
      </div>
    </div>

    <p class="nhsuk-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink" href="">Back to search results</a>
    </p>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-main-wrapper" id="maincontent">
            
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <h1 class="nhsuk-heading-xl">Case history - entitlements</h1>
            </div>
          </div>
           
            <!--start secondary navigation-->
          <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation" style="background-color:#f0f4f5;">
            <ul class="nhsuk-secondary-navigation__list">
              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="case-history-person">Person history</a>
              </li>

              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" aria-current="page" href="case-history-entitlements">Entitlement history</a>
              </li>

              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="#">Treatment history</a>
              </li>
            </ul>
          </nav>
          <!--end secondary navigation-->


            <hr class="gray-horizontal-line">
            <br>
            <br>
            
               <div class="nhsuk-grid-row">
                  <div class="nhsuk-grid-column-full">

                    

                    <!-- Start of S1/S072 entitlements card -->
                    {% if data['dr-add-e109-entitlement'] == 'yes' %}
                    <h2 class="nhsuk-heading-m" id="s1-s072-entitlements-heading">S1/S072 entitlements</h2>

                    <div class="nhsuk-card">
                      <div class="nhsuk-card__content">
                        <div class="nhsuk-grid-row" style="margin-left: 2px;">
                          <h3 class="nhsuk-card__heading nhsuk-heading-s" id="entitlements-history-s1-s072-entitlements">Entitlement ID: 100002</h3>
                        </div>

                        <hr class="gray-horizontal-line">
                        <br>
                    
                        <div class="nhsuk-expander" style="background-color: #ffffff; padding-right: 10px; border: none; outline: none; box-shadow: none;">
                          <details class="nhsuk-details">
                            <summary aria-label="View S1/S072 entitlement history for this detail" class="nhsuk-details__summary" style="margin-left: -18px; margin-top: -21px; margin-bottom: -21px; outline: none;">
                              <span role="button" class="nhsuk-details__summary-text" id="CaseHistory_s1_s072_entitlements_Link">View entitlement history<span class="nhsuk-u-visually-hidden">for entitlement ID: 100002</span></span>
                            </summary>
                        
                            <div class="nhsuk-details__text" style="margin-top: 30px;">
                              <table class="nhsuk-table-responsive" id="entitlement-history-e109-entitlements-table" style="margin-bottom: 9px;">
                                <thead class="nhsuk-table__head">
                                  <tr>
                                    <th scope="col">Date and time</th>
                                    <th scope="col">Action</th>
                                    <th scope="col">Details</th>
                                    <th scope="col">Updated by</th>
                                  </tr>
                                </thead>
                                <tbody class="nhsuk-table__body">
                                  <!-- Most recent update shown at the top of the table -->
                                  {% if data ['dr-cancel-e109-entitlement'] == 'yes' %}
                                  <tr class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">
                                      <span class="nhsuk-table-responsive__heading">Date and time</span>
                                      <p id="currentDateS1Cancelled"></span></p>
                                    </td>
                                    <td class="nhsuk-table__cell">
                                      <span class="nhsuk-table-responsive__heading">Action</span>
                                      <p>Updated</p>
                                    </td>
                                    <td class="nhsuk-table__cell">
                                      <span class="nhsuk-table-responsive__heading">Details</span>
                                      <p>Entitlement cancelled<br>
                                         Entitlement end date

                                        {# Check if cancellation date is provided #}
                                          {% if data['dr-entitlement-end-date-day'] and data['dr-entitlement-end-date-month'] and data['dr-entitlement-end-date-year'] %}
                                            {% set day = data['dr-entitlement-end-date-day'] %}
                                            {% set month = data['dr-entitlement-end-date-month'] | int %}
                                            {% set year = data['dr-entitlement-end-date-year'] %}
                                            
                                            {% if day < 10 %}
                                                  {% set day = "0" ~ day %}
                                              {% endif %}
                                              
                                              {% if month < 10 %}
                                                  {% set month = "0" ~ month %}
                                              {% endif %}

                                              {{ day }}/{{ month }}/{{ year }}
                                          {% else %}
                                              {# Display fallback date if no entitlement end date is entered #}
                                              04/03/2025
                                          {% endif %}
                                      </p>
                                    </td>
                                    <td class="nhsuk-table__cell">
                                      <span class="nhsuk-table-responsive__heading">Updated by</span>
                                      <p id="entitlement-history-s1-s072-entitlements-updated-by">joe.bloggs@nhsbsa.nhs.uk</p>
                                    </td>
                                  </tr>
                                  {% endif %}
                                  {% if data['dr-add-main'] == 'yes' %}
                                  <tr class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">
                                      <span class="nhsuk-table-responsive__heading">Date and time</span>
                                      <p id="currentDateE109MainLinked"></span></p>
                                    </td>
                                    <td class="nhsuk-table__cell">
                                      <span class="nhsuk-table-responsive__heading">Action</span>
                                      <p>Updated</p>
                                    </td>
                                    <td class="nhsuk-table__cell">
                                      <span class="nhsuk-table-responsive__heading">Details</span>
                                      <p>Entitlement linked to John Doe</p>
                                    </td>
                                    <td class="nhsuk-table__cell">
                                      <span class="nhsuk-table-responsive__heading">Updated by</span>
                                      <p id="person-history-s1-s072-entitlements-updated-by">joe.bloggs@nhsbsa.nhs.uk</p>
                                    </td>
                                  </tr>
                                  {% endif %}
                                  <tr class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">
                                      <span class="nhsuk-table-responsive__heading">Date and time</span>
                                      <p id="currentDateE109"></span></p>
                                    </td>
                                    <td class="nhsuk-table__cell">
                                      <span class="nhsuk-table-responsive__heading">Action</span>
                                      <p>Created</p>
                                    </td>
                                    <td class="nhsuk-table__cell">
                                      <span class="nhsuk-table-responsive__heading">Details</span>
                                      <p>Entitlement registered<br>
                                        Entitlement end date 
                                        {% if data['dr-s1-entitlement-end-date-day'] and data['dr-s1-entitlement-end-date-month'] and data['dr-s1-entitlement-end-date-year'] %}
                                          {% set day = data['dr-s1-entitlement-end-date-day'] %}
                                          {% set month = data['dr-s1-entitlement-end-date-month'] | int %}
                                          {% set year = data['dr-s1-entitlement-end-date-year'] %}
                                          
                                          {% if day < 10 %}
                                                {% set day = "0" ~ day %}
                                            {% endif %}
                                            
                                            {% if month < 10 %}
                                                {% set month = "0" ~ month %}
                                          {% endif %}

                                            {{ day }}/{{ month }}/{{ year }}
                                        {% else %}
                                          not provided
                                        {% endif %}
                                      </p> 
                                    </td>
                                    <td class="nhsuk-table__cell">
                                      <span class="nhsuk-table-responsive__heading">Updated by</span>
                                      <p id="person-history-s1-s072-entitlements-updated-by">joe.bloggs@nhsbsa.nhs.uk</p>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>

                      </div>

                  <br>

                  </div>
                    </div>
                  <!-- End of E109 entitlements card -->

                  
                  {% elif data['dr-add-s1-entitlement'] == 'yes' %}
                  <!-- Start of S1/S072 entitlements card -->
                  <h2 class="nhsuk-heading-m" id="s1-s072-entitlements-heading">S1/S072 entitlements</h2>

                  <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                      <div class="nhsuk-grid-row" style="margin-left: 2px;">
                        <h3 class="nhsuk-card__heading nhsuk-heading-s" id="entitlements-history-s1-s072-entitlements">Entitlement ID: 100002</h3>
                      </div>

                      <hr class="gray-horizontal-line">
                      <br>
                  
                      <div class="nhsuk-expander" style="background-color: #ffffff; padding-right: 10px; border: none; outline: none; box-shadow: none;">
                        <details class="nhsuk-details">
                          <summary aria-label="View S1/S072 entitlement history for this detail" class="nhsuk-details__summary" style="margin-left: -18px; margin-top: -21px; margin-bottom: -21px; outline: none;">
                            <span role="button" class="nhsuk-details__summary-text" id="CaseHistory_s1_s072_entitlements_Link">View entitlement history<span class="nhsuk-u-visually-hidden">for entitlement ID: 100001</span></span>
                          </summary>
                      
                          <div class="nhsuk-details__text" style="margin-top: 30px;">
                            <table class="nhsuk-table-responsive" id="entitlement-history-s1-s072-entitlements-table" style="margin-bottom: 9px;">
                              <thead class="nhsuk-table__head">
                                <tr>
                                  <th scope="col">Date and time</th>
                                  <th scope="col">Action</th>
                                  <th scope="col">Details</th>
                                  <th scope="col">Updated by</th>
                                </tr>
                              </thead>
                              <tbody class="nhsuk-table__body">
                                <!-- most recent update at top of table -->
                                {% if data ['dr-cancel-s1-entitlement'] == 'yes' %}
                                <tr class="nhsuk-table__row">
                                  <td class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Date and time</span>
                                    <p id="currentDateS1Cancelled"></span></p>
                                  </td>
                                  <td class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Action</span>
                                    <p>Updated</p>
                                  </td>
                                  <td class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Details</span>
                                    <p>Entitlement cancelled<br>
                                      Entitlement end date
                                        {# Check if cancellation date is provided #}
                                        {% if data['dr-entitlement-end-date-day'] and data['dr-entitlement-end-date-month'] and data['dr-entitlement-end-date-year'] %}
                                          {% set day = data['dr-entitlement-end-date-day'] %}
                                          {% set month = data['dr-entitlement-end-date-month'] | int %}
                                          {% set year = data['dr-entitlement-end-date-year'] %}
                                          
                                          {% if day < 10 %}
                                                {% set day = "0" ~ day %}
                                            {% endif %}
                                            
                                            {% if month < 10 %}
                                                {% set month = "0" ~ month %}
                                            {% endif %}

                                            {{ day }}/{{ month }}/{{ year }}
                                        {% else %}
                                            {# Display fallback date if no entitlement end date is entered #}
                                            13/01/2024
                                        {% endif %}
                                    </p>
                                  </td>
                                  <td class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Updated by</span>
                                    <p id="entitlement-history-s1-s072-entitlements-updated-by">joe.bloggs@nhsbsa.nhs.uk</p>
                                  </td>
                                </tr>
                                {% endif %}
                                {% if data['dr-add-main'] == 'yes' %}
                                <tr class="nhsuk-table__row">
                                  <td class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Date and time</span>
                                    <p id="currentDateS1Dependant"></span></p>
                                  </td>
                                  <td class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Action</span>
                                    <p>Updated</p>
                                  </td>
                                  <td class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Details</span>
                                    <p>Entitlement linked to John Doe,<br>
                                      entitlement ID: 100001</p>
                                  </td>
                                  <td class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Updated by</span>
                                    <p id="person-history-s1-s072-entitlements-updated-by">joe.bloggs@nhsbsa.nhs.uk</p>
                                  </td>
                                </tr>
                                {% endif %}
                                <tr class="nhsuk-table__row">
                                  <td class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Date and time</span>
                                    {% if data ['dr-cancel-s1-entitlement'] == 'yes' %}
                                    <p>11/11/2024,<br>13:42</p>
                                    {% else %}
                                    <p id="currentDateS1"></span></p>
                                    {% endif %}
                                  </td>
                                  <td class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Action</span>
                                    <p>Created</p>
                                  </td>
                                  <td class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Details</span>
                                    <p>Entitlement registered<br>
                                      Entitlement end date 
                                      {% if data['dr-s1-entitlement-end-date-day'] and data['dr-s1-entitlement-end-date-month'] and data['dr-s1-entitlement-end-date-year'] %}
                                        {% set day = data['dr-s1-entitlement-end-date-day'] %}
                                        {% set month = data['dr-s1-entitlement-end-date-month'] | int %}
                                        {% set year = data['dr-s1-entitlement-end-date-year'] %}
                                        
                                        {% if day < 10 %}
                                              {% set day = "0" ~ day %}
                                          {% endif %}
                                          
                                          {% if month < 10 %}
                                              {% set month = "0" ~ month %}
                                        {% endif %}

                                          {{ day }}/{{ month }}/{{ year }}
                                      {% else %}
                                        not provided
                                      {% endif %}
                                    </p> 
                                  </td>
                                  <td class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Updated by</span>
                                    <p id="person-history-s1-s072-entitlements-updated-by">joe.bloggs@nhsbsa.nhs.uk</p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>

                    </div>

                <br>

                </div>
                  </div>
                {% endif %}
                <!-- End of S1/S072 entitlements card -->

                  
          </div>
        </div>

               </div>


          </div>
        </div>

          
      
      

    <!-- Left-hand navigation -->
    <div class="nhsBSA-sidebar-nav">
      <div class="side-nav">
        <h3>
          Jane Doe<span class="nhsuk-caption-m nhsuk-caption--bottom">
          <span class="nhsuk-u-visually-hidden"> - </span>654321</span>
        </h3>
        <ul id="options" class="options">
          <li><a href="personal-details">Personal details</a></li>
          <li><a href="entitlements-and-treatments">Entitlements and treatments</a></li>
          <li><a class="active" href="case-history-person">Case history</a></li>
          <!--li><a href="documents">Documents</a></li-->
          <li><a href="notes">Notes</a></li>
        </ul>
      </div>
    </div>
    <!-- End of navigation -->

  </div>
</div>
<!-- End of main content -->
{% endblock %}
      
{% block pageScripts %}
<script>
// Function to set the current date and time
function setCurrentDateTime(elementId) {
    var dateElement = document.getElementById(elementId);

    if (dateElement) {
        var currentDate = new Date();

        // Format date as DD/MM/YYYY
        var day = String(currentDate.getDate()).padStart(2, '0');
        var month = String(currentDate.getMonth() + 1).padStart(2, '0'); // Months are zero-based
        var year = currentDate.getFullYear();
        var formattedDate = `${day}/${month}/${year}`;

        // Format time as HH:mm (24-hour format)
        var hours = String(currentDate.getHours()).padStart(2, '0');
        var minutes = String(currentDate.getMinutes()).padStart(2, '0');
        var formattedTime = `${hours}:${minutes}`;

        // Set formatted date and time with line break
        dateElement.innerHTML = `${formattedDate},<br>${formattedTime}`;
    }
}

  // Set the date for each item
  document.addEventListener("DOMContentLoaded", function () {
    setCurrentDateTime("currentDatePinChanged");  // Update to S1/S072 entitlement personal identification number (PIN)
    setCurrentDateTime("currentDateS1EntitlementEndDateChanged");  // Update to S1/S072 entitlement end date
    setCurrentDateTime("currentDateS1Cancelled");  // Update to S1/S072 entitlements for cancelling entitlement
    setCurrentDateTime("currentDateE109MainLinked");  // Update to E109 entitlements for adding a Main insured person
    setCurrentDateTime("currentDateE109");      // For Dependant E109 entitlements
    setCurrentDateTime("currentDateS1Dependant");  // Update to S1/S072 entitlements for adding a dependant
    setCurrentDateTime("currentDateS1");      // For S1/S072 entitlements
    setCurrentDateTime("currentDateEHIC");      // For EHIC entitlements
    setCurrentDateTime("currentDatePRC");  // For PRC entitlements
  });
</script>
{% endblock %}
