<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
POC - Tags removed
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">

                <ol class="nhsuk-breadcrumb__list">


                    <li class="nhsuk-breadcrumb__list-item">Resubs (Pending)</li>
                </ol>
            </div>
        </div>

        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="">Back to search results</a></p>

    </div>
</nav>
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsBSA-sidebar-container">

    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">

            <div class="nhsuk-width-container-fluid">

                <div class="nhsuk-main-wrapper" id="maincontent">

                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-two-thirds">
                            <h1 class="nhsuk-heading-xl">
                                Resubmissions (Resubs)
                            </h1>
                        </div>

                        <div class="nhsuk-grid-column-one-third">
                            <a href=""><button class="nhsuk-button" type="submit" style="float:right">
                                    Filter
                                </button></a>
                        </div>

                    </div>

                    <!--start secondary navigation-->
                    <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation"
                        style="background-color:#f0f4f5;">
                        <ul class="nhsuk-secondary-navigation__list">
                            <li class="nhsuk-secondary-navigation__item">
                                <a class="nhsuk-secondary-navigation__link" aria-current="page"
                                    href="">Pending</a>
                            </li>

                            <li class="nhsuk-secondary-navigation__item">
                                <a class="nhsuk-secondary-navigation__link" href="">Completed</a>
                            </li>

                        </ul>
                    </nav>
                    <!--end secondary navigation-->

                    <hr style="border-bottom:1px solid #ccc; margin:0">
                    <br><br>


                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-one-third">


                        </div>


                    </div>


                    <table id="sortable"
                        class="nhsuk-table  nhsuk-table-u-margin-0 nhsuk-table-clickable main-table sortable">

                        <!-- TABLE START -->
                        <thead class="nhsuk-table__head">
                            <tr class="nhsuk-table__row">

                                <th class="nhsuk-table__header" scope="col">
                                    Resub ID

                                </th>


                                <th class="nhsuk-table__header" scope="col">
                                    Claim ID

                                </th>



                                <th class="nhsuk-table__header" scope="col">
                                    Country

                                </th>

                                <th class="nhsuk-table__header" scope="col">
                                    Deadline to reply
                                </th>

                                <th class="nhsuk-table__header" scope="col">
                                    Working on

                                </th>


                                <th class="nhsuk-table__header" scope="col">
                                    Resub Status

                                </th>

                                <th class="nhsuk-table__header" scope="col">
                                    Actions

                                </th>

                            </tr>
                        </thead>

                        <tbody class="nhsuk-table__body ">

                            <tr class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">0002</td>
                                <td class="nhsuk-table__cell">9543</td>
                                <td class="nhsuk-table__cell">France (FR)</td>
                                <td class="nhsuk-table__cell">15/07/2022</td>
                                <td class="nhsuk-table__cell">nina.evans@nhs.net</td>
                                <td class="nhsuk-table__cell">Send to DH<span
                                        class="nhsuk-u-visually-hidden">The resubmission status is send to DH</span>
                                </td>
                                <td class="nhsuk-table__cell"><a href="">View resub<span
                                            class="nhsuk-u-visually-hidden">View resubmission record for resub
                                            0002</span></a></td>
                            </tr>

                            <tr class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">0003</td>
                                <td class="nhsuk-table__cell">5867</td>
                                <td class="nhsuk-table__cell">Italy (IT)</td>
                                <td class="nhsuk-table__cell">20/08/2022</td>
                                <td class="nhsuk-table__cell">james.harper@nhs.net</td>
                                <td class="nhsuk-table__cell">Print failed<span
                                        class="nhsuk-u-visually-hidden">The resubmission status is print failed</span></td>
                                <td class="nhsuk-table__cell"><a href="#">View resub<span
                                            class="nhsuk-u-visually-hidden">View resubmission record for resub
                                            0003</span></a></td>
                            </tr>


                            <tr class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">0004</td>
                                <td class="nhsuk-table__cell">3381</td>
                                <td class="nhsuk-table__cell">Portugal (PT)</td>
                                <td class="nhsuk-table__cell">20/08/2022</td>
                                <td class="nhsuk-table__cell">phyllis.saunders@nhs.net</td>
                                <td class="nhsuk-table__cell">Ready to print<span
                                        class="nhsuk-u-visually-hidden">The resubmission status is ready to print</span></td>
                                <td class="nhsuk-table__cell"><a href="#">View resub<span
                                            class="nhsuk-u-visually-hidden">View resubmission record for resub
                                            0004</span></a></td>
                            </tr>

                            <tr class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">0005</td>
                                <td class="nhsuk-table__cell">9322</td>
                                <td class="nhsuk-table__cell">France (FR)</td>
                                <td class="nhsuk-table__cell">01/02/2023</td>
                                <td class="nhsuk-table__cell">vivian.burn@nhs.net</td>
                                <td class="nhsuk-table__cell">Waiting for OVM
                                       <span class="nhsuk-u-visually-hidden">The resubmission status
                                        is waiting for OVM</span></td>
                                <td class="nhsuk-table__cell"><a href="#">View resub<span
                                            class="nhsuk-u-visually-hidden">View resubmission record for resub
                                            0005</span></a></td>
                            </tr>

                            <tr class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">0006</td>
                                <td class="nhsuk-table__cell">7463</td>
                                <td class="nhsuk-table__cell">Canada (CA)</td>
                                <td class="nhsuk-table__cell">09/03/2023</td>
                                <td class="nhsuk-table__cell">james.harper@nhs.net</td>
                                <td class="nhsuk-table__cell">Under review
                                        <span class="nhsuk-u-visually-hidden">The resubmission status
                                        is under review</span></td>
                                <td class="nhsuk-table__cell"><a href="#">View resub<span
                                            class="nhsuk-u-visually-hidden">View resubmission record for resub
                                            0006</span></a></td>
                            </tr>

                            <tr class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">0007</td>
                                <td class="nhsuk-table__cell">9637</td>
                                <td class="nhsuk-table__cell">Poland (PL)</td>
                                <td class="nhsuk-table__cell">15/04/2023</td>
                                <td class="nhsuk-table__cell">nina.evans@nhs.net</td>
                                <td class="nhsuk-table__cell">Waiting for PRC <span class="nhsuk-u-visually-hidden">The resubmission status
                                    waiting for PRC</span></td>
                                <td class="nhsuk-table__cell"><a href="#">View resub<span
                                            class="nhsuk-u-visually-hidden">View resubmission record for resub
                                            0007</span></a></td>
                            </tr>

                            <tr class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">0008</td>
                                <td class="nhsuk-table__cell">9374</td>
                                <td class="nhsuk-table__cell">Japan (JP)</td>
                                <td class="nhsuk-table__cell">15/04/2023</td>
                                <td class="nhsuk-table__cell">nina.evans@nhs.net</td>
                                <td class="nhsuk-table__cell">In progress<span class="nhsuk-u-visually-hidden">The resubmission status
                                        is in progress</span></td>
                                <td class="nhsuk-table__cell"><a href="#">View resub<span
                                            class="nhsuk-u-visually-hidden">View resubmission record for resub
                                            0008</span></a></td>
                            </tr>

                            <tr class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">0009</td>
                                <td class="nhsuk-table__cell">7483</td>
                                <td class="nhsuk-table__cell">Spain (ES)</td>
                                <td class="nhsuk-table__cell">09/06/2023</td>
                                <td class="nhsuk-table__cell">malcolm.norris@nhs.net</td>
                                <td class="nhsuk-table__cell">To action <span class="nhsuk-u-visually-hidden">The resubmission status
                                        is to action</span></td>
                                <td class="nhsuk-table__cell"><a href="#">View resub<span
                                            class="nhsuk-u-visually-hidden">View resubmission record for resub
                                            0009</span></a></td>
                            </tr>
                        </tbody>
                    </table>

                                        <!--start of pagination-->
                                        <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
                                            <ul class="nhsuk-list nhsuk-pagination__list">
                                                <li class="nhsuk-pagination-item--next">
                                                    <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="#">
                                                        <span class="nhsuk-pagination__title">Next</span>
                                                        <span class="nhsuk-u-visually-hidden">:</span>
                                                        <span class="nhsuk-pagination__page">Page 2 of 3</span>
                                                        <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg"
                                                            viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                                                            <path
                                                                d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
                                                            </path>
                                                        </svg>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                        <!-- end of pagination-->

                    <br><br>
                </div>

            </div>

        </div>
<!--start left navigation-->
        <div class="nhsBSA-sidebar-nav">

            <div class="side-nav">


                <ul>
                    <div id="options" class="options">
                        <h3 class="nhsuk-heading-xs">Browse</h3>
                        <li>
                            <a href="">Search</a>
                        </li>


                        <h3 class="nhsuk-heading-xs">Actions</h3>

                        <li>
                            <a href="">Account requests<span class="notification-badge"
                                    style="background-color: #005eb8">2 </span></a>
                            <a href="">Review treatments<span class="notification-badge"
                                    style="background-color: #005eb8">4
                                </span></a>
                            <a href="">Pending entitlements</a>
                            <a href="">UK claims</a>
                            <a href="" class="active">Resubmissions<span class="notification-badge"
                                    style="background-color: #005eb8">21 </span></a>
  
                        </li>

                    </div>
                </ul>


            </div>
        </div>
        <!--end left navigation-->

    </div>

    {% endblock %}