{% extends 'layouts/_form.html' %} 
{% set title %} Print and send the DL1609{% endset %} 
{% set hidecaption = true %} 

{% block form %}
<div class="nhsuk-grid-column-two-thirds">
    <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
      <form action="dl1609-print-notes" method="post">
        <input type="hidden" id="custId" name="dl1609" value="complete">
        <button class="nhsuk-button nhsuk-button--secondary" type="submit">Print DL1609</button> 

    
   
        
      
       
      <br><br>
  
  
          <button class="nhsuk-button" type="submit">Continue</button> 
  
      
       
  
  
      
  
  
        </form>
    </fieldset>
  </div>   
{% endblock %}
