{% extends 'layouts/_form.html' %} 
{% set title %} Add any additional information{% endset %} 
{% set hidecaption = true %} 

{% block form %}
<div class="nhsuk-grid-column-two-thirds">
    <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
      <form action="../../s1-entitlement" method="post">
        <input type="hidden" id="custId" name="dl1609" value="complete">

        <div class="nhsuk-form-group">
          <label class="nhsuk-label nhsuk-label--s" for="example"> Additional information (optional) </label>
          <div class="nhsuk-hint" id="example-hint">This will be added to the entitlement notes.</div>
          <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
        </div>
      
       
      
  
  
          <button class="nhsuk-button" type="submit">Save and continue</button> 
  
      
       
  
  
      
  
  
        </form>
    </fieldset>
  </div>   
{% endblock %}
