<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Print DL1609 - Manage overseas entitlements and treatments - NHSBSA
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">
                    
                  <div class="nhsuk-grid-column-two-thirds">
                    
                    {{ backLink({
                      "href": "javascript:history.go(-1)",
                      "text": "Go back"
                    }) }}

                    <h1 class="app-page-heading">
                      Download and send the DL1609
                    </h1>
   
                    

                      <p>Download and send the DL1609 to office support who will print this document and send it to the entitlement holder on your behalf.</p>

                      <button class="nhsuk-button nhsuk-button--secondary" style="margin-bottom: 65px;" data-module="nhsuk-button" type="button">
                        Download DL1609
                      </button>
                      
                      <form action="download-dl1609" method="post">
                      <h2 class="nhsuk-heading-l">Add a note (optional)</h2>

                      <div class="nhsuk-form-group">
                        <div class="nhsuk-hint" id="note-hint">
                          For example, you might want to record XYZ.<br>
                          This will display in the Notes section.
                        </div>
                        
                        <textarea class="nhsuk-textarea" id="dl1609Comments" name="dl1609-comments" rows="8"></textarea>
                        <p id="charactersRemaining" class="nhsuk-hint" aria-hidden="true">500 characters remaining.</p>
                        <p id="char-count-screen-reader" class="nhsuk-u-visually-hidden" aria-live="polite">You can enter up to 500 characters.</p>
                      </div>  

                      
                      <button class="nhsuk-button" style="margin-top: 25px;" type="submit">
                        Save and continue
                      </button>

                      <p><a href="../account/entitlement-details?add-new-entitlement=yes">Cancel</a></p>

                    </form>

                  </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
  const textarea = document.querySelector('#dl1609Comments');
  const countRemaining = document.getElementById('charactersRemaining');
  const staticMsg = document.querySelector('#char-count-screen-reader');
  const maxCharacters = 500;
  let timeoutId;

  function updateCharacterCount() {
    const textEntered = textarea.value;
    const newLines = textEntered.match(/(\r\n|\n|\r)/g);
    const addition = newLines?.length || 0;
    const remainingCharacters = maxCharacters - textEntered.length + addition - (newLines?.length || 0);

    if (remainingCharacters >= 0) {
      countRemaining.textContent = `You have ${remainingCharacters} character${remainingCharacters === 1 ? '' : 's'} remaining`;
      countRemaining.classList.remove('nhsbsa-count-error-message');
      countRemaining.classList.add('nhsuk-hint');
      textarea.classList.remove('nhsuk-textarea--error');
    } else {
      countRemaining.textContent = `You have ${Math.abs(remainingCharacters)} character${Math.abs(remainingCharacters) === 1 ? '' : 's'} too many`;
      countRemaining.classList.add('nhsbsa-count-error-message');
      countRemaining.classList.remove('nhsuk-hint');
      textarea.classList.add('nhsuk-textarea--error');
    }
  }

  function updateScreenReaderMessage() {
    clearTimeout(timeoutId);
    timeoutId = setTimeout(() => {
      const textEntered = textarea.value;
      const newLines = textEntered.match(/(\r\n|\n|\r)/g);
      const addition = newLines?.length || 0;
      const remainingCharacters = maxCharacters - textEntered.length + addition - (newLines?.length || 0);
      // TO DO ADD FIX FOR 1 CHARACTER
      if (remainingCharacters < 0) {
        staticMsg.textContent = `You have ${Math.abs(remainingCharacters)} character${Math.abs(remainingCharacters) === 1 ? '' : 's'} too many`;
      } else {
        staticMsg.textContent = `You have ${remainingCharacters} character${remainingCharacters === 1 ? '' : 's'} remaining`;
      }
    }, 500);
  }

  textarea.addEventListener('input', () => {
    updateCharacterCount();
    updateScreenReaderMessage();
  });

  // Update character count if textarea has a value on page load
  window.addEventListener('load', () => {
    updateCharacterCount();
    updateScreenReaderMessage();
  });
</script>
{% endblock %}
