<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Treatment details - Manage overseas entitlements and treatments - NHSBSA
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">
                    <div class="nhsuk-back-link">
                        <a class="nhsuk-back-link__link" href="javascript:history.back()">
                            <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24" aria-hidden="true">
                                <path
                                    d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
                                </path>
                            </svg>
                            Go back</a>
                    </div>

                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">


                                    <h1 class="nhsuk-heading-xl">
                                      Treatment details (47238)
                                    </h1>

                                  <hr style="border-bottom:4px solid #005eb8; margin:0;"><br />

                                  <div class="nhsuk-grid-row">
                                    <div class="nhsuk-grid-column-one-half">
                                       <div>
                        <div class="gray-border-line" style="border:5px solid grey; padding: 20px 20px 1px 20px">
                           <h2 class="nhsuk-heading-m">OVM contact details</h2>
                           
                           <dl class="nhsuk-summary-list">
                              <div class="nhsuk-summary-list__row">
                                 <dt class="nhsuk-summary-list__key">Name</dt>
                                 <dd class="nhsuk-summary-list__value" id="fullName">Vicky Perry</dd>
                              </div>
                              <div class="nhsuk-summary-list__row">
                                 <dt class="nhsuk-summary-list__key">Email address</dt>
                                 <dd class="nhsuk-summary-list__value" id="emailAddress">vicky.perry@nhs.net</dd>
                              </div>
                              <div class="nhsuk-summary-list__row">
                                 <dt class="nhsuk-summary-list__key">Phone number</dt>
                                 <dd class="nhsuk-summary-list__value" id="phoneNumber">01772 789378</dd>
                              </div>
                              
                              <div class="nhsuk-summary-list__row">
                                 <dt class="nhsuk-summary-list__key">Trust</dt>
                                 <dd class="nhsuk-summary-list__value" id="trustName">Lancashire Teaching Hospitals NHS Foundation</dd>
                              </div>
                              
                           </dl>
                           
                           <h2 class="nhsuk-heading-m">OVM Approved</h2>
                           <div>
                           <dl class="nhsuk-summary-list">
                              
                              
                              <div class="nhsuk-summary-list__row">
                                 <dt class="nhsuk-summary-list__key">Person is a student</dt>
                                 <dd class="nhsuk-summary-list__value" id="personIsAStudent">No</dd>
                              </div>
                              
                           </dl>
                          </div>
                        </div>
                     </div>
                                       <br>
                                       
                                       <form action="/manage-overseas-entitlements-and-treatments/treatment-details" method="post" autocomplete="off"><input type="hidden" name="_csrf" value="e65d0e49-4172-4d9c-b282-4dff863c5313">
                                          <div class="nhsuk-form-group">
                                             <fieldset class="nhsuk-fieldset">
                                                <legend class="nhsuk-fieldset__legend">
                                                   <label class="nhsuk-label">Treatment start date</label>
                                                </legend>
                                                <div class="nhsuk-hint">For example, 05 08 1993</div>
                                                <div class="nhsuk-date-input">
                                                   <span class="nhsuk-error-message" id="startDate-error">
                                                      
                                                      
                                                   </span>
                                                   <span class="nhsuk-error-message" id="startDate-day-error">
                                                      
                                                      
                                                   </span>
                                                   <span class="nhsuk-error-message" id="startDate-month-error">
                                                      
                                                      
                                                   </span>
                                                   <span class="nhsuk-error-message" id="startDate-year-error">
                                                      
                                                      
                                                   </span>
                                                   <div class="nhsuk-date-input__item">
                                                      <div class="nhsuk-form-group">
                                                         <label class="nhsuk-label nhsuk-date-input__label" for="startDate_day">Day</label>
                                                         
                                                         <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="startDate_day" type="text" disabled="disabled" name="treatmentDTO.startDate.day" value="01">
                                                      </div>
                                                   </div>
                                                   <div class="nhsuk-date-input__item">
                                                      <div class="nhsuk-form-group">
                                                         <label class="nhsuk-label nhsuk-date-input__label" for="startDate_month">Month</label>
                                                         
                                                         <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="startDate_month" name="treatmentDTO.startDate.month" type="text" disabled="disabled" value="01">
                                                      </div>
                                                   </div>
                                                   <div class="nhsuk-date-input__item">
                                                      <div class="nhsuk-form-group">
                                                         <label class="nhsuk-label nhsuk-date-input__label" for="startDate_year">Year</label>
                                                         
                                                         <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="startDate_year" name="treatmentDTO.startDate.year" type="text" disabled="disabled" value="2022">
                                                      </div>
                                                   </div>
                                                </div>
                                             </fieldset>
                                          </div>
                                          <div class="nhsuk-form-group">
                                             <fieldset class="nhsuk-fieldset">
                                                <legend class="nhsuk-fieldset__legend">
                                                   <label class="nhsuk-label">Treatment end date</label>
                                                </legend>
                                                <div class="nhsuk-hint">For example, 05 08 1993</div>
                                                <div class="nhsuk-date-input">
                                
                                                   <div class="nhsuk-date-input__item">
                                                      <div class="nhsuk-form-group">
                                                         <label class="nhsuk-label nhsuk-date-input__label" for="endDate_day">Day</label>
                                                         
                                                         <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="endDate_day" type="text" disabled="disabled" name="treatmentDTO.endDate.day" value="02">
                                                      </div>
                                                   </div>
                                                   <div class="nhsuk-date-input__item">
                                                      <div class="nhsuk-form-group">
                                                         <label class="nhsuk-label nhsuk-date-input__label" for="endDate_month">Month</label>
                                                         
                                                         <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="endDate_month" name="treatmentDTO.endDate.month" type="text" disabled="disabled" value="01">
                                                      </div>
                                                   </div>
                                                   <div class="nhsuk-date-input__item">
                                                      <div class="nhsuk-form-group">
                                                         <label class="nhsuk-label nhsuk-date-input__label" for="endDate_year">Year</label>
                                                         
                                                         <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="endDate_year" name="treatmentDTO.endDate.year" type="text" disabled="disabled" value="2022">
                                                      </div>
                                                   </div>
                                                </div>
                                             </fieldset>
                                          </div>
                                          <div class="nhsuk-form-group">
                                             
                                             <label class="nhsuk-label" for="treatmentCost">Cost (£)</label>
                                             <div class="nhsuk-hint">For example, 234.21</div>
                                             
                                             <input class="nhsuk-input nhsuk-input--width-20" id="treatmentCost" disabled="disabled" name="treatmentDTO.treatmentCost" value="10005">
                                          </div>
                                          <div class="action-buttons">
                                             
                                             
                                          </div>
                                       </form>
                                    </div>
                                 </div>
                                 
                 

       

                      
                              
                              </div>



 

                  


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}