<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Print confirmation
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
      
          <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="search">Search (Person)</a></li>
            <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="uk-claims">UK claims (Search)</a></li>
            <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="claim-list">Search results</a></li>
            <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="claim-print">Claim ID 9658 (Actions)</a></li>
      <li class="nhsuk-breadcrumb__list-item">Print confirmation</li>
          </ol>
        </div>
      </div>
  
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="search-results">Back to UK claims (Create a new claim)</a></p>

    </div>
</nav>

  <div class="nhsBSA-sidebar-container">

    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">

        <div class="nhsuk-width-container-fluid">

          <div class="nhsuk-main-wrapper" id="maincontent">

            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-two-thirds">
                <h1 class="nhsuk-heading-xl">
                 Are you sure you want to reprint again?
                </h1>
              </div>  

          </div>
          <hr style="border-bottom:4px solid #005eb8; margin:0">
          <br>

          <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">

              <form action="print-again" method="post">
           
              <div class="nhsuk-radios">
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="example-1" name="print" type="radio" value="yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                    Yes
                  </label>
                </div>
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="example-2" name="print" type="radio" value="no">
                  <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                    No
                  </label>
                </div>

                <br>

                <button class="nhsuk-button nhsuk-button--primary" type="submit">Confirm</button>
          
              </div>
            </fieldset>

          </form>

           
          
          </div>
          
    </div>

      
    </div>

  </div>

</div>
      

  </div>

{% endblock %}


