<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Enter address - Create a new person record - Manage overseas entitlements and treatments - NHSBSA
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">
                    
                  <div class="nhsuk-grid-column-two-thirds">
                    
                    {{ backLink({
                      "href": "javascript:history.go(-1)",
                      "text": "Go back"
                    }) }}

                    <h1 class="app-page-heading">
                        <span class="nhsuk-caption-l">
                            Create a new person record
                            <span class="nhsuk-u-visually-hidden"> - </span>
                        </span>
                        Enter {% if data['first-name'] %}{{ data['first-name'] }}{% else %}John{% endif %}'s home address manually
                    </h1>
   
                    <form action="address-manual" method="post">

                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="address-building-name">
                          Building name or number
                        </label>
                        <input class="nhsuk-input nhsuk-u-width-two-thirds" id="address-building-name" name="address-building-name" type="text"  autocomplete="cc-csc">
                      </div>
              
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="address-line-2">
                          Address line 2 (optional)
                        </label>
                        <input class="nhsuk-input nhsuk-u-width-two-thirds" id="address-line-2" name="address-line-2" type="text"  autocomplete="cc-csc">
                      </div>
              
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="address-line-3">
                          Address line 3 (optional)
                        </label>
                        <input class="nhsuk-input nhsuk-u-width-two-thirds" id="address-line-3" name="address-line-3" type="text"  autocomplete="cc-csc">
                      </div>
              
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="address-town">
                          Town or city
                        </label>
                        <input class="nhsuk-input nhsuk-u-width-one-third" id="address-town" name="address-town" type="text" autocomplete="cc-csc">
                      </div>
              
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="address-region">
                          County, province or region (optional)
                        </label>
                        <input class="nhsuk-input nhsuk-u-width-one-third" id="address-region" name="address-region" type="text" autocomplete="cc-csc">
                      </div>
              
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="address-postcode">
                          Postcode (optional)
                        </label>
                        <input class="nhsuk-input nhsuk-input--width-10" id="address-postcode" name="address-postcode" type="text"  autocomplete="cc-csc">
                      </div>

                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label" id="address-country-label" for="address-country">
                            Country
                        </label>
                        <input class="nhsuk-input nhsuk-input--width-20" list="countries" id="address-country" name="address-country">
                        <datalist id="countries">
                          <option value="" selected="selected"></option>
                          <option value="Austria">Austria</option>
                          <option value="Belgium">Belgium</option>
                          <option value="Bulgaria">Bulgaria</option>
                          <option value="Croatia">Croatia</option>
                          <option value="Cyprus">Cyprus</option>
                          <option value="Czech Republic">Czech Republic</option>
                          <option value="Denmark">Denmark</option>
                          <option value="Estonia">Estonia</option>
                          <option value="Finland">Finland</option>
                          <option value="France">France</option>
                          <option value="Germany">Germany</option>
                          <option value="Gibraltar">Gibraltar</option>
                          <option value="Greece">Greece</option>
                          <option value="Hungary">Hungary</option>
                          <option value="Iceland">Iceland</option>
                          <option value="Ireland">Ireland</option>
                          <option value="Italy">Italy</option>
                          <option value="Latvia">Latvia</option>
                          <option value="Liechtenstein">Liechtenstein</option>
                          <option value="Lithuania">Lithuania</option>
                          <option value="Luxembourg">Luxembourg</option>
                          <option value="Malta">Malta</option>
                          <option value="Netherlands">Netherlands</option>
                          <option value="Norway">Norway</option>
                          <option value="Poland">Poland</option>
                          <option value="Portugal">Portugal</option>
                          <option value="Romania">Romania</option>
                          <option value="Slovakia">Slovakia</option>
                          <option value="Slovenia">Slovenia</option>
                          <option value="Spain">Spain</option>
                          <option value="Sweden">Sweden</option>
                          <option value="Switzerland">Switzerland</option>
                        </datalist>                        
                    </div>
              


                      <button class="nhsuk-button nhsuk-u-margin-top-3" type="submit">Continue</button> 

                      <p><a href="address-lookup">Look up an address</a></p>

                      <p><a href="../search/search-by-person">Cancel</a></p>

                      </form>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<!-- autocomplete js -->
<script type="text/javascript">
  accessibleAutocomplete.enhanceSelectElement({
    defaultValue : '',
    autoselect : true,  
    selectElement : document.querySelector('#countryDrop')
  })
</script>
{% endblock %}
