<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Reason for editing - Update person details - Manage overseas entitlements and treatments - NHSBSA
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">
                    
                  <div class="nhsuk-grid-column-two-thirds">
    
                      <div class="done-panel">
                        <h3 class="nhsuk-heading-xl" id="person-record-confirmation">
                          <span class="done-tick" id="done-tick">New person record created</span>
                        </h3>

                        <body class="nhsuk-caption-xl">
                          <span id="person-record-created-name">Name:</span>
                          <h1 class="nhsuk-heading-l">John Doe</h1>
                        </body>

                        <body class="nhsuk-caption-xl">
                          <span id="person-record-created-name">ID number:</span>
                          <h1 class="nhsuk-heading-l">012345</h1>
                        </body>
                      </div>

                      <h3 class="nhsuk-heading-m">
                        Next steps:
                      </h3>
                      <p>You can add entitlements to a person's record by clicking on <b>Add an entitlement</b>.</p>


                      <div class="button-container">
                        <form action="../account/patient-summary">
                          <button style="margin-right:20px;" class="nhsuk-button style=padding-right:10px;" type="submit">
                            Go to Person record
                          </button>
                        </form>
            
                        <form action="../../s1/s072/which-entitlement">
                          <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
                            Add an entitlement
                          </button>
                        </form>
                      </div>

                      <p><a href="../search/patient-search">Return to Home</a></p>

                    

                  </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
