<!-- Use this page as the index treatment form for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Treatment forms to be added to resub
{% endblock %}

<!-- Breadcrumb goes inside the betreatment form foreContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code treatment form for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
      
          <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="resubs">Resubs (Pending)</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="claim-treatment-forms-4">View Claim ID (Treatment Forms)</a></li>
            <li class="nhsuk-breadcrumb__item">Add treatments to resubs</li>
          </ol>
        </div>
      </div>
  
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="search-results">Back to UK claims (Create a new claim)</a></p>

    </div>
</nav>

  <div class="nhsBSA-sidebar-container">

    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">

        <div class="nhsuk-width-container-fluid">

          <div class="nhsuk-main-wrapper" id="maincontent">

            {# <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">

                        <div class="panel panel-border-wide alert-default">
                            <h2 class="nhsuk-heading-s nhsuk-u-padding-top-3 nhsuk-u-margin-bottom-3">English is their second language. May require an interpreter.</h2>
                        </div>

                    </div>
                </div> #}

            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-one-half">
                <h1 class="nhsuk-heading-xl">
                 List of all selected treatments that shall be added to the Resub
                </h1>
              </div>  


              <div class="nhsuk-grid-column-one-half">
                <a href="claim-treatment-forms-5"><button  class="nhsuk-button nhsuk-button--secondary" type="submit" style="float: right;">
                  Add more treatment forms<span class="nhsuk-u-visually-hidden">for claim ID 9543</span>
                </button></a>
                <a href="claim-resubs-6"><button  class="nhsuk-button" type="submit" style="float: right;  margin-right: 20px;">
                  Confirm<span class="nhsuk-u-visually-hidden">for claim ID 9543</span>
                </button></a>
                
          </div>
          </div>

          <hr style="border-bottom:4px solid #005eb8; margin:0">
          <br><br>

<table id="sortable" class="nhsuk-table nhsuk-table-clickable main-table sortable">

                <!-- TABLE START -->
                <thead class="nhsuk-table__head" id="treatments">
                  <tr class="nhsuk-table__row">
          
          
                      <th class="nhsuk-table__header" scope="col">
                        Treatment ID
          
                    </th>
          
                    <th class="nhsuk-table__header" scope="col">
                      First name
          
                     </th>
                     <th class="nhsuk-table__header" aria-sort="none" scope="col">
                    Last name
          
                     </th>
                     <th class="nhsuk-table__header"  scope="col">
                      Entitlement
          
                    </th>
                  
                    <th class="nhsuk-table__header"  scope="col">
                      Cost (£)
          
                    </th>
          
                    <th class="nhsuk-table__header"  scope="col">
                      Agreement
          
                    </th>
          
                    <th class="nhsuk-table__header"  scope="col">
                      Actions
          
                    </th>
          
                  </tr>
                </thead>
          
                <tbody class="nhsuk-table__body ">
          
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell" aria-hidden="true">62999 </td>
                    <td class="nhsuk-table__cell" aria-hidden="true">Laura</td>
                    <td class="nhsuk-table__cell" aria-hidden="true">Peteers</td>
                    <td class="nhsuk-table__cell" aria-hidden="true">S2</td>
                    <td class="nhsuk-table__cell" aria-hidden="true">953.00</td>  
                    <td class="nhsuk-table__cell" aria-hidden="true">TCA</td>   
                    <td class="nhsuk-table__cell"><a href="#">Remove</a><span class="nhsuk-u-visually-hidden">treatment form for Laura Peteers</span></td>   
                    </tr>
          
                    <tr class="nhsuk-table__row">
                      <td class="nhsuk-table__cell" aria-hidden="true">62956</td>
                      <td class="nhsuk-table__cell" aria-hidden="true">Laura</td>
                      <td class="nhsuk-table__cell" aria-hidden="true">Peteers</td>
                      <td class="nhsuk-table__cell" aria-hidden="true">S2</td>
                      <td class="nhsuk-table__cell" aria-hidden="true">10,888.45</td> 
                      <td class="nhsuk-table__cell" aria-hidden="true">TCA</td>    
                      <td class="nhsuk-table__cell"><a href="#">Remove</a><span class="nhsuk-u-visually-hidden">treatment form for Laura Peteers</span></td>
                     </tr>
          
                      <tr class="nhsuk-table__row">
                        <td class="nhsuk-table__cell" aria-hidden="true">62832</td>
                        <td class="nhsuk-table__cell" aria-hidden="true">Tony</td>
                        <td class="nhsuk-table__cell" aria-hidden="true">Smith</td>
                        <td class="nhsuk-table__cell" aria-hidden="true">S2</td>
                        <td class="nhsuk-table__cell" aria-hidden="true">13,875.99</td>   
                        <td class="nhsuk-table__cell" aria-hidden="true">TCA</td>  
                        <td class="nhsuk-table__cell"><a href="#">Remove</a><span class="nhsuk-u-visually-hidden">treatment form for Tony smith</span></td>  
                        </tr>


                        <tr class="nhsuk-table__row">
     
                            <td class="nhsuk-table__cell" aria-hidden="true">62768</td>
                            <td class="nhsuk-table__cell" aria-hidden="true">Elise</td>
                            <td class="nhsuk-table__cell" aria-hidden="true">Vincent</td>
                            <td class="nhsuk-table__cell" aria-hidden="true">S2</td>
                            <td class="nhsuk-table__cell" aria-hidden="true">953.00</td> 
                            <td class="nhsuk-table__cell" aria-hidden="true">TCA</td>    
                            <td class="nhsuk-table__cell"><a href="add-to-resub-4">Remove</a><span class="nhsuk-u-visually-hidden">for Elise Vincent</span></td> 
                            </tr>
          
                     
                     
          
                </tbody>
              </table>
        
        <nav class="nhsuk-pagination" id="pagination-label">

        <p class="nhsuk-u-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

        <ul class="nhsuk-pagination__list">
          <li class="nhsuk-pagination__item  nhsuk-pagination__item--prev">
            <a class="nhsuk-pagination__link" href="">Previous<span class="nhsuk-u-visually-hidden"> set of
                pages</span></a>
          </li>

          <li class="nhsuk-pagination__item nhsuk-pagination__item--active">1</li>

          <li class="nhsuk-pagination__item"><a class="nhsuk-pagination__link" href="#">2</a></li>

          <li class="nhsuk-pagination__item"><a class="nhsuk-pagination__link" href="#">3</a></li>

          <li class="nhsuk-pagination__item  nhsuk-pagination__item--next">
            <a class="nhsuk-pagination__link" href="">Next<span class="nhsuk-u-visually-hidden"> set of
                pages</span></a>
          </li>
        </ul>
        <p class="nhsuk-pagination__results">Showing <b>1</b> to <b>10</b> of <b>2,142</b> results</p>
      </nav>


    </div>

  </div>

</div>
      

  </div>

{% endblock %}


