<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Create new resub
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
      
          <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="resubs-landing-2">Resubs (Pending)</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="claim-resubs-5">View Claim ID (Resubmissions)</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="resubs-contested-treatments">View Resub ID (Treatments linked to resub)</a></li>
            <li class="nhsuk-breadcrumb__item">View details (Reasons for contestation)</li>
          </ol>
        </div>
      </div>
  
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="person-record-resubs">Back to Tony Smith (Resubs)</a></p>

    </div>
</nav>

  <div class="nhsBSA-sidebar-container">

    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">

        <div class="nhsuk-width-container-fluid">

          <div class="nhsuk-main-wrapper" id="maincontent">

            {# <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">

                        <div class="panel panel-border-wide alert-default">
                            <h2 class="nhsuk-heading-s nhsuk-u-padding-top-3 nhsuk-u-margin-bottom-3">English is their second language. May require an interpreter.</h2>
                        </div>

                    </div>
                </div> #}

            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-one-half">
                <h1 class="nhsuk-heading-l" style="display:inline-block; margin-right:20px;">
                  Resub ID 0002: Claim ID 9543<br />
                  (Treatment ID 62999)
                </h1>
              </div>

              <div class="nhsuk-grid-column-one-half">
                <a href="resub-withdraw-reasons"><button  class="nhsuk-button nhsuk-button--secondary" type="submit" style="float: right;">
                Withdraw<span class="nhsuk-u-visually-hidden">for claim ID 9543</span>
                </button></a>
                <a href="resub-maintain-reasons"><button  class="nhsuk-button" type="submit" style="float: right;  margin-right: 20px;">
                Maintain<span class="nhsuk-u-visually-hidden">for claim ID 9543</span>
                </button></a>
                <p style="float: right;  margin-right: 20px; margin-top: 15px;"><a href="resub-partial-reasons">Partially maintain or withdraw</a></p>
              </div>
            </div>

            <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation" style="background-color:#f0f4f5;">
              <ul class="nhsuk-secondary-navigation__list">
                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link"   href="resub-view-details">Treatment details</a>
                  <span class="nhsuk-u-visually-hidden">View treatment details</span>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" aria-current="page"  href="reasons-for-contestation">Reasons for contestation</a>
                  <span class="nhsuk-u-visually-hidden">Add reasons for contestation</span>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="contacted-the-ovm">Contact the OVM</a>
                  <span class="nhsuk-u-visually-hidden">Contact the overseas visitor manager</span>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="request-for-prc">Request for a PRC</a>
                  <span class="nhsuk-u-visually-hidden">Request a new PRC</span>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="resub-treatment-actions">Evidence</a>
                  <span class="nhsuk-u-visually-hidden">Upload, print or view resubmission documents</span>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link"  href="ovm-contact-details">OVM details</a>
                  <span class="nhsuk-u-visually-hidden">View overseas visitor manager contact details</span>
                </li>
              
              </ul>
            
            </nav>
                  
                <hr style="border-bottom:1px solid #ccc; margin:0">
    <br><br>

                
                <div class="nhsuk-grid-row">
                  <div class="nhsuk-grid-column-one-half">

                    <div class="nhsuk-form-group">

                      <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">

                
                        <div class="nhsuk-hint" id="example-hint">
                          Select all reasons that are relevant for contestation.
                        </div>
                    
                        <div class="nhsuk-checkboxes">
                    
                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" checked>
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                              A duplicate or double invoice has been claimed
                            </label>
                          </div>
                    
                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                              Claim was sent to incorrect member state
                            </label>
                          </div>
                    
                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                              Entitlement document is not valid or Entitlement partially covers the treatment period or Patient does not have a valid European card 
                            </label>
                          </div>

                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-4" name="example" type="checkbox" >
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-4">
                              Incorrect entitlement submitted for the claimant
                            </label>
                          </div>
                    
                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-5" name="example" type="checkbox">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-5">
                              Incorrect Treatment information provided
                            </label>
                          </div>
                    
                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-6" name="example" type="checkbox" >
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-6">
                              Member state needs a copy of entitlement document
                            </label>
                          </div>

                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-7" name="example" type="checkbox" >
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-7">
                              Patient has an S1 or is insured in the UK or is an ordinarily resident in UK or Employed in the UK at the time of taking care
                            </label>
                          </div>
                    
                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-8" name="example" type="checkbox">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-8">
                              The institution cannot determine that person is insured or Incorrect patient information provided
                            </label>
                          </div>
                    
                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-9" name="example" type="checkbox" >
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-9">
                              The institution details are incorrect or missing
                            </label>
                          </div>

                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-10" name="example" type="checkbox" checked>
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-10">
                              The institution needs a detailed breakdown of medical costs or costs are not correct
                            </label>
                          </div>

                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-20" name="example" type="checkbox" >
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-20">
                              Other. Please specify your reason in the below box
                            </label>
                            <br>

                          </div>
                          <div class="nhsuk-form-group">
                            <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint">Incorrect document</textarea>
                          </div>
                    
                        </div>
                      </fieldset>
                    
                    </div>
                    <br>
               
              <a href="extra-information-2"><button  class="nhsuk-button nhsuk-button--primary" type="submit">
                Save and submit
              </button></a>



            </div>
            </div>

              
      </div>
    </div>

  </div>

</div>
      

  </div>

{% endblock %}


