<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Adjust date and cost {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<!-- <nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
      
          <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="search">Search (Person)</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="resubs">Resubs</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="claim-resubs-1">Claim ID 9543 (Resubs)</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="resubs-contested-treatments">Resub number 0002</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="prc-requested">Request for PRC</a></li>
            <li class="nhsuk-breadcrumb__item">No request received</li>
          </ol>
        </div>
      </div>
  
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="claim-treatment-forms-1">Back to Claim ID 9658 (Treatment forms)</a></p>

    </div>
</nav> -->

<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-main-wrapper" id="maincontent">
          <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="javascript:history.back()">
              <svg
                class="nhsuk-icon nhsuk-icon__chevron-left"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                aria-hidden="true"
              >
                <path
                  d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"
                ></path>
              </svg>
              Go back</a
            >
          </div>

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <h1
                class="nhsuk-heading-xl"
                style="display: inline-block; margin-right: 20px"
              >
                Select reasons to partially maintain or withdraw
              </h1>
            </div>
          </div>

          <hr style="border-bottom: 4px solid #005eb8; margin: 0" />
          <br /><br />

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
              <h2
              class="nhsuk-heading-l"
            >
              Reasons to maintain
            </h2>

              <div class="nhsuk-form-group">
                <fieldset
                  class="nhsuk-fieldset"
                  aria-describedby="example-hint"
                >
                  <div class="nhsuk-hint" id="example-hint">
                    Select all reasons that are relevant.
                  </div>

                  <div class="nhsuk-checkboxes">
                    <div class="nhsuk-checkboxes__item">
                      <input
                        class="nhsuk-checkboxes__input"
                        id="check-1"
                        name="check-1"
                        type="checkbox"
                      />
                      <label
                        class="nhsuk-label nhsuk-checkboxes__label"
                        for="check-1"
                      >
                        Copy of EHIC attached- Please refer to Decision No. 9 of
                        Article 62 of Regulation (EC) No 987/2009-Article 2,
                        point 3.
                      </label>
                    </div>

                    <div class="nhsuk-checkboxes__item">
                        <input
                          class="nhsuk-checkboxes__input"
                          id="check-2"
                          name="check-2"
                          type="checkbox"
                        />
                        <label
                          class="nhsuk-label nhsuk-checkboxes__label"
                          for="check-2"
                        >
                        Copy of EHIC/PRC/S2 enclosed
                        </label>
                      </div>

                      <div class="nhsuk-checkboxes__item">
                        <input
                          class="nhsuk-checkboxes__input"
                          id="check-9"
                          name="check-9"
                          type="checkbox"
                        />
                        <label
                          class="nhsuk-label nhsuk-checkboxes__label"
                          for="check-9"
                        >
                        EHIC details enclosed
                        </label>
                      </div>

                      <div class="nhsuk-checkboxes__item">
                        <input
                          class="nhsuk-checkboxes__input"
                          id="check-10"
                          name="check-10"
                          type="checkbox"
                          checked
                        />
                        <label
                          class="nhsuk-label nhsuk-checkboxes__label"
                          for="check-10"
                        >
                        Hospital has confirmed the correct amount 
                        </label>
                      </div>

                      <div class="nhsuk-checkboxes__item">
                        <input
                          class="nhsuk-checkboxes__input"
                          id="check-7"
                          name="check-7"
                          type="checkbox"
                        />
                        <label
                          class="nhsuk-label nhsuk-checkboxes__label"
                          for="check-7"
                        >
                        Hospital has confirmed, treatment is against the NCG code/specifics of treatment
                        </label>
                      </div>

                      <div class="nhsuk-checkboxes__item">
                        <input
                          class="nhsuk-checkboxes__input"
                          id="check-10"
                          name="check-10"
                          type="checkbox"
                        />
                        <label
                          class="nhsuk-label nhsuk-checkboxes__label"
                          for="check-10"
                        >
                        Maintained treatment covered by EHIC 
                        </label>
                      </div>

                      <div class="nhsuk-checkboxes__item">
                        <input
                          class="nhsuk-checkboxes__input"
                          id="check-4"
                          name="check-4"
                          type="checkbox"
                        />
                        <label
                          class="nhsuk-label nhsuk-checkboxes__label"
                          for="check-4"
                        >
                        Name amended have been amended see enclosed new S080
                        </label>
                      </div>

                      <div class="nhsuk-checkboxes__item">
                        <input
                          class="nhsuk-checkboxes__input"
                          id="check-8"
                          name="check-8"
                          type="checkbox"
                        />
                        <label
                          class="nhsuk-label nhsuk-checkboxes__label"
                          for="check-8"
                        >
                        No response received to S044, maintain cost
                        </label>
                      </div>

                      <div class="nhsuk-checkboxes__item">
                        <input
                          class="nhsuk-checkboxes__input"
                          id="check-3"
                          name="check-3"
                          type="checkbox"
                        />
                        <label
                          class="nhsuk-label nhsuk-checkboxes__label"
                          for="check-3"
                        >
                        OVM confimed, cost is correct
                        </label>
                      </div>

                      <div class="nhsuk-checkboxes__item">
                        <input
                          class="nhsuk-checkboxes__input"
                          id="check-6"
                          name="check-6"
                          type="checkbox"
                        />
                        <label
                          class="nhsuk-label nhsuk-checkboxes__label"
                          for="check-6"
                        >
                        Received the resub after the deadline
                        </label>
                      </div>

                      <div class="nhsuk-checkboxes__item">
                        <input
                          class="nhsuk-checkboxes__input"
                          id="check-5"
                          name="check-5"
                          type="checkbox"
                        />
                        <label
                          class="nhsuk-label nhsuk-checkboxes__label"
                          for="check-5"
                        >
                        Treatment costs have been amended see enclosed new S080 
                        </label>
                      </div>

                    <div class="nhsuk-checkboxes__item">
                      <input
                        class="nhsuk-checkboxes__input"
                        id="example-other"
                        name="example-other"
                        type="checkbox"
                      />
                      <label
                        class="nhsuk-label nhsuk-checkboxes__label"
                        for="example-other"
                      >
                        Other. Please specify your reason in the below box
                      </label>
                    </div>

                    <div class="nhsuk-form-group">
                        <textarea
                          class="nhsuk-textarea"
                          id="example"
                          name="example"
                          rows="5"
                          aria-describedby="example-hint"
                        ></textarea>
                      </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
<hr>

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
              <h2
              class="nhsuk-heading-l"
            >
              Reasons to withdraw
            </h2>
              <div class="nhsuk-form-group">
                <fieldset
                  class="nhsuk-fieldset"
                  aria-describedby="example-hint"
                >
                  <div class="nhsuk-hint" id="example-hint">
                    Select all reasons that are relevant.
                  </div>

                  <div class="nhsuk-checkboxes">
                    <div class="nhsuk-checkboxes__item">
                      <input
                        class="nhsuk-checkboxes__input"
                        id="check-1"
                        name="check-1"
                        type="checkbox"
                      />
                      <label
                        class="nhsuk-label nhsuk-checkboxes__label"
                        for="check-1"
                      >
                      EHIC doesn't cover treatment from 13/04/2019 to 13/05/2019 so withdrawn this from total amount
                      </label>
                    </div>

                    <div class="nhsuk-checkboxes__item">
                        <input
                          class="nhsuk-checkboxes__input"
                          id="check-2"
                          name="check-2"
                          type="checkbox"
                        />
                        <label
                          class="nhsuk-label nhsuk-checkboxes__label"
                          for="check-2"
                        >
                        Entitlement doesn't cover full treatment dates
                        </label>
                      </div>

                      <div class="nhsuk-checkboxes__item">
                        <input
                          class="nhsuk-checkboxes__input"
                          id="check-9"
                          name="check-9"
                          type="checkbox"
                        />
                        <label
                          class="nhsuk-label nhsuk-checkboxes__label"
                          for="check-9"
                        >
                        Hospital has confirmed the cost was added in error
                        </label>
                      </div>

                      <div class="nhsuk-checkboxes__item">
                        <input
                          class="nhsuk-checkboxes__input"
                          id="check-10"
                          name="check-10"
                          type="checkbox"
                        />
                        <label
                          class="nhsuk-label nhsuk-checkboxes__label"
                          for="check-10"
                        >
                        Hospital has confirmed, appointment was cancelled 
                        </label>
                      </div>

                      <div class="nhsuk-checkboxes__item">
                        <input
                          class="nhsuk-checkboxes__input"
                          id="check-7"
                          name="check-7"
                          type="checkbox"
                        />
                        <label
                          class="nhsuk-label nhsuk-checkboxes__label"
                          for="check-7"
                        >
                        Hospital has confirmed, appointment/treatment not carried out
                        </label>
                      </div>

                      <div class="nhsuk-checkboxes__item">
                        <input
                          class="nhsuk-checkboxes__input"
                          id="check-10"
                          name="check-10"
                          type="checkbox"
                          checked
                        />
                        <label
                          class="nhsuk-label nhsuk-checkboxes__label"
                          for="check-10"
                        >
                        Hospital has confirmed, cost is duplicate 
                        </label>
                      </div>

                      <div class="nhsuk-checkboxes__item">
                        <input
                          class="nhsuk-checkboxes__input"
                          id="check-4"
                          name="check-4"
                          type="checkbox"
                        />
                        <label
                          class="nhsuk-label nhsuk-checkboxes__label"
                          for="check-4"
                        >
                        MS confirmed person is not insured
                        </label>
                      </div>

                      <div class="nhsuk-checkboxes__item">
                        <input
                          class="nhsuk-checkboxes__input"
                          id="check-8"
                          name="check-8"
                          type="checkbox"
                        />
                        <label
                          class="nhsuk-label nhsuk-checkboxes__label"
                          for="check-8"
                        >
                        MS unable to locate person
                        </label>
                      </div>

                      <div class="nhsuk-checkboxes__item">
                        <input
                          class="nhsuk-checkboxes__input"
                          id="check-3"
                          name="check-3"
                          type="checkbox"
                        />
                        <label
                          class="nhsuk-label nhsuk-checkboxes__label"
                          for="check-3"
                        >
                        Response to S044 - MS unable to locate patient
                        </label>
                      </div>

                      <div class="nhsuk-checkboxes__item">
                        <input
                          class="nhsuk-checkboxes__input"
                          id="check-6"
                          name="check-6"
                          type="checkbox"
                        />
                        <label
                          class="nhsuk-label nhsuk-checkboxes__label"
                          for="check-6"
                        >
                        Sent the claim after the deadline
                        </label>
                      </div>

                      <div class="nhsuk-checkboxes__item">
                        <input
                          class="nhsuk-checkboxes__input"
                          id="check-5"
                          name="check-5"
                          type="checkbox"
                        />
                        <label
                          class="nhsuk-label nhsuk-checkboxes__label"
                          for="check-5"
                        >
                        UK Resident 
                        </label>
                      </div>

                      <div class="nhsuk-checkboxes__item">
                        <input
                          class="nhsuk-checkboxes__input"
                          id="check-5"
                          name="check-5"
                          type="checkbox"
                        />
                        <label
                          class="nhsuk-label nhsuk-checkboxes__label"
                          for="check-5"
                        >
                        We are unable to locate the patient 
                        </label>
                      </div>

                    <div class="nhsuk-checkboxes__item">
                      <input
                        class="nhsuk-checkboxes__input"
                        id="example-other"
                        name="example-other"
                        type="checkbox"
                      />
                      <label
                        class="nhsuk-label nhsuk-checkboxes__label"
                        for="example-other"
                      >
                        Other. Please specify your reason in the below box
                      </label>
                    </div>

                    <div class="nhsuk-form-group">
                        <textarea
                          class="nhsuk-textarea"
                          id="example"
                          name="example"
                          rows="5"
                          aria-describedby="example-hint"
                        ></textarea>
                      </div>
                  </div>
                </fieldset>
              </div>
              <br />

              <a href="adjust-date-cost"
                ><button
                  class="nhsuk-button nhsuk-button--primary"
                  type="submit"
                >
                  Continue
                </button></a
              >
            </div>
          </div>




        </div>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
