<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Claim history
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<!--start breadcrumb-->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="../uk-claims-search-actual-cost">UK claims (Actual cost search)</a>
          </li>
          <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="../uk-claims-search-results-found">Search results</a>
          </li>
          <li class="nhsuk-breadcrumb__list-item">View Claim ID (Claim history)</li>
        </ol>
      </div>
    </div>

    <a class="nhsuk-back-link" href="uk-claims-search-results">
      <span class="nhsuk-u-visually-hidden">Back to </span>
      Search results
    </a>

  </div>
</nav>
<!--end breadcrumb-->
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container-fluid">
          <div class="nhsuk-main-wrapper" id="maincontent">

            
            <div class="nhsuk-grid-row">   
              <div class="nhsuk-grid-column-one-half">
                {% if data['entitlement-article-type'] == 'S2/E112 - Article 20.2' %}
                  <h1 class="nhsuk-heading-l">Claim ID ID 345680 - Claim documents</h1>
                {% else %}
                  <h1 class="nhsuk-heading-l">Claim ID 345680 - Claim documents</h1>
                {% endif %}
              </div>
            </div>


            <!--start secondary navigation-->
            <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation" style="background-color:#f0f4f5;">
              <ul class="nhsuk-secondary-navigation__list">
                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="treatment-forms">Treatment forms</a>
                  <span class="nhsuk-u-visually-hidden">Search for a treatment form</span>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="claim-documents">Claim documents</a>
                  <span class="nhsuk-u-visually-hidden">Complete any outstanding actions</span>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="claim-summary">Claim summary</a>
                  <span class="nhsuk-u-visually-hidden">View the overall summary for claim 345680</span>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="resubmissions">Resubmissions</a>
                  <span class="nhsuk-u-visually-hidden">View resubmissions for claim 345680</span>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" aria-current="page" href="claim-history">Claim history</a>
                  <span class="nhsuk-u-visually-hidden">View case history for claim 345680</span>
                </li>
              </ul>
            </nav>

            <hr style="border-bottom:1px solid #ccc; margin:0">
            <!--end secondary navigation-->

          <br><br>

        <!-- Start of Claim history table -->
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">

                <table role="claimSummaryTable" class="nhsuk-table-responsive">
                    <thead role="rowgroup" class="nhsuk-table__head">
                        <tr role="row">
                            <th role="columnheader" class="" scope="col">
                                Date and time
                            </th>
                            <th role="columnheader" class="" scope="col">
                                Action
                            </th>
                            <th role="columnheader" class="" scope="col">
                                Details
                            </th>
                            <th role="columnheader" class="" scope="col">
                                Updated by
                            </th>
                        </tr>
                    </thead>
                    
                    <tbody class="nhsuk-table__body">
                        <tr role="row" class="nhsuk-table__row">
                          <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Date and time</span>
                              07/04/2026, 13:48
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Action</span>
                              Sent to DH
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Details</span>
                              S080 global note was uploaded to DH eXchange on 07/04/2026
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Updated by</span>
                              joe.bloggs@nhsbsa.nhs.uk
                          </td>
                        </tr>
                        <tr role="row" class="nhsuk-table__row">
                          <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Date and time</span>
                              07/04/2026, 13:48
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Action</span>
                              Sent to member state
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Details</span>
                              Claim sent to member state on 07/04/2026
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Updated by</span>
                              joe.bloggs@nhsbsa.nhs.uk
                          </td>
                        </tr>
                        <tr role="row" class="nhsuk-table__row">
                          <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Date and time</span>
                              07/04/2026, 10:34
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Action</span>
                              Created
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Details</span>
                              Claim created
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Updated by</span>
                              joe.bloggs@nhsbsa.nhs.uk
                          </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- End of Claim history table -->

              
           </div>
          </div>

    </div>
  </div>
</div>
{% endblock %}