<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Reason for editing - Update person details - Manage overseas entitlements and treatments - NHSBSA
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">
                    
                  <div class="nhsuk-grid-column-two-thirds">
                    
                    {{ backLink({
                      "href": "javascript:history.go(-1)",
                      "text": "Go back"
                    }) }}

                    
                        
                    <form action="personal-details" method="post">

                                <p class="nhsuk-u-font-size-22" style="color: grey;">John Doe<br>Person record ID - 123456</p>
                  
                                <div class="nhsuk-form-group">
                                  <label class="nhsuk-label" for="reason-for-change">
                                    <h1 class="nhsuk-heading-xl">Who did the change request come from?</h1>
                                  </label>
                                </div>
      
                                <div class="nhsuk-form-group">
                                  <div class="nhsuk-radios">
                                    <div class="nhsuk-radios__item">
                                      <input class="nhsuk-radios__input" id="member-state" name="source-of-change-request" type="radio" value="Member State" aria-controls="conditional-contact-1" aria-expanded="false" />
                                      <label class="nhsuk-label nhsuk-radios__label" for="member-state">Member State (MS)</label>
                                    </div>
                                    <div class="nhsuk-radios__item">
                                      <input class="nhsuk-radios__input" id="individual" name="source-of-change-request" type="radio" value="Individual" aria-controls="conditional-contact-2" aria-expanded="false" />
                                      <label class="nhsuk-label nhsuk-radios__label" for="individual">Individual</label>
                                    </div>
                                    <div class="nhsuk-radios__item">
                                      <input class="nhsuk-radios__input" id="ovm" name="source-of-change-request" type="radio" value="Overseas visitor manager (OVM)" aria-controls="conditional-contact-2" aria-expanded="false" />
                                      <label class="nhsuk-label nhsuk-radios__label" for="ovm">Overseas visitor manager (OVM)</label>
                                    </div>
                                    <div class="nhsuk-radios__item">
                                      <input class="nhsuk-radios__input" id="other" name="source-of-change-request" type="radio" value="Other" aria-controls="conditional-contact-4" aria-expanded="false" />
                                      <label class="nhsuk-label nhsuk-radios__label" for="other">Other</label>
                                    </div>
                                    
                                    <div class="nhsuk-radios__conditional" id="conditional-contact-4" style="display: none;">
                                      <div class="nhsuk-form-group">
                                        <div class="nhsuk-hint" id="contact-hint" for="other-source-of-change-request-label">
                                          Enter the source. If it is a third party, enter their name.<br> 
                                          For example, The DWP.
                                        </div>
                                        <input class="nhsuk-input nhsuk-u-width-two-thirds" id="other-source-of-change-request-name" type="text" value="">
                                      </div>
                                    </div>
                                  </div>
                                </div>
      
                                <br><br>
      
      
                                <div class="nhsuk-form-group">
                                  <label class="nhsuk-label" for="nhsbsa-comments">
                                    <h2 class="nhsuk-heading-l">Add a comment (optional)</h2>
                                  </label>
      
                                  <div class="nhsuk-hint" id="note-hint">
                                    For example, if you have been communicating with someone over email, you may want to include an email reference number.
                                    Comments will display in the Case history.
                                  </div>
                                  
                                  <textarea class="nhsuk-textarea" id="uk-residency-change-comment" name="uk-residency-change-comment" rows="8"></textarea>
                                  <p id="charactersRemaining" class="nhsuk-hint" aria-hidden="true">500 characters remaining.</p>
                                  <p id="char-count-screen-reader" class="nhsuk-u-visually-hidden" aria-live="polite">You can enter up to 500 characters.</p>
                                </div>                            
      
                            <button class="nhsuk-button nhsuk-u-margin-top-4" type="submit">
                                Save and continue
                            </button>

                            <p><a href="../account/personal-details">Cancel</a></p>

                          </div>
                        </div>

                    </form>
                    

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block pageScripts %}   
<script>
  const textarea = document.querySelector('#personalDetailsComment');
  const countRemaining = document.getElementById('charactersRemaining');
  const staticMsg = document.querySelector('#char-count-screen-reader');
  const maxCharacters = 500;
  let timeoutId;

  function updateCharacterCount() {
    const textEntered = textarea.value;
    const newLines = textEntered.match(/(\r\n|\n|\r)/g);
    const addition = newLines?.length || 0;
    const remainingCharacters = maxCharacters - textEntered.length + addition - (newLines?.length || 0);

    if (remainingCharacters >= 0) {
      countRemaining.textContent = `You have ${remainingCharacters} character${remainingCharacters === 1 ? '' : 's'} remaining`;
      countRemaining.classList.remove('nhsbsa-count-error-message');
      countRemaining.classList.add('nhsuk-hint');
      textarea.classList.remove('nhsuk-textarea--error');
    } else {
      countRemaining.textContent = `You have ${Math.abs(remainingCharacters)} character${Math.abs(remainingCharacters) === 1 ? '' : 's'} too many`;
      countRemaining.classList.add('nhsbsa-count-error-message');
      countRemaining.classList.remove('nhsuk-hint');
      textarea.classList.add('nhsuk-textarea--error');
    }
  }

  function updateScreenReaderMessage() {
    clearTimeout(timeoutId);
    timeoutId = setTimeout(() => {
      const textEntered = textarea.value;
      const newLines = textEntered.match(/(\r\n|\n|\r)/g);
      const addition = newLines?.length || 0;
      const remainingCharacters = maxCharacters - textEntered.length + addition - (newLines?.length || 0);
      // TO DO ADD FIX FOR 1 CHARACTER
      if (remainingCharacters < 0) {
        staticMsg.textContent = `You have ${Math.abs(remainingCharacters)} character${Math.abs(remainingCharacters) === 1 ? '' : 's'} too many`;
      } else {
        staticMsg.textContent = `You have ${remainingCharacters} character${remainingCharacters === 1 ? '' : 's'} remaining`;
      }
    }, 500);
  }

  textarea.addEventListener('input', () => {
    updateCharacterCount();
    updateScreenReaderMessage();
  });

  // Update character count if textarea has a value on page load
  window.addEventListener('load', () => {
    updateCharacterCount();
    updateScreenReaderMessage();
  });
</script>

<script>
  // Get the radio buttons and the conditional field
  const radios = document.querySelectorAll('input[name="source-of-change-request"]'); // Corrected name attribute
  const otherField = document.getElementById('conditional-contact-4');

  // Add change event listener to the radio buttons
  radios.forEach(radio => {
    radio.addEventListener('change', function() {
      if (this.value === 'Other') {
        otherField.style.display = 'block'; // Show "Other" field if "Other" is selected
      } else {
        otherField.style.display = 'none';  // Hide the "Other" field if another option is selected
      }
    });
  });
</script>

{% endblock %}