{% extends 'layouts/_form.html' %} 
{% set title %}Confirm residential address{% endset %}
{% set caption = "DL1609 - Main applicant" %}
 
 {% block form %}

<div class="nhsuk-grid-column-two-thirds">
  <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
    <form method="post">
      <div class="nhsuk-inset-text" style="margin-top: auto;">

        <p>1 Washington Street<br> Worcester<br> WR1 1NL<br>United Kingdom</p>
      </div>

      <button class="nhsuk-button " type="submit">Use this address</button>

      <p><a href="#">Use a different address</a></p>
      <p><a href="#">Enter address manually</a></p>
    </form>
  </fieldset>
</div>

{% endblock %}
