<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Update personal details - Manage overseas entitlements and treatments - NHSBSA
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">
                    
                  <div class="nhsuk-grid-column-two-thirds">
                    
                    {{ backLink({
                      "href": "javascript:history.go(-1)",
                      "text": "Go back"
                    }) }}
                
                    <h1 class="app-page-heading">
                      {% if data['add-additional-personal-details'] == 'yes' %}
                        Change additional details
                      {% else %}
                        Add additional details
                      {% endif %}
                    </h1>
                    
                    <div class="nhsuk-inset-text">
                      <span class="nhsuk-u-visually-hidden">Information: </span>
                    
                      <p>Changes to these details will be made across all entitlements, claims, and resubmissions for this person.</p>

                      <p>If you do not want to change details for all entitlements, claims, and resubmissions, select Go back.</p>
                    </div>
                    
                    <form action="change-additional-personal-details" method="post">
          
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="sex-label">
                            Sex
                          </label>
                        <div class="nhsuk-radios">
                            <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="sex-male" name="sex" type="radio" value="Male">
                            <label class="nhsuk-label nhsuk-radios__label" for="sex-male">
                                Male
                            </label>
                            </div>
                    
                            <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="sex-female" name="sex" type="radio" value="Female">
                            <label class="nhsuk-label nhsuk-radios__label" for="sex-female">
                                Female
                            </label>
                            </div>
                    
                            <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="sex-unknown" name="sex" type="radio" value="Unknown">
                            <label class="nhsuk-label nhsuk-radios__label" for="sex-unknown">
                                Unknown
                            </label>
                            </div>
                        </div>
                      </div>
                      

                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label" id="nationality-label" for="nationality">
                            Country of nationality
                        </label>
                        <div class="nhsuk-hint" id="UK-national-insurance-number-input-hint">
                         For example, France
                        </div>
                        <input class="nhsuk-input nhsuk-input--width-20" list="nationalities" id="nationality" name="nationality">
                        <datalist id="nationalities">
                            <option id="1" value="Afghanistan">Afghanistan</option>
                            <option id="2" value="Albania">Albania</option>
                            <option id="3" value="Algeria">Algeria</option>
                            <option id="4" value="United States">United States</option>
                            <option id="5" value="Andorra">Andorra</option>
                            <option id="6" value="Angola">Angola</option>
                            <option id="7" value="Antigua and Barbuda">Antigua and Barbuda</option>
                            <option id="8" value="Argentina">Argentina</option>
                            <option id="9" value="Armenia">Armenia</option>
                            <option id="10" value="Australia">Australia</option>
                            <option id="11" value="Austria">Austria</option>
                            <option id="12" value="Azerbaijan">Azerbaijan</option>
                            <option id="13" value="Bahamas">Bahamas</option>
                            <option id="14" value="Bahrain">Bahrain</option>
                            <option id="15" value="Bangladesh">Bangladesh</option>
                            <option id="16" value="Barbados">Barbados</option>
                            <option id="17" value="Belarus">Belarus</option>
                            <option id="18" value="Belgium">Belgium</option>
                            <option id="19" value="Belize">Belize</option>
                            <option id="20" value="Benin">Benin</option>
                            <option id="21" value="Bhutan">Bhutan</option>
                            <option id="22" value="Bolivia">Bolivia</option>
                            <option id="23" value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                            <option id="24" value="Botswana">Botswana</option>
                            <option id="25" value="Brazil">Brazil</option>
                            <option id="26" value="United Kingdom">United Kingdom</option>
                            <option id="27" value="Brunei">Brunei</option>
                            <option id="28" value="Bulgaria">Bulgaria</option>
                            <option id="29" value="Burkina Faso">Burkina Faso</option>
                            <option id="30" value="Myanmar">Myanmar</option>
                            <option id="31" value="Burundi">Burundi</option>
                            <option id="32" value="Cambodia">Cambodia</option>
                            <option id="33" value="Cameroon">Cameroon</option>
                            <option id="34" value="Canada">Canada</option>
                            <option id="35" value="Cape Verde">Cape Verde</option>
                            <option id="36" value="Central African Republic">Central African Republic</option>
                            <option id="37" value="Chad">Chad</option>
                            <option id="38" value="Chile">Chile</option>
                            <option id="39" value="China">China</option>
                            <option id="40" value="Colombia">Colombia</option>
                            <option id="41" value="Comoros">Comoros</option>
                            <option id="42" value="Congo (Brazzaville)">Congo (Brazzaville)</option>
                            <option id="43" value="Congo (Kinshasa)">Congo (Kinshasa)</option>
                            <option id="44" value="Costa Rica">Costa Rica</option>
                            <option id="45" value="Croatia">Croatia</option>
                            <option id="46" value="Cuba">Cuba</option>
                            <option id="47" value="Cyprus">Cyprus</option>
                            <option id="48" value="Czech Republic">Czech Republic</option>
                            <option id="49" value="Denmark">Denmark</option>
                            <option id="50" value="Djibouti">Djibouti</option>
                            <option id="51" value="Dominica">Dominica</option>
                            <option id="52" value="Dominican Republic">Dominican Republic</option>
                            <option id="53" value="East Timor">East Timor</option>
                            <option id="54" value="Ecuador">Ecuador</option>
                            <option id="55" value="Egypt">Egypt</option>
                            <option id="56" value="United Arab Emirates">United Arab Emirates</option>
                            <option id="57" value="Equatorial Guinea">Equatorial Guinea</option>
                            <option id="58" value="Eritrea">Eritrea</option>
                            <option id="59" value="Estonia">Estonia</option>
                            <option id="60" value="Eswatini">Eswatini</option>
                            <option id="61" value="Ethiopia">Ethiopia</option>
                            <option id="62" value="Fiji">Fiji</option>
                            <option id="63" value="Finland">Finland</option>
                            <option id="64" value="France">France</option>
                            <option id="65" value="Gabon">Gabon</option>
                            <option id="66" value="Gambia">Gambia</option>
                            <option id="67" value="Georgia">Georgia</option>
                            <option id="68" value="Germany">Germany</option>
                            <option id="69" value="Ghana">Ghana</option>
                            <option id="70" value="Greece">Greece</option>
                            <option id="71" value="Grenada">Grenada</option>
                            <option id="72" value="Guatemala">Guatemala</option>
                            <option id="73" value="Guinea">Guinea</option>
                            <option id="74" value="Guinea-Bissau">Guinea-Bissau</option>
                            <option id="75" value="Guyana">Guyana</option>
                            <option id="76" value="Haiti">Haiti</option>
                            <option id="77" value="Honduras">Honduras</option>
                            <option id="78" value="Hungary">Hungary</option>
                            <option id="79" value="Iceland">Iceland</option>
                            <option id="80" value="India">India</option>
                            <option id="81" value="Indonesia">Indonesia</option>
                            <option id="82" value="Iran">Iran</option>
                            <option id="83" value="Iraq">Iraq</option>
                            <option id="84" value="Ireland">Ireland</option>
                            <option id="85" value="Israel">Israel</option>
                            <option id="86" value="Italy">Italy</option>
                            <option id="87" value="Ivory Coast">Ivory Coast</option>
                            <option id="88" value="Jamaica">Jamaica</option>
                            <option id="89" value="Japan">Japan</option>
                            <option id="90" value="Jordan">Jordan</option>
                            <option id="91" value="Kazakhstan">Kazakhstan</option>
                            <option id="92" value="Kenya">Kenya</option>
                            <option id="93" value="Kiribati">Kiribati</option>
                            <option id="94" value="Kosovo">Kosovo</option>
                            <option id="95" value="Kuwait">Kuwait</option>
                            <option id="96" value="Kyrgyzstan">Kyrgyzstan</option>
                            <option id="97" value="Laos">Laos</option>
                            <option id="98" value="Latvia">Latvia</option>
                            <option id="99" value="Lebanon">Lebanon</option>
                            <option id="100" value="Liberia">Liberia</option>
                            <option id="101" value="Libya">Libya</option>
                            <option id="102" value="Liechtenstein">Liechtenstein</option>
                            <option id="103" value="Lithuania">Lithuania</option>
                            <option id="104" value="Luxembourg">Luxembourg</option>
                            <option id="105" value="Madagascar">Madagascar</option>
                            <option id="106" value="Malawi">Malawi</option>
                            <option id="107" value="Malaysia">Malaysia</option>
                            <option id="108" value="Maldives">Maldives</option>
                            <option id="109" value="Mali">Mali</option>
                            <option id="110" value="Malta">Malta</option>
                            <option id="111" value="Marshall Islands">Marshall Islands</option>
                            <option id="112" value="Mauritania">Mauritania</option>
                            <option id="113" value="Mauritius">Mauritius</option>
                            <option id="114" value="Mexico">Mexico</option>
                            <option id="115" value="Micronesia">Micronesia</option>
                            <option id="116" value="Moldova">Moldova</option>
                            <option id="117" value="Monaco">Monaco</option>
                            <option id="118" value="Mongolia">Mongolia</option>
                            <option id="119" value="Montenegro">Montenegro</option>
                            <option id="120" value="Morocco">Morocco</option>
                            <option id="121" value="Mozambique">Mozambique</option>
                            <option id="122" value="Namibia">Namibia</option>
                            <option id="123" value="Nauru">Nauru</option>
                            <option id="124" value="Nepal">Nepal</option>
                            <option id="125" value="Netherlands">Netherlands</option>
                            <option id="126" value="New Zealand">New Zealand</option>
                            <option id="127" value="Nicaragua">Nicaragua</option>
                            <option id="128" value="Niger">Niger</option>
                            <option id="129" value="Nigeria">Nigeria</option>
                            <option id="130" value="North Korea">North Korea</option>
                            <option id="131" value="North Macedonia">North Macedonia</option>
                            <option id="132" value="Norway">Norway</option>
                            <option id="133" value="Oman">Oman</option>
                            <option id="134" value="Pakistan">Pakistan</option>
                            <option id="135" value="Palau">Palau</option>
                            <option id="136" value="Panama">Panama</option>
                            <option id="137" value="Papua New Guinea">Papua New Guinea</option>
                            <option id="138" value="Paraguay">Paraguay</option>
                            <option id="139" value="Peru">Peru</option>
                            <option id="140" value="Philippines">Philippines</option>
                            <option id="141" value="Poland">Poland</option>
                            <option id="142" value="Portugal">Portugal</option>
                            <option id="143" value="Qatar">Qatar</option>
                            <option id="144" value="Romania">Romania</option>
                            <option id="145" value="Russia">Russia</option>
                            <option id="146" value="Rwanda">Rwanda</option>
                            <option id="147" value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                            <option id="148" value="Saint Lucia">Saint Lucia</option>
                            <option id="149" value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
                            <option id="150" value="Samoa">Samoa</option>
                            <option id="151" value="San Marino">San Marino</option>
                            <option id="152" value="Sao Tome and Principe">Sao Tome and Principe</option>
                            <option id="153" value="Saudi Arabia">Saudi Arabia</option>
                            <option id="154" value="Senegal">Senegal</option>
                            <option id="155" value="Serbia">Serbia</option>
                            <option id="156" value="Seychelles">Seychelles</option>
                            <option id="157" value="Sierra Leone">Sierra Leone</option>
                            <option id="158" value="Singapore">Singapore</option>
                            <option id="159" value="Slovakia">Slovakia</option>
                            <option id="160" value="Slovenia">Slovenia</option>
                            <option id="161" value="Solomon Islands">Solomon Islands</option>
                            <option id="162" value="Somalia">Somalia</option>
                            <option id="163" value="South Africa">South Africa</option>
                            <option id="164" value="South Korea">South Korea</option>
                            <option id="165" value="South Sudan">South Sudan</option>
                            <option id="166" value="Spain">Spain</option>
                            <option id="167" value="Sri Lanka">Sri Lanka</option>
                            <option id="168" value="Sudan">Sudan</option>
                            <option id="169" value="Suriname">Suriname</option>
                            <option id="170" value="Sweden">Sweden</option>
                            <option id="171" value="Switzerland">Switzerland</option>
                            <option id="172" value="Syria">Syria</option>
                            <option id="173" value="Taiwan">Taiwan</option>
                            <option id="174" value="Tajikistan">Tajikistan</option>
                            <option id="175" value="Tanzania">Tanzania</option>
                            <option id="176" value="Thailand">Thailand</option>
                            <option id="177" value="Togo">Togo</option>
                            <option id="178" value="Tonga">Tonga</option>
                            <option id="179" value="Trinidad and Tobago">Trinidad and Tobago</option>
                            <option id="180" value="Tunisia">Tunisia</option>
                            <option id="181" value="Turkey">Turkey</option>
                            <option id="182" value="Turkmenistan">Turkmenistan</option>
                            <option id="183" value="Tuvalu">Tuvalu</option>
                            <option id="184" value="Uganda">Uganda</option>
                            <option id="185" value="Ukraine">Ukraine</option>
                            <option id="186" value="Uruguay">Uruguay</option>
                            <option id="187" value="Uzbekistan">Uzbekistan</option>
                            <option id="188" value="Vanuatu">Vanuatu</option>
                            <option id="189" value="Vatican City">Vatican City</option>
                            <option id="190" value="Venezuela">Venezuela</option>
                            <option id="191" value="Vietnam">Vietnam</option>
                            <option id="192" value="Yemen">Yemen</option>
                            <option id="193" value="Zambia">Zambia</option>
                            <option id="194" value="Zimbabwe">Zimbabwe</option>
                        </datalist>
                    </div>


                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label" for="UK-national-insurance-number-input-label">
                        UK National Insurance Number (NINO)
                      </label>
                      <div class="nhsuk-hint" id="UK-national-insurance-number-input-hint">
                        A NINO is made up of 2 letters, 6 numbers and a final letter, which is always A, B, C, or D.<br>
                        For example, QQ 12 34 56 A.
                      </div>
                      <input class="nhsuk-input nhsuk-u-width-one-third" id="UK-national-insurance-number" name="UK-national-insurance-number" type="text" value="">
                    </div>


                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label" for="email-address-label">
                        Email address
                      </label>
                      <div class="nhsuk-hint" id="email-address-hint">
                        For example, joe.bloggs@gmail.com
                      </div>
                      <input class="nhsuk-input nhsuk-input--width-20" id="email-address" name="email-address" type="text"  autocomplete="cc-csc" value="">
                    </div>


                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label" for="contact-number-label">
                        Contact number
                      </label>
                      <div class="nhsuk-hint" id="contact-number-hint">
                        Include the country code. For example, (+44) for United Kingdom.
                      </div>
                      <input class="nhsuk-input nhsuk-input--width-10" id="contact-number" name="contact-number" type="text"  autocomplete="cc-csc" value="">
                    </div>

                                            
                    <button class="nhsuk-button" style="margin-top: 25px;" type="submit">
                        Continue
                    </button>

                    <p><a href="../account/personal-details">Cancel</a></p>

                    </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block pageScripts %}
<!-- autocomplete js -->
<script type="text/javascript">
  accessibleAutocomplete.enhanceSelectElement({
    defaultValue : '',
    autoselect : true,  
    selectElement : document.querySelector('#nationalityDrop')
  })
</script>

<!-- DOB format -->
<script>
  function updateFormattedDate() {
    const day = document.getElementById("residency-day").value;
    const month = document.getElementById("residency-month").value;
    const year = document.getElementById("residency-year").value;

    if (day && month && year) {
        document.getElementById("formatted-date").textContent = formatDate(day, month, year);
    } else {
        document.getElementById("formatted-date").textContent = "2 July 2024";
    }
}

document.addEventListener('DOMContentLoaded', updateFormattedDate);
</script>
{% endblock %}