<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Confirmation - New person record created - Manage overseas entitlements and treatments - NHSBSA
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">
                    
                  <div class="nhsuk-grid-column-two-thirds">
    
                      <div class="done-panel">
                        <h3 class="nhsuk-heading-xl" id="person-record-confirmation">
                          <span class="done-tick" id="done-tick">New person record created</span>
                        </h3>

                        {% if data['first-name'] == 'John' or data['first-name'] == 'john' and data['last-name'] == 'Doe' or data['last-name'] == 'doe' %}
                        <body class="nhsuk-caption-xl">
                          <span id="person-record-created-name">Name:</span>
                          <h1 class="nhsuk-heading-l">
                            {% if data['first-name'] and data['last-name'] %}
                              {{ data['first-name'] }} {{ data['last-name'] }}
                            {% else %}
                              John Doe
                            {% endif %}
                          </h1>
                        </body>
                        

                        <body class="nhsuk-caption-xl">
                          <span id="person-record-created-name">Person record ID:</span>
                          <h1 class="nhsuk-heading-l">123456</h1>
                        </body>
                      </div>

                      

                      <div class="button-container">
                        <form action="../../s1/s072-registration/which-entitlement">
                          <button style="margin-right:20px;" class="nhsuk-button style=padding-right:10px;" type="submit">
                            Add an entitlement
                          </button>
                        </form>
            
                        <form action="../account/personal-details">
                          <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
                            Go to person's record
                          </button>
                        </form>
                      </div>

                      <p><a href="../search/search-by-person">Return to Search</a></p>

                      {% elif data['first-name']|lower == 'jane' or data['last-name']|lower == 'doe' %}
                      <body class="nhsuk-caption-xl">
                        <span id="person-record-created-name">Name:</span>
                        <h1 class="nhsuk-heading-l">
                          {% if data['first-name'] and data['last-name'] %}
                            {{ data['first-name'] }} {{ data['last-name'] }}
                          {% else %}
                            Jane Doe
                          {% endif %}
                        </h1>
                      </body>
                      

                      <body class="nhsuk-caption-xl">
                        <span id="person-record-created-name">Person record ID:</span>
                        <h1 class="nhsuk-heading-l">654321</h1>
                      </body>
                    </div>

                    

                    <div class="button-container">
                      <form action="../../s1/s072-registration/which-entitlement">
                        <button style="margin-right:20px;" class="nhsuk-button style=padding-right:10px;" type="submit">
                          Add an entitlement
                        </button>
                      </form>
          
                      <form action="../account/dependant/personal-details">
                        <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
                          Go to person's record
                        </button>
                      </form>
                    </div>

                    <p><a href="../search/search-by-person">Return to Search</a></p>
                    
                    
                    {% else%}
                    <body class="nhsuk-caption-xl">
                      <span id="person-record-created-name">Name:</span>
                      <h1 class="nhsuk-heading-l">
                        {% if data['first-name'] and data['last-name'] %}
                          {{ data['first-name'] }} {{ data['last-name'] }}
                        {% else %}
                          John Doe
                        {% endif %}
                      </h1>
                    </body>
                    

                    <body class="nhsuk-caption-xl">
                      <span id="person-record-created-name">Person record ID:</span>
                      <h1 class="nhsuk-heading-l">111111</h1>
                    </body>
                  </div>

                  

                  <div class="button-container">
                    <form action="../../s1/s072-registration/which-entitlement">
                      <button style="margin-right:20px;" class="nhsuk-button style=padding-right:10px;" type="submit">
                        Add an entitlement
                      </button>
                    </form>
        
                    <form action="../account/personal-details">
                      <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
                        Go to person's record
                      </button>
                    </form>
                  </div>

                  <p><a href="../search/search-by-person">Return to Search</a></p>
                  {% endif %}
                    

                  </div>
                
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
