<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Duplicate PRC entitlement added - Manage overseas entitlements and treatments - NHSBSA
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">

                    <!-- start back link -->
                    <div class="nhsuk-back-link">
                        <a class="nhsuk-back-link__link" href="javascript:history.back()">
                            <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24" aria-hidden="true">
                                <path
                                    d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
                                </path>
                            </svg>
                            Go back</a>
                    </div>
                    <!-- end back link -->

                    <!-- start title block -->
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <h1 class="nhsuk-heading-l">
                              Duplicate PRC entitlement added
                            </h1>
                            <hr style="border-bottom:4px solid #005eb8; margin:0;"><br />
                        </div>
                    </div>
                    <!-- end title block -->

                    <!-- start content -->
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <p>You have added a PRC entitlement that is the same as one that already exists.</p>

                            <table role="table" class="nhsuk-table-responsive" style="margin-bottom: 50px;">
                               
                                <thead role="rowgroup" class="nhsuk-table__head">
                                  <tr role="row">
                                    <th role="columnheader" class="" scope="col">
                                      Entitlement
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                      Start date
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                      End date
                                    </th>
                                  </tr>
                                </thead>
                                <tbody class="nhsuk-table__body">
                                  <tr role="row" class="nhsuk-table__row">
                                    <td role="cell" class="nhsuk-table__cell">
                                      <span class="nhsuk-table-responsive__heading">Entitlement </span>PRC just added
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                      <span class="nhsuk-table-responsive__heading">Start date </span>06/09/2021
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                      <span class="nhsuk-table-responsive__heading">End date </span>10/09/2021
                                    </td>
                                  </tr>
                                  <tr role="row" class="nhsuk-table__row">
                                    <td role="cell" class="nhsuk-table__cell">
                                      <span class="nhsuk-table-responsive__heading">Entitlement </span>Existing PRC
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                      <span class="nhsuk-table-responsive__heading">Start date </span>06/09/2021
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                      <span class="nhsuk-table-responsive__heading">End date </span>10/09/2021
                                    </td>
                                  </tr>
                                </tbody>
                              </table>

                            <!-- start form -->
                            <div class="nhsuk-grid-row">
                                <div class="nhsuk-grid-column-full">

                                    <p>Select Cancel entitlement to cancel the PRC you have just added.

                                      The existing PRC will remain unchanged.</p>

<a href="entitlements-treatments-with-prc"><button class="nhsuk-button" type="submit">
                                        Cancel entitlement
                                      </button></a>
                                    
                                    <p><a href="">Cancel</a></p>
                                </div>
                            </div>
                            <!--end form-->


                        </div>
                    </div>
                    <!-- end content-->

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}