<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
UK claims treatment forms
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item">
              <a class="nhsuk-breadcrumb__link" href="../index">Home (POC)</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </nav>

  <div class="nhsBSA-sidebar-container">

    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">

        <div class="nhsuk-width-container-fluid">

          <div class="nhsuk-main-wrapper" id="maincontent">


            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-one-third">
                <h1 class="nhsuk-heading-xl">
                 Claim ID 9543
                </h1>
              </div>  

              <div class="nhsuk-grid-column-two-thirds">
                <a href="#"><button  class="nhsuk-button nhsuk-button--secondary" type="submit" style="float: right;">
                  Amend agreement type<span class="nhsuk-u-visually-hidden">for claim ID 9543</span>
                </button></a>
                <a href="print-summary"><button  class="nhsuk-button" type="submit" style="float: right;  margin-right: 20px;">
                Print<span class="nhsuk-u-visually-hidden">for claim ID 9543</span>
                </button></a>
          
              </div>
          </div>
          
            <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation" style="background-color:#f0f4f5;">
              <ul class="nhsuk-secondary-navigation__list">
                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link"  href="#">Treatment forms</a>
                  <span class="nhsuk-u-visually-hidden">View treatment forms for claim 9543</span>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="#">Claim summary</a>
                  <span class="nhsuk-u-visually-hidden">View the overall summary for claim 9543</span>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="#">Actions</a>
                  <span class="nhsuk-u-visually-hidden">Complete any outstanding actions</span>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link"  href="#">Resubmissions</a>
                  <span class="nhsuk-u-visually-hidden">View resubmissions for claim 9543</span>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                    <a class="nhsuk-secondary-navigation__link" aria-current="page" href="#">Case history</a>
                    <span class="nhsuk-u-visually-hidden">View case history for claim 9543</span>
                  </li>

              </ul>
            </nav>
                  
                <hr style="border-bottom:1px solid #ccc; margin:0">
    <br><br>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

<!--start of cards-->
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

<!-- Card -->
<div class="nhsuk-card">
  <div class="nhsuk-card__content">
    <h3 class="nhsuk-card__heading">
      Print failed
    </h3>
    <dl class="nhsuk-summary-list">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Date/Time 
        </dt>
        <dd class="nhsuk-summary-list__value">
          <p>12/03/2022</p>
        </dd>
    
      </div>

      <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Description 
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Claim was sent for printing and failed, status changed to printing failed</p>
          </dd>
      
        </div>
  
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Additional information
        </dt>
        <dd class="nhsuk-summary-list__value">
          
        </dd>
    
      </div>
    

    

    
    </dl>
  </div>
</div>

<!-- Card -->
<div class="nhsuk-card">
  <div class="nhsuk-card__content">
    <h3 class="nhsuk-card__heading">
      Claim created
    </h3>
    <dl class="nhsuk-summary-list">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Date/Time 
        </dt>
        <dd class="nhsuk-summary-list__value">
          <p>23/01/2022</p>
        </dd>
    
      </div>

      <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Description 
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>The claim has been created with 12 treatments for France</p>
          </dd>
      
        </div>
  
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Additional information
        </dt>
        <dd class="nhsuk-summary-list__value">
          
        </dd>
    
      </div>
    

    

    
    </dl>
  </div>
</div>


</div>
</div>
<!-- end of cards -->





    </div>
    </div>




        



    </div>

  </div>

</div>
      

  </div>

{% endblock %}


