<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Manage cost recovery {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item">
              <a class="nhsuk-breadcrumb__link" href="../index">Home (POC)</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </nav>

<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-main-wrapper" id="maincontent">


          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <h1 class="nhsuk-heading-xl">Treatment ID 784302854 (Example details page)</h1>
            </div>
          </div>
          <hr style="border-bottom: 4px solid #005eb8; margin: 0" />

<br >

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <dl class="nhsuk-summary-list">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
         Title
        </dt>
        <dd class="nhsuk-summary-list__value">
          Sample data
        </dd>
    
        <dd class="nhsuk-summary-list__actions">
    
          <a href="#">
          </a>
    
        </dd>
    
      </div>



      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
         Title
        </dt>
        <dd class="nhsuk-summary-list__value">
          Sample data
        </dd>
    
        <dd class="nhsuk-summary-list__actions">
    
          <a href="#">
          </a>
    
        </dd>
    
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
         Title
        </dt>
        <dd class="nhsuk-summary-list__value">
          Sample data
        </dd>
    
        <dd class="nhsuk-summary-list__actions">
    
          <a href="#">
          </a>
    
        </dd>
    
      </div>
    </dl>
</div>
</div>

<!-- Start of card -->
<div class="nhsuk-card">
  <div class="nhsuk-card__content">
    <h3 class="nhsuk-card__heading">
      Heading
    </h3>
    <dl class="nhsuk-summary-list">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Title 
        </dt>
        <dd class="nhsuk-summary-list__value">
          <p>Sample data</p>
        </dd>
    
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Title 
        </dt>
        <dd class="nhsuk-summary-list__value">
          <p>Sample data</p>
        </dd>
    
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Title 
        </dt>
        <dd class="nhsuk-summary-list__value">
          <p>Sample data</p>
        </dd>
    
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Title 
        </dt>
        <dd class="nhsuk-summary-list__value">
          <p>Sample data</p>
        </dd>
    
      </div>

    </dl>
  </div>
</div>
<!-- End of card -->
<!-- Start of card -->
<div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <h3 class="nhsuk-card__heading">
        Heading
      </h3>
      <dl class="nhsuk-summary-list">
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Title 
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Sample data</p>
          </dd>
      
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Title 
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Sample data</p>
          </dd>
      
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Title 
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Sample data</p>
          </dd>
      
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Title 
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Sample data</p>
          </dd>
      
        </div>
  
      </dl>
    </div>
  </div>
  <!-- End of card -->
  <!-- Start of card -->
<div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <h3 class="nhsuk-card__heading">
        Heading
      </h3>
      <dl class="nhsuk-summary-list">
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Title 
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Sample data</p>
          </dd>
      
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Title 
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Sample data</p>
          </dd>
      
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Title 
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Sample data</p>
          </dd>
      
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Title 
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Sample data</p>
          </dd>
      
        </div>
  
      </dl>
    </div>
  </div>
  <!-- End of card -->
  <div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <h3 class="nhsuk-card__heading">
        Heading
      </h3>
      <dl class="nhsuk-summary-list">
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Title 
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Sample data</p>
          </dd>
      
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Title 
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Sample data</p>
          </dd>
      
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Title 
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Sample data</p>
          </dd>
      
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Title 
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Sample data</p>
          </dd>
      
        </div>
  
      </dl>
    </div>
  </div>
  <!-- End of card -->
  <div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <h3 class="nhsuk-card__heading">
        Heading
      </h3>
      <dl class="nhsuk-summary-list">
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Title 
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Sample data</p>
          </dd>
      
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Title 
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Sample data</p>
          </dd>
      
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Title 
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Sample data</p>
          </dd>
      
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Title 
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Sample data</p>
          </dd>
      
        </div>
  
      </dl>
    </div>
  </div>
  <!-- End of card -->
  <!-- Start of card -->
<div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <h3 class="nhsuk-card__heading">
        Heading
      </h3>
      <dl class="nhsuk-summary-list">
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Title 
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Sample data</p>
          </dd>
      
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Title 
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Sample data</p>
          </dd>
      
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Title 
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Sample data</p>
          </dd>
      
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Title 
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Sample data</p>
          </dd>
      
        </div>
  
      </dl>
    </div>
  </div>
  <!-- End of card -->
  <!-- Start of card -->
<div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <h3 class="nhsuk-card__heading">
        Heading
      </h3>
      <dl class="nhsuk-summary-list">
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Title 
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Sample data</p>
          </dd>
      
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Title 
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Sample data</p>
          </dd>
      
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Title 
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Sample data</p>
          </dd>
      
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Title 
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Sample data</p>
          </dd>
      
        </div>
  
      </dl>
    </div>
  </div>
  <!-- End of card -->
  <!-- Start of card -->
<div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <h3 class="nhsuk-card__heading">
        Heading
      </h3>
      <dl class="nhsuk-summary-list">
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Title 
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Sample data</p>
          </dd>
      
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Title 
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Sample data</p>
          </dd>
      
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Title 
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Sample data</p>
          </dd>
      
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Title 
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Sample data</p>
          </dd>
      
        </div>
  
      </dl>
    </div>
  </div>
  <!-- End of card -->


        </div>
      </div>
    </div>
    <div class="nhsBSA-sidebar-nav">
      <div class="side-nav">
        <h3>
          Laura Peteers<span class="nhsuk-caption-m nhsuk-caption--bottom">
            <span class="nhsuk-u-visually-hidden"> - </span>3432234</span
          >
        </h3>

        <ul>
          <div id="options" class="options">
            <li>
              <a  href="person-details">Person details</a>
            </li>
            <li></li>
            <li>
              <a href="#"
                >Entitlements and treatments along with linked Claim ID</a
              >
            </li>
            <!-- <li>
                <a href="person-details-claims">Claims</a>
              </li> -->
            <li>
              <a class="active" href="#">Treatment case history</a>
            </li>


            <!-- <li>
                <a href="case-history">Case history</a>
              </li> -->
          </div>
        </ul>

        <!-- <div class="action-buttons">
                <button class="nhsuk-button nhsuk-button--secondary" type="submit">Add note</button>
            </div> -->
      </div>
    </div>
  </div>
</div>

{% endblock %}
