<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Manage cost recovery {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item">
            <a class="nhsuk-breadcrumb__link" href="search">Search (Person)</a>
          </li>
          <li class="nhsuk-breadcrumb__item">
            <a class="nhsuk-breadcrumb__link" href="person-details"
              >Search results (Person)</a
            >
          </li>
          <li class="nhsuk-breadcrumb__item">Laura Peteers (Person details)</li>
        </ol>
      </div>
    </div>

    <p class="nhsuk-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink" href="search-results"
        >Back to search results</a
      >
    </p>
  </div>
</nav>

<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-main-wrapper" id="maincontent">


          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
              <h1 class="nhsuk-heading-xl">Case history</h1>
            </div>
          </div>
          <hr style="border-bottom: 4px solid #005eb8; margin: 0" />

          <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation" style="background-color:#f0f4f5;">
            <ul class="nhsuk-secondary-navigation__list">
                <li class="nhsuk-secondary-navigation__item">
                    <a class="nhsuk-secondary-navigation__link" aria-current="page" href="#1">Person history</a>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                    <a class="nhsuk-secondary-navigation__link" href="workshop-person-details-treatment-history">Treatment history</a>
                </li>

    <li class="nhsuk-secondary-navigation__item">
                    <a class="nhsuk-secondary-navigation__link" href="#">Resub history</a>
                </li>
                <li class="nhsuk-secondary-navigation__item">
                    <a class="nhsuk-secondary-navigation__link" href="#">Claim history</a>
                </li>
            </ul>
        </nav>

          <div class="nhsuk-scrollable-pane">
            <br />
            <div class="nhsuk-grid-row">

              <div class="nhsuk-card">
                <div class="nhsuk-card__content">
                <h3 class="nhsuk-card__heading">
                Residential address update
                </h3>
                <dl class="nhsuk-summary-list">
                
                <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                Date/Time
                </dt>
                <dd class="nhsuk-summary-list__value">
                <p>March 2022</p>
                </dd>
                
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                  To
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </dd>
                  
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                    From
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </dd>
                    
                    </div>
                
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                      Who
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </dd>
                      
                      </div>
                </dl>
                </div>
                </div>


              <div class="nhsuk-card">
                <div class="nhsuk-card__content">
                <h3 class="nhsuk-card__heading">
                Email address update
                </h3>
                <dl class="nhsuk-summary-list">
                
                <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                Date/Time
                </dt>
                <dd class="nhsuk-summary-list__value">
                <p>January 2022</p>
                </dd>
                
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                  Details
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </dd>
                  
                  </div>
                
                </dl>
                </div>
                </div>

   
            </div>

            <div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="nhsBSA-sidebar-nav">
      <div class="side-nav">
        <h3>
          Laura Peteers<span class="nhsuk-caption-m nhsuk-caption--bottom">
            <span class="nhsuk-u-visually-hidden"> - </span>3432234</span
          >
        </h3>

        <ul>
          <div id="options" class="options">
            <li>
              <a class="active" href="person-details">Person details</a>
            </li>
            <li></li>
            <li>
              <a href="#"
                >Entitlements and treatments along with linked Claim ID</a
              >
            </li>
            <!-- <li>
                <a href="person-details-claims">Claims</a>
              </li> -->
            <li>
              <a href="person-details-resubs">Resubs</a>
            </li>
             <li>
                <a href="workshop-person-details-case-history">Case history</a>
              </li> 
          </div>
        </ul>

        <!-- <div class="action-buttons">
                <button class="nhsuk-button nhsuk-button--secondary" type="submit">Add note</button>
            </div> -->
      </div>
    </div>
  </div>
</div>

{% endblock %}
