<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-sidebar.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Case history treatment details page {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<!--start breadcrumb-->
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <ol class="nhsuk-breadcrumb__list">
                    <li class="nhsuk-breadcrumb__item">
                        <a class="nhsuk-breadcrumb__link" href="search">Search (Person)</a>
                    </li>
                    <li class="nhsuk-breadcrumb__item">
                        <a class="nhsuk-breadcrumb__link" href="person-details">Search results (Person)</a>
                    </li>
                    <li class="nhsuk-breadcrumb__item">Laura Peteers (Case history - Treatments)</li>
                </ol>
            </div>
        </div>

        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="search-results">Back to search results</a>
        </p>
    </div>
</nav>
<!--end breadcrumb-->
{% endblock %}

{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">

        <!--start central content-->
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">

                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <h1 class="nhsuk-heading-xl">Case history</h1>

                        </div>
                    </div>

                    <!--start of secondary navigation-->
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <nav class="nhsuk-secondary-navigation nav-tabs-bg" aria-label="Secondary navigation"
                                style="background-color:#f0f4f5;">
                                <ul class="nhsuk-secondary-navigation__list">
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link" href="case-history-person">Person
                                            history</a>
                                    </li>
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link" aria-current="page"
                                            href="case-history-treatment">Treatment
                                            history</a>
                                    </li>
                                </ul>
                            </nav>
                            <hr style="border-bottom:1px solid #ccc; margin:0 0 60px 0">
                        </div>
                    </div>
                    <!--end of secondary navigation-->

                    <!-- start EHIC section -->
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <p>Select a Treatment ID to view the case history for that treatment</p>

                            <h2 class="nhsuk-heading-l">EHIC</h2>

                            <!--start EHIC card-->
                            <div class="nhsuk-card">
                                <div class="nhsuk-card__content">

                                    <div class="nhsuk-grid-column-one-third">
                                        <h3 class="nhsuk-heading-xs" style="margin-bottom:0">Expiry date</h3>
                                            <p>01/11/2015</p>
                                    </div>

                                    <div class="nhsuk-grid-column-one-third">
                                        <h3 class="nhsuk-heading-xs" style="margin-bottom:0">Issuing country</h3>
                                            <p>France (FR)</p>
                                    </div>

                                    <div class="nhsuk-grid-column-one-third">
                                        <h3 class="nhsuk-heading-xs" style="margin-bottom:0">Card identification number
                                            </h3>
                                            <p>68975476897543</p>
                                    </div>
                                    <br />
                                    <br />
                                    <hr class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5" />

                                    <!--start treatment -->
                                    <details class="nhsuk-details-1">
                                        <summary class="nhsuk-details__summary-1">
                                            <span class="nhsuk-details__summary-text-1">
                                                Treatment ID: 58934788 - 03/01/2014 to 20/02/2014
                                            </span>
                                        </summary>
                                        <div class="nhsuk-details__text">
                                            <table role="table" class="nhsuk-table-responsive">
                                                <caption class="nhsuk-table__caption">Treatment cost: £7,986.46
                                                </caption>
                                                <thead role="rowgroup" class="nhsuk-table__head">
                                                    <tr role="row">
                                                        <th role="columnheader" class="" scope="col">
                                                            Date and time
                                                        </th>
                                                        <th role="columnheader" class="" scope="col">
                                                            Action
                                                        </th>
                                                        </th>
                                                        <th role="columnheader" class="" scope="col">
                                                            Details
                                                        </th>
                                                        <th role="columnheader" class="" scope="col">
                                                            Updated by
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody class="nhsuk-table__body">
                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date and time
                                                            </span>12/06/2014, 17:00
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Action
                                                            </span>Partially maintained and withdrawn
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>Treatment partially maintained and withdrawn 
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>phyllis.saunders@nhs.net
                                                        </td>
                                                    </tr>

                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date and time
                                                            </span>12/06/2014, 16:05
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Action
                                                            </span>Partially maintained and withdrawn
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>Treatment partially maintained and withdrawn
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>phyllis.saunders@nhs.net
                                                        </td>
                                                    </tr>

                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date and time
                                                            </span>12/06/2014, 15:18
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Action
                                                            </span>Withdrawn
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>Treatment withdrawn
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>phyllis.saunders@nhs.net
                                                        </td>
                                                    </tr>

                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date and time
                                                            </span>12/06/2014, 12:00
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Action
                                                            </span>PRC received
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>PRC received from member state
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>phyllis.saunders@nhs.net
                                                        </td>
                                                    </tr>

                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date and time
                                                            </span>12/06/2014, 12:00
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Action
                                                            </span>PRC not received
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>Member state has confirmed person is not eligible for treatment dates
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>phyllis.saunders@nhs.net
                                                        </td>
                                                    </tr>

                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date and time
                                                            </span>12/06/2014, 12:00
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Action
                                                            </span>PRC not received
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>Other reason: Person name is incorrect
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>phyllis.saunders@nhs.net
                                                        </td>
                                                    </tr>

                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date and time
                                                            </span>12/06/2014, 12:00
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Action
                                                            </span>PRC not received
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>No reply received
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>phyllis.saunders@nhs.net
                                                        </td>
                                                    </tr>

                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date and time
                                                            </span>12/05/2014, 10:40
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Action
                                                            </span>Waiting for PRC
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>PRC requested from member state
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>phyllis.saunders@nhs.net
                                                        </td>
                                                    </tr>

                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date and time
                                                            </span>10/05/2014, 15:09
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Action
                                                            </span>Added to resub
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>Treatment added to Resub ID 7777875 and status set to contested
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>phyllis.saunders@nhs.net
                                                        </td>
                                                    </tr>

                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date and time
                                                            </span>10/01/2014, 15:18
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Action
                                                            </span>Added to claim
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>Treatment added to UK Claim ID 333395
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>vivian.burn@nhs.net
                                                        </td>
                                                    </tr>

                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date and time
                                                            </span>05/01/2014, 14:40
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Action
                                                            </span>Cost updated
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>Treatment cost updated from £6,785.87 to £7,986.46
                                                            for the following reasons: Additional costs added, Treatment dates have changed
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>vivian.burn@nhs.net
                                                        </td>
                                                    </tr>

                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date and time
                                                            </span>05/01/2014, 14:40
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Action
                                                            </span>End date updated
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>Treatment end date updated from 18/02/2014 to
                                                            20/02/2014 for the following reasons: Additional costs added, Treatment dates have changed
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>vivian.burn@nhs.net
                                                        </td>
                                                    </tr>

                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date and time
                                                            </span>05/01/2014, 14:40
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Action
                                                            </span>Start date updated
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>Treatment start date updated from 01/03/2014 to
                                                            03/01/2014 for the following reasons: Additional costs added, Treatment dates have changed
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>vivian.burn@nhs.net
                                                        </td>
                                                    </tr>

                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date and time
                                                            </span>03/01/2014, 17:32
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Action
                                                            </span>Created
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>Treatment created
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>vivian.burn@nhs.net
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>



                                        </div>
                                    </details>
                                    <!-- end treatment -->

                                </div>
                            </div>
                            <!-- end EHIC card-->



                        </div>
                    </div>
                    <!--end EHIC section -->







                </div>
            </div>
        </div>
        <!--end central content-->

        <!--start left navigation-->
        <div class="nhsBSA-sidebar-nav">
            <div class="side-nav">
                <h3>
                    Laura Peteers<span class="nhsuk-caption-m nhsuk-caption--bottom">
                        <span class="nhsuk-u-visually-hidden"> - </span>3432234</span>
                </h3>
                <ul>
                    <div id="options" class="options">
                        <li>
                            <a href="person-details">Person details</a>
                        </li>
                        <li></li>
                        <li>
                            <a href="#">Entitlements and treatments along with linked Claim ID</a>
                        </li>
                        <li>
                            <a href="person-details-resubs">Resubs</a>
                        </li>
                        <li>
                            <a class="active" href="case-history-person">Case history</a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
        <!--end left navigation-->

    </div>
</div>

{% endblock %}