<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-sidebar.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Claim history page
{% endblock %}

{% block beforeContent %}
<!--start breadcrumb-->
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">

                <ol class="nhsuk-breadcrumb__list">
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="uk-claims-search">UK claims
                            (Search by claim ID)</a></li>
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="claim-list-1">Search results</a></li>
                    <li class="nhsuk-breadcrumb__item">View Claim ID (Case history)</li>
                </ol>
            </div>
        </div>

        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="search-results">Back to UK claims
                (Create a new claim)</a></p>

    </div>
</nav>
<!--end breadcrumb-->
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsBSA-sidebar-container">

    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">

            <div class="nhsuk-width-container-fluid">

                <div class="nhsuk-main-wrapper" id="maincontent">

                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <h1 class="nhsuk-heading-xl">
                                Claim ID 9543
                            </h1>
                        </div>
                    </div>
                    <!--start of secondary navigation-->
                    <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation"
                        style="background-color:#f0f4f5;">
                        <ul class="nhsuk-secondary-navigation__list">
                            <li class="nhsuk-secondary-navigation__item">
                                <a class="nhsuk-secondary-navigation__link" href="claim-treatment-forms-1">Treatment
                                    forms</a>
                                <span class="nhsuk-u-visually-hidden">View treatment forms for claim 9543</span>
                            </li>

                            <li class="nhsuk-secondary-navigation__item">
                                <a class="nhsuk-secondary-navigation__link" href="claim-summary-1">Claim summary</a>
                                <span class="nhsuk-u-visually-hidden">View the overall summary for claim 9543</span>
                            </li>

                            <li class="nhsuk-secondary-navigation__item">
                                <a class="nhsuk-secondary-navigation__link" href="claim-print">Actions</a>
                                <span class="nhsuk-u-visually-hidden">Complete any outstanding actions</span>
                            </li>

                            <li class="nhsuk-secondary-navigation__item">
                                <a class="nhsuk-secondary-navigation__link" href="claim-resubs-3">Resubmissions</a>
                                <span class="nhsuk-u-visually-hidden">View resubmissions for claim 9543</span>
                            </li>

                            <li class="nhsuk-secondary-navigation__item">
                                <a class="nhsuk-secondary-navigation__link" aria-current="page"
                                    href="claim-case-history">Claim history</a>
                                <span class="nhsuk-u-visually-hidden">View case history for claim 9543</span>
                            </li>

                        </ul>
                    </nav>
                    <hr style="border-bottom:1px solid #ccc; margin:0">
                    <br><br>
                    <!--end of secondary navigation-->

                    <!--start of case history details-->
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">

                            <table role="table" class="nhsuk-table-responsive">

                                <thead role="rowgroup" class="nhsuk-table__head">
                                    <tr role="row">
                                        <th role="columnheader" class="" scope="col">
                                            Date and time
                                        </th>
                                        <th role="columnheader" class="" scope="col">
                                            Action
                                        </th>
                                        </th>
                                        <th role="columnheader" class="" scope="col">
                                            Details
                                        </th>
                                        <th role="columnheader" class="" scope="col">
                                            Updated by
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="nhsuk-table__body">
                                    <tr role="row" class="nhsuk-table__row">
                                        <td role="cell" class="nhsuk-table__cell">
                                            <span class="nhsuk-table-responsive__heading">Date and time
                                            </span> 17/02/2021, 16:30
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                            <span class="nhsuk-table-responsive__heading">Action
                                            </span> Sent to member state
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                            <span class="nhsuk-table-responsive__heading">Details
                                            </span>Claim sent to member state on 15/02/2021
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                            <span class="nhsuk-table-responsive__heading">Updated by
                                            </span>malcolm.norris@nhs.net
                                        </td>
                                    </tr>
                                    <tr role="row" class="nhsuk-table__row">
                                        <td role="cell" class="nhsuk-table__cell">
                                            <span class="nhsuk-table-responsive__heading">Date and time
                                            </span>17/02/2021, 16:24
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                            <span class="nhsuk-table-responsive__heading">Action
                                            </span>Sent to DH
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                            <span class="nhsuk-table-responsive__heading">Details
                                            </span>S080 Global note was uploaded to DH eXchange on 15/02/2021
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                            <span class="nhsuk-table-responsive__heading">Updated by
                                            </span>malcolm.norris@nhs.net
                                        </td>
                                    </tr>
                                    <tr role="row" class="nhsuk-table__row">
                                        <td role="cell" class="nhsuk-table__cell">
                                            <span class="nhsuk-table-responsive__heading">Date and time
                                            </span> 12/02/2021, 13:30
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                            <span class="nhsuk-table-responsive__heading">Action
                                            </span>Created
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                            <span class="nhsuk-table-responsive__heading">Details
                                            </span>Claim created
                                        </td>
                                        <td role="cell" class="nhsuk-table__cell">
                                            <span class="nhsuk-table-responsive__heading">Updated by
                                            </span>malcolm.norris@nhs.net
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--end of case history details-->
                </div>
            </div>
        </div>
    </div>

    {% endblock %}