<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-sidebar.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Resub history page
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<!--start breadcrumb-->
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="resubs-landing-complete">Resubs
              (Pending)</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="claim-resubs-complete">View
              Claim ID (Resubmissions)</a></li>
          <li class="nhsuk-breadcrumb__item">View Resub ID (Case history)</li>
        </ol>
      </div>
    </div>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="claim-list">Back to Search results</a>
    </p>
  </div>
</nav>
<!--end breadcrumb-->
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">

      <div class="nhsuk-width-container-fluid">
        <!--start main content-->
        <div class="nhsuk-main-wrapper" id="maincontent">

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <h1 class="nhsuk-heading-l">
                Resub ID 0002: Claim ID 9543
              </h1>
            </div>
          </div>

          <!--start secondary navigation-->
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation" style="background-color:#f0f4f5;">
                <ul class="nhsuk-secondary-navigation__list">
                  <li class="nhsuk-secondary-navigation__item">
                    <a class="nhsuk-secondary-navigation__link" href="resubs-contested-treatments-maintained-5">Treatments linked to resub</a>
                  </li>
                  <li class="nhsuk-secondary-navigation__item">
                    <a class="nhsuk-secondary-navigation__link" href="resubs-summary-complete-5">Resubmission
                      summary</a>
                  </li>
                  <li class="nhsuk-secondary-navigation__item">
                    <a class="nhsuk-secondary-navigation__link" href="resub-actions-printed">Actions</a>
                  </li>
                  <li class="nhsuk-secondary-navigation__item">
                    <a class="nhsuk-secondary-navigation__link" aria-current="page" href="resub-case-history">Resubmission history</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <hr style="border-bottom:1px solid #ccc; margin:0">
          <br><br>
          <!--end secondary navigation-->

          <!--start resub history-->
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">


              <table role="table" class="nhsuk-table-responsive">

                <thead role="rowgroup" class="nhsuk-table__head">
                  <tr role="row">
                    <th role="columnheader" class="" scope="col">
                      Date and time
                    </th>
                    <th role="columnheader" class="" scope="col">
                      Action
                    </th>
                    <th role="columnheader" class="" scope="col">
                      Details
                    </th>
                    <th role="columnheader" class="" scope="col">
                      Updated by
                    </th>
                  </tr>
                </thead>
                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Date and time
                      </span>19/03/2022, 15:48
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Action
                      </span>Sent to member state
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Details
                      </span>Resubmission sent to member state on 17/03/2022 
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Updated
                        by
                      </span>malcolm.norris@nhs.net
                    </td>
                  </tr>

                  <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Date and time
                      </span>18/03/2022, 16:30
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Action
                      </span>Complete
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Details
                      </span>Resubmission uploaded to DH eXchange on 17/03/2022 and status changed to Complete
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Updated
                        by
                      </span>malcolm.norris@nhs.net
                    </td>
                  </tr>

                  <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Date and time
                      </span>16/03/2022, 10:36
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Action
                      </span>Ready to print
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Details
                      </span>Resubmission set as peer reviewed and status changed to Ready to print
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Updated
                        by
                      </span>james.harper@nhs.net
                    </td>
                  </tr>

                  <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Date and time
                      </span>02/03/2022, 13:30
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Action
                      </span>Created
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Details
                      </span>Resubmission created for UK Claim ID 9543 received from France (FR) and status set to To action
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-table-responsive__heading">Updated
                        by
                      </span>malcolm.norris@nhs.net
                    </td>
                  </tr>



                </tbody>
              </table>




            </div>
          </div>
          <!--end resub history-->

        </div>
        <!--end main content-->

      </div>

    </div>



  </div>

  {% endblock %}