<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Review the institution details - Manage overseas entitlements and treatments - NHSBSA
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">
                    
                  <div class="nhsuk-grid-column-two-thirds">
                    
                    {{ backLink({
                      "href": "javascript:history.go(-1)",
                      "text": "Go back",
                      "classes": "nhsuk-u-margin-bottom-4"
                    }) }}

                    
                        
                    <form action="dr-review-institution-details" method="post">
                  
                    <div class="nhsuk-form-group">
                      <span class="nhsuk-caption-l">Send S071 to the member state</span>
                      <label class="nhsuk-label" for="view-person-record-details">
                        <h1 class="nhsuk-heading-xl">Review the institution details before sending the S071 to France (FR)</h1>
                      </label>
                    </div>

                    <dl class="nhsuk-summary-list">
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Institution ID
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          CLEISS0000
                        </dd>
                      </div>
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Institution name
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          Centre des liasons europeennes et international de securite sociale
                        </dd>
                      </div>
                      <!--div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Institution address
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          Address line 1<br>
                          Address line 2<br>
                          City<br>
                          Postcode
                        </dd>
                      </div-->
                    </dl>


                    <div class="nhsuk-form-group">
                      <fieldset class="nhsuk-fieldset" aria-describedby="example-hints-hint">
                        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                          <h2 class="nhsuk-fieldset__heading" style="margin-top: 20px;">
                            Confirm you want to send the S071 to this institution
                          </h2>
                        </legend>
                        <div class="nhsuk-radios" data-module="nhsuk-radios">
                          <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="dr-send-s071-to-member-state-yes" name="dr-send-s071-to-member-state" type="radio" value="Yes">
                            <label class="nhsuk-label nhsuk-radios__label" for="dr-send-s071-to-member-state-yes">
                              Yes, I want to send the S071
                            </label>
                          </div>
                          <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="dr-send-s071-to-member-state-no" name="dr-send-s071-to-member-state" type="radio" value="No">
                            <label class="nhsuk-label nhsuk-radios__label" for="dr-send-s071-to-member-state-no">
                              No, I do not want to send the S071
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                    

                    <button class="nhsuk-button" style=" margin-bottom: 60px;" type="submit">
                      Submit
                    </button>
                        
                    </form>
                  
                  </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}