{% extends 'layouts/_form.html' %} 
{% set title %} Confirm cancellation of the S1 entitlement{% endset %} 
{% set hidecaption = true %} 

{% block form %}
<div class="nhsuk-grid-column-two-thirds">
    <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
      <form method="post">
        
        <p>You have stated that the applicant is not eligble for a S1.</p>
        <p> By confirming the S1 will be cancelled.</p></p>
        <br>
        <div class="nhsuk-form-group">
          <label class="nhsuk-label nhsuk-label--s" for="example"> Add note (optional) </label>
          <div class="nhsuk-hint" id="example-hint">This will be added to the entitlement notes.</div>
          <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
        </div>
      <button class="nhsuk-button" type="submit">Confirm cancellation</button> 
  
      
       
  
  
      
  
  
        </form>
    </fieldset>
  </div>   
{% endblock %}
