{% extends 'layouts/_form.html' %} 
{% set title = "Add dependants to the S1?" %} 
{% set caption = "DL1609 - Denpendants" %} 
{% block form %}

<div class="nhsuk-grid-column-two-thirds">
  <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
    <div class="nhsuk-hint" id="contact-hint">Select one option</div>
    <form method="post">
      <div class="nhsuk-form-group">
        {{ radios({
          "idPrefix": "dependants1609",
          "name": "dependants1609",
          "items": [
            {
              "value": "yes",
              "text": "Yes"
            },
            {
              "value": "no",
              "text": "No"
            }
          ]
        }) }}
      </div>
      <button class="nhsuk-button nhsuk-u-margin-top-3" data-module="nhsuk-button" type="submit">Continue</button>
    </form>
  </fieldset>
</div>
{% endblock %}
