<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Search results page
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
   <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
         <div class="nhsuk-grid-column-full">
            <ol class="nhsuk-breadcrumb__list">
               <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="uk-claims">UK claims
                     (Search)</a></li>
               <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link"
                     href="search-results-uk-claims">Search results</a></li>
               <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="create-new-claim">Create new
                     claim</a></li>
               <li class="nhsuk-breadcrumb__item">Claim ID 341516 (Treatment forms)</li>
            </ol>
         </div>
      </div>
   </div>
</nav>
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<main id="maincontent" role="main">
   <form class="nhsuk-header__search-form" id="search" method="post" role="search" name="action"
      action="/version-26/pb7/v5/set-agreement-type"><input type="hidden" name="_csrf"
         value="sGA7Lorrz62HOb6-bBJvvn01VP_bCbVcMGZCYlocW5J1i3x90VALHbzTq5mqWtuKXD9bh05TeZ7tPYFxBwJ1Vzl9YqNF6R9P">
      <div class="nhsuk-width-container-fluid">
         <div class="nhsuk-main-wrapper">
           
            <!-- claim banners -->

            <!-- create claim set tca/wa first time banner -->

            <!-- set as agreement type banner (view claim) -->

            <!-- set as SAME agreement type banner (view claim) -->

            <!-- add more treatment for set agreement type -->

            <!-- add more treatment for print treatment -->

            <!-- add more treatment for resubmission-->

            <!-- unselect all banner on view claim -->

            <!-- create claim selectall banner -->

            <!-- create claim unselect banner -->

            <!-- filter by agreement radio search -->

            <!-- filter by agreement no treatment for agreement type tca/wa -->

            <!--  selected treatments sent for printing-->


            <div class="nhsuk-grid-row">
               <div class="nhsuk-grid-column-one-half">
                  <h1 class="nhsuk-heading-xl" id="claim-treatments-header">Claim ID 341516</h1>
               </div>
               <!-- tca and wa link div -->
               <div class="nhsuk-grid-column-one-half">
                  
                  <!-- print selected treatments button -->
                  <!-- <div class="float-right-elements">

                     <a href="set-agreement-type">
                        <button class="nhsuk-button nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2" type="submit">
                           Set agreement type
                        </button>
                     </a>

                     <button type="submit" class="nhsuk-button nhsuk-button--secondary" name="action"
                        value="PRINTTREATMENT" id="print-selected-treatments">Print selected treatments</button>


                  </div> -->
               </div>
            </div>
            <div class="nhsuk-grid-row">
               <div class="nhsuk-grid-column-two-thirds">

               </div>
               <div class="nhsuk-grid-column-full">

                  <nav class="nhsuk-secondary-navigation nav-tabs-bg">
                     <ul class="nhsuk-secondary-navigation__list">
                        <li class="nhsuk-secondary-navigation__item tab-header__navigation-item__item--current">
                           <a id="menu_treatment_forms" class="nhsuk-secondary-navigation__link"
                              href="claim-treatment-form">
                              Treatment forms
                              <span class="nhsuk-u-visually-hidden">&nbsp;</span>
                              <span class="nhsuk-u-visually-hidden">tab to search for treatment records for the claim
                                 341516</span>
                           </a>
                        </li>
                        <li class="nhsuk-secondary-navigation__item ">
                           <a id="menu_claim_summary" class="nhsuk-secondary-navigation__link"
                              href="claim-documents">
                              Claim documents
                              <span class="nhsuk-u-visually-hidden">&nbsp;</span>
                              <span class="nhsuk-u-visually-hidden">tab to view the overall summary for claim
                                 341516</span>
                           </a>
                        </li>
                        <li class="nhsuk-secondary-navigation__item">
                           <a id="menu_claim_summary" class="nhsuk-secondary-navigation__link"
                              href="claim-summary-for-new-print-options">
                              Claim summary
                              <span class="nhsuk-u-visually-hidden">&nbsp;</span>
                              <span class="nhsuk-u-visually-hidden">tab to view the overall summary for claim
                                 341516</span>
                           </a>
                        </li>
                        <li class="nhsuk-secondary-navigation__item">
                           <a id="menu_action" class="nhsuk-secondary-navigation__link"
                              href="claim-actions">
                              Claim details
                              <span class="nhsuk-u-visually-hidden">&nbsp;</span>
                              <span class="nhsuk-u-visually-hidden">tab to complete any outstanding actions for the
                                 claim 341516</span>
                           </a>
                        </li>

                        <li class="nhsuk-secondary-navigation__item">
                           <a id="menu_case_history" class="nhsuk-secondary-navigation__link"
                              href="#å">
                              <span>Claim history</span>
                              <span class="nhsuk-u-visually-hidden">&nbsp;</span>
                              <span class="nhsuk-u-visually-hidden">tab to view all resubs received for claim
                                 341516</span>
                           </a>
                        </li>
                     </ul>
                  </nav>

                  <hr class="gray-horizontal-line">
                  <div class="nhsuk-form-group">
                     <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-two-thirds">
                           <div id="treatment-form-hint" class="nhsuk-hint nhsuk-u-margin-top-4">Search for a single
                              treatment using the treatment ID number or patient's last name. Search for up to 8
                              treatments at once by separating each treatment ID number with a comma. For example,
                              10637,16095, 17011</div>
                        </div>
                     </div>
                     <!-- claim search box -->

                     <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-two-thirds">
                           <label class="nhsuk-u-visually-hidden" for="filterSearchClaimTreatment"
                              id="search-box-hint">Search by treatment ID to add treatment for printing or to
                              resub</label>
                           <div class="nhsuk-search-input-button">
                              <input class="nhsuk-search__input-treatment-forms nhsuk-input"
                                 id="filterSearchClaimTreatment" name="filterSearchClaimTreatment" type="search"
                                 placeholder="Search by treatment ID or last name" autocomplete="off" value="">
                              <button class="nhsuk-search__submit-treatment-forms" id="search-claim-result"
                                 value="search" name="action" type="submit">
                                 <svg class="nhsuk-icon__search-treatment-forms" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                                    <path
                                       d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z">
                                    </path>
                                 </svg>
                                 <span class="nhsuk-u-visually-hidden">search</span>
                              </button>
                           </div>
                        </div>

                     </div>

                     <!-- filter by agreement open-->

                     <!-- filter by agreement close-->
                     <div>

                     </div>
                     <div>
                        <br>
                     </div>
                     <!-- search claim table -->

                     <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full" id="result">

                           <a class="claim-clear-search-link select-all-link-mobile"
                              href="/manage-overseas-entitlements-and-treatments/select-all-claims?selectall=true"
                              id="select-all-link-mobile">
                              <span>Select all</span>
                              <span class="nhsuk-u-visually-hidden">&nbsp;</span>
                              <span class="nhsuk-u-visually-hidden">treatments listed</span>
                           </a>

                           <div class="nhsuk-form-group">
                              <div class="nhsuk-table-responsive">
                                 <table role="table" class="nhsuk-table" id="claim-treatment-table">
                                    <caption class="nhsuk-table__caption"></caption>
                                    <thead role="rowgroup" class="nhsuk-table__head">
                                       <tr role="row">
                                         
                                          <th role="columnheader" scope="col" id="treatment-id">Treatment ID</th>
                                          <th role="columnheader" scope="col" id="first-name">First name</th>
                                          <th role="columnheader" scope="col" id="last-name">Last name</th>
                                          <th role="columnheader" scope="col" id="entitlement-type">Entitlement</th>
                                          <th role="columnheader" scope="col" id="claim-cost">Cost(£)</th>
                                          <th role="columnheader" scope="col" id="agreement-type">Agreement</th>
                                          <th role="columnheader" scope="col" id="action">Actions</th>
                                       </tr>
                                    </thead>
                                    <tbody class="nhsuk-table__body">
                                       <tr role="row" class="nhsuk-table__row">
                                          
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">Treatment ID</span>
                                             <span id="treatmentID_0" class="responsive-table-values"
                                                value="555902579">34193</span>
                                          </td>
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">First name</span>
                                             <span id="firstName_0" class="responsive-table-values"
                                                value="Phil">Phil</span>
                                          </td>
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">Last name</span>
                                             <span id="lastName_0" class="responsive-table-values"
                                                value="Moran">Moran</span>
                                          </td>
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">Entitlement</span>
                                             <span id="entitlement_0" class="responsive-table-values"
                                                value="EHIC">EHIC</span>
                                          </td>
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">Cost (£)</span>
                                             <span id="cost_0" class="responsive-table-values"
                                                value="10000.0">5,000.00</span>
                                          </td>
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">Agreement</span>
                                             <span id="agreement_0" class="responsive-table-values" value="">WA</span>
                                          </td>
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">Actions</span>
                                             <a href="/manage-overseas-entitlements-and-treatments/claims-view-patient-record?personId=222891230&amp;claimId=341516&amp;treatmentId=555902579"
                                                id="viewPatientRecord_0" class="responsive-table-values">
                                                View patient record
                                                <span class="nhsuk-u-visually-hidden">&nbsp;</span>
                                                <span class="nhsuk-u-visually-hidden">for treatment 555902579</span>
                                             </a>
                                          </td>
                                       </tr>
                                       <tr role="row" class="nhsuk-table__row">
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">Treatment ID</span>
                                             <span id="treatmentID_1" class="responsive-table-values"
                                                value="555902580">38128</span>
                                          </td>
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">First name</span>
                                             <span id="firstName_1" class="responsive-table-values"
                                                value="Stephan">Stephan</span>
                                          </td>
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">Last name</span>
                                             <span id="lastName_1" class="responsive-table-values"
                                                value="Dupont">Dupont</span>
                                          </td>
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">Entitlement</span>
                                             <span id="entitlement_1" class="responsive-table-values"
                                                value="EHIC">EHIC</span>
                                          </td>
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">Cost (£)</span>
                                             <span id="cost_1" class="responsive-table-values"
                                                value="137.0">137.00</span>
                                          </td>
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">Agreement</span>
                                             <span id="agreement_0" class="responsive-table-values" value="">WA</span>
                                          </td>
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">Actions</span>
                                             <a href="/manage-overseas-entitlements-and-treatments/claims-view-patient-record?personId=222891231&amp;claimId=341516&amp;treatmentId=555902580"
                                                id="viewPatientRecord_1" class="responsive-table-values">
                                                View patient record
                                                <span class="nhsuk-u-visually-hidden">&nbsp;</span>
                                                <span class="nhsuk-u-visually-hidden">for treatment 555902580</span>
                                             </a>
                                          </td>
                                       </tr>

                                       <!-- GEORGES -->
                                       <tr role="row" class="nhsuk-table__row">
                                          
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">Treatment ID</span>
                                             <span id="treatmentID_0" class="responsive-table-values"
                                                value="555902579">47238</span>
                                          </td>
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">First name</span>
                                             <span id="firstName_0" class="responsive-table-values"
                                                value="Phil">Jonas</span>
                                          </td>
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">Last name</span>
                                             <span id="lastName_0" class="responsive-table-values"
                                                value="Richter">Richter</span>
                                          </td>
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">Entitlement</span>
                                             <span id="entitlement_0" class="responsive-table-values"
                                                value="EHIC">EHIC</span>
                                          </td>
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">Cost (£)</span>
                                             <span id="cost_0" class="responsive-table-values"
                                                value="10000.0">750.00</span>
                                          </td>
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">Agreement</span>
                                             <span id="agreement_0" class="responsive-table-values" value="">TCA</span>
                                          </td>
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">Actions</span>
                                             <a href="/manage-overseas-entitlements-and-treatments/claims-view-patient-record?personId=222891230&amp;claimId=341516&amp;treatmentId=555902579"
                                                id="viewPatientRecord_0" class="responsive-table-values">
                                                View patient record
                                                <span class="nhsuk-u-visually-hidden">&nbsp;</span>
                                                <span class="nhsuk-u-visually-hidden">for treatment 555902579</span>
                                             </a>
                                          </td>
                                       </tr>
                                             </fieldset>
                                          </td>
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">Treatment ID</span>
                                             <span id="treatmentID_0" class="responsive-table-values"
                                                value="555902579">63880</span>
                                          </td>
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">First name</span>
                                             <span id="firstName_0" class="responsive-table-values"
                                                value="Phil">Klaus</span>
                                          </td>
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">Last name</span>
                                             <span id="lastName_0" class="responsive-table-values"
                                                value="Richter">Ziegler</span>
                                          </td>
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">Entitlement</span>
                                             <span id="entitlement_0" class="responsive-table-values"
                                                value="EHIC">PRC</span>
                                          </td>
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">Cost (£)</span>
                                             <span id="cost_0" class="responsive-table-values"
                                                value="10000.0">850.00</span>
                                          </td>
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">Agreement</span>
                                             <span id="agreement_0" class="responsive-table-values" value="">TCA</span>
                                          </td>
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">Actions</span>
                                             <a href="/manage-overseas-entitlements-and-treatments/claims-view-patient-record?personId=222891230&amp;claimId=341516&amp;treatmentId=555902579"
                                                id="viewPatientRecord_0" class="responsive-table-values">
                                                View patient record
                                                <span class="nhsuk-u-visually-hidden">&nbsp;</span>
                                                <span class="nhsuk-u-visually-hidden">for treatment 555902579</span>
                                             </a>
                                          </td>
                                       </tr>

                                       <!-- LOUIS -->
                                       <tr role="row" class="nhsuk-table__row">
                                          
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">Treatment ID</span>
                                             <span id="treatmentID_0" class="responsive-table-values"
                                                value="47238">36783</span>
                                          </td>
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">First name</span>
                                             <span id="firstName_0" class="responsive-table-values"
                                                value="Phil">Louis</span>
                                          </td>
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">Last name</span>
                                             <span id="lastName_0" class="responsive-table-values"
                                                value="Moran">Victor</span>
                                          </td>
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">Entitlement</span>
                                             <span id="entitlement_0" class="responsive-table-values"
                                                value="EHIC">PRC</span>
                                          </td>
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">Cost (£)</span>
                                             <span id="cost_0" class="responsive-table-values"
                                                value="10000.0">996.55</span>
                                          </td>
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">Agreement</span>
                                             <span id="agreement_0" class="responsive-table-values" value="">WA</span>
                                          </td>
                                          <td role="cell" class="nhsuk-table__cell">
                                             <span class="nhsuk-table-responsive__heading">Actions</span>
                                             <a href="/manage-overseas-entitlements-and-treatments/claims-view-patient-record?personId=222891230&amp;claimId=341516&amp;treatmentId=555902579"
                                                id="viewPatientRecord_0" class="responsive-table-values">
                                                View patient record
                                                <span class="nhsuk-u-visually-hidden">&nbsp;</span>
                                                <span class="nhsuk-u-visually-hidden">for treatment 555902579</span>
                                             </a>
                                          </td>
                                       </tr>

                                    </tbody>
                                 </table>
                                 <div>
                                    <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">


                                    </nav>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>

                  </div>
               </div>
            </div>
         </div>
      </div>
   </form>
</main>

{% endblock %}