<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Create new resub
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Resubs (Pending)</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">View Claim ID (Resubmissions)</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="claim-treatments-resubid-print-option">View Resub ID (Treatments linked to resub)</a></li>
          <li class="nhsuk-breadcrumb__item">View details (Evidence)</li>
        </ol>
      </div>
    </div>

    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="person-record-resubs">Back to Tony
        Smith (Resubs)</a></p>

  </div>
</nav>

<div class="nhsBSA-sidebar-container">

  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">

      <div class="nhsuk-width-container-fluid">

        <div class="nhsuk-main-wrapper" id="maincontent">

          {# <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">

              <div class="panel panel-border-wide alert-default">
                <h2 class="nhsuk-heading-s nhsuk-u-padding-top-3 nhsuk-u-margin-bottom-3">English is their second
                  language. May require an interpreter.</h2>
              </div>

            </div>
          </div> #}

          <div class="nhsuk-grid-row">
            
              <h1 class="nhsuk-heading-l" style="display:inline-block; margin-right:20px;">
                Resub ID 7790968: Claim ID 345661 (Treatment ID 556094141)
              </h1>
          
          </div>

          <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation" style="background-color:#f0f4f5;">
            <ul class="nhsuk-secondary-navigation__list">

              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="resub-details-print-option">Treatment details</a>
              </li>

              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="#">Reason for contestation</a>
                <span class="nhsuk-u-visually-hidden">View overseas visitor manager contact details</span>
              </li>

              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="#">Contact the OVM</a>
                <span class="nhsuk-u-visually-hidden">Claim summary</span>
              </li>

              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="#">Request for a PRC</a>
                <span class="nhsuk-u-visually-hidden">View overseas visitor manager contact details</span>
              </li>

              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" aria-current="page" href="claim-documents-print-option">Evidence</a>
                <span class="nhsuk-u-visually-hidden">Evidence</span>
              </li>

              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="#">OVM details</a>
                <span class="nhsuk-u-visually-hidden">Claim history</span>
              </li>

            </ul>
          </nav>

          <hr style="border-bottom:1px solid #ccc; margin:0">
          <br><br>

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full" style="max-width: 1000px;">

              <div class="action-buttons">
                <a class="nhsuk-button nhsuk-button" href="">Upload new evidence</a>
                <!-- <button class="nhsuk-button nhsuk-button--secondary" type="submit" id="editButton" name="action"
                  value="editClaimSummary">Edit claim summary</button> -->
              </div>


                <div>
                  
                  <h2 class="nhsuk-heading-s" id="WA">Uploaded evidence</h2>
                  <dl class="nhsuk-summary-list">
                     
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key" id="wa-schedule-label">ehic_prc_entitlment1.jpg</dt>
                        <dd class="nhsuk-summary-list__actions">
                           <a href="#"
                              id="Download">
                              <span id="#">View file to print or download</span>
                              <span class="nhsuk-u-visually-hidden">&nbsp;</span>
                              <span class="nhsuk-u-visually-hidden"></span>
                           </a>
                        </dd>
                        <dd class="nhsuk-summary-list__actions">
                          <a href="#"
                             id="Download">
                             <span id="#">Delete</span>
                             <span class="nhsuk-u-visually-hidden">&nbsp;</span>
                             <span class="nhsuk-u-visually-hidden"></span>
                          </a>
                       </dd>
                     </div>
                     <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key" id="wa-schedule-label">EHIC_PDF_format.jpg</dt>
                      <dd class="nhsuk-summary-list__actions">
                         <a href="#"
                            id="Download">
                            <span id="#">View file to print or download</span>
                            <span class="nhsuk-u-visually-hidden">&nbsp;</span>
                            <span class="nhsuk-u-visually-hidden"></span>
                         </a>
                      </dd>
                      <dd class="nhsuk-summary-list__actions">
                        <a href="#"
                           id="Download">
                           <span id="#">Delete</span>
                           <span class="nhsuk-u-visually-hidden">&nbsp;</span>
                           <span class="nhsuk-u-visually-hidden"></span>
                        </a>
                     </dd>
                   </div>
<br>

                    <h2 class="nhsuk-heading-s" id="WA">System-generated documents</h2>

                     <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key" id="wa-s080-global-note-label">EHIC</dt>
                        <dd class="nhsuk-summary-list__actions">
                           <a href="#"
                              id="waScheduleDownload">
                              <span id="wa_schedule_download_text">View file to print or download</span>
                              <span class="nhsuk-u-visually-hidden">&nbsp;</span>
                              <span class="nhsuk-u-visually-hidden">full claim record for WA claim 341518</span>
                           </a>
                        </dd>
                        <dd class="nhsuk-summary-list__actions">
                          <a href="#"
                             id="Download">
                             <span id="#"></span>
                             <span class="nhsuk-u-visually-hidden">&nbsp;</span>
                             <span class="nhsuk-u-visually-hidden"></span>
                          </a>
                       </dd>
                     </div>

                     <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key" id="wa-treatment-forms-label">S080 treatment form</dt>
                        <dd class="nhsuk-summary-list__actions">
                           <a href="#"
                              id="waScheduleDownload">
                              <span id="wa_schedule_download_text">View file to print or download</span>
                              <span class="nhsuk-u-visually-hidden">&nbsp;</span>
                              <span class="nhsuk-u-visually-hidden">full claim record for WA claim 341518</span>
                           </a>
                        </dd>
                        <dd class="nhsuk-summary-list__actions">
                          <a href="#"
                             id="Download">
                             <span id="#"></span>
                             <span class="nhsuk-u-visually-hidden">&nbsp;</span>
                             <span class="nhsuk-u-visually-hidden"></span>
                          </a>
                       </dd>
                       
                     </div>
                     <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key" id="wa-rina-claim-file">S044 form</dt>
                        <dd class="nhsuk-summary-list__actions">
                           <a href="#"
                              id="waScheduleDownload">
                              <span id="wa_schedule_download_text">View file to print or download</span>
                              <span class="nhsuk-u-visually-hidden">&nbsp;</span>
                              <span class="nhsuk-u-visually-hidden">full claim record for WA claim 341518</span>
                           </a>
                        </dd>
                        <dd class="nhsuk-summary-list__actions">
                          <a href="#"
                             id="Download">
                             <span id="#"></span>
                             <span class="nhsuk-u-visually-hidden">&nbsp;</span>
                             <span class="nhsuk-u-visually-hidden"></span>
                          </a>
                       </dd>
                     </div>
                  </dl>
               </div>

              </div>

          </div>

        </div>

      </div>
    </div>

  </div>

</div>


</div>

{% endblock %}