<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Select cancellation reason - Manage overseas entitlements and treatments - NHSBSA
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">
                    
                  <div class="nhsuk-grid-column-two-thirds">
                    
                    {{ backLink({
                      "href": "javascript:history.go(-1)",
                      "text": "Go back"
                    }) }}

                    
                        
                    <form action="dr-cancellation-reason" method="post">

                      <h1 class="app-page-heading">
                        <span class="nhsuk-caption-l">
                          S1/S072 entitlement cancellation
                            <span class="nhsuk-u-visually-hidden"> - </span>
                        </span>
                        Select a reason for cancelling the entitlement
                      </h1>

                    
                    <div class="nhsuk-form-group">
                      <div class="nhsuk-radios">
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="entitlement-holder-no-longer-insured-by-ms" name="cancellation-reason" type="radio" value="The entitlement holder is no longer insured by the Member State" aria-controls="conditional-contact-1" aria-expanded="false">
                          <label class="nhsuk-label nhsuk-radios__label" for="entitlement-holder-no-longer-insured-by-ms">The entitlement holder is no longer insured by the Member State</label>
                        </div>
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="entitlement-holder-no-longer-entitled-to-sickness-benefits-from-ms" name="cancellation-reason" type="radio" value="The entitlement holder is no longer entitled to sickness benefit from the Member State" aria-controls="conditional-contact-2" aria-expanded="false">
                          <label class="nhsuk-label nhsuk-radios__label" for="entitlement-holder-no-longer-entitled-to-sickness-benefits-from-ms">The entitlement holder is no longer entitled to sickness benefit from the Member State</label>
                        </div>
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="entitlement-holder-no-longer-lives-in-uk" name="cancellation-reason" type="radio" value="The entitlement holder no longer lives in the UK" aria-controls="conditional-contact-3" aria-expanded="false">
                          <label class="nhsuk-label nhsuk-radios__label" for="entitlement-holder-no-longer-lives-in-uk">The entitlement holder no longer lives in the UK</label>
                        </div>
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="entitlement-holder-lives-in-another-ms" name="cancellation-reason" type="radio" value="The entitlement holder lives in another Member State" aria-controls="conditional-contact-4" aria-expanded="false">
                          <label class="nhsuk-label nhsuk-radios__label" for="entitlement-holder-lives-in-another-ms">The entitlement holder lives in another Member State</label>
                        </div>
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="entitlement-holder-has-died" name="cancellation-reason" type="radio" value="The entitlement holder has died" aria-controls="conditional-contact-5" aria-expanded="false">
                          <label class="nhsuk-label nhsuk-radios__label" for="entitlement-holder-has-died">The entitlement holder has died</label>
                        </div>
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="entitlement-holder-is-insured-in-other-country-with-pension" name="cancellation-reason" type="radio" value="The entitlement holder is insured in another country because they have a pension there" aria-controls="conditional-contact-6" aria-expanded="false">
                          <label class="nhsuk-label nhsuk-radios__label" for="entitlement-holder-is-insured-in-other-country-with-pension">The entitlement holder is insured in another country because they have a pension there. See Regulation (EC) 883/04 article 24(2)(b)</label>
                        </div>
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="change-to-entitlement-holders-citizen-status" name="cancellation-reason" type="radio" value="The status of the entitlement holder has changed" aria-controls="conditional-contact-7" aria-expanded="false">
                          <label class="nhsuk-label nhsuk-radios__label" for="change-to-entitlement-holders-citizen-status">The status of the entitlement holder has changed</label>
                        </div>
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="institution-issuing-entitlement-changed" name="cancellation-reason" type="radio" value="The institution issuing the entitlement has changed" aria-controls="conditional-contact-8" aria-expanded="false">
                          <label class="nhsuk-label nhsuk-radios__label" for="institution-issuing-entitlement-changed">The institution issuing the entitlement has changed</label>
                        </div>
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="dependants-main-insurer-died" name="cancellation-reason" type="radio" value="The dependant’s main insurer has died" aria-controls="conditional-contact-9" aria-expanded="false">
                          <label class="nhsuk-label nhsuk-radios__label" for="dependants-main-insurer-died">The dependant's main insurer has died</label>
                        </div>
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="dependant-applied-for-own-s1" name="cancellation-reason" type="radio" value="The dependant has applied for their own S1" aria-controls="conditional-contact-10" aria-expanded="false">
                          <label class="nhsuk-label nhsuk-radios__label" for="dependant-applied-for-own-s1">The dependant has applied for their own S1</label>
                        </div>
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="other" name="cancellation-reason" type="radio" value="Other" aria-controls="conditional-contact-11" aria-expanded="false">
                          <label class="nhsuk-label nhsuk-radios__label" for="other">Other</label>
                        </div>
                      </div>
                    </div>

                    <button class="nhsuk-button nhsuk-u-margin-top-3" data-module="nhsuk-button" type="submit">Continue</button>

                    <p><a href="../entitlements-and-treatments">Cancel</a></p>

                    </form>

                  </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}