<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Cancel S1
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
      
          <ol class="nhsuk-breadcrumb__list">
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="search">Search</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="search-results">Search results</a></li>
      <li class="nhsuk-breadcrumb__item">John Smith (Entilements and treatments)</li>
          </ol>

        </div>
      </div>
  
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="search-results">Back to search results</a></p>

    </div>
</nav>

  <div class="nhsBSA-sidebar-container">

    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">

        <div class="nhsuk-width-container-fluid">

          <div class="nhsuk-main-wrapper" id="maincontent">

            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-two-thirds">
                <h1 class="nhsuk-heading-xl">
                  Entitlements and treatments
                </h1>
              </div>
              <div class="nhsuk-grid-column-one-third">
            
                <a href="new-entitlement">
                  <button  class="nhsuk-button" type="submit" style="float:right">
                    Add new entitlement
                  </button></a>
              </div>
            </div>
            <hr style="border-bottom:4px solid #005eb8; margin:0">
              
            <div class="nhsuk-scrollable-pane">
                <br>
                <div class="nhsuk-grid-row">
                  <div class="nhsuk-grid-column-full">
                            <p>Select an entitlement to view treatments</p>
                            
                      <h2 class="nhsuk-heading-m">S1</h2>
                        <div class="nhsuk-expander-group">
                          <details class="nhsuk-details nhsuk-expander">
                          <summary class="nhsuk-details__summary">
                          <span class="nhsuk-details__summary-text">
                            S1 - Valid from 24/08/2020
                          </span>
                          <a href="s1-cancel-entitlement3" style="float:right; margin-right: 30px; margin-top: 5px;">Cancel entitlement</a>
                          </summary>
                            <div class="nhsuk-details__text">
                              <br><br>
                              <div class="nhsuk-action-link">
                                  <a class="nhsuk-action-link__link" href="s1-entitlement-details">
                                    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                                      <path d="M0 0h24v24H0z" fill="none"></path>
                                      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                                    </svg>
                                    <span class="nhsuk-action-link__text">View entitlement details</span>
                                  </a>
                              </div>
                            </details>
                        </div>

                  </div>
            
                </div>

              <div class="nhsuk-scrollable-pane__wrapper">
                <div class="nhsuk-tabs-container">
                </div>
              </div>
              
            </div>

          </div>

        </div>

      </div>

      <div class="nhsBSA-sidebar-nav">
        <div class="side-nav">
          <h3>John Smith<span class="nhsuk-caption-m nhsuk-caption--bottom">
              <span class="nhsuk-u-visually-hidden">
                  -
                </span>1234567</span></h3>
          <ul>
            <div id="options" class="options">
              <li>
                <a href="s1-person-details">Person details</a>
              </li>
              <li>
                <a href="s1-dependents-details">Dependents details</a>
              </li>
              <li>
                <a class="active" href="entitlements-s1">Entitlements and treatments</a>
              </li>
                <li>
                <a href="case-history">Case history</a>
              </li>
                <li>
                <a href="disallowed-item">Accessibility needs</a>
              </li>
            </div>
          </ul>
        </div>
      </div>

    </div>
  </div>

{% endblock %}