<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Manage cost recovery
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="search">Search</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="search-results">Search results</a>
          </li>
          <li class="nhsuk-breadcrumb__item">Douglas Caven (Dependent details)</li>
        </ol>

      </div>
    </div>

    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="search-results">Back to search
        results</a></p>

  </div>
</nav>

<div class="nhsBSA-sidebar-container">

  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">

      <div class="nhsuk-width-container-fluid">

        <div class="nhsuk-main-wrapper" id="maincontent">


          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
              <h1 class="nhsuk-heading-xl">
                Dependents details
              </h1>
            </div>
          </div>
          <hr style="border-bottom:4px solid #005eb8; margin:0">


          <!-- FIRST DEPENDENT -->
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">

              <h2 class="nhsuk-heading-m" style="margin-top: 24px;">John Smith</h2>

              <div class="nhsuk-card">
                <div class="nhsuk-card__content">

                  <a href="s1-dependents-details-edit-reason" style="float:right; font-size: 19px; ">
                      Edit
                    </a>

                  <details class="nhsuk-details-1">
                    <summary class="nhsuk-details__summary-1">
                      <span class="nhsuk-details__summary-text-1">
                        View details
                      </span>
                    </summary>
                    <div class="nhsuk-details__text">

                      <dl class="nhsuk-summary-list">

                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            First names
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            John
                          </dd>

                        </div>

                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Last names
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            Smith
                          </dd>

                        </div>

                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Date of birth
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            01/01/2007
                          </dd>

                          </dd>

                        </div>
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Relationship with main person
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            Son
                          </dd>

                        </div>

                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Current address
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            23 Example Street,<br>
                            Newcastle, NE4 6PQ
                          </dd>

                        </div>

                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Entitlement country
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            France
                          </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Personal Identification Number
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            623573462324
                          </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            UK National Insurance Number (Optional)
                          </dt>
                          <dd class="nhsuk-summary-list__value">

                          </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Person status
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            Employed or self employed person
                          </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Date they became a resident in the UK
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            13/3/2003
                          </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Date they became entitled to pension or benefit from another EU/EEA country, or Switzerland
                            (Optional)
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            25/11/2008
                          </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Phone number (Optional)
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            7214363453
                          </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Email address (Optional)
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            example@nhsbsa.nhs.uk
                          </dd>
                        </div>

                      </dl>

                    </div>
                  </details>
                </div>
              </div>
            </div>
          </div>


          <!-- SECOND DEPENDENT -->
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">

              <h2 class="nhsuk-heading-m" style="margin-top: 18px;">Susanna Watson</h2>

              <div class="nhsuk-card">
                <div class="nhsuk-card__content">

                  <a href="s1-dependents-details-edit-reason" style="float:right; font-size: 19px; ">
                      Edit
                    </a>

                  <details class="nhsuk-details-1">
                    <summary class="nhsuk-details__summary-1">
                      <span class="nhsuk-details__summary-text-1">
                        View details
                      </span>
                    </summary>

                    <div class="nhsuk-details__text">
                      <dl class="nhsuk-summary-list">

                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            First names
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            Susanna
                          </dd>

                        </div>

                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Last names
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            Watson
                          </dd>

                        </div>

                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Date of birth
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            01/01/2009
                          </dd>

                          </dd>

                        </div>
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Relationship with main person
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            Daughter
                          </dd>

                        </div>

                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Current address
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            23 Example Street,<br>
                            Newcastle, NE4 6PQ
                          </dd>

                        </div>

                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Entitlement country
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            France
                          </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Personal Identification Number
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            623573462324
                          </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            UK National Insurance Number (Optional)
                          </dt>
                          <dd class="nhsuk-summary-list__value">

                          </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Person status
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            Employed or self employed person
                          </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Date they became a resident in the UK
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            13/3/2003
                          </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Date they became entitled to pension or benefit from another EU/EEA country, or Switzerland
                            (Optional)
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            25/11/2008
                          </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Phone number (Optional)
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            7214363453
                          </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Email address (Optional)
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            example@nhsbsa.nhs.uk
                          </dd>
                        </div>

                      </dl>

                    </div>


                  </details>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>


    <div class="nhsBSA-sidebar-nav">
      <div class="side-nav">

        <h3>Douglas Caven<span class="nhsuk-caption-m nhsuk-caption--bottom">
            <span class="nhsuk-u-visually-hidden">
              -
            </span>1234567</span></h3>

        <ul>
          <div id="options" class="options">
            <li>
              <a href="s1-person-details">Person details</a>
            </li>
            <li>
              <a class="active" href="s1-dependents-details">Dependents details</a>
            </li>
            <li>
              <a href="entitlements-treatments-with-s1-confirmation">Entitlements and treatments along with linked Claim
                ID</a>
            </li>
            <li>
              <a href="s1-case-history-form-dl1609">Case history</a>
            </li>

          </div>
        </ul>

      </div>

    </div>
  </div>

</div>

{% endblock %}