<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
S1 H001 and H002
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsBSA-sidebar-container">
   <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
         <div class="nhsuk-width-container-fluid">
            <div class="nhsuk-main-wrapper" id="maincontent">
               <div class="nhsuk-grid-row">
                  <div class="nhsuk-grid-column-one-half">
                     <div class="nhsuk-panel nhsuk-panel--confirmation nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">
                     <h1 style="color:red" "font-size:40px;" class="nhsuk-panel__title">
                           Any Queries by MS will be raised in H001, and Cost Recovery will reply in H002. <br>Are these forms?
                           Need to understand this process.<br><br>CR send S071 to MS, what do they use to respond? 
                           This page is also a placeholder for the checking a response from MS. The next step is subject to this response. 
                     </h1> 
                     </div> 
                  </div>
                  <br>
                        <div class="nhsuk-grid-column-two-thirds">
                                 <a href="s1-reg-pin-name-dob" style="margin-right: 20px;"><button class="nhsuk-button nhsuk-button--primary">Continue</button></a>                                  
                                 <p><a href="#">Cancel</a></p>
                        </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

{% endblock %}




