<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
   In /views/layout.html you can:
      - change the header and footer 
      - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Print S073 confirmation
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
 
<div class="nhsBSA-sidebar-container">
   <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
         <div class="nhsuk-width-container-fluid">
            <div class="nhsuk-main-wrapper" id="maincontent">
               <div class="nhsuk-grid-row">
                  <div class="nhsuk-grid-column-one-half">
                     <div class="nhsuk-panel nhsuk-panel--confirmation nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">
                     <h1 style="font-size:40px;" class="nhsuk-panel__title">
                           S073 had been printed for Douglas Caven.
                     </h1>   
                  </div> 
               </div>
               <br>             
                  <div class="nhsuk-grid-column-two-thirds">
                     <h2 class="nhsuk-heading-s" style="margin-bottom:0">
                        Steps to be followed
                     </h2>
                     <br>
                     <ul>
                        <li>Post the S073 to the member state.</li> 
                     </ul>
                     <br>
                        <a href="s1-case-history-form-status" style="margin-right: 20px;"><button class="nhsuk-button nhsuk-button--primary">Finish</button></a>
                        <p><a href="#">Cancel</a></p>
                  </div>
            </div>
         </div>
      </div>
   </div>
</div>

{% endblock %}




