<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Register or cancel S1
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
   <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
         <div class="nhsuk-grid-column-full">
         <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">S1</a></li>
            <li class="nhsuk-breadcrumb__item">S1 action</li> 
         </ol>
         </div>
      </div>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="search-results">Back to search results</a></p>
   </div>
</nav>

<div class="nhsBSA-sidebar-container">
   <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
         <div class="nhsuk-width-container-fluid">
            <div class="nhsuk-main-wrapper" id="maincontent">
               <div class="nhsuk-grid-row">
                  <div class="nhsuk-grid-column-two-thirds">
                  
                     <h1 class="nhsuk-heading-xl">
                        Register or cancel S1
                     </h1>
                  </div>
                  <div class="nhsuk-grid-column-one-third">
                  </div>
               </div>

               <hr style="border-bottom:4px solid #005eb8; margin:0">
               <div class="nhsuk-scrollable-pane">
                  <br>
                  <div class="nhsuk-grid-row">
                     <div class="nhsuk-grid-column-two-thirds">
                        <div class="nhsuk-form-group">
                           <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
                              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                              </legend>
                              <div class="nhsuk-hint" id="contact-hint">
                                 Select one option
                              </div>

                              <form action="select-action" method="post">
                                 <div class="nhsuk-radios">                                   
                                    <div class="nhsuk-radios__item">
                                       <input class="nhsuk-radios__input" id="s1" name="entitlement" type="radio" value="s1" aria-controls="conditional-contact-1" aria-expanded="false">
                                       <label class="nhsuk-label nhsuk-radios__label" for="s1">
                                       Registration
                                       </label>
                                    </div>
                                    <div class="nhsuk-radios__item">
                                       <input class="nhsuk-radios__input" id="s1" name="entitlement" type="radio" value="s2" aria-controls="conditional-contact-1" aria-expanded="false">
                                       <label class="nhsuk-label nhsuk-radios__label" for="s1">
                                       Cancellation
                                       </label>
                                    </div>

                                    <br>

                                    <button class="nhsuk-button nhsuk-button--primary" type="submit">Continue</button>
                                    
                                 </div>
                           
                              </form>
                           </fieldset>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

{% endblock %}




