<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
UK claim ID 123456 - Claim history
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<!--start breadcrumb-->
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item">
            <a class="nhsuk-breadcrumb__link" href="../uk-claims-search-actual-cost">UK claims (Search)</a>
          </li>
          <li class="nhsuk-breadcrumb__item">
            <a class="nhsuk-breadcrumb__link" href="../uk-claims-search-results-found">Search results</a>
          </li>
          <li class="nhsuk-breadcrumb__item">View Claim ID (Claim history)</li>
        </ol>
      </div>
    </div>

    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="uk-claims-search-results">Back to search results</a></p>

  </div>
</nav>
<!--end breadcrumb-->
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container-fluid">
          <div class="nhsuk-main-wrapper" id="maincontent">

            
            <div class="nhsuk-grid-row">   
              <div class="nhsuk-grid-column-one-half">
                <h1 class="nhsuk-heading-l">Claim ID 123456 - Claim history for<br>S1/S072 Article 63, 2.b - Mixed ages</h1>
              </div>
            </div>

            
          <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation" style="background-color:#f0f4f5;">
            <ul class="nhsuk-secondary-navigation__list">
              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="claim-summary">Claim summary</a>
                <span class="nhsuk-u-visually-hidden">View the overall summary for claim 123456</span>
              </li>

              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="claim-invoices">Invoices</a>
                <span class="nhsuk-u-visually-hidden">Search for an invoice</span>
              </li>

              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="claim-age-group-breakdown">Age brackets</a>
                <span class="nhsuk-u-visually-hidden">View the age brackets for claim 123456</span>
              </li>

              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="claim-documents">Claim documents</a>
                <span class="nhsuk-u-visually-hidden">Complete any outstanding actions</span>
              </li>

              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="claim-resubmissions">Resubmissions</a>
                <span class="nhsuk-u-visually-hidden">Complete any outstanding actions</span>
              </li>

              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" aria-current="page" href="claim-history">Claim history</a>
                <span class="nhsuk-u-visually-hidden">View case history for claim 123456</span>
              </li>
            </ul>
          </nav>

          <hr style="border-bottom:1px solid #ccc; margin:0">
          <!--end secondary navigation-->

          <br><br>

        <!-- Start of Claim history table -->
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">

                <table role="claimSummaryTable" class="nhsuk-table-responsive">
                    <thead role="rowgroup" class="nhsuk-table__head">
                        <tr role="row">
                            <th role="columnheader" class="" scope="col">
                                Date and time
                            </th>
                            <th role="columnheader" class="" scope="col">
                                Action
                            </th>
                            </th>
                            <th role="columnheader" class="" scope="col">
                                Details
                            </th>
                            <th role="columnheader" class="" scope="col">
                                Updated by
                            </th>
                        </tr>
                    </thead>
                    
                    <tbody class="nhsuk-table__body">
                        {% if data['change-basic-personal-details'] == 'yes' %}
                        <tr role="row" class="nhsuk-table__row">
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Date and time</span>
                                2 April 2025<br>
                                10:34
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Action</span>
                                Claim documents regenerated
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Details</span>
                                Changes made to John Doe's personal details.
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Updated by</span>
                                joe.bloggs@nhs.net
                            </td>
                        </tr>
                        {% endif %}
                        <tr role="row" class="nhsuk-table__row">
                          <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Date and time</span>
                              08/02/2025,<br>
                              11:07
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Action</span>
                              Updated
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Details</span>
                              Member state acknowledged claim documents on 07/02/2025
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Updated by</span>
                              nina.evans@nhsbsa.nhs.uk
                          </td>
                        </tr>
                        <tr role="row" class="nhsuk-table__row">
                          <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Date and time</span>
                              05/02/2025,<br>
                              09:35
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Action</span>
                              Updated
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Details</span>
                              Claim documents delivered to the Member State on 04/02/2025
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Updated by</span>
                              joe.bloggs@nhsbsa.nhs.uk
                          </td>
                        </tr>
                        <tr role="row" class="nhsuk-table__row">
                          <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Date and time</span>
                              04/02/2025,<br>
                              13:48
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Action</span>
                              Sent to member state
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Details</span>
                              Claim sent to member state on 04/02/2025
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Updated by</span>
                              nina.evans@nhsbsa.nhs.uk
                          </td>
                        </tr>
                        <tr role="row" class="nhsuk-table__row">
                          <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Date and time</span>
                              04/02/2025,<br>
                              13:48
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Action</span>
                              Sent to DH
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Details</span>
                              S100 global note was uploaded to DH eXchange on 04/02/2025
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Updated by</span>
                              nina.evans@nhsbsa.nhs.uk
                          </td>
                        </tr>
                        <tr role="row" class="nhsuk-table__row">
                          <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Date and time</span>
                              04/02/2025,<br>
                              10:34
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Action</span>
                              Created
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Details</span>
                              Claim generated
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Updated by</span>
                              nina.evans@nhsbsa.nhs.uk
                          </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- End of Claim history table -->

              
           </div>
          </div>

    </div>
  </div>
</div>
{% endblock %}





