<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
UK claim ID 100005 - Check your answers before withdrawing months
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<!--start breadcrumb-->
<!--end breadcrumb-->
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container-fluid">
          <div class="nhsuk-main-wrapper" id="maincontent">

            {{ backLink({
              "href": "javascript:history.go(-1)",
              "text": "Go back"
            }) }}
    
  
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <h1 class="nhsuk-heading-xl">Check your answers before withdrawing months</h1>
             </div>
          </div>

          <form action="cya-withdraw" method="post">

            <input type="hidden" name="invoice" value="{{ data.invoice }}">

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">

              <h2 class="nhsuk-heading-s">Contested months</h2>
                
              <dl class="nhsuk-summary-list">
                
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key" id="initial-months-claimed-label">Original months claimed</dt>
                  <dd class="nhsuk-summary-list__value" id="initial-months-claimed-value">7</dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key" id="duration-months-claimed-label">Original accounting period</dt>
                  <dd class="nhsuk-summary-list__value" id="duration-months-claimed-value">01/01/2016 - 29/07/2016</dd>
                </div>
              </dl>

            </div>
          </div>

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">

              

              <h2 class="nhsuk-heading-s">Withdrawn months</h2>

              <dl class="nhsuk-summary-list">
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key" id="source-of-withdrawal-label">Source of withdrawal request</dt>
                  <dd class="nhsuk-summary-list__value" id="source-of-withdrawal-value">
                    {% if data['withdrawal-source'] %}
                     {{ data['withdrawal-source'] }}
                    {% else %}
                      Member State
                    {% endif %}
                  </dd>
                  <dd class="nhsuk-summary-list__actions"><a href="source-of-withdrawal">Change<span class="nhsuk-u-visually-hidden">the source of withdrawal request</span></a></dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key" id="reasons-to-withdraw-months-label">Reason to withdraw months</dt>
                  <dd class="nhsuk-summary-list__value" id="reasons-to-withdraw-months-value">
                    {% if data['reasons-to-withdraw-months'] %}
                     {{ data['reasons-to-withdraw-months'] }}
                    {% else %}
                      Contestation accepted in full and IMO concerned is decreased [01]
                    {% endif %}
                  </dd>
                  <dd class="nhsuk-summary-list__actions"><a href="reasons-to-withdraw-months">Change<span class="nhsuk-u-visually-hidden">the reason to withdraw months</span></a></dd>
                </div>
                {% if 'The primary entitlement in state of residence starts on the date provided [06]' in data['reasons-to-withdraw-months'] %}
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key" id="date-primary-entitlement-in-state-of-residence-starts-on-label">Date the primary entitlement in state of residence started on</dt>
                  <dd class="nhsuk-summary-list__value" id="date-primary-entitlement-in-state-of-residence-starts-on-value">
                    {% if data['date-primary-entitlement-in-state-of-residence-starts-on-day-withdraw'] and data['date-primary-entitlement-in-state-of-residence-starts-on-month-withdraw'] and data['date-primary-entitlement-in-state-of-residence-starts-on-year-withdraw'] %}
                      {% set day = data['date-primary-entitlement-in-state-of-residence-starts-on-day-withdraw'] | int %}
                      {% set month = data['date-primary-entitlement-in-state-of-residence-starts-on-month-withdraw'] | int %}
                      {% set year = data['date-primary-entitlement-in-state-of-residence-starts-on-year-withdraw'] %}
          
                      {% if day < 10 %}
                          {% set day = "0" ~ day %}
                      {% endif %}
                      
                      {% if month < 10 %}
                          {% set month = "0" ~ month %}
                      {% endif %}

                      {{ day }}/{{ month }}/{{ year }}
                      
                      
                    {% else %}
                      17/04/2015
                    {% endif %}
                  </dd>
                  <dd class="nhsuk-summary-list__actions"><a href="reasons-to-withdraw-months">Change<span class="nhsuk-u-visually-hidden">date contestation received after deadline</span></a></dd>
                </div>
                {% endif %}
                {% if 'The person receives a pension in his/her state of residence as from the date provided, copy of the decision attached [07]' in data['reasons-to-withdraw-months'] %}
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key" id="date-state-pension-received-label">Date state pension received</dt>
                  <dd class="nhsuk-summary-list__value" id="date-state-pension-received-value">
                    {% if data['date-state-pension-received-day-withdraw'] and data['date-state-pension-received-month-withdraw'] and data['date-state-pension-received-year-withdraw'] %}
                      {% set day = data['date-state-pension-received-day-withdraw'] | int %}
                      {% set month = data['date-state-pension-received-month-withdraw'] | int %}
                      {% set year = data['date-state-pension-received-year-withdraw'] %}
          
                      {% if day < 10 %}
                          {% set day = "0" ~ day %}
                      {% endif %}
                      
                      {% if month < 10 %}
                          {% set month = "0" ~ month %}
                      {% endif %}

                      {{ day }}/{{ month }}/{{ year }}


                    {% else %}
                      17/04/2015
                    {% endif %}
                  </dd>
                  <dd class="nhsuk-summary-list__actions"><a href="reasons-to-withdraw-months">Change<span class="nhsuk-u-visually-hidden">date state pension received</span></a></dd>
                </div>
                {% endif %}
                {% if 'Other [99]' in data['reasons-to-withdraw-months'] %}
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key" id="other-withdraw-reason-comments-label">Other reason - comments</dt>
                  <dd class="nhsuk-summary-list__value" id="other-withdraw-reason-comments-value">
                    {% if data['other-withdraw-reason-comments'] %}
                      {{ data['other-withdraw-reason-comments'] }}
                    {% else %}
                      Other withdraw reason explained here.
                    {% endif %}
                  </dd>
                  <dd class="nhsuk-summary-list__actions"><a href="reasons-to-withdraw-months">Change<span class="nhsuk-u-visually-hidden">other reason comments</span></a></dd>
                </div>
                {% endif %}

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">Additional comments (optional)</dt>
                    <dd class="nhsuk-summary-list__value">
                      {% if data['withdraw-additional-comments'] and data['withdraw-additional-comments'] %}
                        {{ data['withdraw-additional-comments'] }}
                      {% else %}
                        None provided
                      {% endif %}
                    </dd>

                    <dd class="nhsuk-summary-list__actions">
                      <a href="withdraw-additional-comments"> Change<span class="nhsuk-u-visually-hidden">additional comments</span> </a>
                    </dd>
                  </dt>
                </div>
              </dl>


            <br>

              <button class="nhsuk-button nhsuk-button--primary" type="submit" id="save-and-continue-button">Save and continue</button>

              <p><a href="invoice-details">Cancel</a></p>
            </div>
          </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}