<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Change first names on this S1 entitlement - Manage overseas entitlements and treatments - NHSBSA
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">
                    
                  <div class="nhsuk-grid-column-two-thirds">
                    
                    {{ backLink({
                      "href": "javascript:history.go(-1)",
                      "text": "Go back"
                    }) }}

                    <p class="nhsuk-u-font-size-22" style="color: grey;">{% if data['dr-new-first-names'] %}{{ data['dr-new-first-names'] }}{% else %}Jane{% endif %} {% if data['dr-new-last-name'] %}{{ data['dr-new-last-name'] }}{% else %}Doe{% endif %}<br>Person record ID - 654321<br>Entitlement ID: 100002</p>

                    
                    <form action="dr-reason-for-changing-s1-pin" method="post">

                      <div class="nhsuk-character-count" data-module="nhsuk-character-count" data-maxlength="255">
                        <div class="nhsuk-form-group">
                          <h1 class="nhsuk-label-wrapper">
                            <label class="nhsuk-label nhsuk-label--xl" for="reason-for-changing-s1-pin-heading">
                              Why are you making this change?
                            </label>
                          </h1>
                          <div class="nhsuk-hint" id="reason-for-changing-s1-pin-hint">
                            If you have been emailing someone, you may want to include an email reference number. Your comments will be displayed on the Entitlement tab in the Case history.
                          </div> 
                          <textarea class="nhsuk-textarea nhsuk-js-character-count" id="drReasonForChangingS1PIN" name="dr-reason-for-changing-s1-pin" rows="5" aria-describedby="dr-reason-for-changing-s1-pin-hint"></textarea>
                        </div>
                      
                        <div class="nhsuk-hint nhsuk-character-count__message" id="dr-reason-for-changing-s1-pin-info">
                          You can enter up to 255 characters
                        </div>
                      </div>

                                 
                      <button class="nhsuk-button" type="submit">
                        Continue
                      </button>

                      <p style="margin-bottom: 60px;"><a href="../entitlement-content/s1-entitlement-details">Cancel</a></p>

                    </form>

                

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
