<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-sidebar.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Entitlement details {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item">
            <a class="nhsuk-breadcrumb__link" href="../../search/search-by-person">Search</a>
          </li>
          <li class="nhsuk-breadcrumb__item">
            <a class="nhsuk-breadcrumb__link" href="../../search/search-results">Search results</a>
          </li>
          <li class="nhsuk-breadcrumb__item">
            <a class="nhsuk-breadcrumb__link" href="../patient-summary">Overview</a>
          </li>
          <li class="nhsuk-breadcrumb__item">
            <a class="nhsuk-breadcrumb__link" href="../entitlement-details">Entitlements</a>
          </li>
        </ol>
      </div>
    </div>

    <p class="nhsuk-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink" href="">Back to search results</a>
    </p>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-main-wrapper" id="maincontent">

          
      
          
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <h1 class="nhsuk-heading-xl">S1 entitlement</h1>
            </div>
          </div>
      
      
          <!-- Tabs -->
          <div class="nhsuk-tabs" data-module="nhsuk-tabs">
            <h2 class="nhsuk-tabs__title">S1 entitlement</h2>

            <ul class="nhsuk-tabs__list">
              <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
                <a class="nhsuk-tabs__tab" href="#entitlement-details">Entitlement details</a>
              </li>
              <li class="nhsuk-tabs__list-item">
                <a class="nhsuk-tabs__tab" href="#institution-details">Institution details</a>
              </li>
              <li class="nhsuk-tabs__list-item">
                <a class="nhsuk-tabs__tab" href="#dependants">Dependants</a>
              </li>
              <li class="nhsuk-tabs__list-item">
                <a class="nhsuk-tabs__tab" href="#treatments">Treatments</a>
              </li>
              <li class="nhsuk-tabs__list-item">
                <a class="nhsuk-tabs__tab" href="#documents">Documents</a>
              </li>
              <li class="nhsuk-tabs__list-item">
                <a class="nhsuk-tabs__tab" href="#notes">Notes</a>
              </li>
            </ul>


            <!-- Tab content -->
            <div class="nhsuk-tabs__panel" id="entitlement-details">
              <!-- Entitlement details tab content starts -->
                
                <dl class="nhsuk-summary-list">
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Entitlement type
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        S1
                      </dd>
                    </div>
                  
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Date issued
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        {% if data['update-S1-entitlement-details'] == 'Yes' %}
                          {% if data['updated-s1-entitlement-issue-date-day'] and data['updated-s1-entitlement-issue-date-month'] and data['updated-s1-entitlement-issue-date-year'] %}
                              {% set day = data['updated-s1-entitlement-issue-date-day'] %}
                              {% set month = data['updated-s1-entitlement-issue-date-month'] | int %}
                              {% set year = data['updated-s1-entitlement-issue-date-year'] %}
                  
                              {# Define month names #}
                              {% set month_names = [
                                  "January", "February", "March", "April", "May", "June",
                                  "July", "August", "September", "October", "November", "December"
                              ] %}
                  
                              {# Get the month name #}
                              {% set month_name = month_names[month - 1] %}
                  
                              {# Display the date in the format "day month year" #}
                              {{ day | int }} {{ month_name }} {{ year }}
                            {% else %}
                              30 August 2024
                            {% endif %}
                        {% else %}
                          {% if data['s1-entitlement-issue-date-day'] and data['s1-entitlement-issue-date-month'] and data['s1-entitlement-issue-date-year'] %}
                            {% set day = data['s1-entitlement-issue-date-day'] %}
                            {% set month = data['s1-entitlement-issue-date-month'] | int %}
                            {% set year = data['s1-entitlement-issue-date-year'] %}
                
                            {# Define month names #}
                            {% set month_names = [
                                "January", "February", "March", "April", "May", "June",
                                "July", "August", "September", "October", "November", "December"
                            ] %}
                
                            {# Get the month name #}
                            {% set month_name = month_names[month - 1] %}
                
                            {# Display the date in the format "day month year" #}
                            {{ day | int }} {{ month_name }} {{ year }}
                          {% else %}
                            30 August 2024
                          {% endif %}
                        {% endif %}
                      </dd>
                    </div>


                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Start date
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        {% if data['update-S1-entitlement-details'] == 'Yes' %}
                          {% if data['updated-s1-entitlement-start-date-day'] and data['updated-s1-entitlement-start-date-month'] and data['updated-s1-entitlement-start-date-year'] %}
                          {% set day = data['updated-s1-entitlement-start-date-day'] %}
                          {% set month = data['updated-s1-entitlement-start-date-month'] | int %}
                          {% set year = data['updated-s1-entitlement-start-date-year'] %}
              
                          {# Define month names #}
                          {% set month_names = [
                              "January", "February", "March", "April", "May", "June",
                              "July", "August", "September", "October", "November", "December"
                          ] %}
              
                          {# Get the month name #}
                          {% set month_name = month_names[month - 1] %}
              
                          {# Display the date in the format "day month year" #}
                          {{ day | int }} {{ month_name }} {{ year }}
                        {% else %}
                          5 September 2024
                      {% endif %}
                        {% else %}
                          {% if data['s1-entitlement-start-date-day'] and data['s1-entitlement-start-date-month'] and data['s1-entitlement-start-date-year'] %}
                            {% set day = data['s1-entitlement-start-date-day'] %}
                            {% set month = data['s1-entitlement-start-date-month'] | int %}
                            {% set year = data['s1-entitlement-start-date-year'] %}
                
                            {# Define month names #}
                            {% set month_names = [
                                "January", "February", "March", "April", "May", "June",
                                "July", "August", "September", "October", "November", "December"
                            ] %}
                
                            {# Get the month name #}
                            {% set month_name = month_names[month - 1] %}
                
                            {# Display the date in the format "day month year" #}
                            {{ day | int }} {{ month_name }} {{ year }}
                          {% else %}
                            5 September 2024
                          {% endif %}
                        {% endif %}
                      </dd>
                    </div>


                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        End date (optional)
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        {% if data['update-S1-entitlement-details'] == 'Yes' %}
                          {% if data['updated-s1-entitlement-end-date-day'] and data['updated-s1-entitlement-end-date-month'] and data['updated-s1-entitlement-end-date-year'] %}
                            {% set day = data['updated-s1-entitlement-end-date-day'] %}
                            {% set month = data['updated-s1-entitlement-end-date-month'] | int %}
                            {% set year = data['updated-s1-entitlement-end-date-year'] %}
                
                            {# Define month names #}
                            {% set month_names = [
                                "January", "February", "March", "April", "May", "June",
                                "July", "August", "September", "October", "November", "December"
                            ] %}
                
                            {# Get the month name #}
                            {% set month_name = month_names[month - 1] %}
                
                            {# Display the date in the format "day month year" #}
                            {{ day | int }} {{ month_name }} {{ year }}
                          {% else %}
                          <span class="nhsuk-u-visually-hidden">Not provided</span>
                          {% endif %}
                        {% else %}
                          {% if data['s1-entitlement-end-date-day'] and data['s1-entitlement-end-date-month'] and data['s1-entitlement-end-date-year'] %}
                            {% set day = data['s1-entitlement-end-date-day'] %}
                            {% set month = data['s1-entitlement-end-date-month'] | int %}
                            {% set year = data['s1-entitlement-end-date-year'] %}
                
                            {# Define month names #}
                            {% set month_names = [
                                "January", "February", "March", "April", "May", "June",
                                "July", "August", "September", "October", "November", "December"
                            ] %}
                
                            {# Get the month name #}
                            {% set month_name = month_names[month - 1] %}
                
                            {# Display the date in the format "day month year" #}
                            {{ day | int }} {{ month_name }} {{ year }}
                          {% else %}
                          <span class="nhsuk-u-visually-hidden">Not provided</span>
                          {% endif %}
                        {% endif %}
                      </dd>
                    </div>


                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Citizen status
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        {% if data['update-S1-entitlement-details'] == 'Yes' %}
                          {% if data['updated-s1-entitlement-citizen-status'] %}
                            {{ data['updated-s1-entitlement-citizen-status'] }}
                          {% else %}
                            Insured person
                          {% endif %}
                        {% else %}
                          {% if data['s1-entitlement-citizen-status'] %}
                            {{ data['s1-entitlement-citizen-status'] }}
                          {% else %}
                            Insured person
                          {% endif %}
                        {% endif %}
                      </dd>
                    </div>


                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Country of issue
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        {% if data['update-S1-entitlement-details'] == 'Yes' %}
                          {% if data['updated-S1-entitlement-country-of-issue'] %}
                            {{ data['updated-S1-entitlement-country-of-issue'] }}
                          {% else %}
                            France
                          {% endif %}
                        {% else %}
                          {% if data['S1-entitlement-country-of-issue'] %}
                            {{ data['S1-entitlement-country-of-issue'] }}
                          {% else %}
                            France
                          {% endif %}
                        {% endif %}
                      </dd>
                    </div>


                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Entitlement status
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        <strong class="nhsuk-tag nhsuk-tag--yellow">
                          Action required
                        </strong>
                      </dd>
                    </div>

                </dl>
                
                    <div class="button-container">
                      <a href="../entitlement-content/update-S1-entitlement-details"><button style="margin-right:20px;" class="nhsuk-button" type="submit">Update entitlement details</button></a>
                      <a href="../entitlement-content/cancel-S1-entitlement"><button class="nhsuk-button nhsuk-button--warning" data-module="nhsuk-button" type="submit">Cancel entitlement</button></a>
                    </div>
              </div>
              <!-- Entitlement details tab content ends -->


            <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="institution-details">
              <!-- Institution details tab content starts -->
                <dl class="nhsuk-summary-list">
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Institution ID
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        104940005
                      </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Institution name
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        Centre Hospitalier Aunay-Bayeux
                      </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Institution address
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        13 Rue de Nesmond<br>
                        Bayeux<br>
                        Normandy<br>
                        14400<br>
                        France
                      </dd>
                    </div>
                </dl>

                    <div class="button-container">
                      <a href="../entitlement-content/change-S1-entitlement-institution-details"><button style="margin-right:20px;" class="nhsuk-button" type="submit">Change institution details</button></a>
                    </div>

              </div>
            <!-- Instituion details tab content ends -->


            <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="dependants">
              <!-- Dependants tab content starts -->
              {% if data['add-dependants'] == 'yes' %}
              <h3 class="nhsuk-heading-l">Dependants<span id="ariaLiveMessage" class="nhsuk-u-visually-hidden"> - contains 1 result</span></h3>
                <table role="table" id="treatmentsTable" class="nhsuk-table-responsive">
                
                  <thead role="rowgroup" class="nhsuk-table__head">
                    <tr role="row">
                      <th role="columnheader" class="" scope="col">
                        Relationship to Main
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Personal ID
                      </th>
                      <th role="columnheader" class="" scope="col">
                        First name
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Last name
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Date of birth
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Country
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Action
                      </th>
                    </tr>
                  </thead>
                
                  <tbody class="nhsuk-table__body">
                    <tr role="row" class="nhsuk-table__row">
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Relationship to Main</span>
                        <span>Wife</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Personal ID</span>
                        <span>112345</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">First name</span>
                        <span>Jane</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Last name</span>
                        <span>Doe</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Date of birth</span>
                        <span>29/12/1975</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Country</span>
                        <span>France</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Actions</span>
                        <a href="#">View</a>
                      </td>
                    </tr>   
                  </tbody>
                </table>

                <a href="#" class="nhsuk-button nhsuk-u-margin-top-5" role="button" data-module="nhsuk-button">
                  Add another dependant
                </a>

                {% else %}
                <h3 class="nhsuk-heading-l">Dependants</h3>
                <p>No dependants have been added to this person's record.</p>

                <a href="#" class="nhsuk-button nhsuk-u-margin-top-5" role="button" data-module="nhsuk-button">
                  Add a dependant
                </a>
                {% endif %} 
                     
              </div>
            <!-- Dependants tab content ends -->


            <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="treatments">
              <!-- Treatments tab content starts -->
              {% if data['add-treatment'] == 'yes' %}
              <h3 class="nhsuk-heading-l">Treatments<span id="ariaLiveMessage" class="nhsuk-u-visually-hidden"> - contains 1 result</span></h3>
                <table role="table" id="treatmentsTable" class="nhsuk-table-responsive">
                
                  <thead role="rowgroup" class="nhsuk-table__head">
                    <tr role="row">
                      <th role="columnheader" class="" scope="col">
                        Relationship to Main
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Personal ID
                      </th>
                      <th role="columnheader" class="" scope="col">
                        First name
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Last name
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Date of birth
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Country
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Action
                      </th>
                    </tr>
                  </thead>
                
                  <tbody class="nhsuk-table__body">
                    <tr role="row" class="nhsuk-table__row">
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Relationship to Main</span>
                        <span>Wife</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Personal ID</span>
                        <span>112345</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">First name</span>
                        <span>Jane</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Last name</span>
                        <span>Doe</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Date of birth</span>
                        <span>29/12/1975</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Country</span>
                        <span>France</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Actions</span>
                        <a href="#">View additional information</a>
                      </td>
                    </tr>   
                  </tbody>
                </table>

                <a href="#" class="nhsuk-button nhsuk-u-margin-top-5" role="button" data-module="nhsuk-button">
                  Add another treatment
                </a>

                {% else %}
                <h3 class="nhsuk-heading-l">Treatments</h3>
                <p>No treatments have been added to this person's record.</p>

                <a href="#" class="nhsuk-button nhsuk-u-margin-top-5" role="button" data-module="nhsuk-button">
                  Add a treatment
                </a>
                {% endif %} 
                     
              </div>
            <!-- Treatments tab content ends -->

            <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="documents">
                <!-- Documents tab content starts -->
                {% if data['upload-new-document'] == 'yes' %}
                <table role="table" id="documentsTable" class="nhsuk-table-responsive">
                  <h3 class="nhsuk-heading-l">Documents<span id="ariaLiveMessage" class="nhsuk-u-visually-hidden"> - contains 1 result</span></h3>
                
                  <thead role="rowgroup" class="nhsuk-table__head">
                    <tr role="row">
                      <th role="columnheader" class="" scope="col">
                        Document title
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Date uploaded
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Uploaded by
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Current status
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Document type
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Actions
                      </th>
                    </tr>
                  </thead>
                
                  <tbody class="nhsuk-table__body">
                    <tr role="row" class="nhsuk-table__row">
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Document title</span>
                        <span>john-doe-FAS1Q.pdf</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Date uploaded</span>
                        <span>15/08/2024</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Uploaded by</span>
                        <span>Dave Smith</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Current status</span>
                        <span>Received</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Document type</span>
                        <span>FAS1Q</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Actions</span>
                        <a href="">View</a> or 
                        <a href="/version-28/s1/account/remove-personal-details-document">remove</span></a>
                      </td>
                    </tr>   
                  </tbody>
                </table>
                <br>
                {% else %}  
                <h3 class="nhsuk-heading-l">Documents</h3>
                
                <p>No documents have been uploaded to this person's record.</p>
                {% endif %}

                     
                {% if data['add-new-document'] == 'yes' %}
                <a href="upload-entitlements-document">
                  <button class="nhsuk-button nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2" type="submit">
                    Upload a new document
                  </button>
                </a>
                {% else %}
                <a href="upload-entitlement-document">
                  <button class="nhsuk-button nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2" type="submit">
                    Upload a document
                  </button>
                </a>
                {% endif %}
              </div>
              <!-- Documents tab content ends -->


              <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="notes">
                <!-- Notes tab content starts -->
                <h3 class="nhsuk-heading-l">Notes</h3>

                {% if data['new-entitlements-note'] == 'yes' %}
              <div class="nhsuk-form-group" id="filterNotes-group">
                <label class="nhsuk-label" for="filter-notes">
                Filter notes
                </label>
                <div id="filterNotes-container"></div>
                <input class="nhsuk-input" id="example" name="filter-notes" type="text" value="">
              </div>

              <a href="#">
                <button class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-right-4" data-module="nhsuk-button" type="submit" value="Search" id="searchButton">Apply filter </button>
              <a class="nhsuk-button" style="float: right;" href="/version-28/s1/account/entitlements-note" data-module="nhsuk-button" type="submit" id="addNote-button">Add a new note</a>
              <p><a href="/version-28/s1/account/entitlement-details#tab-Notes" id="clearButton">Reset filter</a></p>

              <hr>
              {% else %}
              <p>No notes have been added to this person's entitlement.</p>
              <a class="nhsuk-button" href="/version-28/s1/account/entitlements-note" data-module="nhsuk-button" type="submit" id="addNote-button">Add a new note</a>
              {% endif %}


              {% if data['new-entitlements-note'] == 'yes' %}
              <h3>New note title</h3>
              <p>Added by <b>Joe Bloggs</b><br>
              <span id="currentDate1"></span></p>
              <p>{% if data['note'] %}
                {{ data['note'] }}
                {% else %}
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                {% endif %}
              </p>
              <hr>
              {% endif %}
              
             </div>
              <!-- Notes tab content ends -->
          
            </div>
            <!-- End of Tabs -->



            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-full">
                <h2 class="nhsuk-heading-l">Task list</h2>
              </div>
            </div>

            <!-- Start of task list -->
            <div class="nhsuk-card">
              <div class="nhsuk-card__content nhsuk-u-padding-bottom-20">
                <p><b>There are incomplete tasks</b></p>
                <p>1 of X tasks have been completed.</p>

               <table role="table" id="task-list-table" class="nhsuk-table-responsive">
                  
                
                  <thead role="rowgroup" class="nhsuk-table__head">
                    <tr role="row">
                      <th role="columnheader" class="" scope="col">
                        Task
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Actioned by
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Date actioned
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Current status
                      </th>
                    </tr>
                  </thead>
                
                  <tbody class="nhsuk-table__body">
                    <tr role="row" class="nhsuk-table__row">
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Task</span>
                        <span>Add an entitlement</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Actioned by</span>
                        <span>Joe Bloggs</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Date actioned</span>
                        <span>30/08/2024</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Current status</span>
                        <strong class="nhsuk-tag">
                          Completed
                        </strong>
                      </td>
                    </tr>   
                  </tbody>

                  <tbody class="nhsuk-table__body">
                    <tr role="row" class="nhsuk-table__row">
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Task</span>
                        <a href="#">Send S073 to Member State</span></a>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Actioned by</span>
                        <span class="nhsuk-u-visually-hidden">Not actioned</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Date actioned</span>
                        <span class="nhsuk-u-visually-hidden">Not actioned</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Current status</span>
                        <strong class="nhsuk-tag nhsuk-tag--blue">
                          Not started
                        </strong>
                      </td>
                    </tr>   
                  </tbody>

                  <tbody class="nhsuk-table__body">
                    <tr role="row" class="nhsuk-table__row">
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Task</span>
                        <a href="#">Print and send the DL1609</span></a>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Actioned by</span>
                        <span class="nhsuk-u-visually-hidden">Not actioned</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Date actioned</span>
                        <span class="nhsuk-u-visually-hidden">Not actioned</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Current status</span>
                        <strong class="nhsuk-tag nhsuk-tag--blue">
                          Not started
                        </strong>
                      </td>
                    </tr>   
                  </tbody>

                  <tbody class="nhsuk-table__body">
                    <tr role="row" class="nhsuk-table__row">
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Task</span>
                        <a href="#" class="disabled-link" onclick="return false;">Confirm entitlement details</a>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Actioned by</span>
                        <span class="nhsuk-u-visually-hidden">Not actioned</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Date actioned</span>
                        <span class="nhsuk-u-visually-hidden">Not actioned</span>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Current status</span>
                        <strong class="nhsuk-tag nhsuk-tag--grey">
                          Cannot start yet
                        </strong>
                      </td>
                    </tr>   
                  </tbody>

                </table>
              </div>
            </div>
       

        </div>
      </div>
    </div>

    <!-- Left-hand navigation -->
    <div class="nhsBSA-sidebar-nav">
      <div class="side-nav">
        <h3>
          John Doe<span class="nhsuk-caption-m nhsuk-caption--bottom">
          <span class="nhsuk-u-visually-hidden"> - </span>123456</span>
        </h3>
        <ul id="options" class="options">
          <li><a href="../patient-summary">Overview</a></li>
          <li><a href="../patient-details">Personal details</a></li>
          <li><a class="active" href="../entitlement-details">Entitlements and enquiries</a></li>
          <li><a href="../case-history">Case history</a></li>
        </ul>
      </div>
    </div>
    <!-- End of navigation -->

  </div>
</div>
<!-- End of main content -->
      

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tabs = document.querySelectorAll(".nhsuk-tabs__tab");
    const panels = document.querySelectorAll(".nhsuk-tabs__panel");

    function hideAllPanels() {
      panels.forEach(panel => panel.classList.add("nhsuk-tabs__panel--hidden"));
      tabs.forEach(tab => tab.parentElement.classList.remove("nhsuk-tabs__list-item--selected"));
    }

    function showPanel(panelId) {
      const panel = document.querySelector(panelId);
      if (panel) {
        panel.classList.remove("nhsuk-tabs__panel--hidden");
      }
    }

    tabs.forEach(tab => {
      tab.addEventListener("click", function (event) {
        event.preventDefault();
        hideAllPanels();
        tab.parentElement.classList.add("nhsuk-tabs__list-item--selected");
        showPanel(tab.getAttribute("href"));
      });
    });

    // Initially show the Entitlement details tab
    hideAllPanels();
    showPanel("#entitlement-details");
    document.querySelector('a[href="#entitlement-details"]').parentElement.classList.add("nhsuk-tabs__list-item--selected");
  });


   // Current Date and Time

  // JavaScript code
  var currentDateElement = document.getElementById("currentDate1");

  // Get the current date
  var currentDate = new Date();

  // Format the date as desired
  var dateOptions = { day: 'numeric', month: 'long', year: 'numeric' };
  var formattedDate = currentDate.toLocaleDateString(undefined, dateOptions);

  // Format the time as desired
  var timeOptions = { hour: 'numeric', minute: 'numeric', hour24: true };
  var formattedTime = currentDate.toLocaleTimeString(undefined, timeOptions);

  // Combine date and time
  var formattedDateTime = formattedDate + ' at ' + formattedTime;

  // Set the formatted date and time as the content of the element
  currentDateElement.textContent = formattedDateTime;
</script>
{% endblock %}
