<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Adjust date and cost {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<!-- <nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
      
          <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="search">Search (Person)</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="resubs">Resubs</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="claim-resubs-1">Claim ID 9543 (Resubs)</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="resubs-contested-treatments">Resub number 0002</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="prc-requested">Request for PRC</a></li>
            <li class="nhsuk-breadcrumb__item">No request received</li>
          </ol>
        </div>
      </div>
  
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="claim-treatment-forms-1">Back to Claim ID 9658 (Treatment forms)</a></p>

    </div>
</nav> -->

<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-main-wrapper" id="maincontent">
          <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="javascript:history.back()">
              <svg
                class="nhsuk-icon nhsuk-icon__chevron-left"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                aria-hidden="true"
              >
                <path
                  d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"
                ></path>
              </svg>
              Go back</a
            >
          </div>

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <h1
                class="nhsuk-heading-xl"
                style="display: inline-block; margin-right: 20px"
              >
              Reasons to maintain the treatment cost
              </h1>
            </div>
          </div>

          <hr style="border-bottom: 4px solid #005eb8; margin: 0" />
          <br /><br />

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
              <div class="nhsuk-form-group">
                <fieldset
                  class="nhsuk-fieldset"
                  aria-describedby="example-hint"
                >
                  <div class="nhsuk-hint" id="example-hint">
                    Select all reasons that are relevant for maintain.
                  </div>

                  <div class="nhsuk-checkboxes">
                    <div class="nhsuk-checkboxes__item">
                       <div>
                          <input type="checkbox" class="nhsuk-checkboxes__input" id="selectedMaintainReason" name="claimResubTreatmentDTO.selectedMaintainReason" value="Copy of EHIC attached - Please refer to Decision No. S11 of Article 62 of Regulation (EC) No 987/2009-Article 2 point 3"><input type="hidden" name="_claimResubTreatmentDTO.selectedMaintainReason" value="on">
                          <label class="nhsuk-label nhsuk-checkboxes__label" id="label_maintainReason_0" for="selectedMaintainReason">Copy of EHIC attached - Please refer to Decision No. S11 of Article 62 of Regulation (EC) No 987/2009-Article 2 point 3</label>
                       </div>
                       
                    </div>
                    <div class="nhsuk-checkboxes__item">
                       
                       <div>
                          <input class="nhsuk-checkboxes__input nhsuk-checkboxes__input-filter" type="checkbox" id="selectedMaintainReason_1" value="Copy of entitlement enclosed" name="claimResubTreatmentDTO.selectedMaintainReason"><input type="hidden" name="_claimResubTreatmentDTO.selectedMaintainReason" value="on">
                          <label class="nhsuk-label nhsuk-checkboxes__label" id="label_maintainReason_1" for="selectedMaintainReason_1">Copy of entitlement enclosed</label>
                       </div>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                       
                       <div>
                          <input class="nhsuk-checkboxes__input nhsuk-checkboxes__input-filter" type="checkbox" id="selectedMaintainReason_2" value="EHIC details enclosed" name="claimResubTreatmentDTO.selectedMaintainReason"><input type="hidden" name="_claimResubTreatmentDTO.selectedMaintainReason" value="on">
                          <label class="nhsuk-label nhsuk-checkboxes__label" id="label_maintainReason_2" for="selectedMaintainReason_2">EHIC details enclosed</label>
                       </div>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                       
                       <div>
                          <input class="nhsuk-checkboxes__input nhsuk-checkboxes__input-filter" type="checkbox" id="selectedMaintainReason_3" value="Hospital has confirmed the correct amount" name="claimResubTreatmentDTO.selectedMaintainReason"><input type="hidden" name="_claimResubTreatmentDTO.selectedMaintainReason" value="on">
                          <label class="nhsuk-label nhsuk-checkboxes__label" id="label_maintainReason_3" for="selectedMaintainReason_3">Hospital has confirmed the correct amount</label>
                       </div>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                       
                       <div>
                          <input class="nhsuk-checkboxes__input nhsuk-checkboxes__input-filter" type="checkbox" id="selectedMaintainReason_4" value="Hospital has confirmed the specifics of treatment" name="claimResubTreatmentDTO.selectedMaintainReason"><input type="hidden" name="_claimResubTreatmentDTO.selectedMaintainReason" value="on">
                          <label class="nhsuk-label nhsuk-checkboxes__label" id="label_maintainReason_4" for="selectedMaintainReason_4">Hospital has confirmed the specifics of treatment</label>
                       </div>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                       
                       <div>
                          <input class="nhsuk-checkboxes__input nhsuk-checkboxes__input-filter" type="checkbox" id="selectedMaintainReason_5" value="Maintained treatment covered by EHIC" name="claimResubTreatmentDTO.selectedMaintainReason"><input type="hidden" name="_claimResubTreatmentDTO.selectedMaintainReason" value="on">
                          <label class="nhsuk-label nhsuk-checkboxes__label" id="label_maintainReason_5" for="selectedMaintainReason_5">Maintained treatment covered by EHIC</label>
                       </div>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                       
                       <div>
                          <input class="nhsuk-checkboxes__input nhsuk-checkboxes__input-filter" type="checkbox" id="selectedMaintainReason_6" value="Name amended - see new S080 enclosed" name="claimResubTreatmentDTO.selectedMaintainReason"><input type="hidden" name="_claimResubTreatmentDTO.selectedMaintainReason" value="on">
                          <label class="nhsuk-label nhsuk-checkboxes__label" id="label_maintainReason_6" for="selectedMaintainReason_6">Name amended - see new S080 enclosed</label>
                       </div>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                       
                       <div>
                          <input class="nhsuk-checkboxes__input nhsuk-checkboxes__input-filter" type="checkbox" id="selectedMaintainReason_7" value="No response received to S044" name="claimResubTreatmentDTO.selectedMaintainReason"><input type="hidden" name="_claimResubTreatmentDTO.selectedMaintainReason" value="on">
                          <label class="nhsuk-label nhsuk-checkboxes__label" id="label_maintainReason_7" for="selectedMaintainReason_7">No response received to S044</label>
                       </div>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                       
                       <div>
                          <input class="nhsuk-checkboxes__input nhsuk-checkboxes__input-filter" type="checkbox" id="selectedMaintainReason_8" value="Received the resub after the deadline" name="claimResubTreatmentDTO.selectedMaintainReason"><input type="hidden" name="_claimResubTreatmentDTO.selectedMaintainReason" value="on">
                          <label class="nhsuk-label nhsuk-checkboxes__label" id="label_maintainReason_8" for="selectedMaintainReason_8">Contested after 18 month deadline                          </label>
                       </div>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                       
                       <div>
                          <input class="nhsuk-checkboxes__input nhsuk-checkboxes__input-filter" type="checkbox" id="selectedMaintainReason_8" value="Received the resub after the deadline" name="claimResubTreatmentDTO.selectedMaintainReason"><input type="hidden" name="_claimResubTreatmentDTO.selectedMaintainReason" value="on">
                          <label class="nhsuk-label nhsuk-checkboxes__label" id="label_maintainReason_8" for="selectedMaintainReason_8">Response to S082 received after 12 month deadline
                          </label>
                       </div>
                    </div>
                  
 <!-- Remove 3rd option - Doug 5 Nov 2024               
                    <div class="nhsuk-checkboxes__item">
                       
                       <div>
                          <input class="nhsuk-checkboxes__input nhsuk-checkboxes__input-filter" type="checkbox" id="selectedMaintainReason_8" value="Received the resub after the deadline" name="claimResubTreatmentDTO.selectedMaintainReason"><input type="hidden" name="_claimResubTreatmentDTO.selectedMaintainReason" value="on">
                          <label class="nhsuk-label nhsuk-checkboxes__label" id="label_maintainReason_8" for="selectedMaintainReason_8">Received the resub after the deadline (both 12 and 18 months)</label>
                       </div>
                    </div>
 -->                         
                    <div class="nhsuk-checkboxes__item">
                       
                       <div>
                          <input class="nhsuk-checkboxes__input nhsuk-checkboxes__input-filter" type="checkbox" id="selectedMaintainReason_9" value="Treatment costs have been amended - see new S080 enclosed" name="claimResubTreatmentDTO.selectedMaintainReason"><input type="hidden" name="_claimResubTreatmentDTO.selectedMaintainReason" value="on">
                          <label class="nhsuk-label nhsuk-checkboxes__label" id="label_maintainReason_9" for="selectedMaintainReason_9">Treatment costs have been amended - see new S080 enclosed</label>
                       </div>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                       
                       <div>
                          <input class="nhsuk-checkboxes__input nhsuk-checkboxes__input-filter" type="checkbox" id="selectedMaintainReason_10" value="Other - add reason in the text box" name="claimResubTreatmentDTO.selectedMaintainReason"><input type="hidden" name="_claimResubTreatmentDTO.selectedMaintainReason" value="on">
                          <label class="nhsuk-label nhsuk-checkboxes__label" id="label_maintainReason_10" for="selectedMaintainReason_10">Other - add reason in the text box</label>
                       </div>
                    </div>
                 </div>
                 <div class="nhsuk-form-group nhsuk-u-margin-top-5" >
              
        
                  <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
                </div>
              </div>
                </fieldset>
              </div>
              <br />

              <a href="resub-maintain-reasons-check"
                ><button
                  class="nhsuk-button nhsuk-button--primary"
                  type="submit"
                >
                  Continue
                </button></a
              >

              <p><a href="resub-cancel-journey">Cancel</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
