<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-sidebar.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Person details page {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item">
            <a class="nhsuk-breadcrumb__link" href="../../search/search-by-person">Search (Person)</a>
          </li>
          <li class="nhsuk-breadcrumb__item">
            <a class="nhsuk-breadcrumb__link" href="../../search/search-results-none">Search results</a>
          </li>
          <li class="nhsuk-breadcrumb__item">Personal details</a>
          </li>
        </ol>
      </div>
    </div>

    <p class="nhsuk-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink" href="">Back to search results</a>
    </p>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-main-wrapper" id="maincontent">

          
      
          {% if data['dr-change-personal-details'] == 'yes' %}
          <div>
                        
            <div tabindex="-1" id="notificationHeader" class="govuk-notification-banner govuk-notification-banner--success" role="alert" data-module="govuk-notification-banner">
               <div class="govuk-notification-banner__header">
                  <span class="govuk-notification-banner__title" id="govuk-notification-banner-title">Personal details updated</span>
               </div>
               <div class="govuk-notification-banner__content">
                  <span class="govuk-notification-banner__heading big-text-wrap" id="govuk-notification-banner-content">You have changed {% if data['dr-new-first-names'] %}{{ data['dr-new-first-names'] }}{% else %}Jane{% endif %} {% if data['dr-new-last-name'] %}{{ data['dr-new-last-name'] }}{% else %}Doe{% endif %}’s details on their person record. These details will be used on any future entitlements, claims and resubmissions. View all changes in the Case history.</span>
               </div>
            </div>
         
          </div>
          {% endif %}

          
          {% if data['dr-change-additional-personal-details'] == 'yes' %}
          <div>
                        
            <div tabindex="-1" id="notificationHeader" class="govuk-notification-banner govuk-notification-banner--success" role="alert" data-module="govuk-notification-banner">
               <div class="govuk-notification-banner__header">
                  <span class="govuk-notification-banner__title" id="govuk-notification-banner-title">Personal details updated</span>
               </div>
               <div class="govuk-notification-banner__content">
                  <span class="govuk-notification-banner__heading big-text-wrap" id="govuk-notification-banner-content">You have changed the personal details on {% if data['dr-new-first-names'] %}{{ data['dr-new-first-names'] }}{% else %}Jane{% endif %} {% if data['dr-new-last-name'] %}{{ data['dr-new-last-name'] }}{% else %}Doe{% endif %}’s person record. View all changes in the Case history.</span>
               </div>
            </div>
         
          </div>
          {% elif data['dr-add-additional-personal-details'] == 'yes' %}
          <div>
                        
            <div tabindex="-1" id="notificationHeader" class="govuk-notification-banner govuk-notification-banner--success" role="alert" data-module="govuk-notification-banner">
               <div class="govuk-notification-banner__header">
                  <span class="govuk-notification-banner__title" id="govuk-notification-banner-title">Personal details updated</span>
               </div>
               <div class="govuk-notification-banner__content">
                  <span class="govuk-notification-banner__heading big-text-wrap" id="govuk-notification-banner-content">You have added additional details to {% if data['dr-new-first-names'] %}{{ data['dr-new-first-names'] }}{% else %}Jane{% endif %} {% if data['dr-new-last-name'] %}{{ data['dr-new-last-name'] }}{% else %}Doe{% endif %}’s person record. View all changes in the Case history.</span>
               </div>
            </div>
         
          </div>
          {% endif %}

          {% if data['dr-change-current-address'] == 'yes' %}
          <div>
                        
            <div tabindex="-1" id="notificationHeader" class="govuk-notification-banner govuk-notification-banner--success" role="alert" data-module="govuk-notification-banner">
               <div class="govuk-notification-banner__header">
                  <span class="govuk-notification-banner__title" id="govuk-notification-banner-title">Personal details updated</span>
               </div>
               <div class="govuk-notification-banner__content">
                <span class="govuk-notification-banner__heading big-text-wrap" id="govuk-notification-banner-content">You have changed the current address on {% if data['dr-new-first-names'] %}{{ data['dr-new-first-names'] }}{% else %}Jane{% endif %} {% if data['dr-new-last-name'] %}{{ data['dr-new-last-name'] }}{% else %}Doe{% endif %}’s person record. View all changes in the Case history.</span>
               </div>
            </div>
         
          </div>
          {% elif data['dr-add-current-address'] == 'yes' %}
          <div>
                        
            <div tabindex="-1" id="notificationHeader" class="govuk-notification-banner govuk-notification-banner--success" role="alert" data-module="govuk-notification-banner">
               <div class="govuk-notification-banner__header">
                  <span class="govuk-notification-banner__title" id="govuk-notification-banner-title">Personal details updated</span>
               </div>
               <div class="govuk-notification-banner__content">
                  <span class="govuk-notification-banner__heading big-text-wrap" id="govuk-notification-banner-content">You have added a current address to {% if data['dr-new-first-names'] %}{{ data['dr-new-first-names'] }}{% else %}John{% endif %} {% if data['dr-new-last-name'] %}{{ data['dr-new-last-name'] }}{% else %}Doe{% endif %}’s person record. View all changes in the Case history.</span>
               </div>
            </div>
         
          </div>
          {% endif %}
      
          <h1 class="nhsuk-heading-xl">Personal details</h1>
      
          <!-- Start of tabs -->
          <div class="nhsuk-tabs" data-module="nhsuk-tabs">
            <h2 class="nhsuk-tabs__title">Personal details content</h2>

            <ul class="nhsuk-tabs__list">
              <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
                <a class="nhsuk-tabs__tab" href="#personal-details">Personal details</a>
              </li>
              <li class="nhsuk-tabs__list-item">
                <a class="nhsuk-tabs__tab" href="#address">Address</a>
              </li>
            </ul>

            <!-- Tab content -->
            <div class="nhsuk-tabs__panel" id="personal-details">
              <!-- Personal details tab content starts -->
              <dl class="nhsuk-summary-list">
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Person record ID
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      654321
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                      
                    </dd>
                  </div>
                </dl>
                  

                <dl class="nhsuk-summary-list" style="margin-bottom: 15px;">
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      First names
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      {% if data['dr-change-names'] == 'yes' and data['dr-new-first-names'] %}
                        {{ data['dr-new-first-names'] }}
                      {% else %}
                        Jane
                      {% endif %}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                      
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      First names at birth, if different
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      {% if data['dr-change-names'] == 'yes' and data['dr-new-birth-first-names'] %}
                        {{ data['dr-new-birth-first-names'] }}
                      {% else %}
                        <span class="nhsuk-u-visually-hidden">Not provided</span>
                      {% endif %} 
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                      
                    </dd>
                  </div>
                
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Last name
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      {% if data['dr-change-names'] == 'yes' and data['dr-new-last-name'] %}
                        {{ data['dr-new-last-name'] }}
                      {% else %}
                        Doe
                      {% endif %}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                      
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Last name at birth, if different
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      {% if data['dr-change-names'] == 'yes' and data['dr-new-birth-last-name'] %}
                        {{ data['dr-new-birth-last-name'] }}
                      {% else %}
                        <span class="nhsuk-u-visually-hidden">Not provided</span>
                      {% endif %}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                      
                    </dd>
                  </div>
                
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Date of birth
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      {% if data['dr-change-personal-details'] == 'yes' and data['dr-new-date-of-birth-day'] and data['dr-new-date-of-birth-month'] and data['dr-new-date-of-birth-year'] %}
                        {% if data['dr-new-date-of-birth-day'] and data['dr-new-date-of-birth-month'] and data['dr-new-date-of-birth-year'] %}
                          {% set day = data['dr-new-date-of-birth-day'] %}
                          {% set month = data['dr-new-date-of-birth-month'] | int %}
                          {% set year = data['dr-new-date-of-birth-year'] %}
              
                          {# Define month names #}
                          {% set month_names = [
                              "January", "February", "March", "April", "May", "June",
                              "July", "August", "September", "October", "November", "December"
                          ] %}
              
                          {# Get the month name #}
                          {% set month_name = month_names[month - 1] %}
              
                          {# Display the date in the format "day month year" #}
                          {{ day | int }} {{ month_name }} {{ year }}
                        {% endif %}
                      {% elif data['dr-dob-day'] and data['dr-dob-month'] and data['dr-dob-year'] %}
                        {% set day = data['dr-dob-day'] %}
                        {% set month = data['dr-dob-month'] | int %}
                        {% set year = data['dr-dob-year'] %}
            
                        {# Define month names #}
                        {% set month_names = [
                            "January", "February", "March", "April", "May", "June",
                            "July", "August", "September", "October", "November", "December"
                        ] %}
            
                        {# Get the month name #}
                        {% set month_name = month_names[month - 1] %}
            
                        {# Display the date in the format "day month year" #}
                        {{ day | int }} {{ month_name }} {{ year }}  
                      {% else %}
                        29 December 1975
                      {% endif %}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                      
                    </dd>
                  </div>
                </dl>

                <div style="text-align: right;">
                  <p><a href="dr-change-personal-details">Change<span class="nhsuk-u-visually-hidden">personal details</span></a></p>
                </div>
              

                <br>


                <h2 class="nhsuk-heading-m">Additional details</h2>

                <dl class="nhsuk-summary-list" style="margin-bottom: 15px;">
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Sex
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        {% if data['dr-change-additional-personal-details'] == 'yes' %}

                            {{ data['dr-updated-sex'] }}

                        {% elif data['dr-add-additional-personal-details'] == 'yes' %}

                            {{ data['dr-sex'] }}

                        {% else %}
                          <span class="nhsuk-u-visually-hidden">Not provided</span>
                        {% endif %}
                      </dd>
                      <dd class="nhsuk-summary-list__actions">
                        
                      </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Country of nationality
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        {% if data['dr-change-additional-personal-details'] == 'yes' %}

                            {{ data['dr-updated-nationality'] }}

                        {% elif data['dr-add-additional-personal-details'] == 'yes' %}

                            {{ data['dr-nationality'] }}

                        {% else %}
                          <span class="nhsuk-u-visually-hidden">Not provided</span>
                        {% endif %}
                      </dd>
                      <dd class="nhsuk-summary-list__actions">
                        
                      </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        UK National Insurance Number (NINO)
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        {% if data['dr-change-additional-personal-details'] == 'yes' %}

                            {{ data['dr-updated-UK-national-insurance-number'] }}

                        {% elif data['dr-add-additional-personal-details'] == 'yes' %}

                            {{ data['dr-UK-national-insurance-number'] }}

                        {% else %}
                          <span class="nhsuk-u-visually-hidden">Not provided</span>
                        {% endif %}
                      </dd>
                      <dd class="nhsuk-summary-list__actions">
                        
                      </dd>
                    </div>

                  
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Email address
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      {% if data['dr-change-additional-personal-details'] == 'yes' %}

                          {{ data['dr-updated-email-address'] }}

                      {% elif data['dr-add-additional-personal-details'] == 'yes' %}

                          {{ data['dr-email-address'] }}

                      {% else %}
                        <span class="nhsuk-u-visually-hidden">Not provided</span>
                      {% endif %}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                        
                    </dd>
                  </div>


                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Contact number
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      {% if data['dr-change-additional-personal-details'] == 'yes' %}

                          {{ data['dr-updated-contact-number'] }}

                      {% elif data['dr-add-additional-personal-details'] == 'yes' %}

                          {{ data['dr-contact-number'] }}

                      {% else %}
                        <span class="nhsuk-u-visually-hidden">Not provided</span>
                      {% endif %}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                        
                    </dd>
                  </div>
                </dl>

                <div style="text-align: right;">
                  {% if data['dr-add-additional-personal-details'] == 'yes' %}
                    <p><a href="dr-change-additional-personal-details">Change<span class="nhsuk-u-visually-hidden">additional details</span></a></p>
                  {% else %}
                    <p><a href="dr-add-additional-personal-details">Add<span class="nhsuk-u-visually-hidden">additional details</span></a></p>
                  {% endif %}
                </div>
            </div>
            <!-- Personal details tabs content ends -->


            <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="address">
              <!-- Addresses tab content starts -->
              
              <dl class="nhsuk-summary-list">
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                      Current address
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                      {% if data['dr-change-current-address'] == 'yes' %}
                          {# Check if any of the address fields have been updated, otherwise fallback to default #}
                          {% if data['dr-new-current-address-line-1'] or data['dr-new-current-address-line-2'] or data['dr-new-current-address-line-3'] or data['dr-new-current-address-town'] or data['dr-new-current-address-region'] or data['dr-new-current-address-postcode'] or data['dr-new-current-address-country'] %}
                              {{ data['dr-new-current-address-line-1'] }}<br>
                              
                              {% if data['dr-new-current-address-line-2'] %}
                                  {{ data['dr-new-current-address-line-2'] }}<br>
                              {% endif %}
                              
                              {% if data['dr-new-current-address-line-3'] %}
                                  {{ data['dr-new-current-address-line-3'] }}<br>
                              {% endif %}
                              
                              {{ data['dr-new-current-address-town'] }}<br>
                              
                              {% if data['dr-new-current-address-region'] %}
                                  {{ data['dr-new-current-address-region'] }}<br>
                              {% endif %}
                              
                              {{ data['dr-new-current-address-postcode'] }}<br>
                              {{ data['dr-new-current-address-country'] }}
                          {% endif %}
                      {% else %}
                          1 Washington Street<br>
                          Worcester<br>
                          WR1 1NL<br>
                          United Kingdom (UK)
                      {% endif %}
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                      <a href="dr-change-current-address">
                          Change<span class="nhsuk-u-visually-hidden">current address</span>
                      </a>
                  </dd>
                </div>              
              </dl>
          
            </div>
            <!-- Addresses tab content ends -->

          </div>
          <!-- End of Tabs -->


        </div>
      </div>
    </div>

    <!-- Left-hand navigation -->
    <div class="nhsBSA-sidebar-nav">
      <div class="side-nav">
        <h3>
          Jane Doe<span class="nhsuk-caption-m nhsuk-caption--bottom">
          <span class="nhsuk-u-visually-hidden"> - </span>654321</span>
        </h3>
        <ul id="options" class="options">
          <li><a class="active" href="personal-details">Personal details</a></li>
          <li><a href="entitlements-and-treatments">Entitlements and treatments</a></li>
          <li><a href="case-history-person">Case history</a></li>
          <!--li><a href="documents">Documents</a></li-->
          <li><a href="notes">Notes</a></li>
        </ul>
      </div>
    </div>
    <!-- End of navigation -->

  </div>
</div>
<!-- End of main content -->
{% endblock %}
      
{% block pageScripts %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tabs = document.querySelectorAll(".nhsuk-tabs__tab");
    const panels = document.querySelectorAll(".nhsuk-tabs__panel");

    function hideAllPanels() {
      panels.forEach(panel => panel.classList.add("nhsuk-tabs__panel--hidden"));
      tabs.forEach(tab => tab.parentElement.classList.remove("nhsuk-tabs__list-item--selected"));
    }

    function showPanel(panelId) {
      const panel = document.querySelector(panelId);
      if (panel) {
        panel.classList.remove("nhsuk-tabs__panel--hidden");
      }
    }

    tabs.forEach(tab => {
      tab.addEventListener("click", function (event) {
        event.preventDefault();
        hideAllPanels();
        tab.parentElement.classList.add("nhsuk-tabs__list-item--selected");
        showPanel(tab.getAttribute("href"));
      });
    });

    // Initially show the Personal details tab
    hideAllPanels();
    showPanel("#personal-details");
    document.querySelector('a[href="#personal-details"]').parentElement.classList.add("nhsuk-tabs__list-item--selected");
  });
</script>

<!-- Copy button -->
<style>
.app-link--copy, .app-link--copy:link, .app-link--copy:active, .app-link--copy:visited, .app-link--copy:hover {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  border-bottom-color: #007f3b;
  box-shadow: 0 2px 0 #007f3b;
  margin-bottom: 16px;
  text-transform: none;
  background-color: #fff;
  border: 1px solid #007f3b;
  color: #007f3b;
  font-size: 16px;
  font-weight: 400;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
}
.app-link--copy:hover {
  background-color: #f0f4f5;
}
.app-link--copy:focus {
  background-color: #ffeb3b;
  box-shadow: 0 -2px #ffeb3b, 0 4px #212b32;
  color: #212b32;
  outline: 4px solid rgba(0, 0, 0, 0);
  text-decoration: none;
  border-color: #ffeb3b;
}
</style>

<script>
var lastClickedButton = null;

function copyValue(element) {
    var valueElement = element.closest('.nhsuk-summary-list__row').querySelector('.nhsuk-summary-list__value');
    var valueToCopy = valueElement.textContent.trim();

    // Create a temporary textarea to copy the value to the clipboard
    var tempTextarea = document.createElement('textarea');
    tempTextarea.value = valueToCopy;
    document.body.appendChild(tempTextarea);
    tempTextarea.select();
    document.execCommand('copy');
    document.body.removeChild(tempTextarea);

    // Reset the text of the previously clicked button
    if (lastClickedButton) {
      lastClickedButton.textContent = 'Copy';
    }

    element.textContent = 'Copied';
    element.focus();
    lastClickedButton = element;
}
</script>

<script>
// Current Date and Time

document.addEventListener("DOMContentLoaded", function () {
  var currentDateElement = document.getElementById("currentDate1");

  if (currentDateElement) {
    // Get the current date
    var currentDate = new Date();

    // Format the date as desired
    var dateOptions = { day: 'numeric', month: 'long', year: 'numeric' };
    var formattedDate = currentDate.toLocaleDateString(undefined, dateOptions);

    // Format the time as desired
    var timeOptions = { hour: 'numeric', minute: 'numeric', hour12: true }; // Fixed hour24 to hour12
    var formattedTime = currentDate.toLocaleTimeString(undefined, timeOptions);

    // Combine date and time
    var formattedDateTime = formattedDate + ' at ' + formattedTime;

    // Set the formatted date and time as the content of the element
    currentDateElement.textContent = formattedDateTime;
  }
});
</script>

<script>
// Date format function
function formatDate(day, month, year) {
    let newMonth = parseInt(month);
    let newYear = parseInt(year);

    // Check if the new month exceeds 12 (December)
    if (newMonth > 12) {
        newMonth = 1; // Reset to January
        newYear += 1; // Increment the year
    }

    const months = [
        "January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"
    ];

    const monthName = months[newMonth - 1]; // Get the new month name
    return `${parseInt(day)} ${monthName} ${newYear}`;
}
</script>

{% endblock %}