<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
UK claim ID 100005: Resub ID 7790992 - View invoice details
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<!--start breadcrumb-->
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item">
            <a class="nhsuk-breadcrumb__link" href="../../resubmissions/pending-resubmissions">Resubs (Pending)</a>
          </li>
          <li class="nhsuk-breadcrumb__item">
            <a class="nhsuk-breadcrumb__link" href="../resubmissions/claim-resubmissions">View Claim ID (Resubmissions)</a>
          </li>
          <li class="nhsuk-breadcrumb__item">
            <a class="nhsuk-breadcrumb__link" href="../resubmissions/invoices-within-resubmission">View Resub ID (Invoices within resubmission)</a>
          </li>
          <li class="nhsuk-breadcrumb__item">
            View details (Invoice details)
          </li>
        </ol>
      </div>
    </div>

    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="uk-claims-search-results">Back to search results</a></p>

  </div>
</nav>
<!--end breadcrumb-->
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container-fluid">
          <div class="nhsuk-main-wrapper" id="maincontent">

            <form action="invoice-reasons-for-contestation" method="post">

            {% if data['invoice'] == 'Jacqueline' %}
            <!-- Start of Jacqueline Bernard's info -->
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-one-half">
                <h1 class="nhsuk-heading-l" style="display:inline-block; margin-right:20px;">
                  Claim ID 100005: Resub ID 7790992<br>
                  (Invoice ID 234892) - Invoice details
                </h1>
              </div>

              {% if data.resubStatus != 'resubmission-completed' and data.resubStatus != 'resubmission-sent-to-dh' and data.resubStatus != 'peer-reviewed' %}
              <div class="nhsuk-grid-column-one-half" style="text-align: right;">
  
                <!-- Top two buttons side by side -->
                <div class="nhsuk-button-group" style="display: inline-flex; gap: 20px;">
                  <a href="reasons-to-maintain-months">
                    <button class="nhsuk-button nhsuk-button--secondary" type="submit">
                      Maintain<span class="nhsuk-u-visually-hidden"> invoice ID 234892 from claim ID 100005</span>
                    </button>
                  </a>
              
                  <a href="source-of-withdrawal">
                    <button class="nhsuk-button nhsuk-button--secondary" type="submit">
                      Withdraw<span class="nhsuk-u-visually-hidden"> invoice ID 234892 from claim ID 100005</span>
                    </button>
                  </a>

                  <a href="enter-revised-accounting-period">
                    <button class="nhsuk-button nhsuk-button--secondary" type="submit">
                      Partial<span class="nhsuk-u-visually-hidden"> invoice ID 234892 from claim ID 100005</span>
                    </button>
                  </a>
                </div>
                
              </div> 
              {% endif %}

            </div>

            <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation" style="background-color:#f0f4f5;">
              <ul class="nhsuk-secondary-navigation__list">
                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="invoice-details?invoice=Jacqueline">Invoice details</a>
                  <span class="nhsuk-u-visually-hidden">View details for invoice ID 234892</span>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" aria-current="page" href="invoice-reasons-for-contestation?invoice=Jacqueline">Reasons for contestation</a>
                  <span class="nhsuk-u-visually-hidden">View or add reason for contestation for invoice ID 234892</span>
                </li>


                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="invoice-evidence?invoice=Jacqueline">Evidence</a>
                  <span class="nhsuk-u-visually-hidden">View evidence for invoice ID 234892</span>
                </li>
              </ul>
            </nav>

            <hr style="border-bottom:1px solid #ccc; margin:0">
            <!--end secondary navigation-->

            <br><br>

            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-one-half">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">Reasons for contestation</dt>
                  <dd class="nhsuk-summary-list__value">
                    <p class="nhsuk-body">The person receives a pension in his/her state of residence [16]</p>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key" id="date-person-began-receiving-pension-in-state-of-residence-label">Date the entitlement in the state of residence started on</dt>
                  <dd class="nhsuk-summary-list__value" id="date-person-began-receiving-pension-in-state-of-residence-value">
                    <p class="nhsuk-body">
                      25/11/2023
                    </p>
                  </dd>
                </div>
              
              </div>
            </div>



            {% elif data['invoice'] == 'Jane' %}
            <!-- Start of Jane Doe's info -->
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-one-half">
                <h1 class="nhsuk-heading-l" style="display:inline-block; margin-right:20px;">
                    Claim ID 100005: Resub ID 7790992<br>
                    (Invoice ID 298473) - Invoice details
                </h1>
              </div>

              {% if data.resubStatus != 'resubmission-completed' and data.resubStatus != 'resubmission-sent-to-dh' and data.resubStatus != 'peer-reviewed' %}
              <div class="nhsuk-grid-column-one-half" style="text-align: right;">
  
                <!-- Top two buttons side by side -->
                <div class="nhsuk-button-group" style="display: inline-flex; gap: 20px;">
                  <a href="reasons-to-maintain-months">
                    <button class="nhsuk-button nhsuk-button--secondary" type="submit">
                      Maintain<span class="nhsuk-u-visually-hidden"> invoice ID 298473 from claim ID 100005</span>
                    </button>
                  </a>
              
                  <a href="source-of-withdrawal">
                    <button class="nhsuk-button nhsuk-button--secondary" type="submit">
                      Withdraw<span class="nhsuk-u-visually-hidden"> invoice ID 298473 from claim ID 100005</span>
                    </button>
                  </a>

                  <a href="enter-revised-accounting-period">
                    <button class="nhsuk-button nhsuk-button--secondary" type="submit">
                      Partial<span class="nhsuk-u-visually-hidden"> invoice ID 298473 from claim ID 100005</span>
                    </button>
                  </a>
                </div>
                
              </div> 
              {% endif %}

            </div>
            
            <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation" style="background-color:#f0f4f5;">
              <ul class="nhsuk-secondary-navigation__list">
                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="invoice-details?invoice=Jane">Invoice details</a>
                  <span class="nhsuk-u-visually-hidden">View details for invoice ID 298473</span>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" aria-current="page" href="invoice-reasons-for-contestation?invoice=Jane">Reasons for contestation</a>
                  <span class="nhsuk-u-visually-hidden">View or add reason for contestation for invoice ID 298473</span>
                </li>


                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="invoice-evidence?invoice=Jane">Evidence</a>
                  <span class="nhsuk-u-visually-hidden">View evidence for invoice ID 298473</span>
                </li>
              </ul>
            </nav>

            <hr style="border-bottom:1px solid #ccc; margin:0">
            <!--end secondary navigation-->

            <br><br>

            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-one-half">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">Reasons for contestation</dt>
                  <dd class="nhsuk-summary-list__value">
                    <p class="nhsuk-body">Person was not insured during lump-sum period. Please provide copy of entitlement document [06]</p>
                  </dd>
                </div>
              
              </div>
            </div>

            {% elif data['invoice'] == 'John' %}
            <!-- Start of John Doe's info -->
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-one-half">
                <h1 class="nhsuk-heading-l" style="display:inline-block; margin-right:20px;">
                    Claim ID 100005: Resub ID 7790992<br>
                    (Invoice ID 387731) - Invoice details
                </h1>
              </div>
    
              {% if data.resubStatus != 'resubmission-completed' and data.resubStatus != 'resubmission-sent-to-dh' and data.resubStatus != 'peer-reviewed' %}
              <div class="nhsuk-grid-column-one-half" style="text-align: right;">
  
                <!-- Top two buttons side by side -->
                <div class="nhsuk-button-group" style="display: inline-flex; gap: 20px;">
                  <a href="reasons-to-maintain-months">
                    <button class="nhsuk-button nhsuk-button--secondary" type="submit">
                      Maintain<span class="nhsuk-u-visually-hidden"> invoice ID 387731 from claim ID 100005</span>
                    </button>
                  </a>
              
                  <a href="source-of-withdrawal">
                    <button class="nhsuk-button nhsuk-button--secondary" type="submit">
                      Withdraw<span class="nhsuk-u-visually-hidden"> invoice ID 387731 from claim ID 100005</span>
                    </button>
                  </a>

                  <a href="enter-revised-accounting-period">
                    <button class="nhsuk-button nhsuk-button--secondary" type="submit">
                      Partial<span class="nhsuk-u-visually-hidden"> invoice ID 387731 from claim ID 100005</span>
                    </button>
                  </a>
                </div>
                
              </div> 
              {% endif %}

            </div>
    
            <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation" style="background-color:#f0f4f5;">
              <ul class="nhsuk-secondary-navigation__list">
                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="invoice-details?invoice=John">Invoice details</a>
                  <span class="nhsuk-u-visually-hidden">View details for invoice ID 387731</span>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" aria-current="page" href="invoice-reasons-for-contestation?invoice=John">Reasons for contestation</a>
                  <span class="nhsuk-u-visually-hidden">View or add reason for contestation for invoice ID 387731</span>
                </li>


                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="invoice-evidence?invoice=John">Evidence</a>
                  <span class="nhsuk-u-visually-hidden">View evidence for invoice ID 387731</span>
                </li>
              </ul>
            </nav>

            <hr style="border-bottom:1px solid #ccc; margin:0">
            <!--end secondary navigation-->

            <br><br>

            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-one-half">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">Reasons for contestation</dt>
                  <dd class="nhsuk-summary-list__value">
                    <p class="nhsuk-body">The person died [18]</p>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key" id="date-person-began-died-label">Date the person died</dt>
                  <dd class="nhsuk-summary-list__value" id="date-person-died-value">
                    <p class="nhsuk-body">
                      15/10/2024
                    </p>
                  </dd>
                </div>
              
              </div>
            </div>

            {% elif data['invoice'] == 'Paul' %}
            <!-- Start of Paul Germain's info -->
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-one-half">
                <h1 class="nhsuk-heading-l" style="display:inline-block; margin-right:20px;">
                    Claim ID 100005: Resub ID 7790992<br>
                    (Invoice ID 248829) - Invoice details
                </h1>
              </div>

              {% if data.resubStatus != 'resubmission-completed' and data.resubStatus != 'resubmission-sent-to-dh' and data.resubStatus != 'peer-reviewed' %}
              <div class="nhsuk-grid-column-one-half" style="text-align: right;">
  
                <!-- Top two buttons side by side -->
                <div class="nhsuk-button-group" style="display: inline-flex; gap: 20px;">
                  <a href="reasons-to-maintain-months">
                    <button class="nhsuk-button nhsuk-button--secondary" type="submit">
                      Maintain<span class="nhsuk-u-visually-hidden"> invoice ID 248829 from claim ID 100005</span>
                    </button>
                  </a>
              
                  <a href="source-of-withdrawal">
                    <button class="nhsuk-button nhsuk-button--secondary" type="submit">
                      Withdraw<span class="nhsuk-u-visually-hidden"> invoice ID 248829 from claim ID 100005</span>
                    </button>
                  </a>

                  <a href="enter-revised-accounting-period">
                    <button class="nhsuk-button nhsuk-button--secondary" type="submit">
                      Partial<span class="nhsuk-u-visually-hidden"> invoice ID 248829 from claim ID 100005</span>
                    </button>
                  </a>
                </div>
                
              </div> 
              {% endif %}

            </div>
                
            <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation" style="background-color:#f0f4f5;">
              <ul class="nhsuk-secondary-navigation__list">
                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="invoice-details?invoice=Paul">Invoice details</a>
                  <span class="nhsuk-u-visually-hidden">View details for invoice ID 248829</span>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" aria-current="page" href="invoice-reasons-for-contestation?invoice=Paul">Reasons for contestation</a>
                  <span class="nhsuk-u-visually-hidden">View or add reason for contestation for invoice ID 248829</span>
                </li>


                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="invoice-evidence?invoice=Paul">Evidence</a>
                  <span class="nhsuk-u-visually-hidden">View evidence for invoice ID 248829</span>
                </li>
              </ul>
            </nav>

            <hr style="border-bottom:1px solid #ccc; margin:0">
            <!--end secondary navigation-->

            <br><br>

            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-one-half">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">Reasons for contestation</dt>
                  <dd class="nhsuk-summary-list__value">
                    <p class="nhsuk-body">Entitlement document is unknown or not found. Please provide copy [04]</p>
                  </dd>
                </div>
              
              </div>
            </div>


            {% elif data['invoice'] == 'Sophie' %}
            <!-- Start of Sophie Janview's info -->
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-one-half">
                <h1 class="nhsuk-heading-l" style="display:inline-block; margin-right:20px;">
                    Claim ID 100005: Resub ID 7790992<br>
                    (Invoice ID 378392) - Invoice details
                </h1>
              </div>

              {% if data.resubStatus != 'resubmission-completed' and data.resubStatus != 'resubmission-sent-to-dh' and data.resubStatus != 'peer-reviewed' %}
              <div class="nhsuk-grid-column-one-half" style="text-align: right;">
  
                <!-- Top two buttons side by side -->
                <div class="nhsuk-button-group" style="display: inline-flex; gap: 20px;">
                  <a href="reasons-to-maintain-months">
                    <button class="nhsuk-button nhsuk-button--secondary" type="submit">
                      Maintain<span class="nhsuk-u-visually-hidden"> invoice ID 378392 from claim ID 100005</span>
                    </button>
                  </a>
              
                  <a href="source-of-withdrawal">
                    <button class="nhsuk-button nhsuk-button--secondary" type="submit">
                      Withdraw<span class="nhsuk-u-visually-hidden"> invoice ID 378392 from claim ID 100005</span>
                    </button>
                  </a>

                  <a href="enter-revised-accounting-period">
                    <button class="nhsuk-button nhsuk-button--secondary" type="submit">
                      Partial<span class="nhsuk-u-visually-hidden"> invoice ID 378392 from claim ID 100005</span>
                    </button>
                  </a>
                </div>
                
              </div> 
              {% endif %}

            </div>
  
            <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation" style="background-color:#f0f4f5;">
              <ul class="nhsuk-secondary-navigation__list">
                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="invoice-details?invoice=Sophie">Invoice details</a>
                  <span class="nhsuk-u-visually-hidden">View details for invoice ID 378392</span>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" aria-current="page" href="invoice-reasons-for-contestation?invoice=Sophie">Reasons for contestation</a>
                  <span class="nhsuk-u-visually-hidden">View or add reason for contestation for invoice ID 378392</span>
                </li>


                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="invoice-evidence?invoice=Sophie">Evidence</a>
                  <span class="nhsuk-u-visually-hidden">View evidence for invoice ID 378392</span>
                </li>
              </ul>
            </nav>

            <hr style="border-bottom:1px solid #ccc; margin:0">
            <!--end secondary navigation-->

            <br><br>

            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-one-half">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">Reasons for contestation</dt>
                  <dd class="nhsuk-summary-list__value">
                    <p class="nhsuk-body">Person moved to another state [21]</p>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key" id="date-person-moved-to-another-state-label">Date the person moved to another state</dt>
                  <dd class="nhsuk-summary-list__value" id="date-person-moved-to-another-state-value">
                    <p class="nhsuk-body">
                      13/07/2023
                    </p>
                  </dd>
                </div>
              
              </div>
            </div>


            {% else %}
            <!-- Start of Dione Martin's info -->
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-one-half">
                <h1 class="nhsuk-heading-l" style="display:inline-block; margin-right:20px;">
                    Claim ID 100005: Resub ID 7790992<br>
                    (Invoice ID 324778) - Invoice details
                </h1>
              </div>

              {% if data.resubStatus != 'resubmission-completed' and data.resubStatus != 'resubmission-sent-to-dh' and data.resubStatus != 'peer-reviewed' %}
              <div class="nhsuk-grid-column-one-half" style="text-align: right;">
  
                <!-- Top two buttons side by side -->
                <div class="nhsuk-button-group" style="display: inline-flex; gap: 20px;">
                  <a href="reasons-to-maintain-months">
                    <button class="nhsuk-button nhsuk-button--secondary" type="submit">
                      Maintain<span class="nhsuk-u-visually-hidden"> invoice ID 324778 from claim ID 100005</span>
                    </button>
                  </a>
              
                  <a href="source-of-withdrawal">
                    <button class="nhsuk-button nhsuk-button--secondary" type="submit">
                      Withdraw<span class="nhsuk-u-visually-hidden"> invoice ID 324778 from claim ID 100005</span>
                    </button>
                  </a>
                  
                  <a href="enter-revised-accounting-period">
                    <button class="nhsuk-button nhsuk-button--secondary" type="submit">
                      Partial<span class="nhsuk-u-visually-hidden"> invoice ID 324778 from claim ID 100005</span>
                    </button>
                  </a>
                </div>
                
              </div> 
              {% endif %}

            </div>

            <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation" style="background-color:#f0f4f5;">
              <ul class="nhsuk-secondary-navigation__list">
                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="invoice-details?invoice=Dione">Invoice details</a>
                  <span class="nhsuk-u-visually-hidden">View details for invoice ID 324778</span>
                </li>

                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" aria-current="page" href="invoice-reasons-for-contestation?invoice=Dione">Reasons for contestation</a>
                  <span class="nhsuk-u-visually-hidden">View or add reason for contestation for invoice ID 324778</span>
                </li>


                <li class="nhsuk-secondary-navigation__item">
                  <a class="nhsuk-secondary-navigation__link" href="invoice-evidence?invoice=Dione">Evidence</a>
                  <span class="nhsuk-u-visually-hidden">View evidence for invoice ID 324778</span>
                </li>
              </ul>
            </nav>

            <hr style="border-bottom:1px solid #ccc; margin:0">
            <!--end secondary navigation-->

            <br><br>

            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-one-half">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">Reasons for contestation</dt>
                  <dd class="nhsuk-summary-list__value">
                    <p class="nhsuk-body">Entitlement document is unknown or not found. Please provide copy [04]</p>
                  </dd>
                </div>
              
              </div>
            </div>
            {% endif %}


            



            </form>

              </div>
            </div>
            <!-- End of main content-->



      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<style>
  .nhsuk-summary-list__key {
    font-size: 19px;
    font-weight: bold;
  }
</style>
{% endblock %}