<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
UK claim ID 100005 - Reason to partially maintain and withdraw months claimed
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<!--start breadcrumb-->
<!--end breadcrumb-->
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container-fluid">
          <div class="nhsuk-main-wrapper" id="maincontent">

            {{ backLink({
              "href": "javascript:history.go(-1)",
              "text": "Go back"
            }) }}
    
            <form action="reasons-to-partially-maintain-and-withdraw-months" method="post">

            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-two-thirds">

              <div class="nhsuk-form-group">
            
                <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
                    <h1 class="nhsuk-fieldset__heading">
                      Reason to partially maintain and withdraw the months claimed
                    </h1>
                  </legend>
            
                  <div class="nhsuk-radios nhsuk-radios--conditional" data-module="nhsuk-radios">
            
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="contestation-accepted-imo-is-decreased" name="reasons-to-partially-maintain-and-withdraw-months" type="radio" value="Contestation partially accepted and IMO concerned is decreased. [02]" aria-controls="conditional-partially-maintain-and-withdraw-reason-1" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-radios__label" for="contestation-accepted-imo-is-decreased">
                        Contestation partially accepted and IMO concerned is decreased. [02]
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="information-requested-updated" name="reasons-to-partially-maintain-and-withdraw-months" type="radio" value="Information requested updated. [04]" aria-controls="conditional-partially-maintain-and-withdraw-reason-2" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-radios__label" for="information-requested-updated">
                        Information requested updated. [04]
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="after-checking-no-double-invoice-found" name="reasons-to-partially-maintain-and-withdraw-months" type="radio" value="After checking, no double invoice found. [05]" aria-controls="conditional-partially-maintain-and-withdraw-reason-3" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-radios__label" for="after-checking-no-double-invoice-found">
                        After checking, no double invoice found. [05]
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="primary-entitlement-in-state-of-residence-starts-on-date-given" name="reasons-to-partially-maintain-and-withdraw-months" type="radio" value="The primary entitlement in state of residence starts on the date provided. [06]" data-aria-controls="conditional-primary-entitlement-in-state-of-residence-starts-on-date-given" aria-controls="conditional-partially-maintain-and-withdraw-reason-4" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-radios__label" for="primary-entitlement-in-state-of-residence-starts-on-date-given">
                        The primary entitlement in state of residence starts on the date provided. [06]
                      </label>
                    </div>
                    <!-- Date entry begins -->
                    <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-partially-maintain-and-withdraw-reason-4">
                      <fieldset class="nhsuk-fieldset" role="group" aria-describedby="date-primary-entitlement-in-state-of-residence-starts-on-partial-hint">
                        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                          <h2 class="nhsuk-fieldset__heading">
                            Enter the date the primary entitlement in state of residence started on
                          </h2>
                        </legend>
                        <div class="nhsuk-hint" id="date-primary-entitlement-in-state-of-residence-starts-on-partial-hint">
                          For example, 15 3 2025
                        </div>
                    
                        <div class="nhsuk-date-input" id="date-primary-entitlement-in-state-of-residence-starts-on-partial">
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label nhsuk-date-input__label" for="date-primary-entitlement-in-state-of-residence-starts-on-day-partial">Day</label>
                              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="date-primary-entitlement-in-state-of-residence-starts-on-day-partial" name="date-primary-entitlement-in-state-of-residence-starts-on-day-partial" type="text" inputmode="numeric">
                            </div>
                          </div>
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label nhsuk-date-input__label" for="date-primary-entitlement-in-state-of-residence-starts-on-month-partial">Month</label>
                              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="date-primary-entitlement-in-state-of-residence-starts-on-month-partial" name="date-primary-entitlement-in-state-of-residence-starts-on-month-partial" type="text" inputmode="numeric">
                            </div>
                          </div>
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label nhsuk-date-input__label" for="date-primary-entitlement-in-state-of-residence-starts-on-year-partial">Year</label>
                              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="date-primary-entitlement-in-state-of-residence-starts-on-year-partial" name="date-primary-entitlement-in-state-of-residence-starts-on-year-partial" type="text" inputmode="numeric">
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="person-receives-pension-in-their-ms" name="reasons-to-partially-maintain-and-withdraw-months" type="radio" value="The person receives a pension in his/her state of residence as from the date provided, copy of the decision attached. [07]" aria-controls="conditional-partially-maintain-and-withdraw-reason-5" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-radios__label" for="person-receives-pension-in-their-ms">
                        The person receives a pension in his/her state of residence as from the date provided, copy of the decision attached. [07]
                      </label>
                    </div>
                    <!-- Date entry begins -->
                    <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-partially-maintain-and-withdraw-reason-5">
                      <fieldset class="nhsuk-fieldset" role="group" aria-describedby="date-state-pension-received-partial-hint">
                        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                          <h2 class="nhsuk-fieldset__heading">
                            Enter the date the state pension was received
                          </h2>
                        </legend>
                        <div class="nhsuk-hint" id="date-state-pension-received-partial-hint">
                          For example, 15 3 2025
                        </div>
                    
                        <div class="nhsuk-date-input" id="date-state-pension-received-partial">
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label nhsuk-date-input__label" for="date-state-pension-received-day-partial">Day</label>
                              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="date-state-pension-received-day-partial" name="date-state-pension-received-day-partial" type="text" inputmode="numeric">
                            </div>
                          </div>
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label nhsuk-date-input__label" for="date-state-pension-received-month-partial">Month</label>
                              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="date-state-pension-received-month-partial" name="date-state-pension-received-month-partial" type="text" inputmode="numeric">
                            </div>
                          </div>
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label nhsuk-date-input__label" for="date-state-pension-received-year-partial">Year</label>
                              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="date-state-pension-received-year-partial" name="date-state-pension-received-year-partial" type="text" inputmode="numeric">
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="person-receives-dominating-pension-from-other-ms" name="reasons-to-partially-maintain-and-withdraw-months" type="radio" value="The person receives a dominating pension from another state, copy of pension decision attached. [08]" aria-controls="conditional-partially-maintain-and-withdraw-reason-6" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-radios__label" for="person-receives-dominating-pension-from-other-ms">
                        The person receives a dominating pension from another state, copy of pension decision attached. [08]
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="family-member-not-entitled-in-state-of-residence" name="reasons-to-partially-maintain-and-withdraw-months" type="radio" value="The family member is not entitled in the state of residence. [09]" aria-controls="conditional-partially-maintain-and-withdraw-reason-7" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-radios__label" for="family-member-not-entitled-in-state-of-residence">
                        The family member is not entitled in the state of residence. [09]
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="costs-not-to-be-settled-by-actual-costs" name="reasons-to-partially-maintain-and-withdraw-months" type="radio" value="The costs are not to be settled by actual costs" aria-controls="conditional-partially-maintain-and-withdraw-reason-8" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-radios__label" for="costs-not-to-be-settled-by-actual-costs">
                        The costs are not to be settled by actual costs. [10]
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="family-member-now-registered-on-entitlement-document" name="reasons-to-partially-maintain-and-withdraw-months" type="radio" value="The family member is now registered on the entitlement document. [11]" aria-controls="conditional-partially-maintain-and-withdraw-reason-9" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-radios__label" for="family-member-now-registered-on-entitlement-document">
                        The family member is now registered on the entitlement document. [11]
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="according-with-attached-docs-invoice-must-be-paid" name="reasons-to-partially-maintain-and-withdraw-months" type="radio" value="According to the attached documents, the invoice has to be paid. [12]" aria-controls="conditional-partially-maintain-and-withdraw-reason-10" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-radios__label" for="according-with-attached-docs-invoice-must-be-paid">
                        According to the attached documents, the invoice has to be paid. [12]
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="entitlement-documents-enclosed" name="reasons-to-partially-maintain-and-withdraw-months" type="radio" value="Enclosed you find the entitlement documents. [13]" aria-controls="conditional-partially-maintain-and-withdraw-reason-11" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-radios__label" for="entitlement-documents-enclosed">
                        Enclosed you find the entitlement documents. [13]
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="requested-documents-enclosed" name="reasons-to-partially-maintain-and-withdraw-months" type="radio" value="Enclosed you find the requested documents. [14]" aria-controls="conditional-partially-maintain-and-withdraw-reason-12" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-radios__label" for="requested-documents-enclosed">
                        Enclosed you find the requested documents. [14]
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="other" name="reasons-to-partially-maintain-and-withdraw-months" type="radio" value="Other. [99]" data-aria-controls="conditional-partially-maintain-and-withdraw-reason-13" aria-controls="conditional-partially-maintain-and-withdraw-reason-13" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-radios__label" for="other">
                        Other. [99]
                      </label>
                    </div>
                    <!-- Conditionally revealed textarea -->
                    <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-partially-maintain-and-withdraw-reason-13">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="otherPartialMaintainAndWithdrawReasonComments">
                          Add other reason.
                        </label>
                        <textarea class="nhsuk-textarea" id="otherPartialMaintainAndWithdrawReasonComments" rows="7" name="other-partial-maintain-and-withdraw-reason-comments" maxlength="500"></textarea>
                        <p id="charactersRemaining" class="nhsuk-hint" aria-hidden="true">500 characters remaining</p>
                        <p id="char-count-screen-reader" class="nhsuk-u-visually-hidden" aria-live="polite">You can enter up to 500 characters</p>
                      </div>
                    </div>
                    
            
                  </div>
                  <!-- End of radios -->
                </fieldset>
            
              </div>
            

              <button class="nhsuk-button nhsuk-button--primary" style="margin-top: 10px;" type="submit" id="continue-button">Continue</button>

              <p><a href="invoice-details">Cancel</a></p>
            </div>




          </div>
        </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script>
  const textarea = document.querySelector('#otherPartialMaintainAndWithdrawReasonComments');
  const countRemaining = document.getElementById('charactersRemaining');
  const staticMsg = document.querySelector('#char-count-screen-reader');
  const maxCharacters = 500;
  let timeoutId;

  function updateCharacterCount() {
    const textEntered = textarea.value;
    const newLines = textEntered.match(/(\r\n|\n|\r)/g);
    const addition = newLines?.length || 0;
    const remainingCharacters = maxCharacters - textEntered.length + addition - (newLines?.length || 0);

    if (remainingCharacters >= 0) {
      countRemaining.textContent = `You have ${remainingCharacters} character${remainingCharacters === 1 ? '' : 's'} remaining`;
      countRemaining.classList.remove('nhsbsa-count-error-message');
      countRemaining.classList.add('nhsuk-hint');
      textarea.classList.remove('nhsuk-textarea--error');
    } else {
      countRemaining.textContent = `You have ${Math.abs(remainingCharacters)} character${Math.abs(remainingCharacters) === 1 ? '' : 's'} too many`;
      countRemaining.classList.add('nhsbsa-count-error-message');
      countRemaining.classList.remove('nhsuk-hint');
      textarea.classList.add('nhsuk-textarea--error');
    }
  }

  function updateScreenReaderMessage() {
    clearTimeout(timeoutId);
    timeoutId = setTimeout(() => {
      const textEntered = textarea.value;
      const newLines = textEntered.match(/(\r\n|\n|\r)/g);
      const addition = newLines?.length || 0;
      const remainingCharacters = maxCharacters - textEntered.length + addition - (newLines?.length || 0);
      // TO DO ADD FIX FOR 1 CHARACTER
      if (remainingCharacters < 0) {
        staticMsg.textContent = `You have ${Math.abs(remainingCharacters)} character${Math.abs(remainingCharacters) === 1 ? '' : 's'} too many`;
      } else {
        staticMsg.textContent = `You have ${remainingCharacters} character${remainingCharacters === 1 ? '' : 's'} remaining`;
      }
    }, 1000);
  }

  textarea.addEventListener('input', () => {
    updateCharacterCount();
    updateScreenReaderMessage();
  });

  // Update character count if textarea has a value on page load
  window.addEventListener('load', () => {
    updateCharacterCount();
    updateScreenReaderMessage();
  });
</script>
{% endblock %}