<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
S1 details pensioner
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container-fluid">
            <div class="nhsuk-main-wrapper" id="maincontent">
              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                  <div class="nhsuk-back-link">
                    <a class="nhsuk-back-link__link" href="javascript:history.back()">
                      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                      </svg>
                      Go back</a>
                  </div>  

                    <h1 class="nhsuk-heading-xl">
                        S1 details for pensioner
                        <p style="color:red">The data points captured need to be agreed.</p>
                    </h1>
                </div>
              </div>

              <hr style="border-bottom:4px solid #005eb8; margin:0">
              <div class="nhsuk-scrollable-pane">
                <br>
                  <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                    
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="example">
                          Issuing member state
                        </label>
                        <input class="nhsuk-input nhsuk-input--width-20" id="example" name="example" type="text">
                      </div>
                      <div class="nhsuk-form-group">
                        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                          <legend class="nhsuk-fieldset__legend nhsuk-label--l">
                          <label class="nhsuk-label" for="example">
                              S1 issue date
                            </label>
                          </legend>
                          <div class="nhsuk-hint" id="example-hint">
                            For example, 15 3 1984
                          </div>
                          <div class="nhsuk-date-input" id="example">
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                                  Day
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day" name="example-day" type="number" pattern="[0-9]*">
                              </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                                  Month
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month" name="example-month" type="number" pattern="[0-9]*">
                              </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                                  Year
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-year" name="example-year" type="number" pattern="[0-9]*">
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </div>
                      <hr>
                      <h2 class="nhsuk-heading-s" style="margin-bottom:0">
                        S1 validity period
                      </h2>
                      <br>
                      <div class="nhsuk-form-group">
                        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                          <legend class="nhsuk-fieldset__legend nhsuk-label--l">
                            <label class="nhsuk-label" for="example">
                              S1 start date
                            </label>
                          </legend>
                          <div class="nhsuk-hint" id="example-hint">
                            For example, 15 3 1984
                          </div>
                          <div class="nhsuk-date-input" id="example">
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                                  Day
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day" name="example-day" type="number" pattern="[0-9]*">
                              </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                                  Month
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month" name="example-month" type="number" pattern="[0-9]*">
                              </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                                  Year
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-year" name="example-year" type="number" pattern="[0-9]*">
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </div>

                      <div class="nhsuk-form-group">
                        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                          <legend class="nhsuk-fieldset__legend nhsuk-label--l">
                            <label class="nhsuk-label" for="example">
                              S1 end date (optional)
                            </label>
                          </legend>
                          <div class="nhsuk-hint" id="example-hint">
                            For example, 13 5 2022
                          </div>
                          <div class="nhsuk-date-input" id="example">
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                                  Day
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day" name="example-day" type="number" pattern="[0-9]*">
                              </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                                  Month
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month" name="example-month" type="number" pattern="[0-9]*">
                              </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                                  Year
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-year" name="example-year" type="number" pattern="[0-9]*">
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </div>

                      <hr>
                      <h2 class="nhsuk-heading-s" style="margin-bottom:0">
                        Agreement type
                      </h2>
                      <br>
                      <form action="s1-s1-cya" method="post">
                      <fieldset class="nhsuk-fieldset">
                    
                      <div class="nhsuk-radios">
                  
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="example-1" name="agreeement" type="radio" value="registered">
                          <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                            Trade and corporation agreement
                          </label>
                        </div>

                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="example-2" name="agreeement" type="radio" value="not registered">
                          <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                            Withdrawal agreement
                          </label>
                        </div>
            
                    
                    </div>
                      
                        <hr>
                        <h2 class="nhsuk-heading-s" style="margin-bottom:0">
                          S1 registration status
                        </h2>
                        <br>
                        <form action="registered" method="post">
                        <fieldset class="nhsuk-fieldset">
                      
                        <div class="nhsuk-radios">
                    
                          <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="example-3" name="registered" type="radio" value="registered">
                            <label class="nhsuk-label nhsuk-radios__label" for="example-3">
                              Registered
                            </label>
                          </div>

                          <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="example-4" name="registered" type="radio" value="not registered">
                            <label class="nhsuk-label nhsuk-radios__label" for="example-4">
                              Not registered
                            </label>
                          </div>
                      </div>

                        <br>
                        <button class="nhsuk-button nhsuk-button--primary" type="submit">Continue</button>
                        <p><a href="#">Cancel</a></p>
                      </div>
                    </fieldset>
                    </form>
                  
                    </div>
                  </div>
              </div>
            </div>
        </div>
      </div>
  </div>
</div>

{% endblock %}






