{% extends 'layout-sidebar-no-login.html' %} {% block pageTitle %} Cost recovery
ops prototype {% endblock %}
{% block content %}

<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item">
            <a class="nhsuk-breadcrumb__link" href="../index">Home (POC)</a>
          </li>
        </ol>
      </div>
    </div>
  </div>
</nav>

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent" role="main">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <h1>Case History</h1>
        <hr />

                <!--Design Team Meet-->
                <h2>Design Team Meet - 12 May</h2>

                <ul class="nhsuk-grid-row nhsuk-card-group">
                  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        
                    <div class="nhsuk-card">
                      <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading">
                          Person Level
                        </h2>
                        <p class="nhsuk-card__description">
                        <ul>
                          <li><a href="person">Broken up into categories (see residential address for data, 2 options) - draft, needs UR</a></li>
                          <li><a href="person-2">Full table with filter - should achieve the users goals (alternative option to allow table sorting) - draft, needs UR</a></li>
                        </ul>
                        </p>
                      </div>
                    </div>
                  </li>
        
                  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        
                    <div class="nhsuk-card">
                      <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading">
                          Treatment Level
                        </h2>
                        <p class="nhsuk-card__description">
                        <ul>
                          <li><a href="treatment-8">Via person details page (agreed via UR)</a></li>
                        </ul>
                        </p>
                      </div>
                    </div>
                  </li>
        
                  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        
                    <div class="nhsuk-card">
                      <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading">
                          Resub Level
                        </h2>
                        <p class="nhsuk-card__description">
                        <ul>
                          <li><a href="resub-2">Via person details page (draft example of potential layout - not agreed via UR)</a></li>
                          <li>Via resub details (yet to be looked at again)</li>
        
                        </ul>
        
                        </p>
                      </div>
                    </div>
                  </li>
                  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
                    <div class="nhsuk-card">
                      <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading">
                          Claim Level
                        </h2>
                        <p class="nhsuk-card__description">
                        <ul>
                          <li><a href="claim-2">Via person details page (draft exmaple of potential layout - not agreed via UR)</a></li>
                          <li>Via claim details (yet to be looked at again)</li>
                         
                        </ul>
        
                        </p>
                      </div>
                    </div>
                  </li>
                </ul>
                <hr>



        <!--INDIVIDUAL SESSIONS-->
        <h2>Individual UR sessions</h2>

        <ul class="nhsuk-grid-row nhsuk-card-group">
          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

            <div class="nhsuk-card">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading">
                  Person Level
                </h2>
                <p class="nhsuk-card__description">
                <ul>
                  

                </ul>

                </p>
              </div>
            </div>
          </li>

          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

            <div class="nhsuk-card">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading">
                  Treatment Level
                </h2>
                <p class="nhsuk-card__description">
                <ul>
                  <li><a href="treatment-6">Option 1 (card, expander , summary list)</a></li>
                  <li><a href="treatment-5">Option 2 (card, expander, table)</a></li>
                  <li><a href="treatment-7">Option 3 (expander, card, summary list)</a></li>
                </ul>

                </p>
              </div>
            </div>
          </li>

          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

            <div class="nhsuk-card">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading">
                  Resub Level
                </h2>
                <p class="nhsuk-card__description">
                <ul>
                  

                </ul>

                </p>
              </div>
            </div>
          </li>
          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
            <div class="nhsuk-card">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading">
                  Claim Level
                </h2>
                <p class="nhsuk-card__description">
                <ul>
                 
                </ul>

                </p>
              </div>
            </div>
          </li>
        </ul>
        <hr>


        <!--WORKSHOP OUTCOMES-->
        <h2>Workshop follow up session</h2>

        <ul class="nhsuk-grid-row nhsuk-card-group">
          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

            <div class="nhsuk-card">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading">
                  Person Level
                </h2>
                <p class="nhsuk-card__description">
                <ul>
                  <li><a href="index">Person details</a></li>
                  <li><a href="search">Full journey</a></li>
                </ul>

                </p>
              </div>
            </div>
          </li>

          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

            <div class="nhsuk-card">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading">
                  Treatment Level
                </h2>
                <p class="nhsuk-card__description">
                <ul>
                  <li><a href="treatment-2">Treatment details - option 1</a></li>
                  <li><a href="treatment-3">Treatment details - option 2</a></li>
                  <li><a href="search">Full journey</a></li>

                </ul>

                </p>
              </div>
            </div>
          </li>
          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
            <div class="nhsuk-card">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading">
                  Resub Level
                </h2>
                <p class="nhsuk-card__description">
                <ul>
                  <li><a href="resub">Via person details</a></li>
                  <li><a href="resub-history">Via resub details</a></li>
                  <li><a href="resubs-landing">Full journey</a></li>

                </ul>

                </p>
              </div>
            </div>
          </li>

          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

            <div class="nhsuk-card">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading">
                  Claim Level
                </h2>
                <p class="nhsuk-card__description">
                <ul>
                  <li><a href="claim">Via person details</a></li>
                  <li><a href="claim-history">Via claim details</a></li>
                  <li><a href="claims-landing">Full journey</a></li>

                </ul>

                </p>
              </div>
            </div>
          </li>

        </ul>
        <hr>

        <!--WORKSHOP PREP-->
        <h2>Workshop Prep</h2>
        <ul class="nhsuk-grid-row nhsuk-card-group">
          <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

            <div class="nhsuk-card">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading">
                  Treatment
                </h2>
                <p class="nhsuk-card__description">
                <p>With summary page</p>
                <ul>
                  <li><a href="../../poc/case-history/treatment-table-table-summary">Tables only</a></li>
                  <li><a href="../../poc/case-history/treatment-table-card-summary">Table & cards</a></li>
                  <li><a href="../../poc/case-history/treatment-table-expanders-summary">Table & expanders</a></li>
                  <li><a href="../../poc/case-history/workshop-person-details">Workshop</a></li>
                </ul>
                <p>Without summary page</p>
                <ul>
                  <li><a href="../../poc/case-history/treatment-expanders">Expander</a></li>
                </ul>
                </p>
              </div>
            </div>

          </li>
          <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

            <div class="nhsuk-card">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading">
                  Resub
                </h2>
                <p class="nhsuk-card__description">
                <ul>
                  <li><a href="../../poc/case-history/resub-tab">Blank tab</a></li>
                </ul>
                </p>
              </div>
            </div>

          </li>
          <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

            <div class="nhsuk-card">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading">
                  Claim
                </h2>
                <p class="nhsuk-card__description">
                <ul>
                  <li><a href="../../poc/case-history/claim-tab">Blank tab</a></li>
                  <li><a href="../../poc/case-history/claim-tab-cards">Cards</a></li>
                </ul>
                </p>
              </div>
            </div>

          </li>

        </ul>
      </div>
    </div>
  </main>
</div>

{% endblock %}