<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-sidebar.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}Treatment case history - Laura Peteers{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <ol class="nhsuk-breadcrumb__list">
                    <li class="nhsuk-breadcrumb__item">
                        <a class="nhsuk-breadcrumb__link" href="search">Search (Person)</a>
                    </li>
                    <li class="nhsuk-breadcrumb__item">
                        <a class="nhsuk-breadcrumb__link" href="search-results">Search results (Person)</a>
                    </li>
                    <li class="nhsuk-breadcrumb__item">Laura Peteers (Treatment case history)</li>
                </ol>
            </div>
        </div>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="search-results">Back to search results</a>
        </p>
    </div>
</nav>
{% endblock %}

<!--page content-->>
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">

        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">

                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <h1 class="nhsuk-heading-xl">Case history</h1>
                        </div>
                    </div>

                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <nav class="nhsuk-secondary-navigation nav-tabs-bg" aria-label="Secondary navigation"
                                style="background-color:#f0f4f5;">
                                <ul class="nhsuk-secondary-navigation__list">
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link" href="index">Person history</a>
                                    </li>
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link" aria-current="page"
                                            href="treatment">Treatment history</a>
                                    </li>
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link" href="resub">Resub history</a>
                                    </li>
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link" href="claim">Claim history</a>
                                    </li>
                                </ul>
                            </nav>
                            <hr style="border-bottom:1px solid #ccc; margin:0 0 60px 0">
                        </div>
                    </div>



                    <!-- start EHIC -->
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">

                            <h2 class="nhsuk-heading-l">EHIC</h2>
                            <!--start expanders-->
                            <div class="nhsuk-expander-group">

                                <!--start expand 1-->
                                <details class="nhsuk-details nhsuk-expander">
                                    <summary class="nhsuk-details__summary">
                                        <span class="nhsuk-details__summary-text">
                                            Title 1
                                        </span>
                                    </summary>
                                    <div class="nhsuk-details__text">
                                        <dl class="nhsuk-summary-list">
                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Title
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    Data
                                                </dd>
                                            </div>
                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Title
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    Data
                                                </dd>
                                            </div>
                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Title
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    Data
                                                </dd>
                                            </div>
                                        </dl>
                                    </div>
                                </details>
                                <!--end expand 1-->

                                <!--start expand 2-->
                                <details class="nhsuk-details nhsuk-expander">
                                    <summary class="nhsuk-details__summary">
                                        <span class="nhsuk-details__summary-text">
                                            Title 2
                                        </span>
                                    </summary>
                                    <div class="nhsuk-details__text">
                                        <dl class="nhsuk-summary-list">
                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Title
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    Data
                                                </dd>
                                            </div>
                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Title
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    Data
                                                </dd>
                                            </div>
                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Title
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    Data
                                                </dd>
                                            </div>
                                        </dl>
                                    </div>
                                </details>
                                <!--end expand 2-->

                            </div>
                            <!--end expanders-->
                        </div>
                    </div>
                    <!--end EHIC -->

                    <!-- start PRC -->
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">

                            <h2 class="nhsuk-heading-l">PRC</h2>
                            <!--start expanders-->
                            <div class="nhsuk-expander-group">

                                <!--start expand 1-->
                                <details class="nhsuk-details nhsuk-expander">
                                    <summary class="nhsuk-details__summary">
                                        <span class="nhsuk-details__summary-text">
                                            Title 1
                                        </span>
                                    </summary>
                                    <div class="nhsuk-details__text">
                                        <dl class="nhsuk-summary-list">
                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Title
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    Data
                                                </dd>
                                            </div>
                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Title
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    Data
                                                </dd>
                                            </div>
                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Title
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    Data
                                                </dd>
                                            </div>
                                        </dl>
                                    </div>
                                </details>
                                <!--end expand 1-->

                                <!--start expand 2-->
                                <details class="nhsuk-details nhsuk-expander">
                                    <summary class="nhsuk-details__summary">
                                        <span class="nhsuk-details__summary-text">
                                            Title 2
                                        </span>
                                    </summary>
                                    <div class="nhsuk-details__text">
                                        <dl class="nhsuk-summary-list">
                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Title
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    Data
                                                </dd>
                                            </div>
                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Title
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    Data
                                                </dd>
                                            </div>
                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Title
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    Data
                                                </dd>
                                            </div>
                                        </dl>
                                    </div>
                                </details>
                                <!--end expand 2-->

                            </div>
                            <!--end expanders-->
                        </div>
                    </div>
                    <!--end PRC -->

                    <!-- start s2 -->
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">

                            <h2 class="nhsuk-heading-l">S2</h2>
                            <!--start expanders-->
                            <div class="nhsuk-expander-group">

                                <!--start expand 1-->
                                <details class="nhsuk-details nhsuk-expander">
                                    <summary class="nhsuk-details__summary">
                                        <span class="nhsuk-details__summary-text">
                                            Title 1
                                        </span>
                                    </summary>
                                    <div class="nhsuk-details__text">
                                        <dl class="nhsuk-summary-list">
                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Title
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    Data
                                                </dd>
                                            </div>
                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Title
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    Data
                                                </dd>
                                            </div>
                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Title
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    Data
                                                </dd>
                                            </div>
                                        </dl>
                                    </div>
                                </details>
                                <!--end expand 1-->

                                <!--start expand 2-->
                                <details class="nhsuk-details nhsuk-expander">
                                    <summary class="nhsuk-details__summary">
                                        <span class="nhsuk-details__summary-text">
                                            Title 2
                                        </span>
                                    </summary>
                                    <div class="nhsuk-details__text">
                                        <dl class="nhsuk-summary-list">
                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Title
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    Data
                                                </dd>
                                            </div>
                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Title
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    Data
                                                </dd>
                                            </div>
                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Title
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    Data
                                                </dd>
                                            </div>
                                        </dl>
                                    </div>
                                </details>
                                <!--end expand 2-->

                            </div>
                            <!--end expanders-->
                        </div>
                    </div>
                    <!--end S2 -->

                </div>
            </div>
        </div>

        <div class="nhsBSA-sidebar-nav">
            <div class="side-nav">
                <h3>
                    Laura Peteers<span class="nhsuk-caption-m nhsuk-caption--bottom"><span
                            class="nhsuk-u-visually-hidden"> - </span>3432234</span>
                </h3>
                <div id="options" class="options">
                    <ul>
                        <li>
                            <a href="person-details">Person details</a>
                        </li>
                        <li>
                            <a href="">Entitlements and treatments along with linked Claim ID</a>
                        </li>
                        <li>
                            <a href="">Resubs</a>
                        </li>
                        <li>
                            <a class="active" href="index">Case history</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}