<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-sidebar.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Case history claim details page {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <ol class="nhsuk-breadcrumb__list">
                    <li class="nhsuk-breadcrumb__item">
                        <a class="nhsuk-breadcrumb__link" href="search">Search (Person)</a>
                    </li>
                    <li class="nhsuk-breadcrumb__item">
                        <a class="nhsuk-breadcrumb__link" href="person-details">Search results (Person)</a>
                    </li>
                    <li class="nhsuk-breadcrumb__item">Laura Peteers (Case history - Claims)</li>
                </ol>
            </div>
        </div>

        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="search-results">Back to search results</a>
        </p>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">

        <!--start central content-->
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">

                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <h1 class="nhsuk-heading-xl">Case history</h1>

                        </div>
                    </div>

                    <!--start of secondary navigation-->
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <nav class="nhsuk-secondary-navigation nav-tabs-bg" aria-label="Secondary navigation"
                                style="background-color:#f0f4f5;">
                                <ul class="nhsuk-secondary-navigation__list">
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link" href="case-history-person">Person
                                            history</a>
                                    </li>
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link"
                                            href="case-history-treatment">Treatment
                                            history</a>
                                    </li>
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link" aria-current="page"
                                            href="case-history-claim">Claim
                                            history</a>
                                    </li>
                                    <li class="nhsuk-secondary-navigation__item">
                                        <a class="nhsuk-secondary-navigation__link" href="case-history-resub">Resub
                                            history</a>
                                    </li>
                                </ul>
                            </nav>
                            <hr style="border-bottom:1px solid #ccc; margin:0 0 60px 0">
                        </div>
                    </div>
                    <!--end of secondary navigation-->

                    <!--start claim card-->
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">

                            <div class="nhsuk-card">
                                <div class="nhsuk-card__content">

                                    <div class="nhsuk-grid-column-one-quarter">
                                        <h3 class="nhsuk-heading-xs" style="margin-bottom:0">Claim ID</h2>
                                            <p><a href="">58493822</a></p>
                                    </div>

                                    <div class="nhsuk-grid-column-one-quarter">
                                        <h3 class="nhsuk-heading-xs" style="margin-bottom:0">Month/Year</h2>
                                            <p>May 2022</p>
                                    </div>

                                    <div class="nhsuk-grid-column-one-quarter">
                                        <h3 class="nhsuk-heading-xs" style="margin-bottom:0">Current status</h2>
                                            <p>Ready to send</p>
                                    </div>

                                    <div class="nhsuk-grid-column-one-quarter">
                                        <h3 class="nhsuk-heading-xs" style="margin-bottom:0">Member state</h2>
                                            <p>France (FR)</p>
                                    </div>

                                    <br />
                                    <br />
                                    <hr class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5" />

                                    <!--start expander-->
                                    <details class="nhsuk-details-1">
                                        <summary class="nhsuk-details__summary-1">
                                            <span class="nhsuk-details__summary-text-1">
                                                View case history <span class="nhsuk-u-visually-hidden">for Claim ID
                                                    58493822</span>
                                            </span>
                                        </summary>
                                        <div class="nhsuk-details__text">
                                            <table role="table" class="nhsuk-table-responsive">

                                                <thead role="rowgroup" class="nhsuk-table__head">
                                                    <tr role="row">
                                                        <th role="columnheader" class="" scope="col">
                                                            Date/Time
                                                        </th>
                                                        </th>
                                                        <th role="columnheader" class="" scope="col">
                                                            Details
                                                        </th>
                                                        <th role="columnheader" class="" scope="col">
                                                            Updated by
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody class="nhsuk-table__body">
                                                    <!-- <tr role="row" class="nhsuk-table__row">
                                                                            <td role="cell" class="nhsuk-table__cell">
                                                                                <span class="nhsuk-table-responsive__heading">Date/Time
                                                                                </span> 20/04/2021, 15:47
                                                                            </td>
                                                                            <td role="cell" class="nhsuk-table__cell">
                                                                                <span class="nhsuk-table-responsive__heading">Details
                                                                                </span>Claim sent to member state by <span
                                                                                    class="nhsuk-u-font-weight-bold">malcolm.norris@nhs.net</span>
                                                                                and status changed to <span
                                                                                    class="nhsuk-u-font-weight-bold">Complete</span>
                                                                            </td>
                                                                            <td role="cell" class="nhsuk-table__cell">
                                                                                <span class="nhsuk-table-responsive__heading">Updated by
                                                                                </span>malcolm.norris@nhs.net
                                                                            </td>
                                                                        </tr> -->
                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date/Time
                                                            </span> 19/04/2021, 17:00
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>Claim sent for printing and print successful
                                                            and status changed to <span
                                                                class="nhsuk-u-font-weight-bold">Ready to send</span>
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>malcolm.norris@nhs.net
                                                        </td>
                                                    </tr>
                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date/Time
                                                            </span> 18/04/2021, 10:08
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>Claim sent for printing and print failed
                                                            and status changed to <span
                                                                class="nhsuk-u-font-weight-bold">Printing failed</span>
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>phyllis.saunders@nhs.net
                                                        </td>
                                                    </tr>
                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date/Time
                                                            </span> 17/04/2021, 16:30
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>Agreement type is set and status changed to <span
                                                                class="nhsuk-u-font-weight-bold">Ready for print</span>
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>phyllis.saunders@nhs.net
                                                        </td>
                                                    </tr>
                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date/Time
                                                            </span> 15/04/2021, 11:02
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>Claim created with <span
                                                                class="nhsuk-u-font-weight-bold">4 treatments</span> for
                                                            <span class="nhsuk-u-font-weight-bold">France Article
                                                                62</span>
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>phyllis.saunders@nhs.net
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </details>
                                    <!-- end expander -->


                                </div>
                            </div>

                        </div>
                    </div>
                    <!--end claim card-->

                    <!--start claim card-->
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">

                            <div class="nhsuk-card">
                                <div class="nhsuk-card__content">

                                    <div class="nhsuk-grid-column-one-quarter">
                                        <h3 class="nhsuk-heading-xs" style="margin-bottom:0">Claim ID</h2>
                                            <p><a href="">38946773</a></p>
                                    </div>

                                    <div class="nhsuk-grid-column-one-quarter">
                                        <h3 class="nhsuk-heading-xs" style="margin-bottom:0">Month/Year</h2>
                                            <p>May 2020</p>
                                    </div>

                                    <div class="nhsuk-grid-column-one-quarter">
                                        <h3 class="nhsuk-heading-xs" style="margin-bottom:0">Current status</h2>
                                            <p>Claimed</p>
                                    </div>

                                    <div class="nhsuk-grid-column-one-quarter">
                                        <h3 class="nhsuk-heading-xs" style="margin-bottom:0">Member state</h2>
                                            <p>France (FR)</p>
                                    </div>

                                    <br />
                                    <br />
                                    <hr class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5" />

                                    <!--start expander-->
                                    <details class="nhsuk-details-1">
                                        <summary class="nhsuk-details__summary-1">
                                            <span class="nhsuk-details__summary-text-1">
                                                View case history <span class="nhsuk-u-visually-hidden">for Claim ID
                                                    58493822</span>
                                            </span>
                                        </summary>
                                        <div class="nhsuk-details__text">
                                            <table role="table" class="nhsuk-table-responsive">

                                                <thead role="rowgroup" class="nhsuk-table__head">
                                                    <tr role="row">
                                                        <th role="columnheader" class="" scope="col">
                                                            Date/Time
                                                        </th>
                                                        </th>
                                                        <th role="columnheader" class="" scope="col">
                                                            Details
                                                        </th>
                                                        <th role="columnheader" class="" scope="col">
                                                            Updated by
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody class="nhsuk-table__body">
                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date/Time
                                                            </span> 20/04/2021, 15:47
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>Claim sent to member state by <span
                                                                class="nhsuk-u-font-weight-bold">malcolm.norris@nhs.net</span>
                                                            and status changed to <span
                                                                class="nhsuk-u-font-weight-bold">Complete</span>
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>malcolm.norris@nhs.net
                                                        </td>
                                                    </tr>
                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date/Time
                                                            </span> 19/04/2021, 17:00
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>Claim sent for printing and print successful
                                                            and status changed to <span
                                                                class="nhsuk-u-font-weight-bold">Ready to send</span>
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>malcolm.norris@nhs.net
                                                        </td>
                                                    </tr>
                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date/Time
                                                            </span> 18/04/2021, 10:08
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>Claim sent for printing and print failed
                                                            and status changed to <span
                                                                class="nhsuk-u-font-weight-bold">Printing failed</span>
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>phyllis.saunders@nhs.net
                                                        </td>
                                                    </tr>
                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date/Time
                                                            </span> 17/04/2021, 16:30
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>Agreement type is set and status changed to <span
                                                                class="nhsuk-u-font-weight-bold">Ready for print</span>
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>phyllis.saunders@nhs.net
                                                        </td>
                                                    </tr>
                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date/Time
                                                            </span> 15/04/2021, 11:02
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>Claim created with <span
                                                                class="nhsuk-u-font-weight-bold">4 treatments</span> for
                                                            <span class="nhsuk-u-font-weight-bold">France Article
                                                                62</span>
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>phyllis.saunders@nhs.net
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </details>
                                    <!-- end expander -->


                                </div>
                            </div>

                        </div>
                    </div>
                    <!--end claim card-->

                    <!--start claim card-->
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">

                            <div class="nhsuk-card">
                                <div class="nhsuk-card__content">

                                    <div class="nhsuk-grid-column-one-quarter">
                                        <h3 class="nhsuk-heading-xs" style="margin-bottom:0">Claim ID</h2>
                                            <p><a href="">28936788</a></p>
                                    </div>

                                    <div class="nhsuk-grid-column-one-quarter">
                                        <h3 class="nhsuk-heading-xs" style="margin-bottom:0">Month/Year</h2>
                                            <p>Aug 1997</p>
                                    </div>

                                    <div class="nhsuk-grid-column-one-quarter">
                                        <h3 class="nhsuk-heading-xs" style="margin-bottom:0">Current status</h2>
                                            <p>Claimed</p>
                                    </div>

                                    <div class="nhsuk-grid-column-one-quarter">
                                        <h3 class="nhsuk-heading-xs" style="margin-bottom:0">Member state</h2>
                                            <p>Norway (NO)</p>
                                    </div>

                                    <br />
                                    <br />
                                    <hr class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5" />

                                    <!--start expander-->
                                    <details class="nhsuk-details-1">
                                        <summary class="nhsuk-details__summary-1">
                                            <span class="nhsuk-details__summary-text-1">
                                                View case history <span class="nhsuk-u-visually-hidden">for Claim ID
                                                    58493822</span>
                                            </span>
                                        </summary>
                                        <div class="nhsuk-details__text">
                                            <table role="table" class="nhsuk-table-responsive">

                                                <thead role="rowgroup" class="nhsuk-table__head">
                                                    <tr role="row">
                                                        <th role="columnheader" class="" scope="col">
                                                            Date/Time
                                                        </th>
                                                        </th>
                                                        <th role="columnheader" class="" scope="col">
                                                            Details
                                                        </th>
                                                        <th role="columnheader" class="" scope="col">
                                                            Updated by
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody class="nhsuk-table__body">
                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date/Time
                                                            </span> 20/04/2021, 15:47
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>Claim sent to member state by <span
                                                                class="nhsuk-u-font-weight-bold">malcolm.norris@nhs.net</span>
                                                            and status changed to <span
                                                                class="nhsuk-u-font-weight-bold">Complete</span>
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>malcolm.norris@nhs.net
                                                        </td>
                                                    </tr>
                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date/Time
                                                            </span> 19/04/2021, 17:00
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>Claim sent for printing and print successful
                                                            and status changed to <span
                                                                class="nhsuk-u-font-weight-bold">Ready to send</span>
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>malcolm.norris@nhs.net
                                                        </td>
                                                    </tr>
                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date/Time
                                                            </span> 18/04/2021, 10:08
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>Claim sent for printing and print failed
                                                            and status changed to <span
                                                                class="nhsuk-u-font-weight-bold">Printing failed</span>
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>phyllis.saunders@nhs.net
                                                        </td>
                                                    </tr>
                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date/Time
                                                            </span> 17/04/2021, 16:30
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>Agreement type is set and status changed to <span
                                                                class="nhsuk-u-font-weight-bold">Ready for print</span>
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>phyllis.saunders@nhs.net
                                                        </td>
                                                    </tr>
                                                    <tr role="row" class="nhsuk-table__row">
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Date/Time
                                                            </span> 15/04/2021, 11:02
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Details
                                                            </span>Claim created with <span
                                                                class="nhsuk-u-font-weight-bold">4 treatments</span> for
                                                            <span class="nhsuk-u-font-weight-bold">France Article
                                                                62</span>
                                                        </td>
                                                        <td role="cell" class="nhsuk-table__cell">
                                                            <span class="nhsuk-table-responsive__heading">Updated by
                                                            </span>phyllis.saunders@nhs.net
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </details>
                                    <!-- end expander -->


                                </div>
                            </div>

                        </div>
                    </div>
                    <!--end claim card-->
                    
                </div>
            </div>
        </div>
        <!--end central content-->

        <!--start left navigation-->
        <div class="nhsBSA-sidebar-nav">
            <div class="side-nav">
                <h3>
                    Laura Peteers<span class="nhsuk-caption-m nhsuk-caption--bottom">
                        <span class="nhsuk-u-visually-hidden"> - </span>3432234</span>
                </h3>
                <ul>
                    <div id="options" class="options">
                        <li>
                            <a href="person-details">Person details</a>
                        </li>
                        <li></li>
                        <li>
                            <a href="#">Entitlements and treatments along with linked Claim ID</a>
                        </li>
                        <li>
                            <a href="person-details-resubs">Resubs</a>
                        </li>
                        <li>
                            <a class="active" href="case-history-person">Case history</a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
        <!--end left navigation-->

    </div>
</div>

{% endblock %}