<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Create new resub {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<!--<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
    
        <ol class="nhsuk-breadcrumb__list">
           <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="search">Search (Person)</a></li>
           <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="resubs">Resubs</a></li>
           <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="claim-resubs-1">Claim ID 9543 (Resubs)</a></li>
           <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="resubs-contested-treatments">Resub number 0002</a></li>
           <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="contacted-the-ovm">Contact the OVM</a></li>
           <li class="nhsuk-breadcrumb__list-item">Response received</li>
         </ol>
      </div>
    </div>

    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="search-results">Back to search results</a></p>

  </div>
</nav> -->

<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-main-wrapper" id="maincontent">
          <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="javascript:history.back()">
              <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
              </svg>
              Go back</a
            >
          </div>
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
              <h1 class="nhsuk-heading-xl">Overseas Visitors Manager (OVM) response received</h1>
            </div>
            <div class="nhsuk-grid-column-one-third"></div>
          </div>
          <hr style="border-bottom: 4px solid #005eb8; margin: 0" />
          <div class="nhsuk-scrollable-pane">
            <br />

            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-two-thirds">
                <h3 class="nhsuk-heading-m">What was the OVM’s response to our request?</h3>
                <div class="nhsuk-form-group">
                  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                    <form>
                      <div class="nhsuk-form-group">
                        <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
                          <div class="nhsuk-hint" id="contact-hint">Select all responses that apply. Add any additional information in the text box provided.</div>

                          <div class="nhsuk-checkboxes nhsuk-checkboxes--conditional">
                            <div class="nhsuk-checkboxes__item">
                              <input class="nhsuk-checkboxes__input" id="contact-1" name="contact" type="checkbox" value="copy-entitlment" aria-controls="conditional-contact-1" aria-expanded="false" />
                              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1"> Copy of the entitlement received </label>
                            </div>
                            <div class="nhsuk-checkboxes__item">
                              <input class="nhsuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="Breakdown" aria-controls="conditional-contact-2" aria-expanded="false" />
                              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-2"> Breakdown of costs received </label>
                            </div>
                

                            <div class="nhsuk-checkboxes__item">
                              <input class="nhsuk-checkboxes__input" id="contact-5" name="contact" type="checkbox" value="treatment-cost" aria-controls="conditional-contact-5" aria-expanded="false" />
                              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-5"> Confirmation that the costs are correct </label>
                            </div>

                            <div class="nhsuk-checkboxes__item">
                              <input class="nhsuk-checkboxes__input" id="contact-6" name="contact" type="checkbox" value="not-treatment-cost" aria-controls="conditional-contact-5" aria-expanded="false" />
                              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-6"> Confirmation that the costs are not correct  </label>
                            </div>
                            <div class="nhsuk-checkboxes__item">
                              <input class="nhsuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="duplicate" aria-controls="conditional-contact-3" aria-expanded="false" />
                              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-3"> Confirmation that this is a duplicate treatment </label>
                            </div>

                            <div class="nhsuk-checkboxes__item">
                              <input class="nhsuk-checkboxes__input" id="contact-4" name="contact" type="checkbox" value="not-duplicate" aria-controls="conditional-contact-4" aria-expanded="false" />
                              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-4"> Confirmation that this is not a duplicate treatment </label>
                            </div>
                            <div class="nhsuk-checkboxes__item">
                              <input class="nhsuk-checkboxes__input" id="contact-7" name="contact" type="checkbox" value="treatment-date" aria-controls="conditional-contact-7" aria-expanded="false" />
                              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-7"> Confirmation of the treatment dates </label>
                            </div>
                   

                            <div class="nhsuk-checkboxes__item">
                              <input class="nhsuk-checkboxes__input" id="contact-8" name="contact" type="checkbox" value="text" aria-controls="conditional-contact-8" aria-expanded="false" />
                              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-8"> Other </label>
                            </div>

                            <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-contact-8">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label" for="reason">
                                  Enter details
                                </label>
                                <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
                              </div>
                            </div>
                            <div class="nhsuk-form-group nhsuk-u-margin-top-5"">
                              <label class="nhsuk-label nhsuk-u-font-weight-bold" for="example">
                                Additional information (optional):
                              </label>
                    
                              <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
                            </div>
                          </div>
                        </fieldset>
                      </div>
                    </form>
                  </fieldset>
                </div>

                <a href="contacted-the-ovm-additional-info"><button class="nhsuk-button nhsuk-button--primary" type="submit">Continue</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
