{% extends 'layout-sidebar-no-login.html' %}


{% block pageTitle %}
Cost recovery ops prototype
{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <h1>
      Cost Recovery Ops team Prototype
    </h1>



<!--Version 30 - Douglas Caven - October 2024-->
<div class="nhsuk-card">
  <div class="nhsuk-card__content">
    <details class="nhsuk-details-1" open>
      <summary class="nhsuk-details__summary-1">
        <span class="nhsuk-details__summary-text-1">
          Version 30 / Resubmissions - October 2024
        </span>
      </summary>

      <div class="nhsuk-details__text">
        <!-- Version 1 -->
        <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">Version 1</h2>
        <hr class="nhsuk-u-margin-bottom-3" style="margin-top:6px; padding-top:0">
        <ul>
          <h3 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">Treatments on resubmissions</h3>
          
              <li>Option 1 - On the Treatments linked to resub page <b>Remove treatment</b> links have been added to the Actions column and a new <b>Add more treatments to resubmission</b> button is now at the top. Only treatments that can be added to the resubmission will be displayed.
              <br>1. Click <a href="version-30/resubmissions/v1/resubs-contested-treatments-add">link</a> to <b>Treatment linked to resub</b> page.
              <br>2. Click <b>Remove treatment</b> link on the first record.
              <br>3. Click <b>Yes</b> on new confirmation screen.
              <br>4. Click <b>Add more treatments to resubmission</b> button. 
              <br>5. Select the checkboxes for the top two records available to select and click <b>Add treatments to resubmission button.</b>
              <br>6. Click the <b>Confirm</b> button.
              <br>
              <p style="color:#F44444">NOTE: Option 1 is preferred</p>
              <li>Option 2 - On the Treatments linked to resub page <b>View patient record</b> link has been replaced with a <b>Remove treatment</b> links ONLY to those treatments that have already been selected, so no option to <b>View patient record</b> but this can be added to the screen if required. 
                There is also a new <b>Add more treatments to resubmissions</b> button added. 
              <br>1. Click <a href="version-30/resubmissions/v1/resubs-contested-treatments-remove-only-1">link</a> to <b>Treatment forms</b> page, and click <b>Remove treatment</b> link on the first record.
              <br>2. Click <b>Remove treatment</b> link on the first record.
              <br>3. Click <b>Add more treatments to resubmission</b> button. 
              <br>4. Select the checkboxes for the top two records available to select and click <b>Add treatments to resubmission button.</b>
              <br>5. Click the <b>Confirm</b> button.
              <br><br>

          <h3 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">Contestation details</h3>
              <li>Option 1 - Add editable fields to Resubmission summary. PRIOR TO PEER REVIEW<br> 
              Within the Resubmissions summary tab add the contestation fields in the panel underneath the <b>Created by</b> details and allow the users to edit the contestation fields and <b>Save resub summary</b>.   
              <a href="version-30/resubmissions/v1/resubmissions-summary-contestation-details">(Link)</a></li>
            
              <li>Option 2 - Add inset text to the resubmission details screen.<br> 
              On the <b>Resubmission details</b> screen the addition of inset text <b>Check you have entered the contestation details correctly before creating a new resubmission.</b> Just above the <b>Create new resubmission</b> button, where contestation fields are editable. 
              <a href="version-30/resubmissions/v1/resubs-contestation-details">(view screen)</a></li>

              <li>Option 3 - Add a new Contestation summary tab.<br> 
              The creation of a new tab specifically for contestation details that can be edited and saved. 
              <br>1. Click <a href="version-30/resubmissions/v1/resubmissions-summary-contestation-tab"> link</a> to see new Contestation summary tab.
              <br>2. Click on <b>Contestation summary</b> tab where the contestation fields are editable.</li>
            
              <li>Option 4 - Add editable fields to Resubmission summary. AFTER TO PEER REVIEW
                <a href="version-30/resubmissions/v1/resubmissions-summary-full">(Link)</a></li>
              
          </ul>
      </div>
    </details>
  </div>
</div>





    <!--Version 29 Megan Bell - Mid Sept 2024 - Present -->
 <div class="nhsuk-card">
  <div class="nhsuk-card__content">
    <details class="nhsuk-details-1"  open>
      <summary class="nhsuk-details__summary-1" >
        <span class="nhsuk-details__summary-text-1">
          Version 29 / S1 (Mid September 2024 - Present)
        </span>
      </summary>

      <div class="nhsuk-details__text">
        <h2 class="nhsuk-heading-l">S1 (MVP - Version 2)
          <span class="nhsuk-caption-l nhsuk-caption--bottom">
            In this version you will find the final version of the search for a person, create a new person record and view/update personal details journeys, ready for development.
            You will also find another iteration of the 'Add an S1 entitlement to a person's record' journey containig small tweaks, alongside another iteration of the Entitlements and enquiries overview, and individual entitlement screens.</span>
        </h2>
        <p>For site flows, wireframes, and general design thinking for S1 (MVP Version 2) visit the <a href="https://miro.com/app/board/uXjVK6tfnss=/?share_link_id=615828197008">Content and Design Miro board</a>.</p>
        
        <hr class="nhsuk-u-margin-bottom-3" style="margin-top:6px; padding-top:0">

        <h3 class="nhsuk-heading-m">What we created:</h3>
        <h3 class="nhsuk-heading-s ">Final version of S1 - Search for a person, view their personal record or create one</h3>
        <ul>
          <li><a href="version-29/s1/search/search-by-person">Search for a person or treatment</a></li>
          <li><a href="version-29/s1/search/search-results">Search results - Person record found</a></li>
          <li><a href="version-29/s1/search/search-results-none">Search results - no results found</a></li>
          <li><a href="version-29/s1/account/personal-details">View person's record</a></li>
          <li><a href="version-29/s1/account/create-person-record">Create a new person record</a></li>
        </ul>
        <h3 class="nhsuk-heading-s ">S1 - Add an S1 entitlement to a person's record and view entitlement details</h3>
        <ul>
          <li><a href="version-29/s1/s072-registration/which-entitlement">Add an S1 entitlement to a person's record</a></li>
          <li><a href="version-29/s1/account/entitlement-details?add-new-entitlement=yes">View all entitlements - overview</a></li>
          <li><a href="version-29/s1/account/entitlement-content/S1-entitlement-details">View individual entitlement details</a></li>
        </ul>
        <h3 class="nhsuk-heading-m">What we plan to test:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li></li>
        </ul>

        <h3 class="nhsuk-heading-m">What we found:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li></li>
        </ul>

        <h3 class="nhsuk-heading-m">Any known issues:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li></li>
        </ul>

        <hr class="nhsuk-u-margin-bottom-3" style="margin-top:6px; padding-top:0">

        <h3 class="nhsuk-heading-m">Other work</h3>
        
     
      </div>
    </details>
  </div>
</div>


    <!--Version 28 - Tarik Johnston & Megan Bell - Aug - Mid Sept 2024-->
 <div class="nhsuk-card">
  <div class="nhsuk-card__content">
    <details class="nhsuk-details-1">
      <summary class="nhsuk-details__summary-1" >
        <span class="nhsuk-details__summary-text-1">
          Version 28 / S1 (August - September 2024)
        </span>
      </summary>

      <div class="nhsuk-details__text">
        <h2 class="nhsuk-heading-l">S1 (MVP - Version 2)
          <span class="nhsuk-caption-l nhsuk-caption--bottom">
            In this version you will see a pivot in our approach from a GDS citizen-style service to an admin-style portal whereby the
            user must first search for a person, and if no results are found, then a new record must be created. Once the record has 
            been created, the user can then update personal details, add entitlements and add dependants. Other processes such as 
            enquries and cancellations are yet to be worked on.</span>
        </h2>
        <p>For site flows, wireframes, and general design thinking for S1 (MVP Version 2) visit the <a href="https://miro.com/app/board/uXjVK6tfnss=/?share_link_id=615828197008">Content and Design Miro board</a>.</p>
        
        <hr class="nhsuk-u-margin-bottom-3" style="margin-top:6px; padding-top:0">

        <h3 class="nhsuk-heading-m">What we created:</h3>
        <h3 class="nhsuk-heading-s ">S1 - Search for a person, view their personal record or create one</h3>
        <ul>
          <li><a href="version-28/s1/search/search-by-person">Search for a person or treatment</a></li>
          <li><a href="version-28/s1/search/search-results">Search results - Person record found</a></li>
          <li><a href="version-28/s1/search/search-results-none">Search results - no results found</a></li>
          <li><a href="version-28/s1/account/patient-summary">View person record - Overview</a></li>
          <li><a href="version-28/s1/account/create-person-record">Create a new person record</a></li>
        </ul>
        <h3 class="nhsuk-heading-s ">S1 - Add an S1 entitlement to a person's record and view entitlement details</h3>
        <ul>
          <li><a href="version-28/s1/s072-registration/which-entitlement">Add an S1 entitlement to a person's record</a></li>
          <li><a href="version-28/s1/account/entitlement-details?add-new-entitlement=yes">View all entitlements - overview</a></li>
          <li><a href="version-28/s1/account/entitlement-content/S1-entitlement-details">View individual entitlement details</a></li>
        </ul>
        <h3 class="nhsuk-heading-m">What we plan to test:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>All of the above journeys</li>
        </ul>

        <h3 class="nhsuk-heading-m">What we found:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>Cost Recovery Officers appreciate our approach to the S1 Registerations and Cancellations work and like the direction we're heading in. They believe that the stages of searching for a person, creating a new person record, and being able to view and update personal details is simple and easy to use.</li>
          <li>At this stage, there isn't a user need for the <a href="version-28/s1/account/patient-summary">Person Overview</a> screen, rather it is a nice-to-have feature which would simply enhance the portal. Therefore, we plan to drop this screen from the MVP.</li>
          <li>Cost Recovery Officers also like the <a href="version-28/s1/account/entitlement-details?add-new-entitlement=yes">Entitlements and enquiries</a> section but think it needs improvement, particularly around the type of information that is displayed as part of the overview. As part of improvement work, they would like to be able to clearly see the status of each entitlement e.g., registered or cancelled.</li>
          <li>Cost Recovery Officers believe that <b>Case History</b> should contain system updates e.g., record created, first name updated, email added, etc. whereas <b>Notes</b> should be used by Cost Recovery Officers to provide context, and effectively 'paint the bigger picture' of the person's record. For example, notes could include anything from a complaint, to information regarding a conversation that might have taken place between one CR Officer and the individual. It may also contain details around any letters or documents that have been sent or received.</li>
          <li>Individual Notes tabs should be removed from both the <a href="version-28/s1/account/patient-details">Personal details section</a> and <a href="version-28/s1/account/entitlement-content/S1-entitlement-details">individual entitlements</a>. Instead, a separate Notes tab should be added to the left-hand navigation menu so that the notes are against the entire person record, as opposed to individual entitlements. This will help CR and Claims officers understand the wider context of each person's record and attached details.</li>
        </ul>

        <h3 class="nhsuk-heading-m">Any known issues:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>Cost Recovery Officers will very rarely input the UK NINO number when creating the person record so as part of the next version of the prototype, this data point should be removed from the <a href="version-28/s1/account/create-person-record">Personal details data entry</a> screen and instead, left for CR Officer to update in the <a href="version-28/s1/account/patient-details">Personal details</a> section of the person record, if and when they receive this information. For example, from a third party referral, on the back of receiving the FAS1Q or DL1609.</li>
        </ul>

        <hr class="nhsuk-u-margin-bottom-3" style="margin-top:6px; padding-top:0">

        <h3 class="nhsuk-heading-m">Other work</h3>
        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">Withdraw / Partial withdraw source (BA Francis) </h2>
        <p>For more detail on the withdraw / partial flow <a href="https://miro.com/app/board/uXjVKpFrcxc=/?moveToWidget=3458764598280423654&cot=14">see the miro board.</a>  </p>
        <ul>
          <li><a href="version-28/other/resubs/withdraw/resub-details-print-option">Withdraw journey </a></li>
          <li><a href="version-28/other/resubs/partial/resub-details-print-option">Partial journey</a></li>
        </ul>
        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">Maintain treatment after deadline has passed (BA Francis)</h2>
        <p>For more detail on the maintain after deadline source flow <a href="https://miro.com/app/board/uXjVKkrjgIc=/?moveToWidget=3458764599180519632&cot=14">see the miro board.</a>  </p>

        <ul>
          <li><a href="version-28/other/resubs/maintain-deadlined-passed/resub-details-print-option">Maintain journey (after deadline has passed)</a></li>
        </ul>
        <h3 class="nhsuk-heading-">Parallel costs (BA Nisha)</h3>
        <p>For more detail on the parallel cost flow <a href="https://miro.com/app/board/uXjVKyp2_RQ=/?moveToWidget=3458764597453420228&cot=14">see the miro board.</a> </p>

        <ul>
          <li><a href="/version-28/pb7/v7/parallel-costs/option-4/claim-resubs-print-option">Option 1B - prevent user from adding treatments</a></li>  
        </ul>

     
      </div>
    </details>
  </div>
</div>


 <!--Version 27 - Tarik Johnston - July/August 2024-->
 <div class="nhsuk-card">
  <div class="nhsuk-card__content">
    <details class="nhsuk-details-1">
      <summary class="nhsuk-details__summary-1">
        <span class="nhsuk-details__summary-text-1">
          Version 27 (July/August 2024)
        </span>
      </summary>

      <div class="nhsuk-details__text">
        <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">S1 (Iteration 1) </h2>
        <hr class="nhsuk-u-margin-bottom-3" style="margin-top:6px; padding-top:0">
        <p>This journey and iteration alongside its feedback and next steps can be viewed on the <a href="https://miro.com/app/board/uXjVK6tfnss=/?moveToWidget=3458764594706009327&cot=14">S1 interation miro</a> </p>
        <h3 class="nhsuk-heading-s ">Register a S072 & create patient record</h3>
        <ul>
          <li><a href="version-27/s1/search/patient-search">Search for person or treatment</a></li>
          <li><a href="version-27/s1/search/search-results-none">S1 search results - no results</a></li>
          <li><a href="version-27/s1/s072-registration/choose-entitlement">Choose entitlement</a></li>
          <li><a href="version-27/s1/s072-registration/select-source">Source of entitlement</a></li>

          <li><a href="/version-27/s1/s072-registration/create-person">Add applicant details</a></li>
          <li><a href="version-27/s1/s072-registration/address-lookup">Add address</a></li>
          <li><a href="version-27/s1/s072-registration/entitlement-details">Entitlement details</a></li>
          <li><a href="version-27/s1/s072-registration/institute-details">Institution details</a></li>
          <li><a href="version-27/s1/s072-registration/have-dependants">Add dependants</a></li>
          <li><a href="version-27/s1/s072-registration/check-your-answers">Check answers</a></li>
          <li><a href="version-27/s1/s072-registration/confirmation">Confirmation page (inc next steps)</a></li>
        </ul>
        <h3 class="nhsuk-heading-s ">View S1 entitlement</h3>
        <ul>
          <li><a href="version-27/s1/account/s1-entitlement">View new S1 entitlement</a></li>
          <li><a href="version-27/s1/account/patient-summary">Overview of patient summary</a></li>
          <li><a href="version-27/s1/account/patient-details">Patient details</a></li>
          <li><a href="version-27/s1/account/entitlement-details">Entitement details</a></li>


        </ul>
        
        <hr class="nhsuk-u-margin-bottom-3" >
        <h2 class="nhsuk-heading-m ">Revised cost work (BA Nisha)</h2>
        <h3 class="nhsuk-heading-s">Scenario 1 - Rolling cost</h3>
        <p>Screens showcasing the flow of treatment costs through multiple resubs. Each treatment has been processed before i was added to a new resub. </p>
        <p><a href="https://miro.com/app/board/uXjVKyp2_RQ=/?moveToWidget=3458764594797870651&cot=14">Miro board details</a> the scenarios and flows </p>

        <h3 class="nhsuk-heading-s">Creating a claim</h3>
        <ul>
          <li><a href="/version-27/pb7/v7/uk-claims">UK claims search</a></li>
          <li><a href="/version-27/pb7/v7/claim-treatment-form">View claim page</a></li>
        </ul>
        <h3 class="nhsuk-heading-s">Adding to a resub - First time</h3>

        <ul>
          <li><a href="/version-27/pb7/v7/resubs-landing">View resubmission</a></li>
          <li><a href="/version-27/pb7/v7/claim-treatments-print-option">Add treatments to resubmission</a></li>
          <li><a href="/version-27/pb7/v7/add-to-resub-print-option">Confirm treatments</a></li>
          <li><a href="/version-27/pb7/v7/claim-resubs-confirm-print-option-new-content">Updated claim submission</a></li>
          <li><a href="/version-27/pb7/v7/claim-treatments-resubid-print-option">View resub</a></li>
          <li><a href="/version-27/pb7/v7/resub-details-print-option">View treament details</a></li>
        </ul>
        <h3 class="nhsuk-heading-s">Partially, maintain or withdraw costs</h3>
        <ul>

        <li><a href="/version-27/pb7/v7/resub-details-print-option">Resub page - options to Partially, maintain or withdraw costs </a></li>
        <li><a href="/version-27/pb7/v7/resubs-contested-treatments-partial">Partially/withdrawn/maintained treament resub</a></li>
        <li><a href="/version-27/pb7/v7/resubs-contested-treatments-maintained">Maintain costs treament resub</a></li>
        <li><a href="/version-27/pb7/v7/resubs-contested-treatments-withdraw">Withdrawn costs treament resub</a></li>
        <li><a href="/version-27/pb7/v7/resub-details-print-option-partial">Updated treatment details</a></li>
    </ul>
    <h3 class="nhsuk-heading-s">Peer review</h3>
    <ul>
      <li><a href="/version-27/pb7/v7/resubs-contested-treatments-partial-set-review">Resub set as peer reviewed</a></li>
      <li><a href="/version-27/pb7/v7/resubs-peer-review-confirmation">Resub Sent for peer review</a></li>
    <li><a href="/version-27/pb7/v7/resubs-peer-review-claim">Peer reviewer views resub</a></li>
    <li><a href="/version-27/pb7/v7/resubs-peer-review-claim-assigned">Peer reviewer assigns themselves</a></li>
    <li><a href="/version-27/pb7/v7/resubs-contested-treatments-partial-set-review">Set as peer reviewed selected</a></li>
    <li><a href="/version-27/pb7/v7/resubs-peer-reviewed-confirmation">Resub has been peer reviewed</a></li>
    <li><a href="/version-27/pb7/v7/claim-resubs-confirm-ready-to-print">Resub is ready to print</a></li>
  </ul>

    <h3 class="nhsuk-heading-s">Adding to a resub - second time</h3>
    <ul>
      <li><a href="/version-27/pb7/v7/resubs-landing-resub-2">View resubmission</a></li>
      <li><a href="/version-27/pb7/v7/resub-details-print-option-resub-2">Resub page - options to Partially, maintain or withdraw costs </a></li>
      <li><a href="/version-27/pb7/v7/resubs-contested-treatments-partial-set-review-resub-2">Resub set as peer reviewed</a></li>
      <li><a href="/version-27/pb7/v7/resub-details-print-option-partial-resub-2">Updated treatment details</a></li>
      <li><a href="/version-27/pb7/v7/resubs-peer-reviewed-confirmation-resub-2">Resub has been peer reviewed</a></li>


    </ul>
    <br>
    <h3 class="nhsuk-heading-m">Scenario 2 - Parallel costs</h3>
    <ul>
          <li><a href="/version-27/pb7/v7/parallel-costs/option-1/claim-resubs-print-option">Option 1 - remove treatment on confirmation page</a></li>
          <li><a href="/version-27/pb7/v7/parallel-costs/option-2/claim-resubs-print-option">Option 2 - Show parallel treatment in resub</a></li>
          <li><a href="/version-27/pb7/v7/parallel-costs/option-3/claim-treatments-duplicate">Option 3 - Prevent treatment from been added on treatment list page</a></li>
  
        </ul>
        <hr>
        <h2 class="nhsuk-heading-m">OVM response (BA Francis)</h2>
        <p>Improvements to communication module within a resub between cost recovery officer and the OVM</p>
        <p><a href="https://miro.com/app/board/uXjVK2cq0uY=/?moveToWidget=3458764596066604490&cot=14">See miro for an overview</a> of the the full journey and decisions made </p>
        <ul>
          <li><a href="version-27/ovm/contacted-the-ovm">Contact the OVM</a></li>
          <li><a href="version-27/ovm/contacted-the-ovm-3">Response received</a></li>

        </ul>
     
      </div>
    </details>
  </div>
</div>
    <!--Version 26 - Robert Wilson and Douglas Caven - March 2023-->
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <details class="nhsuk-details-1">
          <summary class="nhsuk-details__summary-1">
            <span class="nhsuk-details__summary-text-1">
              Version 26 / Assessment Version (June 2023) for 7 September 2023 assessment
            </span>
          </summary>

          <div class="nhsuk-details__text">
            <!-- Version 5 -->
            <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">Version 5 (13 October 2023)</h2>
            <hr class="nhsuk-u-margin-bottom-3" style="margin-top:6px; padding-top:0">
            <ul>
              <li><a href="version-26/pb7/v5/search">Landing page</a></li>
              <li>New pages for claim process <a href="version-26/pb7/v5/claim-summary-for-new-print-options">(view screen)</a></li>
              <li>Resubmissions - 3821 changes on Resubmissions summary tab <a href="version-26/pb7/v5/resubs-summary-complete">(view screen)</a></li>
              <li>Resubmissions - 3796 remove previous resub fields and content changes <a href="version-26/pb7/v5/resub-new-resub">(view screen)</a></li>
            </ul>

            <!-- Version 4 -->
            <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">Version 4</h2>
            <hr class="nhsuk-u-margin-bottom-3" style="margin-top:6px; padding-top:0">
            <ul>
              <li><a href="version-26/pb7/v4/search">Landing page</a></li>
              <li>Updated EHIC UK Claims path, to match TST version <a
                  href="version-26/pb7/v4/entitlements-treatments-no-prc">(view
                  screen)</a></li>
              <li>Updated <b>Select Trust</b> page to match features of TST version <a
                  href="version-26/s2-details-trust">(view screen)</a></li>
              <li>Minor content changes to match TST</li>
              <li>OVM account suspended (10 March
                2023) <a href="version-26/pb7/v4/suspend-account-requests-accepted">(view Screen)</a></li>
            </ul>
          </div>
        </details>
      </div>
    </div>

    <!--Version 25 - Douglas Caven - February 2023-->
    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Version 25 / S1 (June 2024)
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <br>
        <ul>
          <li>
            <p>Version 3 <a href="version-25/v3/s1-search">Version-25/v3/s1-search</a>
              <br>
              <br> Process A
              <br> 1. Select S1 and from navigation bar  
              <br> 2. Select FAS1 administration  
              <br> Note: No Search on person first, only after selection of action 
              <br>
              <br> Process B
              <br> 1. Select S1 and from navigation bar  
              <br> 2. Select S1 administration  
              <br> Note: No Search on person first, only after selection of action 
              <br>
              <br> Process C
              <br> 1. Search on person
              <br> 2. FAS1 enquiry (not built), Register S1 or View record
              <br> Note: FAS1 and S1 process the same, just a different route into service 
            </p>
          </li>

          <li>
            <p>Version 2 - Service Design report.
              <a href="version-25/v2/s1-search">Version-25/v2/s1-search</a>
            </p>
          </li>
         
          <li>
            <p>Version 1 - Registration or Cancellation of S1. <a
                href="version-25/v1/s1-select-action">Version-25/V1/s1-select-action</a>
          </li>
          <!--<li><a href="version-25/create-person-entitlement">Registration of S1</a></li>
          <li><a href="version-25/entitlements-s1">Cancellation of S1</a></li>
          -->
        </ul>
      </div>
    </details>

    <!--Version 24 - Douglas Caven - November 2022-->
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">

        <details class="nhsuk-details-1">
          <summary class="nhsuk-details__summary-1">
            <span class="nhsuk-details__summary-text-1">
              Version 24 (November 2022)
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">Disable (remove) EHIC button and change page titles -
              PRC (PB7)
            </h2>
            <hr class="nhsuk-u-margin-bottom-3" style="margin-top:6px; padding-top:0">
            <ul>
              <li><a href="version-24/pb7/v4/entitlements-treatments-no-prc">Version 4</a></li>
              <ul>
                <li>Remove EHIC radio button</li>
                <li>Add content to 'Add PRC details' page beside EHIC (if stated)</li>
                <li>Page title changes to the following pages:</li>
                <ol>
                  <li>Select entitlement</li>
                  <li>PRC details</li>
                  <li>Search for institution and tab navigation</li>
                  <li>Upload PRC copy</li>
                  <li>Check these details</li>
                  <li>Entitlement treatment</li>
                  <li>Cancel entitlement</li>
                  <li>Cancel confirmation</li>
                  <li>View entitlement</li>
                  <li>Duplicate PRC</li>
                </ol>
                <li>Removed PRC issue date from the following pages:</li>
                <ol>
                  <li>Select entitlement</li>
                  <li>PRC details</li>
                  <li>Duplicate PRC</li>
                </ol>
                <li>9 Feb 2023 - Replace PRC issue date on the following pages:</li>
                <ol>
                  <li>add-prc-details</li>
                  <li>add-prc-check-details</li>
                  <li>add-prc-details-duplicate</li>
                  <li>add-prc-duplicate</li>
                </ol>
                <li>15 Feb 2023 - Add Issue date on the following page:</li>
                <ol>
                  <li>entitlement-details-prc</li>
                </ol>
                <li>Content changes to 'Search for person or treatment'</li>
                <li>'Cancel entitlement' - change of page title (<a
                    href="version-24/pb7/v4/entitlements-treatments-with-prc">view screen</a>)</li>
                <li>Remove Cancel link from Dupicate PRC page (<a href="version-24/pb7/v4/add-prc-duplicate">view
                    screen</a>) </li>
                <li>Add ':' to PRC duplicate entitlement found (<a
                    href="version-24/pb7/v4/entitlement-details-prc-032020-cancelled">view screen</a>) </li>
                <li>Pending Entitlement - edit service request number previously entered
                  (<a href="version-24/pb7/v4/view-pending-entitlement-enter-srcn">view mini prototype</a>) </li>

          </div>

        </details>

      </div>
    </div>

    <!--Version 23 - Elaine Russell - August 2022-->
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">

        <details class="nhsuk-details-1">
          <summary class="nhsuk-details__summary-1">
            <span class="nhsuk-details__summary-text-1">
              Version 23 (August 2022)
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">Add Entitlement - PRC (PB7)
            </h2>
            <hr class="nhsuk-u-margin-bottom-3" style="margin-top:6px; padding-top:0">
            <ul>
              <li><a href="version-23/pb7/v3/entitlements-treatments-no-prc">Version 3</a></li>
              <ul>
                <li>Content changes throughout the journey</li>
                <li>Screen added to journey for duplicate PRC (<a href="version-23/pb7/v3/add-prc-duplicate">view
                    screen</a>)</li>
                <li>Journey extended to include 'Cancel entitlement' (<a
                    href="version-23/pb7/v3/entitlements-treatments-with-prc">view screen</a>)</li>
              </ul>

            </ul>

            <div class="nhsuk-card" style="background-color:#eeeeee; margin-top: 36px;">
              <div class="nhsuk-card__content">
                <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">Archive - Reference only</h3>
                <ul>
                  <li><a href="version-23/pb7/v2/entitlements-treatments-no-prc">Version 2 - Updated based on UR
                      report</a></li>
                  <ul>
                    <li>Added 'PRC issue date'</li>
                    <li>Removed address screen</li>
                    <li>Updated check your answers page to reflect above</li>
                  </ul>
                  <li><a href="version-23/pb7/v1/entitlements-treatments-no-prc">Version 1 - Initial prototype for UR
                      sessions</a></li>
                </ul>
              </div>
            </div>
          </div>
        </details>

      </div>
    </div>


    <!--Version 22 - Elaine Russell - July 2022-->
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">

        <details class="nhsuk-details-1">
          <summary class="nhsuk-details__summary-1">
            <span class="nhsuk-details__summary-text-1">
              Version 22 (July 2022)
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">Update person details</h2>
            <hr class="nhsuk-u-margin-bottom-3" style="margin-top:6px; padding-top:0">

            <ul>
              <li>Incorrect information (data input error)</li>
              <ul>
                <li><a href="version-22/pb6/data-input-error/person-details">Happy path</a></li>
              </ul>
              <li>Change of legal name</li>
              <ul>
                <li><a href="version-22/pb6/legal-name-change/person-details">Happy path</a></li>
                <li><a href="/version-22/pb6/legal-name-change/treatment-list-no-treatments">No treatments found
                    page</a></li>
              </ul>
              <li>Change of address</li>
              <ul>
                <li><a href="version-22/pb6/change-of-address/person-details">Happy path</a></li>
              </ul>
              <li>Update personal identification number (PIN)</li>
              <ul>
                <li><a href="version-22/pb6/data-input-error/entitlement-details-ehic">Happy path</a></li>
              </ul>
            </ul>

            <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Confluence documentation</h3>
            <ul>
              <li><a href="https://bsa2468.atlassian.net/l/cp/1mJ9wKbz" target="_blank">Instructions for following happy
                  paths on all above journeys</a></li>
            </ul>


          </div>
        </details>



      </div>
    </div>

    <!--Version 21 - Elaine Russell - May 2022-->
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">

        <details class="nhsuk-details-1">
          <summary class="nhsuk-details__summary-1">
            <span class="nhsuk-details__summary-text-1">
              Version 21 (May 2022)
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <h2 class="nhsuk-heading-l">Case History</h2>
            <ul>
              <li>Person History</li>
              <ul>
                <li><a href="version-21/case-history-person">Scenario 1 - With address</a></li>
                <li><a href="version-21/case-history-person-2">Scenario 2 - Without address</a></li>
              </ul>
              <li>Treatment History</li>
              <ul style="padding-bottom:0; margin-bottom:8px">
                <li><a href="version-21/case-history-treatment">Scenario 1 - Multiple treatments with details</a></li>
                <li><a href="version-21/case-history-treatment-2">Scenario 2 - No treatments</a></li>
              </ul>

              <li><a href="version-21/resub-case-history">Resub History</a></li>
              <li><a href="version-21/claim-case-history">Claim History</a></li>
            </ul>



            <div class="nhsuk-card" style="background-color:#eeeeee; margin-top: 64px;">
              <div class="nhsuk-card__content">
                <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">Moved out of MVP scope - Reference only</h3>
                <ul>
                  <li>Resub History (Person Level)</li>
                  <ul>
                    <li><a href="version-21/case-history-resub">Scenario 1 - Multiple resubmissions, both complete and
                        pending</a></li>
                    <li><a href="version-21/case-history-resub-2">Scenario 2 - Multiple resubmissions, complete only</a>
                    </li>
                    <li><a href="version-21/case-history-resub-4">Scenario 3 - Single resubmission, pending</a></li>
                    <li><a href="version-21/case-history-resub-3">Scenario 4 - No resubmissions</a></li>
                  </ul>
                  <li>Claim History (Person Level)</li>
                  <ul>
                    <li><a href="version-21/case-history-claim">Scenario 1 - Multiple claims</a></li>
                  </ul>
                </ul>
              </div>
            </div>
            <hr />

            <h2 class="nhsuk-heading-l">PB4 Extended</h2>
            <ul>
              <li>Create new resubmission</li>
              <ul>
                <li><a href="version-21/resub-details">Rename 'Previous resub amount' to 'Previous claim amount'</a>
                </li>
                <li><a href="version-21/resub-details-tca-wa">Additional fields when claim has treatments of both TCA &
                    WA agreement type</a></li>
              </ul>
            </ul>

          </div>
        </details>



      </div>
    </div>

    <!--Version 20 - Elaine Russell - February 2022-->
    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Version 20 (Feb 2022)
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <br>
        <h2 class="nhsuk-heading-s">Resubmissions (PB4) - <a href="https://bsa2468.atlassian.net/l/c/N13k8911"
            target="_blank">User journeys and notes</a></h2>

        <ul>
          <li><a href="version-20/resub-details">Add new fields on resubmission details page (letter date and amount
              total)</a></li>
          <li><a href="version-20/request-for-prc">Request a Provisional Replacement Certificate (PRC) for a
              resubmission treatment</a></li>
          <li><a href="version-20/resubs-letter-schedule">Print/download resubmission letter/schedule</a></li>
        </ul>
        <ul>
          <li><strong>Evidence tab at treatment level</strong></li>
          <ul>
            <li><a href="version-20/resub-treatment-actions">Without PRC and without additional evidence</a></li>
            <li><a href="version-20/resub-treatment-actions-with-evidence">Without PRC and with additional evidence</a>
            </li>
            <li><a href="version-20/resub-treatment-actions-prc">With PRC and without additional evidence</a></li>
            <li><a href="version-20/resub-treatment-actions">Upload journey</a></li>
          </ul>

        </ul>
        <ul>
          <li><strong>Actions tab while viewing the Resubs</strong></li>
          <ul>
            <li><a href="version-20/resub-actions-no-evidences">Evidences are not uploaded</a></li>
            <li><a href="version-20/resub-actions">When evidences are uploaded</a></li>
            <li><a href="version-20/resub-actions-ready-to-print">When resub status is ready to print</a></li>
          </ul>

          <li><strong>Capture reasons for decisions made on treatment</strong></li>
          <ul>

            <li><a href="version-20/resub-view-details">Maintain treatment</a></li>
            <li><a href="version-20/resub-view-details">Withdraw treatment</a></li>
            <li><a href="version-20/resub-view-details">Partially maintain or withdraw treatment</a></li>
          </ul>

        </ul>

        <hr>

        <h2 class="nhsuk-heading-s">Resubmissions (PB3) - <a href="https://bsa2468.atlassian.net/l/c/nw2iUHmb"
            target="_blank">User journeys and notes</a></h2>
        <ul>
          <li><a href="version-20/claim-resubs-3">Create a new resubmission</a></li>
          <li><a href="version-20/resubs">Filter pending resubmissions</a></li>
          <li><a href="version-20/resubs-completed">Filter completed resubmissions</a></li>
          <li><a href="version-20/claim-resubs-2">Filter resubmissions by status</a></li>
          <li><a href="version-20/claim-resubs-2">Add treatments via the 'Add treatments' link</a></li>
          <li><a href="version-20/claim-treatment-forms-3">Add treatments via the 'Treatment forms' tab</a></li>
          <li><a href="version-20/resubs-contested-treatments">Search for a treatment added to a resubmission</a></li>
          <li><a href="version-20/reasons-for-contestation">Add reasons for contestation</a></li>
          <li><a href="version-20/contacted-the-ovm">Contact the OVM</a></li>
          <li><a href="version-20/resub-view-details">Maintain treatment</a></li>
          <li><a href="version-20/resub-view-details">Withdraw treatment</a></li>
          <li><a href="version-20/resub-view-details">Partially maintain or withdraw treatment</a></li>
          <li><a href="version-20/resubs-contested-treatments-partial">Filter treatments by status</a></li>
          <li><a href="version-20/resubs-peer-review">Peer review</a></li>
          <li><a href="version-20/ovm-contact-details">OVM details</a></li>
          <li><a href="version-20/person-details-resubs">View resubmission via a person record</a></li>
        </ul>

      </div>
    </details>


    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Version 19
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <br>
        <ul>
          <li>Design for home page - claims and ovm tabs with summary and recent activity. Ability to filter by trusts
            for ovm activity.</li>
          <li>Ability to edit person details along with reason and updating all other entitlements in the record.
            Showing history of edits.</li>
          <li>Accessibility changes - Included close filter link, Added table header action for evidence page</li>
          <li>Changes all breadcrumbs to include home link.</li>
        </ul>
        <ul>
          <li><a href="version-19/home">Home</a></li>
        </ul>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Version 18
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <br>
        <ul>
          <li><b>Business requirement changes on resubs - part 5</b></li>
          <li>Added pending and completed tabs in the resubs page. Added filter by status, working on and country in the
            resubs page.</li>
          <li>Added filtering by status for resubs within a claim.</li>
          <li>Added search treatments by treatment ID or last name and filter by status for contested treatments.</li>
          <li>Included searching by person ID tab in the search page.</li>
          <li>Included resubs and claims as a part of the persons record.</li>
          <li>Included a separate tab for evidence in resubs</li>
          <li>Added few fields to resubmission summary</li>
          <li>Changed partially maintained and withdrawn flow to have start and end dates.</li>
          <li>Added additional information screen for response received from ovm.</li>
          <li>Content changes for resubs.</li>
        </ul>
        <ul>
          <li><a href="version-18/resubs">Resubmissions</a></li>
        </ul>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Version 17
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <br>
        <ul>
          <li><b>Business requirement changes on resubs - part 4</b></li>
          <li>Added clear search and clear filter buttons instead of links as it caused accessibility issues.</li>
          <li>Added the accept, withdraw buttons on all tabs of the resub. And moved the view person link below.</li>
          <li>Added all reasons for contestation along with other. Certain reasons have extra information to be
            collected.</li>
          <li>Added a separate tab to show ovm contact details.</li>
          <li>Included no response received from OVM. Added reasons for no response received.</li>
          <li>Ability to add more than one follow-up date and view chase history for contacting OVM.</li>
          <li>Included request recieved and request not received for a PRC along with chase history.</li>
          <li>Added check your answers for reasons for contestation and request for PRC</li>
        </ul>
        <ul>
          <li><a href="version-17/resubs">Resubmissions</a></li>
        </ul>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Version 16
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <br>
        <ul>
          <li><b>Business requirement changes on resubs - part 3</b></li>
          <li>Added new fields in claim summary, removed certain fields in resub details</li>
          <li>Created add treatments to resub journey from the treatment forms page.</li>
          <li>Added reasons for contestation and partially maintain / withdraw screens.</li>
          <li>Added extra screens for set agreement type button and remove treatment link.</li>
          <li><b>Changes to case history</b></li>
        </ul>
        <ul>
          <li><a href="version-16/case-history">Case History</a></li>
          <li><a href="version-16/uk-claims">Create Resubs</a></li>
          <li><a href="version-16/resubs">Add treatments to resub</a></li>
        </ul>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Version 15
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <br>
        <ul>
          <li><b>Business requirement changes on resubs - part 2</b></li>
          <li>Added status for resubs, included a resubmission summary</li>
          <li>Added contact the OVM and request PRC details.</li>
          <li>Multiple file upload of evidence for resub.</li>
          <li><b>Case history and action log</b></li>
        </ul>
        <ul>
          <li><a href="version-15/case-history">Case History</a></li>
          <li><a href="version-15/action-log">Action Log</a></li>
          <li><a href="version-15/uk-claims">Create Resubs</a></li>
          <li><a href="version-15/resubs">Add treatments to resub</a></li>
        </ul>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Version 14
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <br>
        <ul>
          <li><b>Business requirement changes on resubs - part 1</b></li>
          <li>Added a separate section for resubs</li>
          <li>Separated creating a resub and adding treatments to a resub</li>
          <li>Replacing the stock take by adding all details when creating a resub and also giving the option to
            download the resub summary</li>
        </ul>
        <ul>
          <li><a href="version-14/uk-claims">Create Resubs</a></li>
          <li><a href="version-14/resubs">Add treatments to resub</a></li>
        </ul>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Version 13
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <br>
        <ul>
          <li><b>S1 pensioner 4th iteration</b></li>
          <li>Moved all S1 actions to actionable S1 section</li>
          <li>Added moving date for agreement type</li>
          <li>Added residential and correspondence address for S1</li>
          <li>Added date of death, UK pension or UK tax start date to ineligibility or not registering reasons</li>
          <li>Included if the S1 details is avialable at hand or not for RINA journey</li>
          <li>Modified to add tca filter to the resub journey</li>
          <li>Malta quota record on search</li>
        </ul>
        <ul>
          <li><a href="version-13/create-person-entitlement">Create a new S1 paper flow</a></li>
          <li><a href="version-13/create-person-entitlement">Create a new S1 RINA flow</a></li>
          <li><a href="version-13/have-s1">Do not have the S1 details when creating</a></li>
          <li><a href="version-13/s1-details-pensioner">S1 not registered flow</a></li>
          <li><a href="version-13/person-details-s1-2">View persons record and switch to dependant</a></li>
          <li><a href="version-13/uk-claims">Resubs</a></li>
          <li><a href="version-13/search-malta">Malta quota on search</a></li>
        </ul>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Version 12
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <br>
        <ul>
          <li>S1 pensioner 3rd iteration</li>

        </ul>
        <ul>
          <li><a href="version-12/create-person-entitlement">Create a new S1 paper flow</a></li>
          <li><a href="version-12/create-person-entitlement">Create a new S1 RINA flow</a></li>
          <li><a href="version-12/have-s1">Do not have the S1 details when creating</a></li>
          <li><a href="version-12/s1-details-pensioner">S1 not registered flow</a></li>
          <li><a href="version-12/person-details-s1-2">View persons record and switch to dependant</a></li>
        </ul>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Version 11
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <br>
        <ul>
          <li>E106 posted worker and E109 dependant journeys</li>
          <li>Loading page for claims</li>

        </ul>
        <ul>
          <li><a href="version-11/search">E106 and E109 journeys</a></li>
          <li><a href="version-11/loading-claim">Loading page for claims</a></li>
        </ul>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Version 10
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <br>
        <ul>
          <li>Accessiblity changes for UK claims/Resubs - Changing visually hidden text for checkboxes and adding aria
            hidden true for the treatment form columns.</li>
          <li>Business requirements for claims - changes made to fit TCA and WA agreements, added print summary before
            printing selected treatments, Reprinting again confirmation</li>
          <li>Refined S1 pensioner journey along with separate section for actionable S1</li>
          <li>Usability testing changes on resubs - Ability to check selected treatments to a resub and remove or add
            more. Added maintaining and adjusting treatments in a resub.</li>
        </ul>
        <ul>
          <li><a href="version-10/create-person-entitlement">Create a new S1</a></li>
          <li><a href="version-10/actionable-s1">Do not have the S1 details when creating</a></li>
          <li><a href="version-10/s1-details-pensioner">S1 not registered flow</a></li>
          <li><a href="version-10/entitlements-s1">Cancellation of S1</a></li>
          <li><a href="version-10/claim-print">Reprinting again</a></li>
          <li><a href="version-10/uk-claims">UK claims</a></li>
        </ul>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Version 9
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <br>
        <ul>
          <li>S1 pensioner Jouney</li>
          <li>UK address lookup</li>
          <li>Content changes for flagged treatments, pending entitlements and resubs.</li>
        </ul>
        <ul>
          <li><a href="version-9/search">Ops team portal</a></li>
        </ul>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Version 8
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <br>
        <ul>
          <li>Resub process</li>
          <li>Changes to UK claims</li>
        </ul>
        <ul>
          <li><a href="version-8/search">Ops team portal</a></li>
        </ul>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Version 7
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <br>
        <ul>
          <li>Accessibility changes for flagged treatments and pending entitlements</li>
          <li>Added reason for cancellation for flagged treatments</li>
          <li>Added editing of instituiton details and removed cancel entitlement for pending entitlements</li>
          <li>Added searching with name for institution</li>
          <li>Content changes for UK claims</li>
        </ul>
        <ul>
          <li><a href="version-7/search">Ops team portal</a></li>
        </ul>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Version 6
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <br>
        <ul>
          <li>Separated flagged treatments and pending entitlements.</li>
          <li>New two column layout for flagged treatments and pending entitlements.</li>
          <li>Assign to button added.</li>
          <li>Acessibility changes - Hidden text added for necessary links for UK claims, flagged treatments and pending
            entitlements.</li>
        </ul>
        <ul>
          <li><a href="version-6/search">Ops team portal</a></li>
        </ul>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Version 5
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <br>
        <ul>
          <li>UK claims - Search for a claim, create a new claim</li>
          <li>Showing pending entitlements with flagged treatments</li>
          <li>Deleting an entitlement copy</li>
          <li>Error message for viewing file after retention period</li>
        </ul>
        <ul>
          <li><a href="version-5/search">Ops team portal</a></li>
          <li><a href="version-5/entitlement-pending">Pending PRC entitlement with flagged treatment</a></li>
          <li><a href="version-5/s2-entitlement-details">Delete S2 copy</a></li>
          <li><a href="version-5/error-s2-file">Error message for viewing file after retention period</a></li>
        </ul>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Version 4
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <br>
        <ul>
          <li>View, unflag and cancel flagged records.</li>
          <li>Filter flagged records.</li>
        </ul>
        <ul>
          <li><a href="version-4/search">Ops team portal</a></li>
        </ul>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Version 3
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <br>
        <ul>
          <li>Showing cost above £10,000, treatment dates beyond 6 months, person is a student, OR, additional costs
            approved by OVM.</li>
          <li>Added pending status treatments along with reason.</li>
          <li>File upload and view the file for S2</li>
          <li>Duplicate entitlement entry</li>
        </ul>
        <ul>
          <li><a href="version-3/search">Ops team portal</a></li>
          <li><a href="version-3/duplicate-entitlement">Duplicate entitlement entry</a></li>
          <li><a href="version-3/entitlements-s2-pending">Pending entitlement along with reason</a></li>
        </ul>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Version 2
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <br>
        <ul>
          <li>Search for a person with treatment ID</li>
          <li>Being able to filter account requests by trusts and viewing the request under approved and rejected.</li>
          <li>Multi page S2 flow</li>
          <li>Editing and cancelling treatment information and cancelling entitlements.</li>
        </ul>
        <ul>
          <li><a href="version-2/search">Ops team portal</a></li>
        </ul>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Version 1
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <br>
        <ul>
          <li>Search for a person with name, dob and country</li>
          <li>Account requests showing approved and rejected.</li>
          <li>Single page S2 flow</li>
        </ul>
        <ul>
          <li><a href="version-1/search">Ops team portal</a></li>
        </ul>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          HTML - Routing and Passing Values Examples
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <br>
        <ul>
          <li><a href="doug-html-examples/passing-values-1-input">Passing values - input driven</a></li>
        </ul>
        <ul>
          <li><a href="doug-html-examples/passing-values-2-input">Passing values - input value check</a></li>
        </ul>
        <ul>
          <li><a href="doug-html-examples/routing-1-malta-quota">Routing - input driven</a></li>
        </ul>
        <ul>
          <li><a href="doug-html-examples/routing-2-manage-user">Routing - URL driven</a></li>
        </ul>
        <ul>
          <li><a href="doug-html-examples/routing-3-entitlement-radios">Routing - radio buttons</a></li>
        </ul>
        <ul>
          <li><a href="doug-html-examples/block-layout">Block layout from DreamWeaver</a></li>
        </ul>
      </div>
    </details>

  </main>
</div>

{% endblock %}