{% extends 'layout-sidebar-no-login.html' %}

{% block pageTitle %}
Cost recovery ops prototype
{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

<h1>
   Cost Recovery Ops team Prototype
</h1>

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
     <span class="nhsuk-details__summary-text">
     Version 16
     </span>
  </summary>
  <div class="nhsuk-details__text">
   <br>
   <ul>
    <li><b>Business requirement changes on resubs - part 3</b></li>
    <li>Added new fields in claim summary, removed certain fields in resub details</li>
    <li>Created add treatments to resub journey from the treatment forms page.</li>
    <li>Added reasons for contestation and partially maintain / withdraw screens.</li>
    <li>Added extra screens for set agreement type and remove treatment links.</li>
    <li><b>Changes to case history</b></li>
</ul>
    <ul>
      <li><a href="version-16/case-history">Case History</a></li>
      <li><a href="version-16/uk-claims">Create Resubs</a></li>
      <li><a href="version-16/resubs">Add treatments to resub</a></li>
    </ul>
  </div>
</details>

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
     <span class="nhsuk-details__summary-text">
     Version 15
     </span>
  </summary>
  <div class="nhsuk-details__text">
   <br>
   <ul>
    <li><b>Business requirement changes on resubs - part 2</b></li>
    <li>Added status for resubs, included a resubmission summary</li>
    <li>Added contact the OVM and request PRC details.</li>
    <li>Multiple file upload of evidence for resub.</li>
    <li><b>Case history and action log</b></li>
</ul>
    <ul>
      <li><a href="version-15/case-history">Case History</a></li>
      <li><a href="version-15/action-log">Action Log</a></li>
      <li><a href="version-15/uk-claims">Create Resubs</a></li>
      <li><a href="version-15/resubs">Add treatments to resub</a></li>
    </ul>
  </div>
</details>

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
     <span class="nhsuk-details__summary-text">
     Version 14
     </span>
  </summary>
  <div class="nhsuk-details__text">
   <br>
   <ul>
    <li><b>Business requirement changes on resubs - part 1</b></li>
    <li>Added a separate section for resubs</li>
    <li>Separated creating a resub and adding treatments to a resub</li>
    <li>Replacing the stock take by adding all details when creating a resub and also giving the option to download the resub summary</li>
</ul>
    <ul>
      <li><a href="version-14/uk-claims">Create Resubs</a></li>
      <li><a href="version-14/resubs">Add treatments to resub</a></li>
    </ul>
  </div>
</details>

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
     <span class="nhsuk-details__summary-text">
     Version 13
     </span>
  </summary>
  <div class="nhsuk-details__text">
   <br>
   <ul>
    <li><b>S1 pensioner 4th iteration</b></li>
    <li>Moved all S1 actions to actionable S1 section</li>
    <li>Added moving date for agreement type</li>
    <li>Added residential and correspondence address for S1</li>
    <li>Added date of death, UK pension or UK tax start date to ineligibility or not registering reasons</li>
    <li>Included if the S1 details is avialable at hand or not for RINA journey</li>
    <li>Modified to add tca filter to the resub journey</li>
    <li>Malta quota record on search</li>
</ul>
    <ul>
      <li><a href="version-13/create-person-entitlement">Create a new S1 paper flow</a></li>
      <li><a href="version-13/create-person-entitlement">Create a new S1 RINA flow</a></li>
     <li><a href="version-13/have-s1">Do not have the S1 details when creating</a></li>
     <li><a href="version-13/s1-details-pensioner">S1 not registered flow</a></li>
     <li><a href="version-13/person-details-s1-2">View persons record and switch to dependant</a></li>
     <li><a href="version-13/uk-claims">Resubs</a></li>
     <li><a href="version-13/search-malta">Malta quota on search</a></li>
    </ul>
  </div>
</details>

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
     <span class="nhsuk-details__summary-text">
     Version 12
     </span>
  </summary>
  <div class="nhsuk-details__text">
   <br>
   <ul>
    <li>S1 pensioner 3rd iteration</li>

</ul>
    <ul>
      <li><a href="version-12/create-person-entitlement">Create a new S1 paper flow</a></li>
      <li><a href="version-12/create-person-entitlement">Create a new S1 RINA flow</a></li>
     <li><a href="version-12/have-s1">Do not have the S1 details when creating</a></li>
     <li><a href="version-12/s1-details-pensioner">S1 not registered flow</a></li>
     <li><a href="version-12/person-details-s1-2">View persons record and switch to dependant</a></li>
    </ul>
  </div>
</details>

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
     <span class="nhsuk-details__summary-text">
     Version 11
     </span>
  </summary>
  <div class="nhsuk-details__text">
   <br>
   <ul>
    <li>E106 posted worker and E109 dependant journeys</li>
    <li>Loading page for claims</li>

</ul>
    <ul>
      <li><a href="version-11/search">E106 and E109 journeys</a></li>
     <li><a href="version-11/loading-claim">Loading page for claims</a></li>
    </ul>
  </div>
</details>

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
     <span class="nhsuk-details__summary-text">
     Version 10
     </span>
  </summary>
  <div class="nhsuk-details__text">
   <br>
   <ul>
    <li>Accessiblity changes for UK claims/Resubs - Changing visually hidden text for checkboxes and adding aria hidden true for the treatment form columns.</li>
    <li>Business requirements for claims - changes made to fit TCA and WA agreements, added print summary before printing selected treatments, Reprinting again confirmation</li>
    <li>Refined S1 pensioner journey along with separate section for actionable S1</li>
    <li>Usability testing changes on resubs - Ability to check selected treatments to a resub and remove or add more. Added maintaining and adjusting treatments in a resub.</li>
</ul>
    <ul>
     <li><a href="version-10/create-person-entitlement">Create a new S1</a></li>
     <li><a href="version-10/actionable-s1">Do not have the S1 details when creating</a></li>
     <li><a href="version-10/s1-details-pensioner">S1 not registered flow</a></li>
     <li><a href="version-10/entitlements-s1">Cancellation of S1</a></li>
     <li><a href="version-10/claim-print">Reprinting again</a></li>
     <li><a href="version-10/uk-claims">UK claims</a></li>
    </ul>
  </div>
</details>

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
     <span class="nhsuk-details__summary-text">
     Version 9
     </span>
  </summary>
  <div class="nhsuk-details__text">
   <br>
   <ul>
    <li>S1 pensioner Jouney</li>
    <li>UK address lookup</li>
    <li>Content changes for flagged treatments, pending entitlements and resubs.</li>
</ul>
    <ul>
     <li><a href="version-9/search">Ops team portal</a></li>
    </ul>
  </div>
</details>

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
     <span class="nhsuk-details__summary-text">
     Version 8
     </span>
  </summary>
  <div class="nhsuk-details__text">
   <br>
   <ul>
    <li>Resub process</li>
    <li>Changes to UK claims</li>
</ul>
    <ul>
     <li><a href="version-8/search">Ops team portal</a></li>
    </ul>
  </div>
</details>

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
     <span class="nhsuk-details__summary-text">
     Version 7
     </span>
  </summary>
  <div class="nhsuk-details__text">
   <br>
   <ul>
    <li>Accessibility changes for flagged treatments and pending entitlements</li>
    <li>Added reason for cancellation for flagged treatments</li>
    <li>Added editing of instituiton details and removed cancel entitlement for pending entitlements</li>
    <li>Added searching with name for institution</li>
    <li>Content changes for UK claims</li>
</ul>
    <ul>
     <li><a href="version-7/search">Ops team portal</a></li>
    </ul>
  </div>
</details>

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
     <span class="nhsuk-details__summary-text">
     Version 6
     </span>
  </summary>
  <div class="nhsuk-details__text">
   <br>
   <ul>
    <li>Separated flagged treatments and pending entitlements.</li>
    <li>New two column layout for flagged treatments and pending entitlements.</li>
    <li>Assign to button added.</li>
    <li>Acessibility changes - Hidden text added for necessary links for UK claims, flagged treatments and pending entitlements.</li>
</ul>
    <ul>
     <li><a href="version-6/search">Ops team portal</a></li>
    </ul>
  </div>
</details>

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
     <span class="nhsuk-details__summary-text">
     Version 5
     </span>
  </summary>
  <div class="nhsuk-details__text">
   <br>
   <ul>
    <li>UK claims - Search for a claim, create a new claim</li>
    <li>Showing pending entitlements with flagged treatments</li>
    <li>Deleting an entitlement copy</li>
    <li>Error message for viewing file after retention period</li>
</ul>
    <ul>
     <li><a href="version-5/search">Ops team portal</a></li>
     <li><a href="version-5/entitlement-pending">Pending PRC entitlement with flagged treatment</a></li>
     <li><a href="version-5/s2-entitlement-details">Delete S2 copy</a></li>
     <li><a href="version-5/error-s2-file">Error message for viewing file after retention period</a></li>
    </ul>
  </div>
</details>

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
     <span class="nhsuk-details__summary-text">
     Version 4
     </span>
  </summary>
  <div class="nhsuk-details__text">
   <br>
   <ul>
    <li>View, unflag and cancel flagged records.</li>
    <li>Filter flagged records.</li>
</ul>
    <ul>
     <li><a href="version-4/search">Ops team portal</a></li>
    </ul>
  </div>
</details>

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
     <span class="nhsuk-details__summary-text">
     Version 3
     </span>
  </summary>
  <div class="nhsuk-details__text">
   <br>
   <ul>
    <li>Showing cost above £10,000, treatment dates beyond 6 months, person is a student, OR, additional costs approved by OVM.</li>
    <li>Added pending status treatments along with reason.</li>
    <li>File upload and view the file for S2</li>
    <li>Duplicate entitlement entry</li>
</ul>
    <ul>
     <li><a href="version-3/search">Ops team portal</a></li>
     <li><a href="version-3/duplicate-entitlement">Duplicate entitlement entry</a></li>
     <li><a href="version-3/entitlements-s2-pending">Pending entitlement along with reason</a></li>
    </ul>
  </div>
</details>

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
     <span class="nhsuk-details__summary-text">
     Version 2
     </span>
  </summary>
  <div class="nhsuk-details__text">
   <br>
   <ul>
    <li>Search for a person with treatment ID</li>
    <li>Being able to filter account requests by trusts and viewing the request under approved and rejected.</li>
    <li>Multi page S2 flow</li>
    <li>Editing and cancelling treatment information and cancelling entitlements.</li>
</ul>
    <ul>
     <li><a href="version-2/search">Ops team portal</a></li>
    </ul>
  </div>
</details>

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
     <span class="nhsuk-details__summary-text">
     Version 1
     </span>
  </summary>
  <div class="nhsuk-details__text">
   <br>
   <ul>
     <li>Search for a person with name, dob and country</li>
     <li>Account requests showing approved and rejected.</li>
     <li>Single page S2 flow</li>
 </ul>
    <ul>
     <li><a href="version-1/search">Ops team portal</a></li>
    </ul>
  </div>
</details>

</main>
</div>

{% endblock %}  