<!-- 
  This is the main layout where you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Extends the layout from /docs/views/template.html -->
{% extends "prototype-kit-template.njk" %}

<!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% block head %}
  <link href="/assets/sass/main.css" rel="stylesheet">
{% endblock %}

{% block pageTitle %}
OHS Cost Recovery - Manage Overseas Entitlements and Treatments prototype
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
{% from 'header/macro.njk' import header %}

{{ header({
  containerClasses: "nhsuk-width-container-fluid",

  logo: {
    href: "#",
    ariaLabel: "Manage overseas entitlements and treatments homepage"
  },
  service: {
    text: "Manage overseas entitlements and treatments",
    href: "/"
  },
  account: {
    items: [
      {
        text: "Joe Bloggs",
        icon: true
      },
      {
        text: "Log out",
        href: "#"
      }
    ]
  }
}) }}
{% endblock %}

<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/footer -->
{% block footer %}
{% from 'footer/macro.njk' import footer %}

{{ footer({
  containerClasses: "nhsuk-width-container-fluid",
  
  meta: {
    items: [
      {
        href: "/prototype-admin/reset?returnPage=" + (currentPage | urlencode),
        text: "Reset data"
      },
      {
        href: "/",
        text: "Index"
      },
      {
        href: "#",
        text: "Privacy policy"
      },
      {
        href: "#",
        text: "Cookies"
      },
      {
        href: "https://www.nhsbsa.nhs.uk/our-policies/terms-and-conditions",
        text: "Terms and conditions"
      },
      {
        href: "#",
        text: "Accessibility statement"
      },
      {
        href: "#",
        text: "Freedom of information"
      }
    ]
  },


  copyright: {
    html: 'Built by the <a class="govuk-footer__link" href="#">NHS Business Services Authority</a><br><br>All content is available under the <a class="govuk-footer__link" href="#">Open Government Licence v3.0,</a> except where otherwise stated.'
  }
}) }}
{% endblock %}


{% block bodyEnd %}
  {{ super() }}
  <script type="module" src="/assets/javascript/main.js"></script>
  <script type="module" src="/nhsuk-frontend/nhsuk.min.js" defer></script>
  <script type="module" src="/assets/javascript/js/jquery-3.5.1.min.js"></script>
  <script type="module" src="/assets/javascript/js/main.js"></script>
  {% block pageScripts %}{% endblock %}
{% endblock %}
