<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Search for an institution by name - Manage overseas entitlements and treatments - NHSBSA
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">
                    
                  <div class="nhsuk-grid-column-full">
                    
                    {{ backLink({
                      "href": "javascript:history.go(-1)",
                      "text": "Go back",
                      "classes": "nhsuk-u-margin-bottom-4"
                    }) }}

                    
                        
                    <form action="search-for-institution-by-name" method="post">
                  
                    <div class="nhsuk-form-group">
                      <span class="nhsuk-caption-l">Generate an S071</span>
                      <label class="nhsuk-label" for="view-person-record-details">
                        <h1 class="nhsuk-heading-xl">Search for an institution in {% if data['s1-request-issuing-country'] %}{{ data['s1-request-issuing-country'] }}{% else %}France{% endif %}</h1>
                      </label>
                    </div>

                    <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation" style="background-color:#f0f4f5;">
                      <ul class="nhsuk-secondary-navigation__list">
                        <li class="nhsuk-secondary-navigation__item">
                          <a class="nhsuk-secondary-navigation__link" id="tab_institution_id" href="search-for-institution-by-id">Institution ID</a>
                          <span class="nhsuk-u-visually-hidden">Search for an institution by ID</span>
                        </li>

                        <li class="nhsuk-secondary-navigation__item">
                          <a class="nhsuk-secondary-navigation__link" id="tab_institution_id" aria-current="page" href="search-for-institution-by-name">Institution name</a>
                          <span class="nhsuk-u-visually-hidden">Search for an institution by name</span>
                        </li>
                      </ul>
                      
                    </nav>
                    <hr style="border-bottom:1px solid #ccc; margin:0">
                      
                    <br>

                    <div class="nhsuk-form-group">
                      <div id="institutionName-hint" class="nhsuk-label">
                        <p class="nhsuk-hint">
                          <span>Enter the institution name</span>
                        </p>
                      </div>
                      <input class="nhsuk-input nhsuk-u-width-two-thirds" id="institutionName" type="text" autocomplete="off" name="search-institution-name" value=""/>
                    </div>
                    

                    <button class="nhsuk-button" type="submit">
                      Search
                    </button>

                    <p style="margin-bottom: 60px;"><a href="../s1-requests">Cancel</a></p>
                        
                    </form>
                  
                  </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}