<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Add new address - Manage overseas entitlements and treatments - NHSBSA
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">
                    
                  <div class="nhsuk-grid-column-two-thirds">
                    
                    <form action="confirm-cancel" method="post">
                      <fieldset class="nhsuk-fieldset">
                        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
                          Are you sure you want to cancel?
                        </legend>
                        
                        <div class="nhsuk-hint" id="cancel-hint">
                          If you select yes, any information you've added will not be saved.
                        </div>
                    
                        <div class="nhsuk-radios">
                          <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="confirm-cancel-yes" name="confirm-cancel" type="radio" value="yes">
                            <label class="nhsuk-label nhsuk-radios__label" for="confirm-cancel-yes">
                              Yes
                            </label>
                          </div>
                    
                          <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="confirm-cancel-no" name="confirm-cancel" type="radio" value="no">
                            <label class="nhsuk-label nhsuk-radios__label" for="confirm-cancel-no">
                              No
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    
                      <button class="nhsuk-button" style="margin-top: 25px;" type="submit">
                        Submit
                      </button>
                    </form>
                    

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}