<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
PB6 - Updating Person Details
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__list-item">PB6 - Contents</li>
        </ol>
      </div>
    </div>

    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="person-record-resubs">Back to Tony
        Smith (Resubs)</a></p>

  </div>
</nav>
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsuk-width-container">
  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <h1>PB6 - Updating Person Details</h1>
        </div>
      </div>


      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <h2>Internal discussions - 13 July 2022</h2>
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-card__heading">
                Person level
              </h3>
              <hr style="padding:0; margin:0px 0px 30px 0px;" >
              <ul>
                <li>
                  <a href="person-details-5">Official name change via left hand navigation</a>
                </li>
                <li>
                  <a href="person-details-6">Official name change with extra screen</a>
                </li>
                <li>
                  <a href="data-input-error/entitlement-details-ehic">Update PIN</a>
                </li>
              </ul>
              <br />

            </div>
          </div>
<hr />
          </div>
          </div>

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <h2>Proposed journeys to users - 13 July 2022</h2>
              <div class="nhsuk-card">
                <div class="nhsuk-card__content">
                  <h3 class="nhsuk-card__heading">
                    Person level
                  </h3>
                  <hr style="padding:0; margin:0px 0px 30px 0px;" >
                  <ul>
                    <li>
                      <a href="person-details-3">Data input error</a>
                    </li>
                    <li>
                      <a href="person-details-4">Official name change</a>
                    </li>
                  </ul>
                  <br />
    
                </div>
              </div>
    <hr />
              </div>
              </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <h2>UR workshop findings/internal discussions</h2>
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-card__heading">
                Person level
              </h3>
              <hr style="padding:0; margin:0px 0px 30px 0px;" >
              <ul>
                <li>
                  <a href="person-details">Journey 1</a> - person has 0 treatments attached to any claims
                </li>
                <li>
                  <a href="person-details-2">Journey 2</a> - person has 1 or more treatments attached to 1 claim
                </li>
              </ul>
              <br />

            </div>
          </div>
        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-card__heading">
                Claim level
              </h3>
              <hr style="padding:0; margin:0px 0px 30px 0px;" >
              <h4>User research findings:</h4>
              <ul>
                <li>All person details will be correct before adding treatments to a claim</li>
                <li>Once a claim is sent if any changes need to be made this will be done via resub level</li>
              </ul>
              <p>Based on the the above this journey may no longer be needed</p>
            </div>
          </div>
        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-card__heading">
                Resubmission level
              </h3>
              <hr style="padding:0; margin:0px 0px 30px 0px;" >
              <ul>
                <li>
                  <a href="reasons-for-contestation">Journey 1</a> - via reasons for contestations screen (before reasons added)
                </li>
                <li>
                  <a href="reasons-for-contestation-confirmed">Journey 2</a>  - via reasons for contestations screen (after reasons added)
                </li>
                <li>
                  <a href="resub-treatment-details-62999">Journey 3</a> - via treatment details screen</a>
                </li>
                <li>
                  <a href="resub-treatments-0002-3">Journey 4</a> - via people linked to resub tab</a>
                </li>
              </ul>
              <br />




            </div>
          </div>
        </div>

      </div>
    </main>
  </div>
</div>



{% endblock %}