<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item">
            <a class="nhsuk-breadcrumb__link" href="../search/patient-search">Search (Person)</a>
          </li>
          <li class="nhsuk-breadcrumb__item">
            <a class="nhsuk-breadcrumb__link" href="../search/search-results">Search results (Person)</a>
          </li>
        
          {% if not entitlementDetailsS1 %}
          <li class="nhsuk-breadcrumb__item">Juan Sanchez 
              {% if patientSummary %}
                (Patient summary)
              {% elseif patientDetails  %}
                (Patient details)
                {% elseif entitlementDetails  %}
                (Entitlements)
                {% else  %}

              {% endif %}
            </li>
          {% endif %}

          {% if entitlementDetailsS1 %}

            <li class="nhsuk-breadcrumb__item">
              <a class="nhsuk-breadcrumb__link" href="../account/entitlement-details">Juan Sanchez (Entitlements)</a>
            </li>

            <li class="nhsuk-breadcrumb__item"> 
              Entitlement details (S1)
            </li>

          {% endif %}
        </ol>
      </div>
    </div>

    <p class="nhsuk-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink" href="search-results">Back to search results</a>
    </p>
  </div>
</nav>
{% endblock %} 