
    <!--start left navigation-->
    <div class="nhsBSA-sidebar-nav">
      <div class="side-nav">
        <h3>
          Juan Sanchez<span class="nhsuk-caption-m nhsuk-caption--bottom"> <span class="nhsuk-u-visually-hidden"> - </span>3432234</span>
        </h3>
        <ul>
          <div id="options" class="options">
            <li>
              <a class="{% if patientSummary %}active{% endif %}"  href="patient-summary">Overview</a>
            </li>

            <li>
              <a class="{% if patientDetails %}active{% endif %}"  href="patient-details">Personal details</a>
            </li>
       
            <li>
              <a class="{% if entitlementDetails or entitlementDetailsS1 %}active{% endif %}"  href="entitlement-details">Entitlements and enquiries</a>
            </li>

            <li>
              <a href="#">Resubmissions</a>
            </li>

            <li>
              <a href="#">Case history</a>
            </li>

            <li>
              <a href="#">Documents</a>
            </li>

            <li>
              <a href="#">Notes</a>
            </li>

          </div>
        </ul>
      </div>
    </div>
    <!--end left navigation-->