
{% extends "template-sidebar.html" %}
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} {{ title or 'pageHeader' }} {% endblock %}


{% block content %}
{% include 'layouts/_patient-record-breadcrumb.html' %}

<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-main-wrapper" id="maincontent">
          {% if showBackLink %}
          {% from 'back-link/macro.njk' import backLink %}
        
            {{ backLink({
              "href": backHTML if backText else "javascript:history.go(-1)",
              html: backText if backText else 'Go Back'
            }) }}
        {% endif %}
         
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
              <h1 class="nhsuk-heading-xl"> {{ title or 'pageHeader' }}
              </h1>
            </div>
          </div>

      {% block form %}{% endblock %}
    </div>
  </div>
</div>
<!--start left navigation-->
{% include 'layouts/_patient-record-sidebar.html' %}

<!--end left navigation-->
</div>
</div>
{{ data | log }}
   
{% endblock %}